<link rel="stylesheet" href="/assets/css/action-list.css">
<section class="confirm-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">신고 목록</h2>
        </div>

        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">날짜</p>
                <div class="select-box">
                    <label for="dateType">등록일</label>
                    <select id="dateType">
                        <option value="create">등록일</option>
                    </select>
                </div>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="search_type">두잇명</label>
                    <select id="search_type">
                        <option value="doit_title">두잇명</option>
                        <option value="nickname">닉네임</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="doit-list-option">
            <ul class="clearfix">
                <li style="width: 33%;">
                    <p class="list-common-title">인증 상태</p>
                    <div class="checkbox-wrap">
                        <input type="checkbox" id="c1" name="chk-status" value="success"/>
                        <label for="c1"><span></span>성공</label>

                        <input type="checkbox" id="c2" name="chk-status" value="yellow_card"/>
                        <label for="c2"><span></span>옐로카드</label>

                        <input type="checkbox" id="c3" name="chk-status" value="red_card"/>
                        <label for="c3"><span></span>레드카드</label>
                    </div>
                </li>
                <li>
                    <p class="list-common-title">신고여부</p>
                    <div class="radio-wrap">
                        <input type="radio" id="r2" name="radio-report" value="ALL"/>
                        <label for="r2"><span></span>전체</label>

                        <input type="radio" id="r3" name="radio-report" value="Y"/>
                        <label for="r3"><span></span>Y</label>

                        <input type="radio" id="r4" name="radio-report" value="N"/>
                        <label for="r4"><span></span>N</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="list-common-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="reset" type="reset">초기화</button>
                <button class="search" type="button">검색</button>
            </div>
        </div>

        <div class="table-wrap">
            <div id="actionTopDom" class="top clearfix" style="display: none;">
                <div class="left-wrap clearfix">
                    <div class="select-box">
                        <label for="selPageLength">10개씩 보기</label>
                        <select id="selPageLength">
                            <option value="10">10개씩 보기</option>
                            <option value="20">20개씩 보기</option>
                            <option value="30">30개씩 보기</option>
                        </select>
                    </div>
                    <p>Total <strong class="data-num"></strong></p>
                </div>
                <div class="btn-wrap">
                    <button class="yellow-btn" type="button"><i class="fas fa-exclamation-triangle"></i>옐로카드 발송</button>
                    <button class="warning-btn" type="button"><i class="fas fa-exclamation-triangle"></i>레드카드 발송</button>
                </div>
            </div>

            <div id="actionWrap">
                <!--<ul class="cert-contents clearfix">
                    <li>
                        <div class="top clearfix">
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c5" name="cc" />
                                <label for="c5"><span></span></label>
                            </div>
                            <span class="success-text">성공</span>
                            <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                        </div>

                        <div class="thumbnail-wrap">
                            &lt;!&ndash;옐로카드&ndash;&gt;
                            <div class="error">
                                <p class="error-text"><i><img src="/assets/images/yellow-card.png" alt=""></i>인증조건에 맞지 않아요</p>
                                <div class="card-wrap">
                                    <button class="card-btn clear-yellow-btn" type="button">
                                        옐로카드 취소
                                    </button>
                                </div>
                            </div>

                            <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                        </div>

                        <div class="text-wrap">
                            <p class="title">매일 반려견 산책하기</p>
                            <a href="#">aaaaaaa</a>
                            <p class="date">2019.07.17 10:30:24</p>
                        </div>
                    </li>
                    <li>
                        <div class="top clearfix">
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c6" name="cc" />
                                <label for="c6"><span></span></label>
                            </div>
                            <span class="failure-text">실패</span>
                            <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                        </div>

                        <div class="thumbnail-wrap">
                            &lt;!&ndash;레드카드&ndash;&gt;
                            <div class="error">
                                <p class="error-text"><i><img src="/assets/images/red-card.png" alt=""></i>욕설이나 선정적인 내용이 있어요</p>
                                <div class="card-wrap">
                                    <button class="card-btn clear-red-btn" type="button">
                                        레드카드 취소
                                    </button>
                                </div>
                            </div>

                            <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                        </div>

                        <div class="text-wrap">
                            <p class="title">매일 반려견 산책하기</p>
                            <a href="#">aaaaaaa</a>
                            <p class="date">2019.07.17 10:30:24</p>
                        </div>
                    </li>
                    <li>
                        <div class="top clearfix">
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c7" name="cc" />
                                <label for="c7"><span></span></label>
                            </div>
                            <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                        </div>

                        <div class="thumbnail-wrap">
                            &lt;!&ndash;옐로,레드카드&ndash;&gt;
                            <div class="error">
                                <p class="error-text"><i><img src="/assets/images/rad-yellow-card.png" alt=""></i>욕설이나 선정적인 내용이 있어요</p>
                                <div class="card-wrap">
                                    <button class="card-btn clear-red-btn" type="button">
                                        옐로카드 취소
                                    </button>
                                    <button class="card-btn clear-red-btn" type="button">
                                        레드카드 취소
                                    </button>
                                </div>
                            </div>

                            <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                        </div>

                        <div class="text-wrap">
                            <p class="title">매일 반려견 산책하기</p>
                            <a href="#">aaaaaaa</a>
                            <p class="date">2019.07.17 10:30:24</p>
                        </div>
                    </li>
                    <li>
                        <div class="top clearfix">
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c7" name="cc" />
                                <label for="c7"><span></span></label>
                            </div>
                            <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                        </div>
                        <div class="thumbnail-wrap">
                            <img class="detail-img" src="/assets/images/no-image.jpg" alt="프로필 이미지입니다.">
                        </div>
                        <div class="text-wrap">
                            <p class="title">매일 반려견 산책하기</p>
                            <a href="#">aaaaaaa</a>
                            <p class="date">2019.07.17 10:30:24</p>
                        </div>
                    </li>
                    <li>
                        <div class="top clearfix">
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c7" name="cc" />
                                <label for="c7"><span></span></label>
                            </div>
                            <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                        </div>
                        <div class="thumbnail-wrap">
                            <img class="detail-img" src="/assets/images/voice.jpg" alt="프로필 이미지입니다.">
                        </div>
                        <div class="text-wrap">
                            <p class="title">매일 반려견 산책하기</p>
                            <a href="#">aaaaaaa</a>
                            <p class="date">2019.07.17 10:30:24</p>
                        </div>
                    </li>
                </ul>-->
            </div>

            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
            </div>

            <!--경고장 모달-->
            <div class="modal-content modal-01">
                <div class="wrap">
                    <i class="close-btn fas fa-times-circle"></i>
                    <p class="modal-title">경고장 발송</p>
                    <ul class="modal-information">
                        <li class="clearfix">
                            <p class="sub-title">발송사유(*)</p>
                            <div class="select-box active">
                                <label for="selCauseBy">인증조건에 맞지 않아요</label>
                                <select id="selCauseBy">
                                    <option value="인증조건에 맞지 않아요">인증조건에 맞지 않아요</option>
                                    <option value="광고나 홍보성격이 짙어요">광고나 홍보성격이 짙어요</option>
                                    <option value="욕설이나 선정적인 내용이 있어요">욕설이나 선정적인 내용이 있어요</option>
                                    <option value="민감한 개인 정보가 있어요">민감한 개인 정보가 있어요</option>
                                    <option value="누군가의 명예를 훼손할 수 있어요">누군가의 명예를 훼손할 수 있어요</option>
                                    <option value="에티켓 위반 등 기타 사유에요">에티켓 위반 등 기타 사유에요</option>
                                </select>
                            </div>
                        </li>
                        <button id="btnSubmitWarn" class="completion-btn" type="submit">발송</button>
                    </ul>
                </div>
            </div>
            <div class="modal-layout"></div>
        </div>
    </div>
</section>
<script src="/assets/js/action/action-list.js"></script>