<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no" />
    <title>유캔두 관리자</title>
    <link rel="stylesheet" href="/assets/css/reset.css?version=<?php echo $this->config->item('version');?>">
    <link rel="stylesheet" href="/assets/css/common.css?version=<?php echo $this->config->item('version');?>">
    <link rel="stylesheet" href="/assets/css/login.css?version=<?php echo $this->config->item('version');?>">
    <link rel="stylesheet" href="/assets/css/plugins/sweetalert2.min.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

    <script src="/assets/js/plugins/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/plugins/sweetalert2.min.js"></script>
    <script src="/assets/js/const.js"></script>
    <script src="/assets/js/utils.js"></script>
</head>

<body>
    <section class="login-pg">
        <div class="login-inner">
            <div class="top">
                <div class="top-title">
                    <div class="fly-wrap clearfix">
                        <span class="welcome-text">w</span>
                        <span class="welcome-text">e</span>
                        <span class="welcome-text">l</span>
                        <span class="welcome-text">c</span>
                        <span class="welcome-text">o</span>
                        <span class="welcome-text">m</span>
                        <span class="welcome-text">e</span>
                        <span class="welcome-text">!</span>
                    </div>
                </div>
            </div>

            <!--로그인-->
            <div class="wrap login-content">
                <h1 class="login-text">LOGIN</h1>
                <form name="loginForm" action="/auth/login" method="post">
                    <div class="col user-name-wrap">
                        <p>아이디</p>
                        <div class="input-wrap">
                            <i class="fas fa-id-badge"></i>
                            <input id="userid" name="userid" type="text" placeholder="아이디를 입력해주세요.">
                        </div>
                    </div>
                    <div class="col password-wrap">
                        <p>비밀번호</p>
                        <div class="input-wrap">
                            <i class="fas fa-lock"></i>
                            <input id="password" name="password" type="password" placeholder="비밀번호를 입력해주세요.">
                        </div>
                    </div>
                </form>
                <div class="btn-wrap">
                    <button class="join-btn" type="button">회원가입</button>
                    <button id="login-btn" class="submit-btn" type="submit">로그인</button>
                </div>
            </div>

            <!--회원가입-->
            <div class="wrap join-content">
                <h1 class="login-text">JOIN</h1>
                <form name="" action="" method="post">

                    <div class="col user-id-wrap">
                        <p>아이디</p>
                        <div class="input-wrap">
                            <i class="fas fa-id-badge"></i>
                            <input id="" name="userid" type="text" placeholder="아이디를 입력해주세요.">
                        </div>
                        <span class="error-msg">아이디를 확인해주세요.</span>
                    </div>

                    <div class="col password-wrap">
                        <p>비밀번호 </p>
                        <div class="input-wrap">
                            <i class="fas fa-lock"></i>
                            <input id="" name="password" type="password" placeholder="비밀번호를 입력해주세요.">
                        </div>
                        <span class="error-msg">영문 대소문자, 숫자, 특수문자를 포함한 최대 8자로 입력해주세요.</span>
                    </div>

                    <div class="col password-wrap">
                        <p>비밀번호 확인</p>
                        <div class="input-wrap">
                            <i class="fas fa-lock"></i>
                            <input id="" name="password" type="password" placeholder="비밀번호를 한번 더 입력해주세요.">
                        </div>
                        <span class="error-msg">비밀번호가 일치하지 않습니다.</span>
                    </div>

                    <div class="col user-name-wrap">
                        <p>이름</p>
                        <div class="input-wrap">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="이름을 입력해주세요.">
                        </div>
                        <span class="error-msg">이름을 확인해주세요.</span>
                    </div>

                    <div class="col user-name-wrap">
                        <p>이메일</p>
                        <div class="input-wrap">
                            <i class="fas fa-envelope"></i>
                            <input type="email" placeholder="이메일을 입력해주세요.">
                        </div>
                        <span class="error-msg">이메일을 확인해주세요.</span>
                    </div>
                </form>
                <div class="btn-wrap">
                    <button class="submit-btn" type="submit">가입하기</button>
                </div>
            </div>

            <!--인증-->
            <div class="wrap otp-content">
                <h1 class="login-text">
                    GOOGLE OTP
                    <sapn class="sub-text"><b>Google Authenticator</b> 앱 설치 후 인증해주세요.</sapn>
<!--                    <sapn class="sub-text"><b>Google Authenticator</b> 앱에서 인증번호를 확인해 주세요.</sapn>-->
                </h1>
                <form name="" action="" method="post">
                    <div class="qr_box">
                        <span class="qr_img"><img src="data:image/jpeg;base64, iVBORw0KGgoAAAANSUhEUgAAAKoAAACqAQAAAAAVDekvAAABzElEQVR42u3WsY3sIBAG4LEIyLwNWKINMlqyGzC+BuyWyGgDiQbsjAB53s9dsNzqBQeXvCetZW3wBeBhhpkl/tvj6M1v/gc4EWmxaXXLaSR6dDLfWlwcbIq74aOTw6iDZRpSHrX4BU+zjIen9Tds+KS8Eo39jCjzg6eF4/0SfAPjvOP+9b6k4edcHnWkaab4WhA/56Q2ky1Ps87WV1u2cbAO5YPzRvKRvU6e9TT4uEskf+pkZqy6krpcvOmZtDZO4iQ+8KtzKaJOxjlFdnzhnBzZPma1G8UOb1h1lcsmTrQkZP7zSplqyyZmnHdePG+UZ/OMspHzwLyTYESZqrXbmFYTSMYPRCmr4NtYXYlWiXKO7IPt5FI7B6tTx1uGRx+jeF28Eiox11G2Maub1CnjVRqe4k4O1nO5T1w+0PZxEremxZc+MZsqyjbGMSNjXM6p7hBNzFhyeji1Uxhl5E7mK5UJMPiAD7R9jKYrBToEoiR6rt3Gn8PkRAn7eCTVyZgkpmT+w4ldi17GTEPfFeiaR12abYwRXebqJtEk4tHN6C7YgcQpqw9sZkwzjNa4SdXLiBL3mxaXZx1sJ2PO0+AIvfPbbWji95/hN/8//Acz03SuWSB6+wAAAABJRU5ErkJggg==" alt="qr코드"></span>
                    </div>
                    <div class="col otp-num-wrap">
                        <p>인증번호</p>
                        <div class="input-wrap">
                            <i class="fas fa-key"></i>
                            <input id="" name="" type="text" placeholder="인증번호를 입력해주세요.">
                        </div>
                        <span class="error-msg">인증번호를 확인해주세요.</span>
                    </div>
                </form>
                <div class="btn-wrap">
                    <button class="submit-btn" type="submit">완료</button>
                </div>
            </div>


        </div>
    </section>
</body>
<script src="/assets/js/login/login.js?version=<?php echo $this->config->item('version');?>"></script>
<script>
    $(".join-btn").on('click', function(){
        $('.login-content').hide();
        $('.join-content').fadeIn();
    });
</script>
</html>