<link rel="stylesheet" href="/assets/v2/css/emoticon.css?version=<?php echo $this->config->item('version');?>">

<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">이모티콘 수정</h2>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 15%;">
                        <col style="width: 35%;">
                        <col style="width: 15%;">
                        <col style="width: 35%;">
                    </colgroup>
                    <tr>
                        <th>카테고리 번호</th>
                        <td id="categoryId">
                        </td>
                        <th>생성일</th>
                        <td id="createDate">
                        </td>
                    </tr>
                    <tr>
                        <th>유형 *</th>
                        <td colspan="3">
                            <select id="selType" class="select-box">
                                <option value="dynamic">움직이는 이모티콘</option>
                                <option value="static">멈춰있는 이모티콘</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>이모티콘명 *</th>
                        <td colspan="3">
                            <div class="input-wrap">
                                <input id="emoticonTitle" type="text" class="length-input" maxlength="20" placeholder="이모티콘명을 입력해주세요.(한글,영문,숫자,특수문자 사용가능)">
                                <p class="length-count-wrap"><span class="count-input">0</span>/20</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>대표 이미지 *</th>
                        <td colspan="3">
                            <span class="desc-sub">업로드 형식 : png(투명배경)  |  이미지 사이즈: 360X360(px)</span>
                            <div>
                                <div class="emoticon-file-upload upload_design">
                                    <div class="design_comm"><!--img id="View" alt="이미지 미리보기"--></div>
                                    <div class="hover-content">
                                        <label class="btn_upload" for="categoryImage">변경하기<button type="button" class="inp_file"></button></label>
                                        <input type="file" id="categoryImage" style="display: none;" accept="image/png" data-width="360" data-height="360"/>
                                    </div>
                                </div>
                                <div class="file-name" id="categoryImageName"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>카테고리 이미지 *</th>
                        <td colspan="3">
                            <span class="desc-sub">업로드 형식 : png(투명배경)  |  이미지 사이즈: 78X78(px)</span>
                            <div class="flex-wrap">
                                <div>
                                    <div class="emoticon-file-upload upload_design">
                                        <div class="design_comm"><!--img id="View" alt="이미지 미리보기"--></div>
                                        <div class="hover-content">
                                            <label class="btn_upload" for="categoryImageOn">변경하기<button type="button" class="inp_file"></button></label>
                                            <input type="file" id="categoryImageOn" style="display: none;" accept="image/png" data-width="78" data-height="78"/>
                                        </div>
                                    </div>
                                    <div class="file-name" id="categoryImageOnName"></div>
                                </div>
                                <div>
                                    <div class="emoticon-file-upload upload_design">
                                        <div class="design_comm"><!--img id="View" alt="이미지 미리보기"--></div>
                                        <div class="hover-content">
                                            <label class="btn_upload" for="categoryImageOff">변경하기<button type="button" class="inp_file"></button></label>
                                            <input type="file" id="categoryImageOff" style="display: none;" accept="image/png" data-width="78" data-height="78"/>
                                        </div>
                                    </div>
                                    <div class="file-name" id="categoryImageOffName"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>썸네일/<br>이모티콘 이미지 *</th>
                        <td colspan="3">
                            <p class="desc-sub">
                                썸네일 이미지 형식: png(투명배경)  |  이미지 사이즈: 360X360(px)<br>
                                움직이는 이모티콘 이미지 형식: webp  |  이미지 사이즈: 360X360(px)<br>
                                멈춰있는 이모티콘 이미지 형식: png(투명배경)  |  이미지 사이즈: 360X360(px)
                            </p>
                            <div class="add-btn-wrap">
                                <p class="sub-tit">썸네일/이미지 업로드 영역 추가</p>
                                <div class="btn-wrap" id="btnAdd">
                                    <button type="button" data-increase="1"> + 1개</button>
                                    <button type="button" data-increase="5"> + 5개</button>
                                    <button type="button" data-increase="10"> + 10개</button>
                                    <button type="button" data-increase="23"> + 23개</button>
                                </div>
                            </div>
                            <ul class="emoticon-upload-list" id="emoticonWrap">
                                <!--<li>
                                    <p class="list-num">01</p>
                                    <i class="fas fa-times"></i>
                                    <div class="flex-wrap">
                                        <div>
                                            <div class="emoticon-file-upload upload_design">
                                                <div class="design_comm">&lt;!&ndash;img id="View" alt="이미지 미리보기"&ndash;&gt;</div>
                                                <div class="hover-content">
                                                    <label class="btn_upload" for="uploadThumbImg1">찾아보기<button type="button" class="inp_file"></button></label>
                                                    <input type="file" id="uploadThumbImg1" style="display: none;"/>
                                                </div>
                                            </div>
                                            <div class="file-name">썸네일 이미지</div>
                                        </div>
                                        <div>
                                            <div class="emoticon-file-upload upload_design">
                                                <div class="design_comm">&lt;!&ndash;img id="View" alt="이미지 미리보기"&ndash;&gt;</div>
                                                <div class="hover-content">
                                                    <label class="btn_upload" for="uploadEmoticonImg1">찾아보기<button type="button" class="inp_file"></button></label>
                                                    <input type="file" id="uploadEmoticonImg1" style="display: none;"/>
                                                </div>
                                            </div>
                                            <div class="file-name">이모티콘 이미지</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="list-num">02</p>
                                    <i class="fas fa-times"></i>
                                    <div class="flex-wrap">
                                        <div>
                                            <div class="emoticon-file-upload upload_design">
                                                <div class="design_comm">&lt;!&ndash;img id="View" alt="이미지 미리보기"&ndash;&gt;</div>
                                                <div class="hover-content">
                                                    <label class="btn_upload" for="uploadThumbImg2">찾아보기<button type="button" class="inp_file"></button></label>
                                                    <input type="file" id="uploadThumbImg2" style="display: none;"/>
                                                </div>
                                            </div>
                                            <div class="file-name">썸네일 이미지</div>
                                        </div>
                                        <div>
                                            <div class="emoticon-file-upload upload_design">
                                                <div class="design_comm">&lt;!&ndash;img id="View" alt="이미지 미리보기"&ndash;&gt;</div>
                                                <div class="hover-content">
                                                    <label class="btn_upload" for="uploadEmoticonImg2">찾아보기<button type="button" class="inp_file"></button></label>
                                                    <input type="file" id="uploadEmoticonImg2" style="display: none;"/>
                                                </div>
                                            </div>
                                            <div class="file-name">이모티콘 이미지</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="list-num">03</p>
                                    <i class="fas fa-times"></i>
                                    <div class="flex-wrap">
                                        <div>
                                            <div class="emoticon-file-upload upload_design">
                                                <div class="design_comm">&lt;!&ndash;img id="View" alt="이미지 미리보기"&ndash;&gt;</div>
                                                <div class="hover-content">
                                                    <label class="btn_upload" for="uploadThumbImg3">찾아보기<button type="button" class="inp_file"></button></label>
                                                    <input type="file" id="uploadThumbImg3" style="display: none;"/>
                                                </div>
                                            </div>
                                            <div class="file-name">썸네일 이미지</div>
                                        </div>
                                        <div>
                                            <div class="emoticon-file-upload upload_design">
                                                <div class="design_comm">&lt;!&ndash;img id="View" alt="이미지 미리보기"&ndash;&gt;</div>
                                                <div class="hover-content">
                                                    <label class="btn_upload" for="uploadEmoticonImg3">찾아보기<button type="button" class="inp_file"></button></label>
                                                    <input type="file" id="uploadEmoticonImg3" style="display: none;"/>
                                                </div>
                                            </div>
                                            <div class="file-name">이모티콘 이미지</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="list-num">04</p>
                                    <i class="fas fa-times"></i>
                                    <div class="flex-wrap">
                                        <div>
                                            <div class="emoticon-file-upload upload_design">
                                                <div class="design_comm">&lt;!&ndash;img id="View" alt="이미지 미리보기"&ndash;&gt;</div>
                                                <div class="hover-content">
                                                    <label class="btn_upload" for="uploadThumbImg4">찾아보기<button type="button" class="inp_file"></button></label>
                                                    <input type="file" id="uploadThumbImg4" style="display: none;"/>
                                                </div>
                                            </div>
                                            <div class="file-name">썸네일 이미지</div>
                                        </div>
                                        <div>
                                            <div class="emoticon-file-upload upload_design">
                                                <div class="design_comm">&lt;!&ndash;img id="View" alt="이미지 미리보기"&ndash;&gt;</div>
                                                <div class="hover-content">
                                                    <label class="btn_upload" for="uploadEmoticonImg4">찾아보기<button type="button" class="inp_file"></button></label>
                                                    <input type="file" id="uploadEmoticonImg4" style="display: none;"/>
                                                </div>
                                            </div>
                                            <div class="file-name">이모티콘 이미지</div>
                                        </div>
                                    </div>
                                </li>-->
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">수정 완료</button>
        </div>
    </div>

</section>
<script type="module" src="/assets/v2/js/bundles/emoticon-update.bundle.js?version=<?php echo $this->config->item('version');?>"></script>
