<link rel="stylesheet" href="/assets/v2/css/emoticon.css?version=<?php echo $this->config->item('version');?>">

<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">이모티콘 상세</h2>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 15%;">
                        <col style="width: 35%;">
                        <col style="width: 15%;">
                        <col style="width: 35%;">
                    </colgroup>
                    <tr>
                        <th>카테고리 번호</th>
                        <td>
                            000000001
                        </td>
                        <th>생성일</th>
                        <td>
                            2022-02-22
                        </td>
                    </tr>
                    <tr>
                        <th>유형 *</th>
                        <td colspan="3">
                            <p class="detail-data" id="">움직이는 이모티콘</p>
                        </td>
                    </tr>
                    <tr>
                        <th>이모티콘명 *</th>
                        <td colspan="3">
                            <p class="detail-data" id="">나두나두</p>
                        </td>
                    </tr>
                    <tr>
                        <th>대표 이미지 *</th>
                        <td colspan="3">
                            <div>
                                <img class="design_comm_view" src="/assets/v2/img/profile-1.png" alt="이미지 미리보기">
                                <div class="file-name">profile-1.png</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>카테고리 이미지 *</th>
                        <td colspan="3">
                            <div class="flex-wrap">
                                <div>
                                    <img class="design_comm_view" src="/assets/v2/img/profile-1.png" alt="이미지 미리보기">
                                    <div class="file-name">profile-1.png</div>
                                </div>
                                <div>
                                    <img class="design_comm_view" src="/assets/v2/img/profile-1.png" alt="이미지 미리보기">
                                    <div class="file-name">profile-1.png</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>썸네일/<br>이모티콘 이미지 *</th>
                        <td colspan="3">
                            <ul class="emoticon-upload-list">
                                <li>
                                    <p class="list-num">01</p>
                                    <div class="flex-wrap">
                                        <div>
                                            <img class="design_comm_view" src="/assets/v2/img/profile-1.png" alt="이미지 미리보기">
                                            <div class="file-name">profile-1.png</div>
                                        </div>
                                        <div>
                                            <img class="design_comm_view" src="/assets/v2/img/profile-1.png" alt="이미지 미리보기">
                                            <div class="file-name">profile-1.png</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="list-num">02</p>
                                    <div class="flex-wrap">
                                        <div>
                                            <img class="design_comm_view" src="/assets/v2/img/profile-1.png" alt="이미지 미리보기">
                                            <div class="file-name">profile-1.png</div>
                                        </div>
                                        <div>
                                            <img class="design_comm_view" src="/assets/v2/img/profile-1.png" alt="이미지 미리보기">
                                            <div class="file-name">profile-1.png</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="list-num">03</p>
                                    <i class="fas fa-times"></i>
                                    <div class="flex-wrap">
                                        <div>
                                            <img class="design_comm_view" src="/assets/v2/img/profile-1.png" alt="이미지 미리보기">
                                            <div class="file-name">profile-1.png</div>
                                        </div>
                                        <div>
                                            <img class="design_comm_view" src="/assets/v2/img/profile-1.png" alt="이미지 미리보기">
                                            <div class="file-name">profile-1.png</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="list-num">04</p>
                                    <div class="flex-wrap">
                                        <div>
                                            <img class="design_comm_view" src="/assets/v2/img/profile-1.png" alt="이미지 미리보기">
                                            <div class="file-name">profile-1.png</div>
                                        </div>
                                        <div>
                                            <img class="design_comm_view" src="/assets/v2/img/profile-1.png" alt="이미지 미리보기">
                                            <div class="file-name">profile-1.png</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>오픈 여부 *</th>
                        <td colspan="3">
                            <p class="detail-data" id="">Y</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnBack" type="button" class="btn btn-outline-primary">이전</button>
            <button id="btnList" type="button" class="btn btn-primary">목록</button>
            <button id="btnUpdate" type="button" class="btn btn-teal">수정</button>
        </div>
    </div>

</section>