<link rel="stylesheet" href="/assets/css/create-common.css?version=<?php echo $this->config->item('version');?>">
<link rel="stylesheet" href="/assets/css/pro-create.css?version=<?php echo $this->config->item('version');?>">
<section class="doit-create-page">
    <div class="inner">
        <h2 class="main-title">프로모션 두잇 신규 등록</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li class="list-common clearfix" style="border-radius: 0; box-shadow: none; margin-bottom: 0;">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">프로모션 (*)</p>
                        </div>
                        <div class="col-2 clearfix">
                            <div class="col-2-1 clearfix" style="float: left; width: 100%;">
                                <div class="search-wrap" style="width: 235px; float: left; margin-right: 10px;">
                                    <input id="bizName" type="text" placeholder="클릭 후 기업명을 선택해주세요." style="width: 235px" readonly>
                                </div>
                                <div class="select-box" style="float: left; width: 340px;margin-right: 10px;">
                                    <label for="selPromo">프로모션 선택</label>
                                    <select id="selPromo">
                                    </select>
                                </div>
                                <div class="select-box" style="float: left; width: 320px;">
                                    <label for="selReward">리워드 조건 선택</label>
                                    <select id="selReward">
                                    </select>
                                </div>
                            </div>
                            <div class="col-2-1" style="float: left; width: 100%;">
                                <div id="selectedReward" class="reward-type clearfix"></div>
<!--                                    <div class="reward-type clearfix">
                                        <p class="sub-title"><i class="far fa-check-square" style="color:#007aff; "></i> 선택하신  프로모션 관련 리워드 조건입니다.</p>
                                        <div class="fixed">
                                            <p class="cap"><span>두잇 참여 인원 : </span>최소 1명 ~ 최대 4명</p>
                                        </div>
                                        <div class="fixed">
                                            <p class="cap"><span>인증기간 : </span>7일</p>
                                        </div>
                                        <div class="fixed">
                                            <p class="cap"><span>일일인증 횟수 : </span>10회</p>
                                        </div>
                                        <div class="fixed">
                                            <p class="cap"><span>목표달성률 : </span>80%</p>
                                        </div>
                                        <div class="fixed">
                                            <p class="cap"><span>1인당 최대 지급할 UCD : </span>개인 8000UCD / 단체 8000UCD</p>
                                        </div>
                                        <div class="fixed">
                                            <p class="cap"><span>주간빈도 : 월, 수, 금 </span></p>
                                        </div>
                                        <p class="sub-title"><i class="fas fa-coins" style="color:#007aff; "></i> 잔여 프로모션 예산</p>
                                        <div class="fixed">
                                            <p class="cap">현재까지 남은 잔여 UCD는 <span style="font-size: 19px; font-weight: 600; color: #007aff;">50000 UCD</span> 입니다.</p>
                                        </div>
                                    </div>-->
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">카테고리 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="select-box">
                                <label></label>
                                <select id="selCategory">
                                    <!--<option value="">전체</option>
                                    <option value="">건강</option>
                                    <option value="">다이어트</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">두잇명(*)</p>
                        </div>
                        <div class="col-2">
                            <div class="input-wrap">
                                <input id="doitTitle" type="text" class="length-input" placeholder="두잇명을 입력해주세요." maxlength="25">
                                <p class="length-count-wrap"><span class="count-input">0</span>/25</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">소개글 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="input-wrap">
                                <input id="doitDesc" type="text" class="length-input" placeholder="내용을 입력해주세요." maxlength="50">
                                <p class="length-count-wrap"><span class="count-input">0</span>/50</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="tag-list">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">태그(*)</p>
                            <i class="question-mark far fa-question-circle">
                                <span class="hover-text">최대 3개, 최대 10자까지 등록이 가능합니다.</span>
                            </i>
                        </div>
                        <div class="col-2">
                            <div class="tag-input-wrap">
                                <div class="input-wrap">
                                    <input class="tag-input length-input" id="inputTag" maxlength="10"
                                           placeholder="태그를 입력해주세요." type="text">
                                    <p class="length-count-wrap"><span class="count-input">0</span>/10</p>
                                </div>
                                <button id="btnAddTag" class="add-btn" type="submit">
                                    <i class="fas fa-plus"></i>
                                    <span>추가</span>
                                </button>
                            </div>
                            <ul id="addedTags" class="hash-tag-list clearfix">
                                <!--<li>
                                    #<span class="tag-name">밸런스</span>
                                    <i class="delete-btn far fa-times-circle"></i>
                                </li>
                                <li>
                                    #<span class="tag-name">밸런스</span>
                                    <i class="delete-btn far fa-times-circle"></i>
                                </li>
                                <li>
                                    #<span class="tag-name">밸런스</span>
                                    <i class="delete-btn far fa-times-circle"></i>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">두잇 소개 이미지 및 영상 업로드 (*)</p>
                        </div>
                        <div class="col-2">
                            <!--                    이미지 및 영상 라디오 선택시 관련 .wrap display block-->
                            <div class="radio-wrap" style="margin-bottom: 10px;">
                                <input type="radio" id="r10" name="radio-intro-type" value="image"/>
                                <label for="r10"><span></span>이미지</label>
                                <input type="radio" id="r11" name="radio-intro-type" value="video"/>
                                <label for="r11"><span></span>영상</label>
                            </div>
                            <div id="introFileArea" class="wrap">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="reward-li">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title">공약 설정</p>
                        </div>
                        <div class="col-2">
<!--                            <div class="radio-wrap" style="margin-bottom: 10px;">-->
<!--                                <input type="radio" id="r1" name="rr" />-->
<!--                                <label for="r1">리워드로 UCD 지급 <span></span></label>-->
<!--                                <i class="question-mark far fa-question-circle">-->
<!--                                    <span class="hover-text">ON: 목표달성률 성공 시, <br>UCD적립 | OFF: 목표달성률 성공 시, UCD 미적립</span>-->
<!--                                </i>-->
<!--                            </div>-->
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c1" name="chkExtraReward"/>
                                <label id="ucd-check-area" for="c1"><span></span>UCD외 추가 리워드 직접 입력</label>
                            </div>
                            <div id="ucd-area-wrap" class="input-wrap">
                                <input id="ucd-area" type="text" class="length-input" placeholder="추가 리워드를 입력해주세요." maxlength="30">
                                <p class="length-count-wrap"><span class="count-input">0</span>/30</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">인증 기간 (*)</p>
                        </div>
                        <div class="col-2">
                            <input id="doitFrom" type="text" class="datepicker">
                            <span class="date-margin-text"> ~ </span>
                            <input id="doitTo" type="text" class="datepicker">
                        </div>
                    </div>
                </li>
                <li class="time-li">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">인증 시간/간격 (*)</p>
                        </div>
                        <div class="col-2">
                            <input id="startTime" type="time" value="00:00">
                            <span class="date-margin-text"> ~ </span>
                            <input id="endTime" type="time" value="23:59" max="23:59">

                            <!--<sapn class="date-margin-text">간격</sapn>
                            <input type="text" style="width: 100px;">
                            <span class="date-margin-text">분</span>-->
                        </div>
                    </div>
                </li>
                <li class="doit-option-li">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">두잇 공개 범위 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <div class="radio-wrap" style="margin-bottom: 10px;">
                                    <input type="radio" id="r20" name="radio-public" value="Y"/>
                                    <label for="r20"><span></span>공개 두잇</label>
                                    <input type="radio" id="r21" name="radio-public" value="N"/>
                                    <label for="r21"><span></span>비밀 두잇</label>
                                </div>
                                <div class="code-wrap">
                                    <span class="input-num-title margin-left-text">참여코드
                                        <i class="question-mark far fa-question-circle">
                                        <span class="hover-text">참여코드를 아는 사람만 참여가능</span>
                                    </i></span>
                                    <input id="privateCode" class="code-input only-num-with-zero" type="text" placeholder="숫자 4자리" maxlength="4" style="width: 100px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="method-li">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">인증방법 (*)</p>
                        </div>
                        <div class="col-2">
                            <!--     인증방법 세개 선택시 인증 예시 이미지 p.cap 텍스트 안에 span 내용 변환               -->
                            <div class="radio-wrap">
                                <input type="radio" id="r4" name="radio-example-type" value="image"/>
                                <label for="r4"><span></span>사진</label>

                                <input type="radio" id="r5" name="radio-example-type" value="video"/>
                                <label for="r5"><span></span>동영상</label>

                                <input type="radio" id="r6" name="radio-example-type" value="voice"/>
                                <label for="r6"><span></span>음성 녹음</label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="doit-open">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">갤러리 허용</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap" id="galleryWrap">
                                <!--<input type="radio" id="c20" name="radio-gallery-yn" value="Y"/>
                                <label for="c20">Y<span></span></label>

                                <input type="radio" id="c21" name="radio-gallery-yn" value="N"/>
                                <label for="c21">N<span></span></label>-->
                            </div>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">인증 예시 (*)</p>
                        </div>
                        <div class="col-2">
                            <div id="exampleArea"></div>
<!--                            <div class="filebox preview-image">-->
<!--                                <p class="cap important">인증 방법 중 <span>사진</span>을 선택하셨습니다. <span>사진</span>을 업로드 해주세요!</p>-->
<!--                                <p class="cap">썸네일 (* 이미지 사이즈: 650 x 650)</p>-->
<!--                                <input class="upload-name" value="파일선택" disabled="disabled" >-->
<!--                                <label for="input-file6">업로드</label>-->
<!--                                <input type="file" id="input-file6" class="upload-hidden">-->
<!--                            </div>-->
<!--                            인증 방법 중 동영상을 선택할 경우 display block-->
<!--                            <div class="wrap">-->
<!--                                <p class="cap important">인증 방법 중 <span>영상</span>을 선택하셨습니다. <span>영상</span> 및 썸네일을 업로드 해주세요!</p>-->
<!--                                <div class="filebox preview-image">-->
<!--                                    <p class="cap">썸네일 (* 이미지 사이즈: 650 x 650)</p>-->
<!--                                    <input class="upload-name" value="파일선택" disabled="disabled" >-->
<!--                                    <label for="input-file3">업로드</label>-->
<!--                                    <input type="file" id="input-file3" class="upload-hidden">-->
<!--                                </div>-->
<!--                                <div class="filebox preview-image">-->
<!--                                    <p class="cap">영상</p>-->
<!--                                    <input class="upload-name" value="파일선택" disabled="disabled" >-->
<!--                                    <label for="input-file20">업로드</label>-->
<!--                                    <input type="file" id="input-file20" class="upload-hidden">-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            인증 방법 중 음성 녹음을 선택 할 경우 display block-->
<!--                            <div class="filebox preview-image">-->
<!--                                <p class="cap important">인증 방법 중 <span>음성 녹음</span>을 선택하셨습니다. <span>음성 녹음</span>을 업로드 해주세요!</p>-->
<!--                                <input class="upload-name" value="파일선택" disabled="disabled" >-->
<!--                                <label for="input-file77">업로드</label>-->
<!--                                <input type="file" id="input-file77" class="upload-hidden">-->
<!--                            </div>  -->
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">인증 예시 설명 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="textarea-wrap">
                                <textarea id="exampleDesc" class="length-input" maxlength="150"></textarea>
<!--                                <input id="exampleDesc" type="text" class="length-input" placeholder="내용을 입력해주세요." maxlength="100" maxlength="10">-->
                                <p class="length-count-wrap"><span class="count-input">0</span>/150</p>
                            </div>
                        </div>
                    </div>
                </li>

<!--                인증제외날짜 및 노출여부는 추후 개발 예정계획-->
<!--                <li>-->
<!--                    <div class="col-wrap clearfix">-->
<!--                        <div class="col-1">-->
<!--                            <p class="sub-title">인증 제외 날짜</p>-->
<!--                        </div>-->
<!--                        <div class="col-2">-->
<!--                            <div class="tag-input-wrap">-->
<!--                                <input class="tag-input" type="date">-->
<!--                                <button class="add-btn" type="submit">-->
<!--                                    <i class="fas fa-plus"></i>-->
<!--                                    <span>ADD</span>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <ul class="hash-tag-list clearfix">-->
<!--                                <li>-->
<!--                                    <span class="tag-name">2020/04/25</span>-->
<!--                                    <i class="delete-btn far fa-times-circle"></i>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <span class="tag-name">2020/04/25</span>-->
<!--                                    <i class="delete-btn far fa-times-circle"></i>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <span class="tag-name">2020/04/25</span>-->
<!--                                    <i class="delete-btn far fa-times-circle"></i>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
                <!--<li class="doit-open">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">두잇 노출 여부</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c6" name="radio-open-yn" value="Y"/>
                                <label for="c6">Y<span></span></label>

                                <input type="radio" id="c7" name="radio-open-yn" value="N"/>
                                <label for="c7">N<span></span></label>
                            </div>
                        </div>
                    </div>
                </li>-->
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal-content">
        <div class="wrap">
            <i class="close-btn">×</i>
            <p class="modal-title">기업명 검색</p>
            <ul class="modal-information">
                <li>
                    <div class="search-wrap">
                        <div class="search-box">
                            <input id="modalBizName" type="search" placeholder="기업명을 입력해주세요.">
                            <i class="search-btn fas fa-search"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="table-wrap">
                        <table id="dataTable">
                            <!--<colgroup>
                                <col style="width:100%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>기업명</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>카카오키즈</td>
                            </tr>
                            </tbody>-->
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-layout"></div>

</section>
<script src="/assets/js/plugins/tablesort.min.js"></script>
<script src="/assets/js/plugins/tablesort.number.min.js"></script>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/dataTables.select.min.js"></script>
<script defer src="/assets/js/doit/doit-create.js?version=<?php echo $this->config->item('version');?>"></script>

