<section class="doit-talk-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">두잇톡 관리</h2>
        </div>

        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">날짜</p>
                <div class="select-box">
                    <label for="date_type">등록일</label>
                    <select id="date_type">
                        <option value="created_datetime">등록일</option>
                    </select>
                </div>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="search_type">작성자</label>
                    <select id="search_type">
                        <option value="nickname">작성자</option>
                        <option value="doit_title">두잇명</option>
                        <option value="comment">내용</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="doit-list-option">
            <ul class="clearfix">
                <li>
                    <p class="list-common-title">신고 여부</p>
                    <div class="radio-wrap">
                        <input type="radio" id="r2" name="radio-report" value="all"/>
                        <label for="r2"><span></span>전체</label>

                        <input type="radio" id="r3" name="radio-report" value="Y"/>
                        <label for="r3"><span></span>Y</label>

                        <input type="radio" id="r4" name="radio-report" value="N"/>
                        <label for="r4"><span></span>N</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="list-common-btn-wrap list-search-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="search" type="button">검색</button>
                <button class="reset" type="reset">초기화</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="right-wrap clearfix">
                    <p>Total <strong class="data-num"></strong></p>
                    <div class="select-box">
                        <label for="selPageLength"></label>
                        <select id="selPageLength">
                        </select>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button class="eye-slash-btn" type="button" id="btnBlind"><i class="fas fa-eye-slash"></i>블라인드 처리</button>
                </div>
            </div>
            <table id="dataTable">
                <colgroup>
                    <col style="width:5%;">
                    <col style="width:15%;">
                    <col style="width:5%;">
                    <col style="width:5%;">
                    <col style="width:30%;">
                    <col style="width:5%;">
                    <col style="width:15%;">
                    <col style="width:5%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c5" name="cc" />
                                <label for="c5"><span></span></label>
                            </div>
                        </th>
                        <th>작성자</th>
                        <th>유형</th>
                        <th>구분</th>
                        <th>내용</th>
                        <th>신고</th>
                        <th>두잇명</th>
                        <th>블라인드</th>
                        <th>등록일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c6" name="cc" />
                                <label for="c6"><span></span></label>
                            </div>
                        </td>
                        <td>베리네모카베리네모카베리네모카잉</td>
                        <td>공지</td>
                        <td>본문</td>
                        <td>
                            <div class="tooltip">
                                <a href="/doit/talk/detail" class="line-clamp" style="max-width: 480px">여러분~ 조금만 더 인증해주시면 전체 성공 가능해요~ 아직 달성률에 도달하려면 멀었네용~분발해주세요</a>
                                <div class="tooltip-hover-text">
                                    <p>여러분~ 조금만 더 인증해주시면 전체 성공 가능해요~ 아직 달성률에 도달하려면 멀었네용~분발해주세요</p>
                                </div>
                            </div>
                        </td>
                        <td>1</td>
                        <td> <a href="#" class="line-clamp" style="max-width: 230px">물먹는 하마 모임히 물먹는 하마 모임히 일이삼사</a></td>
                        <td>Y</td>
                        <td>2020-02-02</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c6" name="cc" />
                                <label for="c6"><span></span></label>
                            </div>
                        </td>
                        <td>깐깐찡어</td>
                        <td>공지</td>
                        <td>대댓글</td>
                        <td>
                            <div class="tooltip">
                                <a href="/doit/talk/detail" class="line-clamp" style="max-width: 480px">여러분~ 조금만 더 인증해주시면 전체 성공 가능해요~ 아직 달성률에 도달하려면 멀었네용~분발해주세요</a>
                                <div class="tooltip-hover-text">
                                    <p>여러분~ 조금만 더 인증해주시면 전체 성공 가능해요~ 아직 달성률에 도달하려면 멀었네용~분발해주세요</p>
                                </div>
                            </div>
                        </td>
                        <td>1</td>
                        <td><a href="#" class="line-clamp" style="max-width: 180px">매일 산책하기</a></td>
                        <td>N</td>
                        <td>2020-02-02</td>
                    </tr>
                </tbody>
            </table>
            <!--<ul class="table-pagination clearfix">
                <li><i class="fas fa-angle-double-left"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fas fa-angle-double-right"></i></li>
            </ul>-->
        </div>
    </div>

</section>
<script src="/assets/js/plugins/tablesort.min.js"></script>
<script src="/assets/js/plugins/tablesort.number.min.js"></script>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/dataTables.select.min.js"></script>
<script src="/assets/js/doit/doit-talk-list.js?version=<?php echo $this->config->item('version');?>"></script>
