<link rel="stylesheet" href="/assets/css/create-common.css">
<link rel="stylesheet" href="/assets/css/doit-category-create.css">
<section class="doit-category-create-page">
    <div class="inner">
        <h2 class="main-title">카테고리 상세 수정</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">카테고리명 (*)</p>
                        </div>
                        <div class="col-2">
                            <input type="text" placeholder="제목을 입력해주세요.">
                        </div>
                    </div>
                </li>
                <li class="tag-list">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title">태그</p>
                            <i class="question-mark far fa-question-circle">
                                <span class="hover-text">최소 3개, 최대 5자까지 등록이 가능합니다.</span>
                            </i>
                        </div>
                        <div class="col-2">
                            <div class="tag-input-wrap">
                                <input class="tag-input" type="text" placeholder="태그를 입력해주세요.">
                                <button class="add-btn" type="submit">
                                    <i class="fas fa-plus"></i>
                                    <span>ADD</span>
                                </button>
                            </div>
                            <ul class="hash-tag-list clearfix">
                                <li>
                                    #<span class="tag-name">밸런스</span>
                                    <i class="delete-btn far fa-times-circle"></i>
                                </li>
                                <li>
                                    #<span class="tag-name">밸런스</span>
                                    <i class="delete-btn far fa-times-circle"></i>
                                </li>
                                <li>
                                    #<span class="tag-name">밸런스</span>
                                    <i class="delete-btn far fa-times-circle"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="img-wrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">카테고리 이미지 업로드 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="filebox preview-image">
                                <p class="cap">카테고리 아이콘 (* 이미지 사이즈: 128 x 128)</p>
                                <input class="upload-name" value="파일선택" disabled="disabled" >
                                <label for="input-file2">업로드</label>
                                <input type="file" id="input-file2" class="upload-hidden">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="method-li">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title">노출여부</p>
                        </div>
                        <div class="col-2">
                            <div class="radio-wrap">
                                <input type="radio" id="r4" name="rr" />
                                <label for="r4">노출<span></span></label>

                                <input type="radio" id="r5" name="rr" />
                                <label for="r5">비노출<span></span></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button class="completion-btn" type="submit">수정 완료</button>
                </li>
            </ul>

            <div class="modal-content">
                <div class="wrap">
                    <i class="close-btn fas fa-times-circle"></i>
                    <p class="modal-title">태그 추가</p>
                    <div class="list-common">
                        <div class="search-wrap">
                            <div class="search-box">
                                <input type="search" placeholder="태그명을 입력해주세요.">
                                <i class="search-btn fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="hash-tag-list clearfix">
                        <li>
                            #<span class="tag-name">밸런스</span>
                            <i class="delete-btn far fa-times-circle"></i>
                        </li>
                        <li>
                            #<span class="tag-name">밸런스</span>
                            <i class="delete-btn far fa-times-circle"></i>
                        </li>
                        <li>
                            #<span class="tag-name">밸런스</span>
                            <i class="delete-btn far fa-times-circle"></i>
                        </li>
                    </ul>
                    <div class="list-common-btn-wrap clearfix">
                        <div class="btn-wrap">
                            <button class="search" type="button">추가</button>
                        </div>
                    </div>
                    <div class="table-wrap modal-information">
                        <table>
                            <colgroup>
                                <col style="width:4%;">
                                <col style="width:48%;">
                                <col style="width:48%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>
                                        <div class="checkbox-wrap">
                                            <input type="checkbox" id="c5" name="cc" />
                                            <label for="c5"><span></span></label>
                                        </div>
                                    </th>
                                    <th>태그명</th>
                                    <th>사용횟수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox-wrap">
                                            <input type="checkbox" id="c6" name="cc" />
                                            <label for="c6"><span></span></label>
                                        </div>
                                    </td>
                                    <td>반려동물</td>
                                    <td>2000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="table-pagination clearfix">
                        <li><i class="fas fa-angle-double-left"></i></li>
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li><i class="fas fa-angle-double-right"></i></li>
                    </ul>
                    <button class="completion-btn" type="submit">등록 완료</button>
                </div>
            </div>
            <div class="modal-layout"></div>
        </div>
    </div>
</section>

<script>
    // select click event
    $(document).ready(function() {
        var selectTarget = $('.select-box select');

        selectTarget.change(function(){
            var select_name = $(this).children('option:selected').text();
            $(this).siblings('label').text(select_name);
        });
    });

    // input flie 변환
    $(document).ready(function(){
        var fileTarget = $('.filebox .upload-hidden');

        fileTarget.on('change', function(){
            if(window.FileReader){
                var filename = $(this)[0].files[0].name;
            } else {
                var filename = $(this).val().split('/').pop().split('\\').pop();
            }
            $(this).siblings('.upload-name').val(filename);
        });
    });


    // input preview image
    var imgTarget = $('.preview-image .upload-hidden');

    imgTarget.on('change', function(){
        var parent = $(this).parent();
        parent.children('.upload-display').remove();

        if(window.FileReader){
            //image 파일만
            if (!$(this)[0].files[0].type.match(/image\//)) return;

            var reader = new FileReader();
            reader.onload = function(e){
                var src = e.target.result;
                parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img src="'+src+'" class="upload-thumb"></div></div>');
            }
            reader.readAsDataURL($(this)[0].files[0]);
        }
        else {
            $(this)[0].select();
            $(this)[0].blur();
            var imgSrc = document.selection.createRange().text;
            parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img class="upload-thumb"></div></div>');

            var img = $(this).siblings('.upload-display').find('img');
            img[0].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\""+imgSrc+"\")";
        }
    });

    // modal event
    $('.add-btn').click(function () {
        $('.modal-layout').fadeIn();
        $('.modal-content').fadeIn();
    });
    $('.close-btn').click(function () {
        $('.modal-layout').fadeOut();
        $('.modal-content').fadeOut();
    });
    $('.modal-layout').click(function () {
        $('.modal-layout').fadeOut();
        $('.modal-content').fadeOut();
    });
</script>