<link rel="stylesheet" href="/assets/css/doit-category-list.css">
<section class="doit-category-list-page">
    <div class="inner clearfix">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">카테고리 관리</h2>
        </div>


        <div class="table-wrap category-list">
            <div class="top clearfix">
                <div class="right-wrap clearfix">
                    <p>Total <strong class="data-num"></strong></p>
                    <div class="select-box">
                        <label for="selPageLength"></label>
                        <select id="selPageLength">
                        </select>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button id="btnDelete" class="btn-danger" type="button"><i class="fas fa-minus-circle"></i>카테고리 삭제</button>
                </div>
            </div>

            <table>
                <colgroup>
                    <col style="width:5%;">
                    <col style="width:80%;">
                    <col style="width:15%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c1" name="cc" />
                                <label for="c1"><span></span></label>
                            </div>
                        </th>
                        <th>카테고리명</th>
                        <th>노출여부</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c2" name="cc" />
                                <label for="c2"><span></span></label>
                            </div>
                        </td>
                        <td>다이어트</td>
                        <td>
                            <div class="toggle-btn-wrap">
                                <div class="toggle-btn on">
                                    <input type="checkbox" class="checkbox">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="category-create">
            <ul>
                <li>
                    <p class="list-common-title">카테고리명 (*)</p>
                    <div class="input-wrap">
                        <input id="" type="text" class="length-input" placeholder="카테고리명을 입력해주세요."style="width: 100%;">
<!--                        <p class="length-count-wrap"><span class="count-input">0</span>/10</p>-->
                    </div>
                </li>
                <li>
                    <p class="list-common-title">노출여부 (*)</p>
                    <div class="checkbox-wrap" id="galleryWrap">
                        <input type="radio" id="c20" name="" value="Y"/>
                        <label for="c20">Y<span></span></label>

                        <input type="radio" id="c21" name="" value="N"/>
                        <label for="c21">N<span></span></label>
                    </div>
                </li>
            </ul>
            <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
        </div>
    </div>
</section>
