<link rel="stylesheet" href="/assets/css/create-common.css?version=<?php echo $this->config->item('version');?>">
<section class="category-create-page">
    <div class="inner">
        <h2 class="main-title">카테고리 등록</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">카테고리명(*)</p>
                        </div>
                        <div class="col-2">
                            <div class="input-wrap">
                                <input id="categoryName" type="text" class="length-input" placeholder="카테고리명을 입력해주세요." maxlength="8">
                                <p class="length-count-wrap"><span class="count-input">0</span>/8</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">카테고리 이미지 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="filebox preview-image">
                                <p class="cap">(이미지 사이즈: 120*120)</p>
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="categoryImage">업로드</label>
                                <input type="file" id="categoryImage" class="upload-hidden" data-width="120" data-height="120" data-oper="eq">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="doit-open">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">노출여부 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c20" name="radio-exposure" value="N"/>
                                <label for="c20">Y<span></span></label>

                                <input type="radio" id="c21" name="radio-exposure" value="Y"/>
                                <label for="c21">N<span></span></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
                </li>
            </ul>
        </div>
    </div>

</section>
<script src="/assets/js/plugins/client.min.js"></script>
<script src="/assets/js/plugins/socket.io.js"></script>
<script defer src="/assets/js/doit/category-create.js?version=<?php echo $this->config->item('version');?>"></script>
