<link rel="stylesheet" href="/assets/css/doit-talk-detail.css?version=<?php echo $this->config->item('version');?>">
<section class="doit-talk-detail-page">
    <div class="inner">
        <h2 class="main-title">두잇톡 상세</h2>
        <div class="wrap">
            <div class="enrollment">
                <table>
                    <tr>
                        <th>유형</th>
                        <td>공지</td>
                        <th>작성자</th>
                        <td>베리네모카</td>
                        <th>좋아요</th>
                        <td>10</td>
                        <th>신고</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td colspan="7" class="detail-data">
여러분~ 조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ
오늘밤 9시까지 꼭 인증해주세요 ㅎㅎㅎ
여러분~ 조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ
오늘밤 9시까지 꼭 인증해주세요 ㅎㅎㅎ
여러분~ 조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ
                        </td>
                    </tr>
                    <tr>
                        <th>두잇명</th>
                        <td>
                            <a href="#">물마시기 두잇</a>
                        </td>
                    </tr>
                </table>
            </div>


            <p class="enrollment-title">댓글</p>
            <div class="card-warp">
                <div class="card">
                    <div class="card-body line-aqua">
                        <div class="row">
                            <div class="flex-container left-wrap">
                                <div class="col">
                                    <strong class="nickname">베리네모카베리네모카베리네모카카</strong>
                                </div>
                                <div class="col">
                                    <p class="comment-1">여러분~ 조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ여러분~ 조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ여러분~ 조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="btn-comment"><i class="fas fa-comment"></i> <span>100</span></button>
                        </div>

                        <div class="right-wrap">
                            <div class="flex-container">
                                <div class="col">
                                    <span class="date">2020-12-01 00:00:00</span>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn-blind"><i class="fas fa-eye-slash"></i> 블라인드처리</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="open-box">
                        <div class="container">
                            <ul class="comment-wrap">
                                <li>
                                    └
                                    <strong class="nickname">깐깐찡어</strong>
                                    <span class="comment-2">조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ 조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ</span>
                                    <div class="right-wrap">
                                        <span class="date">2020-12-01 00:00:00</span>
                                        <button type="button" class="btn-blind"><i class="fas fa-eye-slash"></i> 블라인드처리</button>
                                    </div>
                                </li>
                                <li>
                                    └
                                    <strong class="nickname">베리네모카</strong>
                                    <span class="comment-2">조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ</span>
                                    <div class="right-wrap">
                                        <span class="date">2020-12-01 00:00:00</span>
                                        <button type="button" class="btn-blind"><i class="fas fa-eye-slash"></i> 블라인드처리</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="card">
                    <div class="card-body line-aqua">
                        <div class="row">
                            <div class="flex-container left-wrap">
                                <div class="col">
                                    <strong class="nickname">깐간찡어</strong>
                                </div>
                                <div class="col">
                                    <p class="comment-1">여러분~ 조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ여러분~ 조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="btn-comment"><i class="fas fa-comment"></i> <span>100</span></button>
                        </div>

                        <div class="right-wrap">
                            <div class="flex-container">
                                <div class="col">
                                    <span class="date">2020-12-01 00:00:00</span>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn-blind"><i class="fas fa-eye-slash"></i> 블라인드처리</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="open-box">
                        <div class="container">
                            <ul class="comment-wrap">
                                <li>
                                    └
                                    <strong class="nickname">깐깐찡어</strong>
                                    <span class="comment-2">조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ</span>
                                    <div class="right-wrap">
                                        <span class="date">2020-12-01 00:00:00</span>
                                        <button type="button" class="btn-blind"><i class="fas fa-eye-slash"></i> 블라인드처리</button>
                                    </div>
                                </li>
                                <li>
                                    └
                                    <strong class="nickname">베리네모카</strong>
                                    <span class="comment-2">조금만 더 인증해주시면 전체성공 가능해요 아직 5%정도 부족하네요 ㅠㅠ</span>
                                    <div class="right-wrap">
                                        <span class="date">2020-12-01 00:00:00</span>
                                        <button type="button" class="btn-blind"><i class="fas fa-eye-slash"></i> 블라인드처리</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>






            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" onclick="historyBack();">이전</a>
                    <a class="list-btn" href="/doit/talk">목록</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/assets/js/doit/doit-talk-detail.js?version=<?php echo $this->config->item('version');?>"></script>