<link rel="stylesheet" href="/assets/css/create-common.css">
<link rel="stylesheet" href="/assets/css/pro-create.css">
<section class="doit-update-page">
    <div class="inner">
        <h2 class="main-title">프로모션 두잇 수정</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li class="list-common clearfix" style="border-radius: 0; box-shadow: none; margin-bottom: 0;">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">두잇 유형 및 프로모션(*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="promotion"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">두잇명(*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="doitTitle"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">소개글 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="input-wrap">
                                <input id="doitDesc" type="text" class="length-input" placeholder="내용을 입력해주세요." maxlength="25">
                                <p class="length-count-wrap"><span class="count-input">0</span>/25</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="tag-list">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">태그(*)</p>
                            <i class="question-mark far fa-question-circle">
                                <span class="hover-text">최대 3개, 최대 5자까지 등록이 가능합니다.</span>
                            </i>
                        </div>
                        <div class="col-2">
                            <div class="tag-input-wrap">
                                <div class="input-wrap">
                                <input id="inputTag" class="tag-input length-input" type="text" placeholder="태그를 입력해주세요." maxlength="5">
                                    <p class="length-count-wrap"><span class="count-input">0</span>/5</p>
                                </div>
                                <button id="btnAddTag" class="add-btn" type="submit">
                                    <i class="fas fa-plus"></i>
                                    <span>ADD</span>
                                </button>
                            </div>
                            <ul id="addedTags" class="hash-tag-list clearfix">
                                <!--<li>
                                    #<span class="tag-name">밸런스</span>
                                    <i class="delete-btn far fa-times-circle"></i>
                                </li>
                                <li>
                                    #<span class="tag-name">밸런스</span>
                                    <i class="delete-btn far fa-times-circle"></i>
                                </li>
                                <li>
                                    #<span class="tag-name">밸런스</span>
                                    <i class="delete-btn far fa-times-circle"></i>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">두잇 소개 이미지 및 영상 업로드 (*)</p>
                        </div>
                        <div class="col-2">
                            <!--                    이미지 및 영상 라디오 선택시 관련 .wrap display block-->
                            <div class="radio-wrap" style="margin-bottom: 30px;">
                                <input type="radio" id="r10" name="radio-intro-type" value="image"/>
                                <label for="r10">이미지 <span></span></label>
                                <input type="radio" id="r11" name="radio-intro-type" value="video"/>
                                <label for="r11">영상 <span></span></label>
                            </div>
                            <div id="introFileArea" class="wrap">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">모집 인원 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="recruit"></p>
                        </div>
                    </div>
                </li>
                <li id="extraRewardWrap" class="reward-li">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title">공약 설정</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="extraReward"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">인증 기간 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="actionDate"></p>
                        </div>
                    </div>
                </li>
                <li class="time-li">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">인증 시간/간격 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="actionTime"></p>
                        </div>
                    </div>
                </li>
                <li class="doit-option-li">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">두잇옵션 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c2" name="chkAccessUser" />
                                <label class="code-btn" for="c2">참여자 제한<span></span></label>
                                <div class="code-wrap">
                                    <span class="input-num-title margin-left-text">참가코드</span>
                                    <input id="privateCode" class="code-input only-num" type="text" placeholder="숫자 4자리" maxlength="4">
                                </div>
                                <!--                                <div class="checkbox-wrap" style="margin-top: 15px;">-->
                                <!--                                    <input type="checkbox" id="c3" name="cc" />-->
                                <!--                                    <label for="c3">두잇 비공개<span></span></label>-->
                                <!--                                </div>-->
                                <!--                                <div class="checkbox-wrap" style="margin-top: 15px;">-->
                                <!--                                    <input type="checkbox" id="c4" name="cc" />-->
                                <!--                                    <label class="doit-option-contents-btn" for="c4">인증 콘텐츠 비공개<span></span></label>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </div>
                        </div>
                    </div>
                </li>
                <li class="method-li">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">인증방법 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="actionType"></p>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">인증 예시 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="wrap" id="actionResource">
                                <!--<div class="file">
                                    <p class="cap">썸네일 (* 이미지 사이즈: 650 x 650)</p>
                                    <img class="detail-img main-banner" src="" alt="썸네일 이미지입니다.">
                                </div>-->
                            </div>
                            <!--                            <div class="wrap">-->
                            <!--                                <p class="cap important">인증 방법 중 영상을 선택하셨습니다.</p>-->
                            <!--                                <div class="file">-->
                            <!--                                    <p class="cap">썸네일 (* 이미지 사이즈: 650 x 650)</p>-->
                            <!--                                    <img class="detail-img main-banner" src="/assets/images/test.png" alt="메인 배너 이미지입니다.">-->
                            <!--                                </div>-->
                            <!--                                <div class="file">-->
                            <!--                                    <p class="cap">영상</p>-->
                            <!--                                    <p class="detail-data">영상 경로 보여주기</p>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            <div class="wrap">-->
                            <!--                                <div class="file">-->
                            <!--                                    <p class="cap important">인증 방법 중 음성 녹음을 선택하셨습니다.</p>-->
                            <!--                                    <p class="detail-data">음성 경로 보여주기</p>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">인증 예시 설명 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="actionDesc"></p>
                        </div>
                    </div>
                </li>
                <!--                인증제외날짜 및 노출여부는 추후 개발 예정계획-->
                <!--                <li>-->
                <!--                    <div class="col-wrap clearfix">-->
                <!--                        <div class="col-1">-->
                <!--                            <p class="sub-title">인증 제외 날짜</p>-->
                <!--                        </div>-->
                <!--                        <div class="col-2">-->
                <!--                            <div class="tag-input-wrap">-->
                <!--                                <input class="tag-input" type="date">-->
                <!--                                <button class="add-btn" type="submit">-->
                <!--                                    <i class="fas fa-plus"></i>-->
                <!--                                    <span>ADD</span>-->
                <!--                                </button>-->
                <!--                            </div>-->
                <!--                            <ul class="hash-tag-list clearfix">-->
                <!--                                <li>-->
                <!--                                    <span class="tag-name">2020/04/25</span>-->
                <!--                                    <i class="delete-btn far fa-times-circle"></i>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <span class="tag-name">2020/04/25</span>-->
                <!--                                    <i class="delete-btn far fa-times-circle"></i>-->
                <!--                                </li>-->
                <!--                                <li>-->
                <!--                                    <span class="tag-name">2020/04/25</span>-->
                <!--                                    <i class="delete-btn far fa-times-circle"></i>-->
                <!--                                </li>-->
                <!--                            </ul>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </li>-->
                <li class="doit-open">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">두잇 노출 여부</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data">노출</p>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">수정 완료</button>
                </li>
            </ul>
        </div>
    </div>

</section>
<script src="/assets/js/doit/doit-update.js"></script>