<link rel="stylesheet" href="/assets/css/user-list.css?version=<?php echo $this->config->item('version');?>">
<section class="user-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">회원 정보 조회</h2>
        </div>

        <div id="modalBanUser" class="modal-content">
            <div class="wrap">
                <i class="close-btn fas fa-times-circle"></i>
                <p class="modal-title">이용정지</p>
                <ul class="modal-information">
                    <li>
                        <p class="sub-title">정지구분(*)</p>
                        <div class="radio-wrap">
                            <input type="radio" id="r1" name="radio-inactive" value="1"/>
                            <label for="r1"><span></span>일시정지</label>

                            <input type="radio" id="r2" name="radio-inactive" value="0"/>
                            <label for="r2"><span></span>영구정지</label>
                        </div>
                    </li>
                    <li>
                        <p class="sub-title">정지기간(*)</p>
                        <input id="period" type="text" class="only-num" maxlength="4">
                        <span class="input-num-title margin-text">일</span>
                    </li>
                    <li>
                        <p class="sub-title">정지사유(*)</p>
                        <textarea id="cause" placeholder="내용을 입력해주세요." name="text" id="ucd-area" cols="30" rows="10"></textarea>
                    </li>
                    <li class="clearfix">
                        <button id="btnSubmitBanUer" class="completion-btn" type="submit">발송</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-layout"></div>

        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">가입날짜</p>
                <div class="select-box">
                    <label for="date_type">가입일</label>
                    <select id="date_type">
                        <option value="created">가입일</option>
                    </select>
                </div>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="search_type">닉네임</label>
                    <select id="search_type">
                        <option value="nickname">닉네임</option>
                        <option value="profile_uuid">프로필 ID</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="doit-list-option">
            <ul class="clearfix">
                <li>
                    <p class="list-common-title">사용 구분</p>
                    <div class="radio-wrap">
                        <input type="radio" id="r11" name="radio-user-active" value=""/>
                        <label for="r11"><span></span>전체</label>

                        <input type="radio" id="r3" name="radio-user-active" value="Y"/>
                        <label for="r3"><span></span>사용</label>

                        <input type="radio" id="r4" name="radio-user-active" value="N"/>
                        <label for="r4"><span></span>미사용</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="list-common-btn-wrap list-search-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="search">검색</button>
                <button class="reset" type="reset">초기화</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="select-box">
                        <label for="selPageLength"></label>
                        <select id="selPageLength">
                        </select>
                    </div>
                    <p>Total <strong class="data-num"></strong></p>
                </div>
                <div class="btn-wrap">
                    <div class="btn-inner">
                        <!--
                           dev:
                           1.이미 이용정지인 경우  이용정지 제거 버튼 노출 (.delete-btn)
                           2. 비활성화 .btn-disabled 추가
                       -->
                        <!--<button id="btnModalBanUserOpen" class="stop-btn btn-disabled" type="button"><i class="fas fa-hand-paper"></i>이용정지</button>-->
<!--                        <button class="delete-btn" type="button"><i class="fas fa-minus-circle"></i>이용정지 해제</button>-->
                    </div>
                    <!--<button class="excel-btn" type="button"><i class="fas fa-table"></i>엑셀 다운받기</button>-->
                </div>
            </div>

            <table id="dataTable">
                <!--<colgroup>
                    <col style="width:5%;">
                    <col style="width:24.25%;">
                    <col style="width:24.25%;">
                    <col style="width:24.25%;">
                    <col style="width:19.25%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c5" name="cc" />
                                <label for="c5"><span></span></label>
                            </div>
                        </th>
                        <th>닉네임</th>
                        <th>이메일</th>
                        <th>휴대전화</th>
                        <th>가입일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c6" name="cc" />
                                <label for="c6"><span></span></label>
                            </div>
                        </td>
                        <td><a href="#">베리베리</a></td>
                        <td>Ldh53**@yanadoo.co.kr</td>
                        <td>010-****-0000</td>
                        <td>2019/11/07</td>
                    </tr>
                </tbody>-->
            </table>
            <!--<ul class="table-pagination clearfix">
                <li><i class="fas fa-angle-double-left"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fas fa-angle-double-right"></i></li>
            </ul>-->
        </div>
    </div>
</section>
<script src="/assets/js/user/user-list.js?version=<?php echo $this->config->item('version');?>"></script>
