<link rel="stylesheet" href="/assets/css/common.css">
<link rel="stylesheet" href="/assets/css/user-detail.css">

<section class="user-detail-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title" style="display: inline-block;">회원 정보 조회 상세</h2>
            <button id="btnUcdManualRegist" type="button" style="float: right;">
                <i class="fas fa-plus"></i>회원UCD 충전
            </button>
        </div>

        <div class="wrap clearfix">

            <div class="move-section-wrap">

                <!-- 기본정보 -->
                <div class="user-info-01">
                    <p class="enrollment-title" style="margin-top: 0;">기본 정보</p>
                    <ul class="enrollment clearfix">
                        <li>
                            <div class="col-wrap clearfix">
                                <div class="col-1">
                                    <p class="sub-title important">프로필 ID</p>
                                </div>
                                <div class="col-2">
                                    <p id="profileId" class="detail-data"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-wrap clearfix">
                                <div class="col-1">
                                    <p class="sub-title important">닉네임</p>
                                </div>
                                <div class="col-2">
                                    <p id="nickname" class="detail-data"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-wrap clearfix">
                                <div class="col-1">
                                    <p class="sub-title important">보유 UCD</p>
                                </div>
                                <div class="col-2">
                                    <p class="ucd-data" style="margin-bottom: 10px;">
                                        <span id="balance"></span>UCD
                                    </p>
                                    <dl class="ucd-data clearfix">
                                        <dt>- UCD(c) :</dt>
                                        <dd><span id="cash"></span>UCD</dd>
                                    </dl>
                                    <dl class="ucd-data clearfix">
                                        <dt>- UCD(p) :</dt>
                                        <dd><span id="point"></span>UCD</dd>
                                    </dl>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 회원정보 -->
                <div class="user-info-02">
                    <p class="enrollment-title">회원 정보</p>
                    <ul class="enrollment clearfix">
                    <li>
                        <div class="col-wrap clearfix">
                            <div class="col-1">
                                <p class="sub-title important">사용 서비스</p>
                            </div>
                            <div class="col-2">
                                <p id="joinService" class="detail-data"></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-wrap clearfix">
                            <div class="col-1">
                                <p class="sub-title important">연락처</p>
                            </div>
                            <div class="col-2">
                                <p id="contact" class="detail-data"></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-wrap clearfix">
                            <div class="col-1">
                                <p class="sub-title important">이메일</p>
                            </div>
                            <div class="col-2">
                                <p id="email" class="detail-data"></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-wrap clearfix">
                            <div class="col-1">
                                <p class="sub-title important">인증여부</p>
                            </div>
                            <div class="col-2">
                                <p id="isAuth" class="detail-data"></p>
                            </div>
                        </div>
                    </li>
                </ul>
                </div>
                <!-- 두잇정보 -->
                <div class="doit-info">
                    <p class="enrollment-title">두잇 정보</p>
                    <ol class="table-btn-wrap user-doit-tab clearfix">
                        <li id="tabOpened" class="active">개설</li>
                        <li id="tabJoined">참여</li>
                    </ol>
                    <!--개설-->
                    <div id="openedWrap" class="doit-01">
                        <div class="table-wrap" style="margin-top: 0;">
                        <table id="openedTable" style="margin-top: 0;">
                           <!--<colgroup>
                               <col style="width:30%;">
                               <col style="width:10%;">
                               <col style="width:10%;">
                               <col style="width:10%;">
                               <col style="width:10%;">
                               <col style="width:10%;">
                               <col style="width:10%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>두잇명</th>
                                <th>리워드 UCD</th>
                                <th>사용 UCD</th>
                                <th>참여자 수</th>
                                <th>목표달성률(%)</th>
                                <th>평균달성률(%)</th>
                                <th>개설일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>댕댕이 산책시키기</td>
                                <td>200,000</td>
                                <td>103,000</td>
                                <td>10</td>
                                <td>80</td>
                                <td>80</td>
                                <td>2020-01-01</td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <p class="sub-title important"></p>
                                    <div class="scroll-box">
                                        <ol class="detail-data clearfix">
                                           <li><img src="/assets/images/test.png" alt=""></li>
                                            <li><img src="/assets/images/test.png" alt=""></li>
                                            <li><img src="/assets/images/test.png" alt=""></li>
                                            <li><img src="/assets/images/test.png" alt=""></li>
                                            <li><img src="/assets/images/test.png" alt=""></li>
                                        </ol>
                                    </div>
                                </td>
                            </tr>
                            </tbody>-->
                        </table>
                        <!--<ul class="table-pagination clearfix">
                            <li><i class="fas fa-angle-double-left"></i></li>
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li><i class="fas fa-angle-double-right"></i></li>
                        </ul>-->
                    </div>
                    </div>
                    <!--참여-->
                    <div id="joinedWrap" class="doit-02" style="display: none; margin-top: 0;">
                        <div class="table-wrap" style="margin-top: 0;">
                            <table id="joinedTable" style="margin-top: 0;">
                                <!--<colgroup>
                                    <col style="width:35%;">
                                    <col style="width:10%;">
                                    <col style="width:10%;">
                                    <col style="width:15%;">
                                    <col style="width:15%;">
                                    <col style="width:15%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>두잇명</th>
                                    <th>리워드 UCD</th>
                                    <th>적립 UCD</th>
                                    <th>목표달성률(%)</th>
                                    <th>평균달성률(%)</th>
                                    <th>참여일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>댕댕이 산책시키기</td>
                                    <td>103,000</td>
                                    <td>30,000</td>
                                    <td>80</td>
                                    <td>80</td>
                                    <td>2020-10-10</td>
                                </tr>
                                </tbody>-->
                            </table>
                            <!--<ul class="table-pagination clearfix">
                                <li><i class="fas fa-angle-double-left"></i></li>
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li><i class="fas fa-angle-double-right"></i></li>
                            </ul>-->
                        </div>
                    </div>
                </div>
                <!-- UCD 사용내역 -->
                <div class="user-ucd">
                    <p class="enrollment-title">UCD 사용 내역</p>

                    <div class="table-wrap">
                        <table id="usageHisTable">
                           <!-- <colgroup>
                                <col style="width:10%;">
                                <col style="width:10%;">
                                <col style="width:15%;">
                                <col style="width:15%;">
                                <col style="width:35%;">
                                <col style="width:15%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>유형</th>
                                <th>구분</th>
                                <th>금액</th>
                                <th>제목</th>
                                <th>내용</th>
                                <th>일시</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="minus-pay">
                                <td>UCD(c)</td>
                                <td>취소</td>
                                <td>-10,000</td>
                                <td>충전</td>
                                <td>일반 두잇 개설 취소</td>
                                <td>2020/11/11</td>
                            </tr>
                            <tr>
                                <td>UCD(p)</td>
                                <td>충전</td>
                                <td>10,000</td>
                                <td>충전</td>
                                <td>일반 두잇 개설 취소</td>
                                <td>2020/11/11</td>
                            </tr>
                            </tbody>-->
                        </table>
                        <!--<ul class="table-pagination clearfix">
                            <li><i class="fas fa-angle-double-left"></i></li>
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li><i class="fas fa-angle-double-right"></i></li>
                        </ul>-->
                        </div>

                </div>
                <!-- 사용자 로그 -->
                <!--<div class="user-log">
                    <p class="enrollment-title">사용자 로그</p>

                    <div class="table-wrap">
                        <table>
                            <colgroup>
                                <col style="width:40%;">
                                <col style="width:10%;">
                                <col style="width:15%;">
                                <col style="width:15%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>경로</th>
                                <th>날짜</th>
                                <th>구분</th>
                                <th>활동</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>pormotion/detail</td>
                                <td>2010/11/11</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>pormotion/detail</td>
                                <td>2010/11/11</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>pormotion/detail</td>
                                <td>2010/11/11</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>pormotion/detail</td>
                                <td>2010/11/11</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>pormotion/detail</td>
                                <td>2010/11/11</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>pormotion/detail</td>
                                <td>2010/11/11</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>pormotion/detail</td>
                                <td>2010/11/11</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>pormotion/detail</td>
                                <td>2010/11/11</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>pormotion/detail</td>
                                <td>2010/11/11</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>pormotion/detail</td>
                                <td>2010/11/11</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            </tbody>
                        </table>
                        &lt;!&ndash;<ul class="table-pagination clearfix">
                            <li><i class="fas fa-angle-double-left"></i></li>
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li><i class="fas fa-angle-double-right"></i></li>
                        </ul>&ndash;&gt;
                    </div>
                </div>-->

            </div>

            <ol class="enrollment move-tab">
                <li data-moveto="user-info-01">기본 정보</li>
                <li data-moveto="user-info-02">회원 정보</li>
                <li data-moveto="doit-info">두잇 정보</li>
                <li data-moveto="user-ucd">UCD 사용 내역</li>
                <!--<li data-moveto="user-log">사용자 로그</li>-->
            </ol>

        </div>


            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" href="/user/lists">목록</a>
                </div>
            </div>

    </div>

    <div class="modal-wrap">
        <div class="modal-content modal-01">
            <div class="wrap">
                <i class="close-btn fas fa-times-circle"></i>
                <p class="modal-title">회원 UCD 충전 등록</p>
                <ul class="modal-information">
                    <li>
                        <p class="sub-title">유형 *</p>
                        <div class="radio-wrap">
                            <input type="radio" id="r1" name="radio-division" value="0"/>
                            <label for="r1"><span></span>cash</label>

                            <input type="radio" id="r2" name="radio-division" value="1"/>
                            <label for="r2"><span></span>point</label>

                        </div>
                    </li>
                    <li>
                        <p class="sub-title">
                            UCD *
                            <i class="question-mark far fa-question-circle">
                                <span class="hover-text">최대 1백만UCD까지 가능합니다.</span>
                            </i>
                        </p>
                        <input id="amount" type="text" class="only-num" maxlength="7">
                        <span class="input-num-title">UCD</span>
                    </li>
                    <li>
                        <div class="col-wrap clearfix">
                            <div class="col-1">
                                <p class="sub-title important">내용(*)</p>
                            </div>
                            <div class="col-2 clearfix">
                                <textarea cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </li>
                </ul>
                <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
            </div>
        </div>
        <div class="modal-layout"></div>
    </div>
    <input type="hidden" id="profile_uuid" value="<?php if(isset($profile_uuid)) echo $profile_uuid ?>"/>
</section>
<script src="/assets/js/user/user-detail.js"></script>

