<link rel="stylesheet" href="/assets/css/pro-create.css">

<section class="pro-detail-page">
    <div class="inner">
        <h2 class="main-title">프로모션 상세</h2>
        <div class="table-btn-wrap clearfix">
            <li class="active" id="tabPromo">프로모션</li>
            <li id="tabDoit">개설 두잇</li>
        </div>
        <div class="wrap">
            <div id="promoDetail">
                <ul class="enrollment clearfix">
                    <li>
                        <p class="sub-title important">스폰 기업명 (*)</p>
                        <p class="detail-data" id="bizName"></p>
                    </li>
                    <li class="tag-list">
                        <p class="sub-title important">프로모션명 (*)</p>
                        <p class="detail-data" id="promoName"></p>
                    </li>
                    <li>
                        <p class="sub-title important">프로모션 예산 (*)</p>
                        <p class="detail-data" id="budget"></p>
                    </li>
                    <li>
                        <p class="sub-title important">프로모션 기간 (*)</p>
                        <p class="detail-data" id="period"></p>
                    </li>
                    <li>
                        <p class="sub-title important">유의사항 (*)</p>
                        <p class="detail-data">유의사항 1 : 조심하자</p>
                        <p class="detail-data">유의사항 2 : 조심하자</p>
                        <p class="detail-data">유의사항 3 : 조심하자</p>
                    </li>
                    <li>
                        <p class="sub-title important">프로모션 참여 가능 횟수 (*)</p>
                        <p class="detail-data">5회</p>
                    </li>
                    <li class="img-list clearfix">
                        <p class="sub-title important">이미지 (*)</p>
                        <div class="wrap">
                            <p class="cap">배너 및 리스트 (* 이미지 사이즈: 656 x 420)</p>
                            <img id="banner" class="detail-img main-banner" src="" alt="메인 배너 이미지입니다.">
                        </div>
                        <div class="wrap">
                            <p class="cap">소개 (* 이미지 사이즈: 656 x 420 이상)</p>
                            <img id="thumbnail" class="detail-img" src="" alt="리스트 썸네일 이미지입니다.">
                        </div>
                    </li>
<!--                    <li>-->
<!--                        <p class="sub-title important">두잇 개설 유형 (*)</p>-->
<!--                        <p class="detail-data" id="createType">사용자 두잇 개설 허용</p>-->
<!--                    </li>-->
                    <li>
                        <p class="sub-title important">프로모션 메인 슬라이드 배너 노출 여부 (*)</p>
                        <p class="detail-data" id="isExposure"></p>
                    </li>
                    <li>
                        <p class="sub-title important">리워드 조건 지정 (*)</p>
                        <ul class="hash-tag-list reward-list clearfix">
                            <li id="hash-tag-btn">
                                Title 01.<span class="tag-name">밸런스</span>
                                <i class="delete-btn far fa-times-circle"></i>
                            </li>
                            <li>
                                Title 02.<span class="tag-name">밸런스</span>
                                <i class="delete-btn far fa-times-circle"></i>
                            </li>
                            <li>
                                Title 03.<span class="tag-name">밸런스</span>
                                <i class="delete-btn far fa-times-circle"></i>
                            </li>
                            <li>
                                Title 04.<span class="tag-name">밸런스</span>
                                <i class="delete-btn far fa-times-circle"></i>
                            </li>
                            <li>
                                Title 05.<span class="tag-name">밸런스</span>
                                <i class="delete-btn far fa-times-circle"></i>
                            </li>
                        </ul>

                        <div class="modal-content" id="hash-tag-contents">
                            <div class="wrap">
                                <i class="close-btn fas fa-times-circle"></i>
                                <p class="modal-title">입력하신 리워드 조건입니다.</p>
                                <ul class="pro-reward modal-information">
                                    <li>
                                        <p class="sub-title important">리워드 제목 (*)</p>
                                        <p class="detail-data">나이키</p>
                                    </li>
                                    <li>
                                        <p class="sub-title important">두잇 참여 인원 (*)</p>
                                        <p class="detail-data">최소 1명 ~ 최대 5명</p>
                                    </li>
                                    <li>
                                        <p class="sub-title important">인증 기간 (*)</p>
                                        <p class="detail-data">7일</p>
                                    </li>
                                    <li>
                                        <p class="sub-title important">일일인증 횟수 (*)</p>
                                        <p class="detail-data">5회</p>
                                    </li>
                                    <li>
                                        <p class="sub-title important" style="display: inline-block;">목표달성률 (*)</p>
                                        <p class="detail-data">80%</p>
                                    </li>
                                    <li class="method-li">
                                        <p class="sub-title important">1인당 최대 지급할 UCD (*)</p>
                                        <p class="detail-data">5000 UCD</p>
                                    </li>
                                    <li class="reward-typ-li clearfix">
                                        <p class="sub-title important" style="display: inline-block;">리워드 비율 (*)</p>
                                        <p class="detail-data">개인 10% : 단체 90% </p>
                                    </li>
                                    <li>
                                        <p class="sub-title important">주간 빈도 (*)</p>
                                        <p class="detail-data">월, 화, 수</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button class="completion-btn" type="submit">수정 하기</button>
                    </li>
                </ul>
            </div>


            <div id="involveDoit" class="table-wrap" style="display: none;">
                <div class="top clearfix">
                    <div class="left-wrap clearfix">
                        <div class="select-box">
                            <label for="selPageLength">10개씩 보기</label>
                            <select id="selPageLength">
                                <option value="10">10개씩 보기</option>
                                <option value="20">20개씩 보기</option>
                                <option value="30">30개씩 보기</option>
                            </select>
                        </div>
                        <p>Total <strong class="data-num">10</strong></p>
                    </div>
                    <div class="btn-wrap">
                        <button class="excel-btn" type="button"><i class="fas fa-table"></i>엑셀 다운받기</button>
                    </div>
                </div>

                <table id="dataTable">
                    <!--<colgroup>
                        <col style="width:3%;">
                        <col style="width:16.16%;">
                        <col style="width:22.16%;">
                        <col style="width:22.16%;">
                        <col style="width:16.16%;">
                        <col style="width:16.16%;">
                        <col style="width:10.16%;">
                        <col style="width:10.16%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>두잇 ID</th>
                            <th>두잇 명</th>
                            <th>인증기간</th>
                            <th>진행 상태</th>
                            <th>개설자</th>
                            <th>승인여부</th>
                            <th>수정자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>AA01010</td>
                            <td><a href="#">안알랴쥼쥼ㅈ뮺뮤쥬쥬뮤쥬뮤쥬쥼</a></td>
                            <td>2020-04-08 ~ 2020-04-08</td>
                            <td>결과대기</td>
                            <td>admin01</td>
                            <td>미승인</td>
                            <td>admin01</td>
                        </tr>
                    </tbody>-->
                </table>

                <!--<ul class="table-pagination clearfix">
                    <li><i class="fas fa-angle-double-left"></i></li>
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li><i class="fas fa-angle-double-right"></i></li>
                </ul>-->
            </div>

        </div>
    </div>
</section>
<script src="/assets/js/promotion/promotion-detail.js"></script>
