<section class="list-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">뱃지 관리</h2>
            <a href="/v2/member/badge/create"><i class="fas fa-plus"></i>뱃지 등록</a>
        </div>

        <div class="search-wrap row">
            <div class="col-12">
                <ul class="card">
                    <li>
                        <p class="search-title">검색어</p>
                        <div class="form-box clearfix">
                            <select id="selSearchType" class="select-box">
                                <option value="title_description">뱃지명/설명</option>
                            </select>
                            <div class="search-txt-wrap">
                                <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="search-wrap row">
            <div class="col-3">
                <div class="card clearfix">
                    <p class="search-title">타입</p>
                    <select id="selType" class="select-box">
                        <option value="all">전체</option>
                        <option value="ongoing">연속 인증</option>
                        <option value="action">누적 인증</option>
                        <option value="leader">리더 랭킹</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="card clearfix">
                    <p class="search-title">공개여부</p>
                    <div class="radio-wrap">
                        <input id="r1" type="radio" name="radio-open" value="all" checked>
                        <label for="r1"><span></span>전체</label>

                        <input id="r2" type="radio" name="radio-open" value="Y">
                        <label for="r2"><span></span>Y</label>

                        <input id="r3" type="radio" name="radio-open" value="N">
                        <label for="r3"><span></span>N</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-btn row">
            <button id="btnSearch" type="submit" class="btn btn-primary">검색</button>
            <button id="btnReset" type="reset" class="btn btn-outline-primary">초기화</button>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num"></strong></p>
                        <select id="selPageLength" class="select-box">
                        </select>
                    </div>
                </div>
            </div>
            <table id="dataTable">
                <!--<thead>
                <colgroup>
                    <col style="width: 15%;">
                    <col style="width: 20%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead>
                <tr>
                    <th>뱃지명</th>
                    <th>설명</th>
                    <th>타입</th>
                    <th>취득조건</th>
                    <th>난이도</th>
                    <th>이미지</th>
                    <th>노출여부</th>
                    <th>등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="badge/detail">TOP1</a></td>
                    <td>리더랭킹 1위달성</td>
                    <td>리더랭킹</td>
                    <td>1</td>
                    <td>920</td>
                    <td>
                        <div class="list-img-wrap">
                            <img src="/assets/v2/img/profile-1.png" alt="">
                        </div>
                    </td>
                    <td>Y</td>
                    <td>2020-04-01 00:00:00</td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/bundles/badge-list.bundle.js?version=<?php echo $this->config->item('version');?>"></script>