<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">벳지 등록</h2>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>뱃지명 *</th>
                        <td>
                            <div class="input-wrap">
                                <input id="title" type="text" class="length-input" placeholder="뱃지명을 입력해주세요." maxlength="7">
                                <p class="length-count-wrap"><span class="count-input">0</span>/7</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>설명 *</th>
                        <td>
                            <div class="textarea-wrap">
                                <textarea id="content" class="length-input" maxlength="60" rows="2" placeholder="설명을 입력해주세요."></textarea>
                                <p class="length-count-wrap"><span class="count-input">0</span>/60</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>타입 *</th>
                        <td>
                            <select id="selType" class="select-box">
                                <option value="ongoing">연속 인증</option>
                                <option value="action">누적 인증</option>
                                <option value="leader">리더 랭킹</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>취득조건 *</th>
                        <td>
                            <div class="ucd-input-wrap">
                                <input id="qualification" type="text" maxlength="7">
                                <span>회/위</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>난이도 *</th>
                        <td>
                            <div class="ucd-input-wrap">
                                <input id="difficulty" type="text" maxlength="7">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>이미지 *</th>
                        <td>
                            <p class="desc-sub">업로드 사이즈 : 200 * 200</p>
                            <div class="file-wrap preview-image">
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="contentImage">업로드</label>
                                <input type="file" id="contentImage" class="upload-hidden" data-width="200" data-height="200" data-compare="같음" accept="image/png, image/jpg, image/jpeg">
                            </div>
                            <!--<div class="detail-img-wrap">
                                <img src="" alt="">
                            </div>-->
                        </td>
                    </tr>
                    <tr>
                        <th>팝업 이미지 *</th>
                        <td>
                            <p class="desc-sub">업로드 사이즈 : 400 * 400 </p>
                            <div class="file-wrap preview-image">
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="popupImage">업로드</label>
                                <input type="file" id="popupImage" class="upload-hidden" data-width="400" data-height="400" data-compare="같음" accept="image/png, image/jpg, image/jpeg">
                            </div>
                            <!--<div class="detail-img-wrap">
                                <img src="" alt="">
                            </div>-->
                        </td>
                    </tr>
                    <tr>
                        <th>팝업 Lottie 타입</th>
                        <td>
                            <div class="radio-wrap">
                                <input  id="r4" type="radio" name="radio-type" value="stoke_1_lottie" checked>
                                <label for="r4"><span></span>stoke_1_lottie</label>

                                <input  id="r5" type="radio" name="radio-type" value="stoke_2_lottie">
                                <label for="r5"><span></span>stoke_2_lottie</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>공개 여부</th>
                        <td>
                            <div class="radio-wrap">
                                <input  id="r2" type="radio" name="radio-open" value="Y" checked>
                                <label for="r2"><span></span>Y</label>

                                <input  id="r3" type="radio" name="radio-open" value="N">
                                <label for="r3"><span></span>N</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">등록 완료</button>
        </div>
    </div>
</section>
<script type="module" src="/assets/v2/js/badge/badge-create.js?version=<?php echo $this->config->item('version');?>"></script>

