<link rel="stylesheet" href="/assets/v2/css/member.css?version=<?php echo $this->config->item('version');?>">
<section class="list-page level-list">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">레벨 관리</h2>
        </div>

        <div class="row top">
            <div class="col-2">
                <div class="card active" id="1">
                    <p class="title"><span>Lv.</span>비기너</p>
                    <p class="user"><i class="fas fa-user"></i> <span class="num" id="countLevel1"></span></p>
                    <img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level1_beginner_main_img.svg" alt="비기너">
                </div>
            </div>
            <div class="col-2">
                <div class="card" id="2">
                    <p class="title"><span>Lv.</span>루키</p>
                    <p class="user"><i class="fas fa-user"></i> <span class="num" id="countLevel2"></span></p>
                    <img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level2_rookie_main_img.svg" alt="루키">
                </div>
            </div>
            <div class="col-2">
                <div class="card" id="3">
                    <p class="title num"><span>Lv.</span>프로</p>
                    <p class="user"><i class="fas fa-user"></i> <span class="num" id="countLevel3"></span></p>
                    <img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level3_pro_main_img.svg" alt="프로">
                </div>
            </div>
            <div class="col-2">
                <div class="card" id="4">
                    <p class="title"><span>Lv.</span>마스터</p>
                    <p class="user"><i class="fas fa-user"></i> <span class="num" id="countLevel4"></span></p>
                    <img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level4_master_main_img_1.svg" alt="마스터">
                </div>
            </div>
            <div class="col-2">
                <div class="card" id="5">
                    <p class="title"><span>Lv.</span>레전드</p>
                    <p class="user"><i class="fas fa-user"></i> <span class="num" id="countLevel5"></span></p>
                    <img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level5_legend_main_img.svg" alt="레전드">
                </div>
            </div>
            <div class="col-2">
                <div class="card" id="6">
                    <p class="title"><span>Lv.</span>파트너</p>
                    <p class="user"><i class="fas fa-user"></i> <span class="num" id="countLevel6"></span></p>
                    <img src="https://youcandoo.yanadoocdn.com/v3/youcandoo/assets/images/webviewimg/v3/level0_partner_main_img.svg" alt="파트너">
                </div>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num"></strong></p>
                        <select id="selPageLength" class="select-box">
                        </select>
                    </div>
                </div>
                <!--<div class="btn-wrap">
                    <button id="btnSetLevel" type="button" class="btn-sm btn-warning"><i class="fas fa-level-up-alt"></i> Lv.파트너 설정</button>
                    <button id="" type="button" class="btn-sm btn-success"><i class="fas fa-level-down-alt"></i> Lv.레전드 설정</button>
                </div>-->
            </div>
            <table id="dataTable">
                <!--<thead>
                <colgroup>
                    <col style="width: 20%;">
                    <col style="width: 50%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead>
                <tr>
                    <th>닉네임</th>
                    <th>P-ID</th>
                    <th>누적 인증 수</th>
                    <th>가입일시</th>
                    <th>
                        <div class="checkbox-wrap">
                            <input id="c1" type="checkbox">
                            <label for="c1"><span></span></label>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="/v2/member/detail">베리네모카</a></td>
                    <td>
                        COM-F91A966E-8242-9D7B-42F5-53993F0860AF
                    </td>
                    <td>100</td>
                    <td>2020-04-01 00:00:00</td>
                    <td>
                        <div class="checkbox-wrap">
                            <input id="c2" type="checkbox">
                            <label for="c2"><span></span></label>
                        </div>
                    </td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/bundles/member-level-list.bundle.js?version=<?php echo $this->config->item('version');?>"></script>