<link rel="stylesheet" href="/assets/css/biz-detail.css">
<section class="biz-detail-page">
    <div class="inner">
        <h2 class="main-title">비즈 상세</h2>
        <div class="wrap">
            <div class="enrollment clearfix">
                <div class="biz-img">
                    <p class="sub-title important">프로필 이미지(*)</p>
                    <img id="bizProfileImg" class="detail-img" src="" alt="프로필 이미지입니다.">
                </div>
                <ul class="biz-info">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">회사명(*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="bizName">나이키</p>
                        </div>
                    </div>
                </li>
                <li class="tag-list">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">사업자 번호(*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="bizNumber"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">홈페이지 링크 (*)</p>
                        </div>
                        <div id="bizLink" class="col-2">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">소개 내용 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="bizDesc"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">보유 UCD (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="biz-ucd-data" style="margin-bottom: 10px;">
                                <span id="balance"></span>UCD
                            </p>
                            <dl class="biz-ucd-data clearfix">
                                <dt>- UCD(c) :</dt>
                                <dd><span id="cash"></span>UCD</dd>
                            </dl>
                            <dl class="biz-ucd-data clearfix">
                                <dt>- UCD(p) :</dt>
                                <dd><span id="point"></span>UCD</dd>
                            </dl>
                        </div>
                    </div>
                </li>
            </ul>
            </div>
            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" href="/biz/lists">목록</a>
                    <a class="update-btn" id="goUpdate">수정</a>
                </div>
            </div>

            <p class="enrollment-title">프로모션 정보</p>
            <div class="table-wrap">
                <div class="top clearfix">
                    <div class="left-wrap clearfix">
                        <div class="select-box">
                            <label for="selPageLength">10개씩 보기</label>
                            <select id="selPageLength">
                                <option value="10">10개씩 보기</option>
                                <option value="20">20개씩 보기</option>
                                <option value="30">30개씩 보기</option>
                            </select>
                        </div>
                        <p>Total <strong class="data-num"></strong></p>
                    </div>
                    <div class="btn-wrap">
                        <!--<button class="excel-btn" type="button"><i class="fas fa-table"></i>엑셀 다운받기</button>-->
                    </div>
                </div>

                <table id="dataTable">
                    <!--<colgroup>
                        <col style="width:4%;">
                        <col style="width:24%;">
                        <col style="width:24%;">
                        <col style="width:24%;">
                        <col style="width:24%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>프로모션명</th>
                        <th>기간</th>
                        <th>프로모션 예산</th>
                        <th>노출여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="#">안알랴쥼쥼ㅈ뮺뮤쥬쥬뮤쥬뮤쥬쥼</a></td>
                        <td>2020-04-08 ~ 2020-04-08</td>
                        <td>30,000,000원</td>
                        <td>노출</td>
                    </tr>
                    </tbody>-->
                </table>

                <!--<ul class="table-pagination clearfix">
                    <li><i class="fas fa-angle-double-left"></i></li>
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li><i class="fas fa-angle-double-right"></i></li>
                </ul>-->
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/biz/biz-detail.js"></script>