<link rel="stylesheet" href="/assets/css/create-common.css?version=<?php echo $this->config->item('version');?>">
<section class="biz-create-page">
    <div class="inner">
        <h2 class="main-title">비즈 계정 수정</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important" style="display: inline-block;" >회사명</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="bizName"></p>
                        </div>
                    </div>
                </li>
                <li class="tag-list">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">사업자 번호</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="bizNumber"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">프로필 이미지 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="filebox preview-image">
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="bizProfileImg">업로드</label>
                                <input type="file" id="bizProfileImg" class="upload-hidden">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">홈페이지 링크(*)</p>
                        </div>
                        <div class="col-2">
                            <input id="bizLink" type="text" placeholder="https:// 포함해서 입력해주세요.">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important" style="display: inline-block;">소개 내용(*)</p>
                        </div>
                        <div class="col-2">
                            <div class="textarea-wrap">
                                <textarea placeholder="내용을 입력해주세요." id="bizDesc" class="length-input" name="text" cols="30" rows="10" style="float: left;" maxlength="100"></textarea>
                                <p class="length-count-wrap"><span class="count-input">0</span>/100</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">수정 완료</button>
                </li>
            </ul>
        </div>
    </div>
</section>
<script defer src="/assets/js/biz/biz-update.js?version=<?php echo $this->config->item('version');?>"></script>