<section class="biz-create-page">
    <div class="inner">
        <h2 class="main-title">비즈 신규 등록</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <p class="sub-title important" style="display: inline-block;" >회사명(*)</p>
                    <i class="question-mark far fa-question-circle" style="vertical-align: inherit; margin-left: 5px;">
                        <span class="hover-text">* 최대 10자까지 가능합니다.</span>
                    </i>
                    <input id="bizName" type="text" placeholder="회사명을 입력해주세요." maxlength="10" style="display: block;">
                </li>
                <li class="tag-list">
                    <p class="sub-title important">사업자 번호(*)</p>
                    <input id="bizNo" type="text" class="only-num" placeholder="- 제외 숫자만 입력" maxlength="10">
                </li>
                <li class="clearfix">
                    <p class="sub-title important">프로필 이미지 (*)</p>
                    <div class="filebox preview-image">
                        <input class="upload-name" value="파일선택" disabled="disabled">
                        <label for="profileImage">업로드</label>
                        <input type="file" id="profileImage" class="upload-hidden">
                    </div>
                </li>
                <li>
                    <p class="sub-title important">홈페이지 링크(*)</p>
                    <input id="homepage" type="text" placeholder="https:// 포함해서 입력해주세요.">
                </li>
                <li>
                    <p class="sub-title important" style="display: inline-block;">소개 내용(*)</p>
                    <i class="question-mark far fa-question-circle" style="vertical-align: inherit; margin-left: 5px;">
                        <span class="hover-text">* 최대 100자까지 입력이 가능합니다.</span>
                    </i>
                    <textarea maxlength="100" id="bizDesc" placeholder="내용을 입력해주세요." name="text" cols="30" rows="10"></textarea>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
                </li>
            </ul>
        </div>
    </div>
</section>
<script src="/assets/js/biz/biz-create.js"></script>