<link rel="stylesheet" href="/assets/css/biz-detail.css">
<section class="biz-detail-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">비즈 계정 상세</h2>
            <button id="btnUcdModalOpen" type="button" class="more-info-btn" style="float: right;width:180px;">
                <i class="fas fa-plus"></i> 기업 UCD 충전/취소
            </button>
        </div>
        <div class="wrap">
            <div class="enrollment clearfix">
                <div class="biz-img">
                    <p class="sub-title important">프로필 이미지(*)</p>
                    <img id="bizProfileImg" class="detail-img" src="" alt="프로필 이미지입니다." style="width: 200px;">
                </div>
                <ul class="biz-info">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">회사명(*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="bizName"></p>
                        </div>
                    </div>
                </li>
                <li class="tag-list">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">사업자 번호(*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="bizNumber"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">홈페이지 링크 (*)</p>
                        </div>
                        <div id="bizLink" class="col-2">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">소개 내용 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="bizDesc"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">보유 UCD (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="biz-ucd-data" style="margin-bottom: 10px;">
                                <span id="balance"></span>UCD
                            </p>
                            <!--<dl class="biz-ucd-data clearfix">
                                <dt>- UCD(c) :</dt>
                                <dd><span id="cash"></span>UCD</dd>
                            </dl>
                            <dl class="biz-ucd-data clearfix">
                                <dt>- UCD(p) :</dt>
                                <dd><span id="point"></span>UCD</dd>
                            </dl>-->
                        </div>
                    </div>
                </li>
            </ul>
            </div>
            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" href="/biz">목록</a>
                    <a class="update-btn" id="goUpdate">수정</a>
                </div>
            </div>

            <ul class="table-btn-wrap biz-detail-tab clearfix">
                <li class="active" id="tabPromo">프로모션 정보</li>
                <li id="tabUcd">UCD 정보</li>
            </ul>

            <!--프로모션 정보-->
            <div id="promoInfo" class="table-wrap">
                <div class="top clearfix">
                    <div class="left-wrap clearfix">
                        <div class="select-box">
                            <label for="selPageLengthForPromo">10개씩 보기</label>
                            <select id="selPageLengthForPromo">
                                <option value="10">10개씩 보기</option>
                                <option value="20">20개씩 보기</option>
                                <option value="30">30개씩 보기</option>
                            </select>
                        </div>
                        <p>Total <strong id="promoTotalCount" class="data-num"></strong></p>
                    </div>
                    <div class="btn-wrap">
                        <!--<button class="excel-btn" type="button"><i class="fas fa-table"></i>엑셀 다운받기</button>-->
                    </div>
                </div>

                <table id="promoTable">
                    <!--<colgroup>
                        <col style="width:4%;">
                        <col style="width:24%;">
                        <col style="width:24%;">
                        <col style="width:24%;">
                        <col style="width:24%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>프로모션명</th>
                        <th>기간</th>
                        <th>프로모션 예산</th>
                        <th>노출여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="#">안알랴쥼쥼ㅈ뮺뮤쥬쥬뮤쥬뮤쥬쥼</a></td>
                        <td>2020-04-08 ~ 2020-04-08</td>
                        <td>30,000,000원</td>
                        <td>노출</td>
                    </tr>
                    </tbody>-->
                </table>

                <!--<ul class="table-pagination clearfix">
                    <li><i class="fas fa-angle-double-left"></i></li>
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li><i class="fas fa-angle-double-right"></i></li>
                </ul>-->
            </div>
            <!--UCD 정보-->
            <div id="ucdInfo" class="table-wrap" style="display: none;">
                <div class="top clearfix">
                    <div class="left-wrap clearfix">
                        <div class="select-box">
                            <label for="selPageLengthForUcd">10개씩 보기</label>
                            <select id="selPageLengthForUcd">
                                <option value="10">10개씩 보기</option>
                                <option value="20">20개씩 보기</option>
                                <option value="30">30개씩 보기</option>
                            </select>
                        </div>
                        <p>Total <strong id="ucdTotalCount" class="data-num"></strong></p>
                    </div>
                    <div class="btn-wrap">
                        <!--<button class="excel-btn" type="button"><i class="fas fa-table"></i>엑셀 다운받기</button>-->
                    </div>
                </div>

                <table id="ucdTable">
<!--                    <colgroup>-->
<!--                        <col style="width:15%;">-->
<!--                        <col style="width:15%;">-->
<!--                        <col style="width:10%;">-->
<!--                        <col style="width:15%;">-->
<!--                        <col style="width:30%;">-->
<!--                        <col style="width:15%;">-->
<!--                    </colgroup>-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>유형</th>-->
<!--                        <th>구분</th>-->
<!--                        <th>금액</th>-->
<!--                        <th>제목</th>-->
<!--                        <th>일시</th>-->
<!--                        <th>내용</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr class="minus-pay">-->
<!--                        <td>UCD(c)</td>-->
<!--                        <td>취소</td>-->
<!--                        <td>-10,000</td>-->
<!--                        <td>충전취소</td>-->
<!--                        <td>일반 두잇 개설 취소</td>-->
<!--                        <td>2019/11/07</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>UCD(p)</td>-->
<!--                        <td>적립</td>-->
<!--                        <td>10,000</td>-->
<!--                        <td>이벤트참여</td>-->
<!--                        <td>2019/11/07</td>-->
<!--                        <td><a href="#">보기</a></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
                </table>
            </div>
        </div>
    </div>

    <!-- 기업UCD 적립/취소 -->
    <div id="modalContract" class="modal-content modal-01">
        <div class="wrap">
            <i class="close-btn fas fa-times-circle"></i>
            <p class="modal-title">기업 UCD 충전 취소 등록</p>
            <ul class="modal-information">
                <li>
                    <p class="sub-title">구분 *</p>
                    <div class="radio-wrap">
                        <input type="radio" id="r11" name="radio-division" value="0"/>
                        <label for="r11"><span></span>충전</label>

                        <input type="radio" id="r13" name="radio-division" value="2"/>
                        <label for="r13"><span></span>취소</label>
                    </div>
                </li>
                <li>
                    <p class="sub-title">
                        UCD *
                        <i class="question-mark far fa-question-circle">
                            <span class="hover-text">최대 1억UCD까지 가능합니다.</span>
                        </i>
                    </p>
                    <input id="amount" type="text" class="only-num" maxlength="9">
                    <span class="input-num-title">UCD</span>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">내용(*)</p>
                        </div>
                        <div class="col-2 clearfix">
                            <div>
                                <p class="cap">프로모션 기간 (*)</p>
                                <input id="modalFrom" type="text" class="datepicker">
                                <span class="date-margin-text"> ~ </span>
                                <input id="modalTo" type="text" class="datepicker">
                            </div>
                            <div style="margin: 20px 0;">
                                <p class="cap">계약명 (*)</p>
                                <input id="contractTitle" type="text">
                            </div>
                            <div>
                                <p class="cap">계약금액 (*)</p>
                                <input id="contractAmount" type="text" class="only-num" maxlength="10">
                                <span class="input-num-title">원</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
        </div>
    </div>

    <!--UCD정보 내용보기 -->
    <div id="modalDesc" class="modal-content">
        <div class="wrap">
            <i class="close-btn fas fa-times-circle"></i>
            <p class="modal-title">기업 계약 내용</p>
            <ul class="modal-information">
                <li>
                    <p class="sub-title">프로모션 기간</p>
                    <p class="data-contents" id="modalPromoTerm"></p>
                </li>
                <li>
                    <p class="sub-title">계약명</p>
                    <p class="data-contents" id="modalContractTitle"></p>
                </li>
                <li>
                    <p class="sub-title">계약금액</p>
                    <p class="data-contents" id="modalContractAmount"></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-layout"></div>

</section>
<script src="/assets/js/biz/biz-detail.js"></script>