<section class="biz-detail-page">
    <div class="inner">
        <h2 class="main-title">비즈 상세</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <p class="sub-title important">회사명(*)</p>
                    <p class="detail-data">나이키</p>
                </li>
                <li class="tag-list">
                    <p class="sub-title important">사업자 번호(*)</p>
                    <p class="detail-data">110-250-000000</p>
                </li>
                <li class="clearfix">
                    <p class="sub-title important">프로필 이미지 (*)</p>
                    <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                </li>
                <li>
                    <p class="sub-title important">홈페이지 링크 (*)</p>
                    <a class="detail-data" href="https://www.kakaokids.com/" target="_blank">https://www.naver.co.kr/</a>
                </li>
                <li>
                    <p class="sub-title important">소개 내용 (*)</p>
                    <p class="detail-data">안녕하세요! 카카오키즈입니다.</p>
                </li>
            </ul>
            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" href="#">목록</a>
                    <a class="update-btn" href="/biz/update">수정</a>
                </div>
            </div>
            <div class="table-wrap">
                <div class="top clearfix">
                    <div class="left-wrap clearfix">
                        <div class="select-box">
                            <label for="selPageLength">10개씩 보기</label>
                            <select id="selPageLength">
                                <option value="10">10개씩 보기</option>
                                <option value="20">20개씩 보기</option>
                                <option value="30">30개씩 보기</option>
                            </select>
                        </div>
                        <p>Total <strong class="data-num">10</strong></p>
                    </div>
                    <div class="btn-wrap">
                        <!--                        인증 콘텐츠 활성화시 warning-btn 활성화 -->
                        <button class="warning-btn" type="button" style="margin-top: 0;"><i class="fas fa-exclamation-triangle"></i>경고장 일괄발송</button>
                        <button class="excel-btn" type="button"><i class="fas fa-table"></i>엑셀 다운받기</button>
                    </div>
                </div>

                <div class="table-btn-wrap clearfix">
                    <li class="active">프로모션</li>
                    <li>두잇</li>
                    <li>인증콘텐츠</li>
                </div>
                <table>
                    <colgroup>
                        <col style="width:4%;">
                        <col style="width:24%;">
                        <col style="width:24%;">
                        <col style="width:24%;">
                        <col style="width:24%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>프로모션명</th>
                        <th>기간</th>
                        <th>프로모션 예산</th>
                        <th>노출여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="#">안알랴쥼쥼ㅈ뮺뮤쥬쥬뮤쥬뮤쥬쥼</a></td>
                        <td>2020-04-08 ~ 2020-04-08</td>
                        <td>30,000,000원</td>
                        <td>노출</td>
                    </tr>
                    </tbody>
                </table>

                <table>
                    <colgroup>
                        <col style="width:3%;">
                        <col style="width:5%;">
                        <col style="width:8%;">
                        <col style="width:7%;">
                        <col style="width:18%;">
                        <col style="width:15%;">
                        <col style="width:10%;">
                        <col style="width:10%;">
                        <col style="width:9%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>인기두잇</th>
                            <th>두잇 ID</th>
                            <th>프로모션명</th>
                            <th>두잇명</th>
                            <th>인증기간</th>
                            <th>진행 상태</th>
                            <th>개설자</th>
                            <th>수정자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>인기</td>
                            <td>AA01010</td>
                            <td>프로모션 명</td>
                            <td><a href="#">안알랴쥼쥼ㅈ뮺뮤쥬쥬뮤쥬뮤쥬쥼</a></td>
                            <td>2020-04-08 ~ 2020-04-08</td>
                            <td>모집중</td>
                            <td>admin01</td>
                            <td>admin01</td>
                        </tr>
                    </tbody>
                </table>

                <ul class="cert-contents clearfix">
                    <li>
                        <div class="top clearfix">
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c5" name="cc" />
                                <label for="c5"><span></span></label>
                            </div>
                            <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                        </div>
                        <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                        <div class="text-wrap">
                            <p class="title">매일 반려견 산책하기</p>
                            <a href="#">aaaaaaa</a>
                            <p class="date">2019.07.17 10:30:24</p>
                        </div>
                        <button class="warning-btn" type="button">경고장</button>
                    </li>
                    <li>
                        <div class="top clearfix">
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c6" name="cc" />
                                <label for="c6"><span></span></label>
                            </div>
                            <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                        </div>
                        <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                        <div class="text-wrap">
                            <p class="title">매일 반려견 산책하기</p>
                            <a href="#">aaaaaaa</a>
                            <p class="date">2019.07.17 10:30:24</p>
                        </div>
                        <button class="warning-btn" type="button">경고장</button>
                    </li>
                    <li>
                        <div class="top clearfix">
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c7" name="cc" />
                                <label for="c7"><span></span></label>
                            </div>
                            <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                        </div>
                        <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                        <div class="text-wrap">
                            <p class="title">매일 반려견 산책하기</p>
                            <a href="#">aaaaaaa</a>
                            <p class="date">2019.07.17 10:30:24</p>
                        </div>
                        <button class="warning-btn" type="button">경고장</button>
                    </li>
                    <li>
                        <div class="top clearfix">
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c8" name="cc" />
                                <label for="c8"><span></span></label>
                            </div>
                            <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                        </div>
                        <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                        <div class="text-wrap">
                            <p class="title">매일 반려견 산책하기</p>
                            <a href="#">aaaaaaa</a>
                            <p class="date">2019.07.17 10:30:24</p>
                        </div>
                        <button class="warning-btn" type="button">경고장</button>
                    </li>
                    <li>
                        <div class="top clearfix">
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c9" name="cc" />
                                <label for="c9"><span></span></label>
                            </div>
                            <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                        </div>
                        <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                        <div class="text-wrap">
                            <p class="title">매일 반려견 산책하기</p>
                            <a href="#">aaaaaaa</a>
                            <p class="date">2019.07.17 10:30:24</p>
                        </div>
                        <button class="warning-btn" type="button">경고장</button>
                    </li>
                </ul>

                <ul class="table-pagination clearfix">
                    <li><i class="fas fa-angle-double-left"></i></li>
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li><i class="fas fa-angle-double-right"></i></li>
                </ul>
            </div>
        </div>
    </div>
</section>