<section>
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">이벤트 관리</h2>
            <a href="/v2/marketing/event/create"><i class="fas fa-plus"></i>이벤트 등록</a>
        </div>

        <div class="search-wrap row">
            <div class="col-12">
                <ul class="card">
                    <li>
                        <p class="search-title">날짜</p>
                        <div class="form-box">
                            <div class="date-wrap">
                                <input type="text" class="datepicker date-from" readonly>
                                <span class="date-text"> ~ </span>
                                <input type="text" class="datepicker date-to" readonly>
                            </div>
                            <div class="date-btn">
                                <button type="button" class="btn today">오늘</button>
                                <button type="button" class="btn week">1주일</button>
                                <button type="button" class="btn month">1개월</button>
                                <button type="button" class="btn months">3개월</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="search-title">검색어</p>
                        <div class="form-box clearfix">
                            <select id="selSearchType" class="select-box">
                                <option value="title">제목/내용</option>
                                <option value="created_user">작성자</option>
                            </select>
                            <div class="search-txt-wrap">
                                <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="search-wrap row">
            <div class="col-3">
                <div class="card clearfix">
                    <p class="search-title">노출 여부</p>
                    <div class="radio-wrap">
                        <input id="r1" type="radio" name="radio-exposure" value="all" checked>
                        <label for="r1"><span></span>전체</label>

                        <input id="r2" type="radio" name="radio-exposure" value="Y">
                        <label for="r2"><span></span>Y</label>

                        <input id="r3" type="radio" name="radio-exposure" value="N">
                        <label for="r3"><span></span>N</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-btn row">
            <button id="btnSearch" type="submit" class="btn btn-primary">검색</button>
            <button id="btnReset" type="reset" class="btn btn-outline-primary">초기화</button>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num"></strong></p>
                        <select id="selPageLength" class="select-box">
                        </select>
                    </div>
                </div>
            </div>
            <table id="dataTable">
                <thead>
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 30%;">
                    <col style="width: 20%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead>
                <tr>
                    <th>구분</th>
                    <th>제목</th>
                    <th>기간</th>
                    <th>노출여부</th>
                    <th>작성자</th>
                    <th>등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>이벤트</td>
                    <td><a href="event/detail">새로워진 유캔두 둘러보깅</a></td>
                    <td>2020-03-03 ~ 2020-05-30</td>
                    <td>Y</td>
                    <td>유캔두</td>
                    <td>2020-02-02</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/event/event-list.js?version=<?php echo $this->config->item('version');?>"></script>