<link rel="stylesheet" href="/assets/v2/css/marketing.css?version=<?php echo $this->config->item('version');?>">
<section class="detail-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title">팝업 상세</h2>
            <div class="right-wrap">
                <button id="btnDelete" type="button" class="btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i> 팝업 삭제</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>기기</th>
                        <td>
                            <p class="detail-data" id="osType"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td>
                            <p class="detail-data" id="popupTitle"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>앱버전</th>
                        <td>
                            <p class="detail-data" id="version"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>링크</th>
                        <td>
                            <p class="detail-data" id="link"><a href="#" class="link"></a></p>
                        </td>
                    </tr>
                    <tr>
                        <th>닫기 옵션</th>
                        <td>
                            <p class="detail-data" id="viewOption"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>노출기간</th>
                        <td>
                            <p class="detail-data" id="exposureDate"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>노출 여부</th>
                        <td>
                            <p class="detail-data" id="isExposure"></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnBack" type="button" class="btn btn-outline-primary">이전</button>
            <button id="btnList" type="button" class="btn btn-primary">목록</button>
            <button id="btnUpdate" type="button" class="btn btn-teal">수정</button>
        </div>
    </div>

</section>
<script type="module" src="/assets/v2/js/popup/popup-detail.js?version=<?php echo $this->config->item('version');?>"></script>