<link rel="stylesheet" href="/assets/v2/css/marketing.css?version=<?php echo $this->config->item('version');?>">
<section class="detail-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title">팝업 수정</h2>
        </div>
        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>기기 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r1" type="radio" name="radio-os-type" checked>
                                <label for="r1"><span></span>전체</label>

                                <input  id="r2" type="radio" name="radio-os-type">
                                <label for="r2"><span></span>AOS</label>

                                <input  id="r3" type="radio" name="radio-os-type">
                                <label for="r3"><span></span>IOS</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>제목 *</th>
                        <td>
                            <div class="input-wrap">
                                <input id="title" type="text" class="length-input" maxlength="30" placeholder="제목을 입력해주세요.">
                                <p class="length-count-wrap"><span class="count-input">0</span>/30</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>앱버전 *</th>
                        <td>
                            <div class="app-ver-wrap">
                                <input id="versionDigit" type="text" maxlength="2">
                                <span class="date-text"> . </span>
                                <input id="versionDecimal" type="text" maxlength="2">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>링크 *</th>
                        <td>
                            <input id="link" type="text" placeholder="http://를 포함해서 입력해주세요.">
                        </td>
                    </tr>
                    <tr>
                        <th>닫기 옵션 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r6" type="radio" name="radio-view-option" value="always" checked>
                                <label for="r6"><span></span>다시 보지 않기</label>

                                <input  id="r7" type="radio" name="radio-view-option" value="oneday">
                                <label for="r7"><span></span>오늘 하루 보지 않기</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>노출기간 *</th>
                        <td>
                            <div class="date-wrap">
                                <input type="text" class="datepicker date-from" readonly>
                                <input id="startTime" type="time" value="00:00">
                                <span class="date-text"> ~ </span>
                                <input type="text" class="datepicker date-to" readonly>
                                <input id="endTime" type="time" value="23:59" max="23:59">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>노출 여부</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r4" type="radio" name="radio-exposure" value="Y" checked>
                                <label for="r4"><span></span>Y</label>

                                <input  id="r5" type="radio" name="radio-exposure" value="N">
                                <label for="r5"><span></span>N</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">수정 완료</button>
        </div>
    </div>

</section>
<script type="module" src="/assets/v2/js/popup/popup-update.js?version=<?php echo $this->config->item('version');?>"></script>