<section>
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">푸시관리</h2>
            <a href="/v2/marketing/push/create"><i class="fas fa-plus"></i>푸시 등록</a>
        </div>

        <div class="search-wrap row">
            <div class="col-12">
                <ul class="card">
                    <li>
                        <p class="search-title">날짜</p>
                        <div class="form-box">
                            <div class="date-wrap">
                                <input type="text" class="datepicker date-from" readonly>
                                <span class="date-text"> ~ </span>
                                <input type="text" class="datepicker date-to" readonly>
                            </div>
                            <div class="date-btn">
                                <button type="button" class="btn today">오늘</button>
                                <button type="button" class="btn week">1주일</button>
                                <button type="button" class="btn month">1개월</button>
                                <button type="button" class="btn months">3개월</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="search-title">검색어</p>
                        <div class="form-box clearfix">
                            <select id="selSearchType" class="select-box">
                                <option value="message">내용</option>
                            </select>
                            <div class="search-txt-wrap">
                                <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="search-btn row">
            <button id="btnSearch" type="submit" class="btn btn-primary">검색</button>
            <button id="btnReset" type="reset" class="btn btn-outline-primary">초기화</button>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num"></strong></p>
                        <select id="selPageLength" class="select-box">
                        </select>
                    </div>
                </div>
            </div>
            <table id="dataTable">
                <!--<thead>
                <colgroup>
                    <col style="width: 5%;">
                    <col style="width: 5%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 5%;">
                    <col style="width: 5%;">
                    <col style="width: 25%;">
                </colgroup>
                <thead>
                <tr>
                    <th>발송여부</th>
                    <th>발송대상</th>
                    <th>등록일</th>
                    <th>발송일시</th>
                    <th>고유 ID</th>
                    <th>내용</th>
                    <th>스토어</th>
                    <th>구분</th>
                    <th>도착페이지</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>발송</td>
                    <td>개인</td>
                    <td>2021-02-03</td>
                    <td>2021-02-03 17:05:18</td>
                    <td>
                        <div>
                            <input type="text" class="input-copy" style="width: 150px" value="MESSAGE-ID-20210203-EEF21A1F-B933-C218-6C84-747F054498CD" readonly>
                            <i class="fas fa-copy"></i>
                        </div>
                    </td>
                    <td>
                        <div class="line-clamp view-detail">
                            푸시내요오오오오옹푸시내요오오오오옹푸시내요오오오오옹푸시내요오오오오옹
                        </div>
                    </td>
                    <td>전체</td>
                    <td>이벤트</td>
                    <td>[링크] 참여신청자알림 두잇 바로가기 이벤트(링크)</td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>

    <div class="modal-wrap">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h5>푸시 본문 내용</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <table class="detail-table">
                    <colgroup>
                        <col style="width: 25%;">
                        <col style="width: 75%;">
                    </colgroup>
                    <tbody><tr>
                        <td colspan="2">
                            <p class="detail-data">
                                본문내요오오옹
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
            </div>
        </div>

        <div class="modal-bg"></div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/push/push-list.js?version=<?php echo $this->config->item('version');?>"></script>