<link rel="stylesheet" href="/assets/v2/css/marketing.css?version=<?php echo $this->config->item('version');?>">
<section class="detail-page push-create">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">푸시 등록</h2>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>

                    <tr>
                        <th>발송 일시 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r1" type="radio" name="radio-reserve-type" value="immediately" checked>
                                <label for="r1"><span></span>즉시</label>

                                <input  id="r2" type="radio" name="radio-reserve-type" value="reserve">
                                <label for="r2"><span></span>예약</label>
                            </div>
                            <div class="result-wrap date-wrap" style="display: none;">
                                <input id="reserveDate" type="text" class="datepicker" readonly>
                                <input id="reserveTime" type="time">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>발송 구분 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r5" type="radio" name="radio-target-page-type" value="normal" checked>
                                <label for="r5"><span></span>일반</label>

                                <input  id="r6" type="radio" name="radio-target-page-type" value="notice">
                                <label for="r6"><span></span>공지</label>

                                <input  id="r7" type="radio" name="radio-target-page-type" value="event">
                                <label for="r7"><span></span>이벤트</label>

                                <input  id="r8" type="radio" name="radio-target-page-type" value="doit">
                                <label for="r8"><span></span>두잇</label>
                            </div>

                            <div class="result-wrap" style="display: none;">
                                <input id="targetPage" type="text" class="modal-btn" placeholder="클릭 후 도착페이지를 선택해주세요." readonly>
                                <input id="targetUuid" type="hidden">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>수신 구분 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r9" type="radio" name="radio-receive-type" value="all" checked>
                                <label for="r9"><span></span>알림+푸시</label>

                                <input  id="r10" type="radio" name="radio-receive-type" value="notification">
                                <label for="r10"><span></span>알림</label>

                                <input  id="r11" type="radio" name="radio-receive-type" value="push">
                                <label for="r11"><span></span>푸시</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>기기 구분 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r12" type="radio" name="radio-os-type" value="all" checked>
                                <label for="r12"><span></span>전체</label>

                                <input  id="r13" type="radio" name="radio-os-type" value="apple">
                                <label for="r13"><span></span>애플</label>

                                <input  id="r14" type="radio" name="radio-os-type" value="google">
                                <label for="r14"><span></span>구글</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>카테고리 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r15" type="radio" name="radio-category" value="doit" checked>
                                <label for="r15"><span></span>두잇</label>

                                <input  id="r16" type="radio" name="radio-category" value="activity">
                                <label for="r16"><span></span>활동</label>

                                <input  id="r17" type="radio" name="radio-category" value="ucd">
                                <label for="r17"><span></span>ucd</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>아이콘 타입 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r18" type="radio" name="radio-icon-type" value="alarm" checked>
                                <label for="r18"><span></span>alarm</label>

                                <input  id="r19" type="radio" name="radio-icon-type" value="badge">
                                <label for="r19"><span></span>badge</label>

                                <input  id="r20" type="radio" name="radio-icon-type" value="doit_alarm">
                                <label for="r20"><span></span>doit_alarm</label>

                                <input  id="r21" type="radio" name="radio-icon-type" value="doit_default">
                                <label for="r21"><span></span>doit_default</label>

                                <input  id="r22" type="radio" name="radio-icon-type" value="ucd">
                                <label for="r22"><span></span>ucd</label>

                                <input  id="r23" type="radio" name="radio-icon-type" value="user">
                                <label for="r23"><span></span>user</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>내용 *</th>
                        <td>
                            <textarea id="content" rows="4" placeholder="내용을 입력해주세요."></textarea>
                        </td>
                    </tr>
<!--                    <tr>-->
<!--                        <th>이미지</th>-->
<!--                        <td>-->
<!--                            &lt;!&ndash;<p class="desc-sub">( 이미지 크기 : 가로 750 이상)</p>&ndash;&gt;-->
<!--                            <div class="file-wrap preview-image">-->
<!--                                <input class="upload-name" value="파일선택" disabled="disabled">-->
<!--                                <label for="contentImage">업로드</label>-->
<!--                                <input type="file" id="contentImage" class="upload-hidden" data-width="750" data-compare="ge">-->
<!--                            </div>-->
<!--                            &lt;!&ndash;<div class="detail-img-wrap">-->
<!--                                <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">-->
<!--                            </div>&ndash;&gt;-->
<!--                        </td>-->
<!--                    </tr>-->
                    <tr>
                        <th>발송 대상 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r3" type="radio" name="radio-target-member-type" value="all" checked>
                                <label for="r3"><span></span>전체</label>

                                <input  id="r4" type="radio" name="radio-target-member-type" value="individual">
                                <label for="r4"><span></span>개인</label>
                            </div>
                            <div class="result-wrap" style="display: none;">
                                <div class="top">
                                    <input type="search" placeholder="닉네임을 입력해주세요">
                                    <button id="btnModalTargetMemberOpen" type="button" class="btn-sm">닉네임 검색</button>
                                    <div class="file-wrap excel-import">
                                        <label for="btnXlsxImport">
                                            <i class="fas fa-file-excel"></i>
                                            엑셀 불러오기
                                        </label>
                                        <input type="file" id="btnXlsxImport" class="upload-hidden" accept=".xlsx">
                                    </div>
                                    <button id="btnXlsxExport" type="button" class="btn-sm btn-outline-success"><i class="fas fa-file-excel"></i> 양식 다운로드</button>
                                </div>
                                <div class="result-box">
                                    <div class="table-wrap">
                                        <div class="top clearfix">
                                            <div class="left-wrap clearfix">
                                                <div class="form-box">
                                                    <p>대상자 <strong class="data-num" id="totalCount">0</strong> 명</p>
                                                </div>
                                            </div>
                                        </div>
                                        <table id="updateTable">
                                            <!--<colgroup>
                                                <col style="width: 20%;">
                                                <col style="width: 30%;">
                                                <col style="width: 15%;">
                                                <col style="width: 15%;">
                                                <col style="width: 15%;">
                                                <col style="width: 5%;">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th>닉네임</th>
                                                <th>P-ID</th>
                                                <th>두잇알림</th>
                                                <th>마케팅알림</th>
                                                <th>공지알림</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>깐깐찡엉</td>
                                                <td>PID-485CAEDB-9DD0-861D-CB67-216AAD7B7929</td>
                                                <td>Y</td>
                                                <td>Y</td>
                                                <td>Y</td>
                                                <td>
                                                    <button type="button" class="btn-xs btn-text-red delete-btn"><i class="fas fa-minus-circle"></i></button>
                                                </td>
                                            </tr>
                                            </tbody>-->
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">등록 완료</button>
        </div>
    </div>


    <div class="modal-wrap">

        <!-- 도착페이지 검색 -->
        <div class="modal-content" id="modalTargetPage">
            <div class="modal-header clearfix">
                <h5>도착페이지 검색</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <div class="card clearfix">
                    <div class="search-txt-wrap">
                        <input id="keyword" type="search" placeholder="도착페이지를 입력해주세요.">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="table-wrap">
                    <table id="dataTable">
                        <!--<thead>
                        <colgroup>
                            <col style="width: 20%;">
                            <col style="width: 80%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>구분</th>
                            <th>제목</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>결과발표</td>
                            <td>세리박스</td>
                        </tr>
                        </tbody>-->
                    </table>
                </div>
            </div>
        </div>

        <!-- 닉네임 검색 -->
        <div class="modal-content nickname-search" id="modalTargetMember">
            <div class="modal-header clearfix">
                <h5>닉네임 검색</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card clearfix">
                            <div class="search-txt-wrap">
                                <input id="nickname" type="search" placeholder="닉네임을 입력해주세요.">
                                <i class="fas fa-search"></i>
                                <button id="btnSearch" type="button" class="btn-sm btn-search">검색</button>
                            </div>
                        </div>
                        <div class="table-wrap">
                            <table id="memberTable">
                                <!--<colgroup>
                                    <col style="width: 23%;">
                                    <col style="width: 39%;">
                                    <col style="width: 11%;">
                                    <col style="width: 11%;">
                                    <col style="width: 11%;">
                                    <col style="width: 5%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>닉네임</th>
                                    <th>P-ID</th>
                                    <th>두잇알림</th>
                                    <th>마케팅알림</th>
                                    <th>공지알림</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>깐깐찡엉깐깐찡엉깐깐찡엉깐깐찡엉</td>
                                    <td>PID-6A5016BE-93CE-C453-197A-DE0938978F10</td>
                                    <td>Y</td>
                                    <td>Y</td>
                                    <td>Y</td>
                                    <td>
                                        <div class="checkbox-wrap">
                                            <input id="c2" type="checkbox">
                                            <label for="c2"><span></span></label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>-->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
            </div>
        </div>

        <div class="modal-bg"></div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/v2/js/plugins/dataTables.select.min.js"></script>
<script src="/assets/v2/js/plugins/xlsx.full.min.js"></script>
<script type="module" src="/assets/v2/js/push/push-create.js?version=<?php echo $this->config->item('version');?>"></script>