<link rel="stylesheet" href="/assets/css/chart.min.css">
<link rel="stylesheet" href="/assets/css/chart-common.css">
<section class="dashboard-main chart-pg">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">Dash board</h2>
            <span class="today-date" id="today-date"></span>
        </div>
        <div class="wrap">
            <div class="col-wrap col-wrap-1">
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">예정되는 두잇</p>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                    <div class="row-wrap row-wrap2 clearfix">
                        <div class="row-1">
                            <canvas id="tomorrow-doughnut"></canvas>
                        </div>
                        <ul class="row-2">
                            <li class="fixed">Total <span class="total count" data-count="3200"></span></li>
                            <li class="fixed">일반 <span class="count">650</span></li>
                            <li class="fixed">프로모션  <span class="count">1,000</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">진행중인 두잇</p>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                    <div class="row-wrap clearfix">
                        <div class="row-1">
                            <canvas id="today-doughnut"></canvas>
                        </div>
                        <ul class="row-2">
                            <li class="fixed">Total <span class="total count"  data-count="2000"></span></li>
                            <li class="fixed">일반 <span class="count">650</span></li>
                            <li class="fixed">프로모션  <span class="count">1,000</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">완료된 두잇</p>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                    <div class="row-wrap clearfix">
                        <div class="row-1">
                            <canvas id="end-doughnut"></canvas>
                        </div>
                        <ul class="row-2">
                            <li class="fixed">Total <span class="total count"  data-count="13260"></span></li>
                            <li class="fixed">일반 <span class="count">650</span></li>
                            <li class="fixed">프로모션  <span class="count">1,000</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">취소된 두잇</p>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                    <div class="row-wrap clearfix">
                        <div class="row-1">
                            <canvas id="cancel-doughnut"></canvas>
                        </div>
                        <ul class="row-2">
                            <li class="fixed">Total <span class="total count"  data-count="3260"></span></li>
                            <li class="fixed">일반 <span class="count">650</span></li>
                            <li class="fixed">프로모션  <span class="count">1,000</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-wrap col-wrap-2">
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">월 단위로 등록된 두잇</p>
                        <div class="select-box">
                            <label for="ex_select2">2020년</label>
                            <select id="ex_select2">
                                <option selected="">2020년</option>
                                <option>2021년</option>
                            </select>
                        </div>
                    </div>
                    <div class="row-wrap row-wrap2">
                        <canvas id="monthly-mixedChart"></canvas>
                        <div id='chartjsLegend' class='chartjsLegend'></div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">가입자 현황</p>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                    <div class="row-wrap row-wrap2">
                        <ul class="subscriber-status">
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <i class="fas fa-user-plus"></i>
                                    <span class="fixed">신규회원</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="pluses">+<span class="count">5,450</span></p>
                                    <p class="fixed"><span class="acc">8,000</span></p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <i class="fas fa-user"></i>
                                    <span class="fixed">정상회원</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="pluses">+<span class="count">5,450</span></p>
                                    <p class="fixed"><span class="acc">8,000</span></p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <i class="fas fa-user-minus"></i>
                                    <span class="fixed">휴먼회원</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="pluses">+<span class="count">5,450</span></p>
                                    <p class="fixed"><span class="acc">8,000</span></p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <i class="fas fa-user-times"></i>
                                    <span class="fixed">탈퇴회원</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="pluses">+<span class="count">5,450</span></p>
                                    <p class="fixed"><span class="acc">8,000</span></p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <i class="fas fa-users"></i>
                                    <span class="fixed">누적회원</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="pluses">+<span class="count total"  data-count="6900"></span></p>
                                    <p class="fixed"><span class="acc">8,000,000</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-wrap col-wrap-3">
                <div class="col col-1">
                    <div class="row-wrap1 clearfix">
                        <p class="title">프로모션 진행 현황</p>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="row-wrap2 clearfix">
                        <div class="row-1">
                            <canvas id="pro-status-doughnut"></canvas>
                        </div>
                        <ul class="row-2">
                            <li class="fixed">Total <span class="total count"  data-count="5800"></span></li>
                            <li class="fixed">진행 <span class="count">650</span></li>
                            <li class="fixed">완료  <span class="count">1,000</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-2">
                    <div class="row-wrap1 clearfix">
                        <p class="title">두잇 상황별 현황</p>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="row-wrap2 clearfix">
                        <ul class="subscriber-status">
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <span class="fixed">삭제된 두잇 수</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="pluses"><span class="count">5,450</span>개</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <span class="fixed">현재 두잇 진행하는 인원</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="pluses"><span class="count">5,450</span>원</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <span class="fixed">인증 수</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="pluses"><span class="count">5,450</span>개</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <span class="fixed">두잇 평균 달성률</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="pluses"><span class="count total" data-count="80"></span>%</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col col-3">
                    <div class="row-wrap1 clearfix">
                        <p class="title">리워드 현황</p>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="row-wrap2 clearfix">
                        <p class="fixed">누적<span class="count total"  data-count="50000000"></span> UCD</p>
                    </div>
                    <div class="row-wrap3">
                        <canvas id="reward-line-Chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/chart.min.js"></script>
<script>
    // 현재 연도-월-일 구하기
    let today = new Date();
    let year = today.getFullYear();
    let month = today.getMonth() +1;
    let date = today.getDate();
    let hours = today.getHours();
    let minutes = today.getMinutes();
    let result = document.getElementById('today-date');

    month = month >= 10 ? month : '0' + month;
    today = today >= 10 ? today : '0' + today;
    result.innerHTML = year + '.' + month + '.' + date + '. '+ hours + ':' + minutes + ' 기준';

    // 넘버 total 카운팅
    $(function(){
        $(".count.total").hide(0).fadeIn(2000)
        $('.count.total').each(function() {
            let $this = $(this),
                countTo = $this.attr('data-count');
            $({ countNum: $this.text()}).animate({
                    countNum: countTo
                },
                {
                    duration: 2000,
                    easing:'linear',
                    step: function() {
                        $this.text(Math.floor(this.countNum));
                    },
                    complete: function() {
                        $this.text(this.countNum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    }
                });
        });
    });

    // 도넛 차트 관련 (내일, 오늘, 종료)
    const tomorrowDoughnut = document.getElementById('tomorrow-doughnut');
    const todayDoughnut = document.getElementById('today-doughnut');
    const endDoughnut = document.getElementById('end-doughnut');
    const cancelDoughnut = document.getElementById('cancel-doughnut');
    // 월 단위로 등록된 두잇
    const monthlyMixedChart = document.getElementById('monthly-mixedChart');
    // 프로모션 진행 현황
    const proStatusDoughnut = document.getElementById('pro-status-doughnut');
    // 리워드 현황
    const rewardLine = document.getElementById('reward-line-Chart');
    // 공통 부분
    let colorLine = {color: ['rgb(0, 122, 255)', 'rgba(0, 0, 0, 0)']};
    let backgroundColorDoughnut = {color: ['rgb(0, 48, 135)',  'rgb(0, 122, 255)']};
    let options = {options: {maintainAspectRatio: false, legend: {align: 'start', labels: {fontSize: 12, boxWidth: 12}}}};
    let doughnut = {type:['doughnut']};
    let labels = {label:['일반', '프로모션']};

    //도넛 차트 관련 (내일, 오늘, 종료)
    let tomorrowChart = new Chart(tomorrowDoughnut, {
        type: doughnut.type,
        data: {
            labels: labels.label,
            datasets: [{
                data: [80, 20],
                backgroundColor:backgroundColorDoughnut.color,
            }]
        },
        options: options.options,
    });

    let todayChart = new Chart(todayDoughnut, {
        type: doughnut.type,
        data: {
            labels: labels.label,
            datasets: [{
                data: [10, 20],
                backgroundColor:backgroundColorDoughnut.color,
            }]
        },
        options: options.options,
    });

    let endChart = new Chart(endDoughnut, {
        type: doughnut.type,
        data: {
            labels: labels.label,
            datasets: [{
                data: [40, 20],
                backgroundColor:backgroundColorDoughnut.color,
            }]
        },
        options: options.options,
    });
    let cancelChart = new Chart(cancelDoughnut, {
        type: doughnut.type,
        data: {
            labels: labels.label,
            datasets: [{
                data: [50, 50],
                backgroundColor:backgroundColorDoughnut.color,
            }]
        },
        options: options.options,
    });

    // 월 단위로 등록된 두잇
    let monthlyChart = new Chart(monthlyMixedChart, {
        type: 'bar',
        data: {
            datasets: [{
                label: '일반',
                data: [20, 20, 30, 40],
                backgroundColor:backgroundColorDoughnut.color[0],
            }, {
                label: '프로모션',
                data: [18, 50, 30, 20],
                backgroundColor:backgroundColorDoughnut.color[1],
            }, {
                label: 'Total',
                data: [20, 45, 20, 40],
                type: 'line',
                borderColor: colorLine.color[0],
                pointBackgroundColor: colorLine.color[0],
                backgroundColor: colorLine.color[1]
            },
            ],
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        options: {
            legend: {
                align: 'start',
                position: 'top'
            }
        }
    });

    // 프로모션 진행 현황
    let proStatusChart = new Chart(proStatusDoughnut, {
        type: doughnut.type,
        data: {
            labels: ['진행','완료'],
            datasets: [{
                data: [10, 20],
                backgroundColor:['rgb(0, 48, 135)',  'rgba(125, 125, 125, 0.2)'],
            }]
        },
        options: options.options,
    });

    // 리워드 현황
    let rewardStatusChart = new Chart(rewardLine, {
        type: 'line',
        data: {
            datasets: [{
                label: '프로모션 지급 리워드',
                data: [20, 20, 30, 40, 35, 40, 80],
                borderColor: colorLine.color[0],
                pointBackgroundColor: colorLine.color[0],
                backgroundColor: colorLine.color[1]
            }],
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        options: {
            maintainAspectRatio: false,
            legend: {
                align: 'start',
                position: 'top'
            }
        }
    });

</script>