<link rel="stylesheet" href="/assets/css/plugins/chart.min.css">
<link rel="stylesheet" href="/assets/css/chart-common.css">
<section class="dashboard-main chart-pg">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">Dash Board</h2>
            <span class="today-date" id="today-date"></span>
        </div>
        <div class="wrap">
            <div class="col-wrap col-wrap-4">
                <div class="col clearfix">
                    <div class="row-wrap row-wrap1 clearfix">
                        <img src="/assets/images/icon_ucd_s.png" alt="아이콘">
                    </div>
                    <div class="row-wrap row-wrap2">
                        <div class="row-1">
                            <p class="title">기업충전 UCD</p>
                            <span class="total count ucd" id="ucd-promotion"></span>
                            <span>UCD</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <img src="/assets/images/icon_ucd_s.png" alt="아이콘">
                    </div>
                    <div class="row-wrap row-wrap2">
                        <div class="row-1">
                            <p class="title">개인충전 UCD</p>
                            <span class="total count ucd" id="ucd-user"></span>
                            <span>UCD</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <img src="/assets/images/icon_ucd_s.png" alt="아이콘">
                    </div>
                    <div class="row-wrap row-wrap2">
                        <div class="row-1">
                            <p class="title">프로모션 예산 UCD</p>
                            <span class="total count ucd" id="ucd-company"></span>
                            <span>UCD</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <img src="/assets/images/icon_ucd_s.png" alt="아이콘">
                    </div>
                    <div class="row-wrap row-wrap2">
                        <div class="row-1">
                            <p class="title">두잇개설 UCD</p>
                            <span class="total count ucd" id="ucd-doit"></span>
                            <span>UCD</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-wrap col-wrap-5">
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">일 단위로 인증된 수</p>
                        <div class="select-box-wrap clearfix">
                            <div class="select-box">
                                <label class="cert-year-label" for="cert-year-select"></label>
                                <select id="cert-year-select" name="cert-year-value"></select>
                            </div>
                            <div class="select-box">
                                <label class="cert-month-label" for="cert-month-select"></label>
                                <select id="cert-month-select" name="cert-month-value"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row-wrap row-wrap2">
                        <canvas id="cert-month-chart" width="auto" height="50"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-wrap col-wrap-1">
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">모집중인 두잇</p>
                        <!--<a href="#"><i class="fas fa-ellipsis-v"></i></a>-->
                    </div>
                    <div class="row-wrap row-wrap2 clearfix">
                        <div class="row-1">
                            <canvas id="tomorrow-doughnut" width="40" height="auto"></canvas>
                        </div>
                        <ul class="row-2">
                            <li class="fixed">Total <span class="total count doit" id="pre-total"></span></li>
                            <li class="fixed">일반 <span class="count" id="pre-user"></span></li>
                            <li class="fixed">프로모션  <span class="count" id="pre-company"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">진행중인 두잇</p>
                        <!--<a href="#"><i class="fas fa-ellipsis-v"></i></a>-->
                    </div>
                    <div class="row-wrap clearfix">
                        <div class="row-1">
                            <canvas id="today-doughnut" width="40" height="auto"></canvas>
                        </div>
                        <ul class="row-2">
                            <li class="fixed">Total <span class="total count doit"  id="ing-total"></span></li>
                            <li class="fixed">일반 <span class="count" id="ing-user"></span></li>
                            <li class="fixed">프로모션  <span class="count" id="ing-company"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">완료된 두잇</p>
                        <!--<a href="#"><i class="fas fa-ellipsis-v"></i></a>-->
                    </div>
                    <div class="row-wrap clearfix">
                        <div class="row-1">
                            <canvas id="end-doughnut" width="40" height="auto"></canvas>
                        </div>
                        <ul class="row-2">
                            <li class="fixed">Total <span class="total count doit"  id="end-total"></span></li>
                            <li class="fixed">일반 <span class="count" id="end-user"></span></li>
                            <li class="fixed">프로모션  <span class="count" id="end-company"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">취소된 두잇</p>
                        <!--<a href="#"><i class="fas fa-ellipsis-v"></i></a>-->
                    </div>
                    <div class="row-wrap clearfix">
                        <div class="row-1">
                            <canvas id="cancel-doughnut"width="40" height="auto"></canvas>
                        </div>
                        <ul class="row-2">
                            <li class="fixed">Total <span class="total count doit" id="total"></span></li>
                            <li class="fixed">취소 <span class="count" id="cancle"></span></li>
                            <li class="fixed">삭제  <span class="count" id="delete"></span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-wrap col-wrap-2">
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">월 단위로 등록된 두잇</p>
                        <div class="select-box">
                            <label class="year-label" for="doit-year-select"></label>
                            <select id="doit-year-select" name="doit-year-value"></select>
                        </div>
                    </div>
                    <div class="row-wrap row-wrap2">
                        <canvas id="monthly-mixedChart" width="auto" height="115"></canvas>
                        <div id='chartjsLegend' class='chartjsLegend'></div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-wrap row-wrap1 clearfix">
                        <p class="title">가입자 현황</p>
                        <!--<a href="#"><i class="fas fa-ellipsis-v"></i></a>-->
                    </div>
                    <div class="row-wrap row-wrap2">
                        <ul class="subscriber-status">
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <i class="user-icon fas fa-user-plus"></i>
                                    <span class="fixed">신규회원</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="fixed">
                                        <span class="acc" id="new-user"></span>
                                        <!--<span class="today-count">( <i class="fas fa-sort-up"> <span>3</span></i> )</span>-->
                                    </p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <i class="user-icon fas fa-user"></i>
                                    <span class="fixed">가입회원</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="fixed">
                                        <span class="acc" id="join-user"></span>
                                        <!--<span class="today-count">( <i class="fas fa-sort-up"> <span>3</span></i> )</span>-->
                                    </p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <i class="user-icon fas fa-user-times"></i>
                                    <span class="fixed">탈퇴회원</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="fixed">
                                        <span class="acc" id="leave-user"></span>
                                        <!--<span class="today-count">( <i class="fas fa-sort-up"> <span>3</span></i> )</span>-->
                                    </p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="fixed-wrap">
                                    <i class="user-icon fas fa-users"></i>
                                    <span class="fixed">누적회원</span>
                                </div>
                                <div class="data-wrap">
                                    <p class="fixed">
                                        <span class="total count user" id="total-user" ></span>
                                        <!--<span class="today-count">( <i class="fas fa-sort-up"> <span></span></i> )</span>-->
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

<!--            <div class="col-wrap col-wrap-3">-->
<!--                <div class="col col-1">-->
<!--                    <div class="row-wrap1 clearfix">-->
<!--                        <p class="title">프로모션 진행 현황</p>-->
<!--                        <i class="fas fa-ellipsis-v"></i>-->
<!--                    </div>-->
<!--                    <div class="row-wrap2 clearfix">-->
<!--                        <div class="row-1">-->
<!--                            <canvas id="pro-status-doughnut"></canvas>-->
<!--                        </div>-->
<!--                        <ul class="row-2">-->
<!--                            <li class="fixed">Total <span class="total count"  data-count="5800"></span></li>-->
<!--                            <li class="fixed">진행 <span class="count">650</span></li>-->
<!--                            <li class="fixed">완료  <span class="count">1,000</span></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col col-2">-->
<!--                    <div class="row-wrap1 clearfix">-->
<!--                        <p class="title">두잇 상황별 현황</p>-->
<!--                        <i class="fas fa-ellipsis-v"></i>-->
<!--                    </div>-->
<!--                    <div class="row-wrap2 clearfix">-->
<!--                        <ul class="subscriber-status">-->
<!--                            <li class="clearfix">-->
<!--                                <div class="fixed-wrap">-->
<!--                                    <span class="fixed">삭제된 두잇 수</span>-->
<!--                                </div>-->
<!--                                <div class="data-wrap">-->
<!--                                    <p class="pluses"><span class="count">5,450</span>개</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li class="clearfix">-->
<!--                                <div class="fixed-wrap">-->
<!--                                    <span class="fixed">현재 두잇 진행하는 인원</span>-->
<!--                                </div>-->
<!--                                <div class="data-wrap">-->
<!--                                    <p class="pluses"><span class="count">5,450</span>원</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li class="clearfix">-->
<!--                                <div class="fixed-wrap">-->
<!--                                    <span class="fixed">인증 수</span>-->
<!--                                </div>-->
<!--                                <div class="data-wrap">-->
<!--                                    <p class="pluses"><span class="count">5,450</span>개</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li class="clearfix">-->
<!--                                <div class="fixed-wrap">-->
<!--                                    <span class="fixed">두잇 평균 달성률</span>-->
<!--                                </div>-->
<!--                                <div class="data-wrap">-->
<!--                                    <p class="pluses"><span class="count total" data-count="80"></span>%</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col col-3">-->
<!--                    <div class="row-wrap1 clearfix">-->
<!--                        <p class="title">리워드 현황</p>-->
<!--                        <i class="fas fa-ellipsis-v"></i>-->
<!--                    </div>-->
<!--                    <div class="row-wrap2 clearfix">-->
<!--                        <p class="fixed">누적<span class="count total"  data-count="50000000"></span> UCD</p>-->
<!--                    </div>-->
<!--                    <div class="row-wrap3">-->
<!--                        <canvas id="reward-line-Chart"></canvas>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>
<script src="/assets/js/plugins/chart.min.js"></script>
<script src="/assets/js/dashboard.js"></script>
