<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no" />
    <title>유캔두 관리자</title>
    <link rel="stylesheet" href="/assets/v2/css/reset.css?version=<?php echo $this->config->item('version');?>">
    <link rel="stylesheet" href="/assets/v2/css/common.css?version=<?php echo $this->config->item('version');?>">
    <link rel="stylesheet" href="/assets/v2/css/login.css?version=<?php echo $this->config->item('version');?>">
    <link rel="stylesheet" href="/assets/v2/css/plugins/sweetalert2.min.css">
    <link rel="shortcut icon" href="/assets/v2/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

    <script src="/assets/v2/js/plugins/jquery-3.3.1.min.js"></script>
</head>

<body>
    <section class="login-pg">
        <div class="login-inner">
            <div class="top">
                <div class="top-title">
                    <div class="fly-wrap clearfix">
                        <span class="welcome-text">w</span>
                        <span class="welcome-text">e</span>
                        <span class="welcome-text">l</span>
                        <span class="welcome-text">c</span>
                        <span class="welcome-text">o</span>
                        <span class="welcome-text">m</span>
                        <span class="welcome-text">e</span>
                        <span class="welcome-text">!</span>
                    </div>
                </div>
            </div>

            <!--인증-->
            <div class="wrap otp-content">
                <h1 class="login-text">
                    GOOGLE OTP
                    <sapn class="sub-text"><b>Google Authenticator</b> 앱 설치 후 인증해주세요.</sapn>
<!--                    <sapn class="sub-text"><b>Google Authenticator</b> 앱에서 인증번호를 확인해 주세요.</sapn>-->
                </h1>
                <form name="tfaForm" action="/v2/auth/mfa" method="post">
                    <div class="qr_box">
                        <span class="qr_img"><img id="qrImg" src="<?php if(isset($qrcode_url)) echo $qrcode_url?>" alt="qr코드"></span>
                    </div>
                    <div class="col otp-num-wrap">
                        <p>인증번호</p>
                        <div class="input-wrap">
                            <i class="fas fa-key"></i>
                            <input name="otp" id="otpNum" type="text" placeholder="인증번호를 입력해주세요.">
                        </div>
                        <span class="error-msg">인증번호를 확인해주세요.</span>
                    </div>
                    <input type="hidden" id="secret" name="secret" value="<?php if(isset($secret)) echo $secret?>"/>
                    <input type="hidden" id="userid" name="userid" value="<?php if(isset($userid)) echo $userid?>"/>
                    <input type="hidden" id="username" name="username" value="<?php if(isset($username)) echo $username?>"/>
                    <input type="hidden" id="password" name="password" value="<?php if(isset($password)) echo $password?>"/>
                    <input type="hidden" id="useremail" name="useremail" value="<?php if(isset($useremail)) echo $useremail?>"/>
                    <input type="hidden" id="type" name="type" value="<?php if(isset($type)) echo $type?>"/>
                </form>
                <div class="btn-wrap">
                    <button id="btnSubmit" class="submit-btn" type="submit">완료</button>
                </div>
            </div>
        </div>
    </section>

    <!-- loading html -->
    <div class="loading-back" id="viewLoading" style="display: none;">
        <div class="loading-wrap">
            <div class="main_loader">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <span>Loading</span>
        </div>
    </div>
</body>
<script src="/assets/v2/js/plugins/sweetalert2.min.js"></script>
<script src="/assets/v2/js/login/mfa.js?version=<?php echo $this->config->item('version');?>"></script>
</html>