<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">내 정보 관리</h2>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>아이디</th>
                        <td>
                            <p class="detail-data" id="userid">
                                noocgs
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td>
                            <p class="detail-data" id="username">
                                이주영
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td>
                            <p class="detail-data" id="useremail">
                                fsdfsdf@dad.dd.dd
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            비밀번호 *
                            <i class="tooltip-mark fas fa-question-circle">
                                <span class="tooltip-txt right">
                                    - 영문 소문자, 숫자, 특수문자를 포함한<br>8~16자로 입력해주세요.<br>
                                    - 4자리 이상 연속된 숫자, 문자 입력은<br>불가능합니다.
                                </span>
                            </i>
                        </th>
                        <td>
                            <input id="password" type="password" placeholder="비밀번호를 입력해주세요.">
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인 *</th>
                        <td>
                            <input id="passwordCheck" type="password" placeholder="비밀번호를 한번 더 입력해주세요.">
                            <small id="passwordCheckTxt" style="color:red;"></small>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">등록 완료</button>
        </div>
    </div>
</section>
<script defer src="/assets/v2/js/plugins/core-min.js"></script>
<script defer src="/assets/v2/js/plugins/x64-core-min.js"></script>
<script defer src="/assets/v2/js/plugins/sha512-min.js"></script>
<script type="module" src="/assets/v2/js/login/mypage.js?version=<?php echo $this->config->item('version');?>"></script>

