<link rel="stylesheet" href="/assets/v1/css/create-common.css?version=<?php echo $this->config->item('version');?>">
<section class="category-create-page">
    <div class="inner">
        <h2 class="main-title">카테고리 상세</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">카테고리명(*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="categoryName"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">카테고리 이미지 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="img-wrap" style="width: 100px;">
                                <img id="categoryImage" src="" alt="">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="doit-open">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">개설가능여부 (*)</p>
                        </div>
                        <div class="col-2">
                            <p id="establish" class="detail-data"></p>
                        </div>
                    </div>
                </li>
                <li class="doit-open">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">노출여부 (*)</p>
                        </div>
                        <div class="col-2">
                            <p id="exposure" class="detail-data"></p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" onclick="historyBack();">이전</a>
                    <a class="list-btn" href="/doit/category">목록</a>
                    <a class="update-btn" id="goUpdate">수정</a>
                </div>
            </div>
        </div>
    </div>

</section>
<script defer src="/assets/v1/js/doit/category-detail.js?version=<?php echo $this->config->item('version');?>"></script>
