<link rel="stylesheet" href="/assets/css/common.css?version=<?php echo $this->config->item('version');?>">
<link rel="stylesheet" href="/assets/css/doit-recommend-list.css?version=<?php echo $this->config->item('version');?>">
<section class="pro-banner-page">
    <div class="inner">
        <h2 class="main-title">프로모션 배너 관리</h2>
        <div class="wrap">
            <div class="row clearfix">

                <div class="col-1">
                    <div class="enrollment" style="border-top: 3px solid #007aff;">
                        <p class="enrollment-title">프로모션 배너 리스트</p>
                        <div class="question-text clearfix">
                            <i class="question-mark far fa-question-circle"></i>
                            <span>
                            최대 <b>5개</b>의 프로모션 배너를 등록할 수 있으며,<br><b>마우스 드래그 &amp; 드랍</b>으로 노출 순서를 지정할 수 있습니다.
                        </span>
                        </div>

                        <table class="recommend-list pro-banner-list" id="bannerTable">
                            <!--<thead>
                            <tr>
                                <th>배너</th>
                                <th>기업명</th>
                                <th>프로모션 명</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="pro-thumbnail">
                                    <img src="https://youcandoo.yanadoocdn.com/promotion/836a2aac7ec61f4db04549ee8b6c5df4/06548882bd7fc59910738f20bb601dc1.jpg" alt="프로모션 썸네일">
                                    </div>
                                </td>
                                <td>@야나두</td>
                                <td>100억 프로젝트</td>
                                <td><i class="far fa-times-circle"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pro-thumbnail">
                                        <img src="https://youcandoo.yanadoocdn.com/promotion/836a2aac7ec61f4db04549ee8b6c5df4/06548882bd7fc59910738f20bb601dc1.jpg" alt="프로모션 썸네일">
                                    </div>
                                </td>
                                <td>@야나두</td>
                                <td>100억 프로젝트</td>
                                <td><i class="far fa-times-circle"></i></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pro-thumbnail">
                                        <img src="https://youcandoo.yanadoocdn.com/promotion/836a2aac7ec61f4db04549ee8b6c5df4/06548882bd7fc59910738f20bb601dc1.jpg" alt="프로모션 썸네일">
                                    </div>
                                </td>
                                <td>@야나두</td>
                                <td>100억 프로젝트</td>
                                <td><i class="far fa-times-circle"></i></td>
                            </tr>
                            </tbody>-->
                        </table>
                    </div>
                </div>

                <div class="col-2">
                    <button id="btnAdd" type="button" class="btn-go-wrap"><i class="fas fa-chevron-left"></i></button>
                </div>

                <div class="col-3">
                    <div class="enrollment">
                        <p class="list-common-title">검색</p>
                        <div class="search-wrap clearfix">
                            <div class="select-box">
                                <label for="searchType">프로모션명</label>
                                <select id="searchType">
                                    <option value="promotion_title">프로모션명</option>
                                    <option value="nickname">기업명</option>
                                </select>
                            </div>
                            <div class="search-box">
                                <input id="keyword" type="search" style="width: 69%; padding: 0 10px;" placeholder="검색어를 입력해주세요.">
                            </div>
                        </div>
                        <table class="pro-banner-list pro-shr-list" id="dataTable">
                            <!--<colgrop>
                                <col style="width: 5%;">
                                <col style="width: 20%;">
                                <col style="width: 40%;">
                                <col style="width: 35%;">
                            </colgrop>
                            <thead>
                            <tr>
                                <th></th>
                                <th>배너</th>
                                <th>기업명</th>
                                <th>프로모션 명</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c5" name="cc" />
                                        <label for="c5"><span></span></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="pro-thumbnail">
                                        <img src="https://youcandoo.yanadoocdn.com/promotion/836a2aac7ec61f4db04549ee8b6c5df4/06548882bd7fc59910738f20bb601dc1.jpg" alt="프로모션 썸네일">
                                    </div>
                                </td>
                                <td>@야나두</td>
                                <td>100억 프로젝트</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c5" name="cc" />
                                        <label for="c5"><span></span></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="pro-thumbnail">
                                        <img src="https://youcandoo.yanadoocdn.com/promotion/836a2aac7ec61f4db04549ee8b6c5df4/06548882bd7fc59910738f20bb601dc1.jpg" alt="프로모션 썸네일">
                                    </div>
                                </td>
                                <td>@야나두</td>
                                <td>100억 프로젝트</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c5" name="cc" />
                                        <label for="c5"><span></span></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="pro-thumbnail">
                                        <img src="https://youcandoo.yanadoocdn.com/promotion/836a2aac7ec61f4db04549ee8b6c5df4/06548882bd7fc59910738f20bb601dc1.jpg" alt="프로모션 썸네일">
                                    </div>
                                </td>
                                <td>@야나두</td>
                                <td>100억 프로젝트</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c5" name="cc" />
                                        <label for="c5"><span></span></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="pro-thumbnail">
                                        <img src="https://youcandoo.yanadoocdn.com/promotion/836a2aac7ec61f4db04549ee8b6c5df4/06548882bd7fc59910738f20bb601dc1.jpg" alt="프로모션 썸네일">
                                    </div>
                                </td>
                                <td>@야나두</td>
                                <td>100억 프로젝트</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c5" name="cc" />
                                        <label for="c5"><span></span></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="pro-thumbnail">
                                        <img src="https://youcandoo.yanadoocdn.com/promotion/836a2aac7ec61f4db04549ee8b6c5df4/06548882bd7fc59910738f20bb601dc1.jpg" alt="프로모션 썸네일">
                                    </div>
                                </td>
                                <td>@야나두</td>
                                <td>100억 프로젝트</td>
                            </tr>
                            </tbody>-->
                        </table>
                    </div>
                </div>
                <button id="btnSubmit" class="completion-btn" type="submit" style="margin: 30px 0 50px;">등록 완료</button>
            </div>

        </div>
    </div>

    <!--<div class="modal-content banner-modal">
        <div class="wrap">
            <i class="close-btn">×</i>
            <p class="modal-title">프로모션 배너 추가</p>
            <ul class="modal-information">
                <li>
                    <div class="search-wrap clearfix">
                        <div class="select-box">
                            <label for="searchType">프로모션명</label>
                            <select id="searchType">
                                <option value="promotion_title">프로모션명</option>
                                <option value="nickname">기업명</option>
                            </select>
                        </div>
                        <div class="search-box">
                            <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                            <i class="search-btn fas fa-search"></i>
                        </div>
                    </div>
                </li>
                <li style="padding-top: 0;  border-bottom: none;">
                    <div class="table-wrap" style="margin-top: 0;">
                        <table id="dataTable" style="margin-top: 0;">
                            &lt;!&ndash;<colgroup>
                                <col style="width:5%;">
                                <col style="width:35%;">
                                <col style="width:25%;">
                                <col style="width:30%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th>배너</th>
                                <th>기업명</th>
                                <th>프로모션 명</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c2" name="cc" />
                                        <label for="c2"><span></span></label>
                                    </div>
                                </td>
                                <td>
                                    <img class="pro-banner" src="https://youcandoo.yanadoocdn.com/promotion/f1c9fd76236f33c9e2ba72bb4eaf3628/2595467a23fcf1d34054a6a789d3ebba.jpg" alt="">
                                </td>
                                <td>@야나두</td>
                                <td>프로젝트키1000억프로젝트</td>
                            </tr>
                            </tbody>&ndash;&gt;
                        </table>
                    </div>
                </li>
            </ul>
            <button id="btnAdd" class="completion-btn" type="submit">추가</button>
        </div>
    </div>
    <div class="modal-layout"></div>-->

</section>
<script defer src="/assets/js/plugins/jquery.ui.touch-punch.min.js"></script>
<script defer src="/assets/js/plugins/tablesort.min.js"></script>
<script defer src="/assets/js/plugins/tablesort.number.min.js"></script>
<script defer src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script defer src="/assets/js/plugins/dataTables.select.min.js"></script>
<script defer src="/assets/js/promotion/banner-list.js?version=<?php echo $this->config->item('version');?>"></script>