<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">카테고리 상세</h2>
        </div>

        <div class="row">
            <div class="col-6">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 30%;">
                        <col style="width: 70%;">
                    </colgroup>
                    <tr>
                        <th>카테고리명 *</th>
                        <td>
                            <span class="detail-data">라이프스타일</span>
                        </td>
                    </tr>
                    <tr>
                        <th>카테고리 아이콘 *</th>
                        <td>
                            <div class="detail-img-wrap">
                                <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>개설 가능 여부 *</th>
                        <td>
                            <span class="detail-data">Y</span>
                        </td>
                    </tr>
                    <tr>
                        <th>노출 여부 *</th>
                        <td>
                            <span class="detail-data">Y</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-6">

                <div class="card detail-tit-warp clearfix">
                    <p class="title">세부 카테고리</p>
                    <button type="button" class="btn-sm btn-add modal-btn"><i class="fas fa-plus"></i> 세부 카테고리 등록</button>
                </div>
                <div class="table-wrap">
                    <table>
                        <thead>
                        <colgroup>
                            <col style="width: 100%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>세부 카테고리명</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>라이프 스타일</td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="footer-btn-wrap">
            <button type="button" class="btn btn-outline-primary">이전</button>
            <button type="button" class="btn btn-primary">목록</button>
            <button type="button" class="btn btn-teal">수정</button>
        </div>
    </div>

    <div class="modal-wrap">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h5>세부 카테고리 등록</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <table class="detail-table">
                    <colgroup>
                        <col style="width: 25%;">
                        <col style="width: 75%;">
                    </colgroup>
                    <tbody><tr>
                        <th>세부 카테고리명 *</th>
                        <td>
                            <div class="input-wrap">
                                <input id="categoryName" type="text" class="length-input" placeholder="세부 카테고리명을 입력해주세요." maxlength="7">
                                <p class="length-count-wrap"><span class="count-input">0</span>/7</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
                <button type="button" class="btn btn-primary">등록완료</button>
            </div>
        </div>

        <div class="modal-bg"></div>
    </div>

</section>

