<link rel="stylesheet" href="/assets/v2/css/action.css?version=<?php echo $this->config->item('version');?>">
<section>
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">인증 신고 관리</h2>
        </div>

        <div class="search-wrap row">
            <div class="col-12">
                <ul class="card">
                    <li>
                        <p class="search-title">날짜</p>
                        <div class="form-box">
                            <select id="selDateType" class="select-box">
                                <option value="created">등록일</option>
                            </select>
                            <div class="date-wrap">
                                <input type="text" class="datepicker date-from" readonly>
                                <span class="date-text"> ~ </span>
                                <input type="text" class="datepicker date-to" readonly>
                            </div>
                            <div class="date-btn">
                                <button type="button" class="btn today">오늘</button>
                                <button type="button" class="btn week">1주일</button>
                                <button type="button" class="btn month">1개월</button>
                                <button type="button" class="btn months">3개월</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="search-wrap row">
            <div class="col-3">
                <div class="card clearfix">
                    <p class="search-title">인증 상태</p>
                    <div class="checkbox-wrap">
                        <input id="c1" type="checkbox" name="chk-status" value="report">
                        <label for="c1"><span></span>신고</label>

                        <input id="c2" type="checkbox" name="chk-status" value="fail">
                        <label for="c2"><span></span>실패</label>

                        <input id="c3" type="checkbox" name="chk-status" value="success">
                        <label for="c3"><span></span>성공</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-btn row">
            <button id="btnSearch" type="submit" class="btn btn-primary">검색</button>
            <button id="btnReset" type="reset" class="btn btn-outline-primary">초기화</button>
        </div>

        <div class="table-wrap auth-list">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num">238</strong></p>
                        <select id="selPageLength" class="select-box">
                        </select>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button type="button" class="btn-sm btn-danger modal-btn"><i class="fas fa-exclamation-triangle"></i> 경고장 발송</button>
                </div>
            </div>

            <div id="actionsWrap">
                <div class="row">
                    <div class="col-2 auth-item">
                        <div class="card">
                            <div class="top clearfix">
                                <div class="checkbox-wrap">
                                    <input id="c15" type="checkbox" name="cb">
                                    <label for="c15"><span></span></label>
                                </div>
                                <div class="right-wrap">
                                    <span><i class="fas fa-exclamation-triangle"></i> 111</span>
                                </div>
                            </div>
                            <div class="img-wrap">
                                <img src="/assets/v2/img/profile-1.png" alt="">
                            </div>
                            <p class="title">두잇며어엉두잇며어엉두잇며어엉두잇며어엉두잇며어엉두잇며어엉</p>
                            <span class="nick-name">열심히사는강아지열심히사는강아지</span>
                            <span class="date">2020-02-02</span>
                            <strong class="red-card"><img src="/assets/v2/img/red-card.png" alt=""></strong>
                        </div>
                    </div>

                    <div class="col-2 auth-item">
                        <div class="card">
                            <div class="top clearfix">
                                <div class="checkbox-wrap">
                                    <input id="c16" type="checkbox" name="cb">
                                    <label for="c16"><span></span></label>
                                </div>
                                <div class="right-wrap">
                                    <span><i class="fas fa-exclamation-triangle"></i> 111</span>
                                </div>
                            </div>
                            <div class="img-wrap">
                                <img src="/assets/v2/img/profile-1.png" alt="">
                            </div>
                            <p class="title">두잇며어엉두잇며</p>
                            <span class="nick-name">열심히사는강아지열심히사는강아지</span>
                            <span class="date">2020-02-02</span>
                            <strong class="red-card"><img src="/assets/v2/img/red-card.png" alt=""></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"></div>
    </div>

    <div class="modal-wrap">
        <!-- 경고장 발송 버튼 클릭 시 오픈 -->
        <div class="modal-content" id="modalWarning">
            <div class="modal-header clearfix">
                <h5>경고장발송</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <table class="detail-table">
                    <colgroup>
                        <col style="width: 25%;">
                        <col style="width: 75%;">
                    </colgroup>
                    <tr>
                        <th>발송사유</th>
                        <td>
                            <select class="select-box">
                                <option>경고장 발송 사유가 들어가는 자리입니다.</option>
                                <option>경고장 발송 사유가 들어가는 자리입니다.</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
                <button id="btnSend" type="button" class="btn btn-danger">발송</button>
            </div>
        </div>
        <!-- 인증 상세 - 인증 썸네일 클릭 시 오픈 -->
        <div class="modal-content auth-detail" id="modalDetail">
            <div class="modal-header clearfix">
                <h5>인증상세</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="auth-data-wrap">

                                <div class="img-wrap">
                                    <img src="/assets/v2/img/auth-1.jpg" alt=""s>
                                </div>

                                <!--<div class="video-wrap">
                                    <video poster="" controls>
                                        <source src="/assets/v2/img/auth-vdo.mp4" type="video/mp4"/>
                                    </video>
                                </div>-->

                                <!--<div class="audio-wrap">
                                    <img src="/assets/v2/img/voice.jpg" alt="">
                                    <audio controls="controls">
                                        <source src="/assets/v2/img/audio_test.m4a"/>
                                    </audio>
                                </div>-->
                            </div>
                        </div>
                        <table class="detail-table txt-left">
                            <colgroup>
                                <col style="width: 15%;">
                                <col style="width: 85%;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>인증 내용</th>
                                <td>
                                    <p class="detail-data">
                                        앱에서 입력한 엔터 처리 무시하고 가져올 수 있나요? 먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고
                                        오늘먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고
                                        오늘먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <table class="detail-table txt-left">
                            <colgroup>
                                <col style="width: 15%;">
                                <col style="width: 65%;">
                                <col style="width: 20%;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>경고장</th>
                                <td>
                                    무분별한 광고/홍보 성격이 짙어요.
                                </td>
                                <td>
                                    <div class="right-wrap">
                                        <button type="button" class="btn-sm btn-danger">발송 취소</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>인증 예시</th>
                                <td colspan="2">
                                    <div class="auth-ex-wrap">

                                        <div class="img-wrap">
                                            <img src="/assets/v2/img/auth-1.jpg" alt=""s>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>ㄴ 설명</th>
                                <td colspan="2">
                                    맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고 오늘먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고 오늘먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고오늘먹은망고맹고망고
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
            </div>
        </div>
        <div class="modal-bg"></div>
    </div>


</section>
<script type="module" src="/assets/v2/js/action/action-list.js?version=<?php echo $this->config->item('version');?>"></script>
