<link rel="stylesheet" href="/assets/css/plugins/chart.min.css">
<link rel="stylesheet" href="/assets/css/chart-ucd.css?version=<?php echo $this->config->item('version');?>">
<section class="dashboard-ucd chart-pg">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">UCD 현황</h2>
            <span class="today-date" id="today-date"></span>
        </div>
        <div class="wrap">
            <div class="row">

                <ul class="tab clearfix">
                    <li id="issuanceUcd" class="on box">
                        <p class="box-title">발행</p>
                        <dl>
                            <dt class="sub-title">누적금액</dt>
                            <dd class="ucd-text"><img src="/assets/images/icon_ucd_s.png" alt="아이콘"><span></span></dd>
                        </dl>
                        <i class="bg-icon fas fa-donate"></i>
                    </li>
                    <li id="rewardUcd" class="box">
                        <p class="box-title">적립</p>
                        <dl>
                            <dt class="sub-title">누적금액</dt>
                            <dd class="ucd-text"><img src="/assets/images/icon_ucd_s.png" alt="아이콘"><span></span></dd>
                        </dl>
                        <i class="bg-icon fas fa-piggy-bank"></i>
                    </li>
                    <li id="balanceUcd" class="box">
                        <p class="box-title">프로모션 예산</p>
                        <dl>
                            <dt class="sub-title">누적금액</dt>
                            <dd class="ucd-text"><img src="/assets/images/icon_ucd_s.png" alt="아이콘"><span></span></dd>
                        </dl>
                        <i class="bg-icon fas fa-coins"></i>
                    </li>
                    <li id="doitUcd" class="box">
                        <p class="box-title">두잇 개설</p>
                        <dl>
                            <dt class="sub-title">누적금액</dt>
                            <dd class="ucd-text"><img src="/assets/images/icon_ucd_s.png" alt="아이콘"><span></span></dd>
                        </dl>
                        <i class="bg-icon far fas fa-tasks"></i>
                    </li>
                    <li id="exchangeUcd" class="box">
                        <p class="box-title">상품교환</p>
                        <dl>
                            <dt class="sub-title">누적금액</dt>
                            <dd class="ucd-text"><img src="/assets/images/icon_ucd_s.png" alt="아이콘"><span></span></dd>
                        </dl>
                        <i class="bg-icon fas fa-gifts"></i>
                    </li>
                    <li id="cancelUcd" class="box">
                        <p class="box-title">취소</p>
                        <dl>
                            <dt class="sub-title">누적금액</dt>
                            <dd class="ucd-text"><img src="/assets/images/icon_ucd_s.png" alt="아이콘"><span></span></dd>
                        </dl>
                        <i class="bg-icon fas fa-minus-circle"></i>
                    </li>
                </ul>


                <div class="box">
                    <div class="content">
                        <div class="top clearfix">
                            <p class="title">월 간 현황</p>
                            <div class="right-wrap clearfix">
                                <div class="select-box">
                                    <label for="selYear"></label>
                                    <select id="selYear">
                                    </select>
                                </div>
                                <div class="select-box">
                                    <label for="selMonth"></label>
                                    <select id="selMonth">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-1">
                                <canvas id="dailyInfo" width="400" height="auto"></canvas>
                            </div>
                            <div class="col col-2">
                                <div class="month-data">
                                    <dl>
                                        <dt class="title">Total</dt>
                                        <dd class="ucd-text total-text"><img src="/assets/images/icon_ucd_s.png" alt="아이콘"><span>86,956,800</span></dd>
                                    </dl>
                                    <dl>
                                        <dt class="title">개인충전</dt>
                                        <dd class="ucd-text"><img src="/assets/images/icon_ucd_s.png" alt="아이콘"><span>86,956,800</span></dd>
                                    </dl>
                                    <dl>
                                        <dt class="title">기업충전</dt>
                                        <dd class="ucd-text"><img src="/assets/images/icon_ucd_s.png" alt="아이콘"><span>86,956,800</span></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="box">
                    <div class="content" style="padding-bottom: 0;">
                        <div class="top" style="margin-bottom: 0;">
                            <div class="title">기간 별 현황</div>
                            <div class="right-wrap clearfix">
                                <div class="date-wrap">
                                    <span class="date-margin-text"> 기간검색 </span>
                                    <input type="text" class="datepicker date_from">
                                    <span class="date-margin-text"> ~ </span>
                                    <input type="text" class="datepicker date_to">
                                    <button type="button" class="search">검색</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <table>
                            <colgroup></colgroup>
                            <thead>
                            <tr>
                                <th>일자</th>
                                <th>개인충전</th>
                                <th>기업충전</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2020-01-01</td>
                                <td>3,000,000</td>
                                <td>3,000,000</td>
                            </tr>
                            <tr>
                                <td>2020-01-01</td>
                                <td>3,000,000</td>
                                <td>3,000,000</td>
                            </tr>
                            <tr>
                                <td>2020-01-01</td>
                                <td>3,000,000</td>
                                <td>3,000,000</td>
                            </tr>
                            <tr>
                                <td>2020-01-01</td>
                                <td>3,000,000</td>
                                <td>3,000,000</td>
                            </tr>
                            <tr>
                                <td>2020-01-01</td>
                                <td>3,000,000</td>
                                <td>3,000,000</td>
                            </tr>
                            <tr>
                                <td>2020-01-01</td>
                                <td>3,000,000</td>
                                <td>3,000,000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/plugins/chart.min.js"></script>
<script src="/assets/js/chart-config.js"></script>
<script src="/assets/js/ucd/ucd-dashboard.js?version=<?php echo $this->config->item('version');?>"></script>
