<link rel="stylesheet" href="/assets/css/ucd-payment-list.css?version=<?php echo $this->config->item('version');?>">
<section class="ucd-payment-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">충전내역</h2>
            <a href="/ucd/create/user"><i class="fas fa-plus"></i>회원 UCD 충전</a>
        </div>
        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">날짜</p>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="searchType">닉네임</label>
                    <select id="searchType">
                        <option value="nickname">닉네임</option>
                        <option value="description">내용</option>
                    </select>
                </div>
                <div class="select-box">
                    <label>키워드를 포함하는</label>
                    <select id="selMatch">
                        <option value="like">키워드를 포함하는</option>
                        <option value="match">키워드와 일치하는</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-common-btn-wrap list-search-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="search">검색</button>
                <button class="reset" type="reset">초기화</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="right-wrap clearfix">
                    <p>Total <strong class="data-num"></strong></p>
                    <div class="select-box">
                        <label for="selPageLength"></label>
                        <select id="selPageLength">
                        </select>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button id="btnXlsxOut" class="btn-excel" type="button"><i class="fas fa-table"></i>엑셀 다운받기</button>
                </div>
            </div>

            <table id="dataTable">
                <!--<colgroup>
                    <col style="width:15%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:40%;">
                    <col style="width:15%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>닉네임</th>
                        <th>유형</th>
                        <th>충전금액</th>
                        <th>일시</th>
                        <th>내용</th>
                        <th>담당자</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>베리베리</td>
                    <td>UCD(c)</td>
                    <td>10,000</td>
                    <td>2020-04-04</td>
                    <td>신세계 상품권 5만원권 발송 완료</td>
                    <td>admin</td>
                </tr>
                </tbody>-->
            </table>
            <!--<ul class="table-pagination clearfix">
                <li><i class="fas fa-angle-double-left"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fas fa-angle-double-right"></i></li>
            </ul>-->
        </div>

    </div>
</section>
<script src="/assets/js/plugins/tablesort.min.js"></script>
<script src="/assets/js/plugins/tablesort.number.min.js"></script>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script defer src="/assets/js/plugins/xlsx.full.min.js"></script>
<script defer src="/assets/js/export-excel.js"></script>
<script defer src="/assets/js/ucd/ucd-charge-list.js?version=<?php echo $this->config->item('version');?>"></script>