<section class="ucd-charge-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">매출관리(Biz)</h2>
            <a href="/ucd/sales/create"><i class="fas fa-plus"></i>UCD 충전/취소</a>
        </div>
        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">날짜</p>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="searchType">기업명</label>
                    <select id="searchType">
                        <option value="">기업명</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-common-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="reset">초기화</button>
                <button class="search">검색</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="select-box">
                        <label for="selPageLength">10개씩 보기</label>
                        <select id="selPageLength">
                            <option value="10">10개씩 보기</option>
                            <option value="20">20개씩 보기</option>
                            <option value="30">30개씩 보기</option>
                        </select>
                    </div>
                    <p>Total <strong class="data-num">16</strong></p>
                </div>
                <div class="btn-wrap">
                    <!--<button class="excel-btn" type="button"><i class="fas fa-table"></i>엑셀 다운받기</button>-->
                </div>
            </div>
            <table>
                <colgroup>
                    <col style="width:15%;">
                    <col style="width:5%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:35%;">
                    <col style="width:10%;">
                </colgroup>
                <thead class="th-row">
                    <tr>
                        <th>기업명</th>
                        <th>구분</th>
                        <th>금액</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>일시</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@야나두</td>
                        <td>적립</td>
                        <td>300,000,000</td>
                        <td>제목노출</td>
                        <td>[2020-02-02~ 2020-09-02][카카오키즈 이벤트] : 100</td>
                        <td>2019-11-07</td>
                    </tr>
                    <tr class="minus-pay">
                        <td>@야나두</td>
                        <td>적립</td>
                        <td>-300,000,000</td>
                        <td>제목노출</td>
                        <td>[2020-02-02~ 2020-09-02][카카오키즈 이벤트] : 1008</td>
                        <td>2019-11-07</td>
                    </tr>
                </tbody>
            </table>
            <ul class="table-pagination clearfix">
                <li><i class="fas fa-angle-double-left"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fas fa-angle-double-right"></i></li>
            </ul>
        </div>
    </div>
</section>
<script src="/assets/js/ucd/ucd-charge-list.js"></script>