<section class="ucd-charge-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">매출관리(Biz)</h2>
            <a style="width: 180px;" href="/ucd/create/biz"><i class="fas fa-plus"></i>기업 UCD 적립/취소</a>
        </div>
        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">날짜</p>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="search_type">기업명</label>
                    <select id="search_type">
                        <option value="nickname">기업명</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-common-btn-wrap list-search-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="search">검색</button>
                <button class="reset" type="reset">초기화</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="right-wrap clearfix">
                    <p>Total <strong class="data-num"></strong></p>
                    <div class="select-box">
                        <label for="selPageLength"></label>
                        <select id="selPageLength">
                        </select>
                    </div>
                </div>
                <div class="btn-wrap">
                    <!--<button class="excel-btn" type="button"><i class="fas fa-table"></i>엑셀 다운받기</button>-->
                </div>
            </div>
            <table id="biz-sales-table">
                <!--<colgroup>
                    <col style="width:15%;">
                    <col style="width:5%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead class="th-row">
                    <tr>
                        <th>기업명</th>
                        <th>구분</th>
                        <th>금액</th>
                        <th>제목</th>
                        <th>담당자</th>
                        <th>일시</th>
                        <th>계약 내용</th>
                    </tr>
                </thead>
                <tbody>
                    <td>기업명</td>
                    <td>구분</td>
                    <td>금액</td>
                    <td>제목</td>
                    <td>담당자</td>
                    <td>일시</td>
                    <td><a href="#">보기</a></td>
                </tbody>-->
            </table>
<!--            <ul class="table-pagination clearfix">-->
<!--                <li><i class="fas fa-angle-double-left"></i></li>-->
<!--                <li class="active">1</li>-->
<!--                <li>2</li>-->
<!--                <li>3</li>-->
<!--                <li><i class="fas fa-angle-double-right"></i></li>-->
<!--            </ul>-->
        </div>
    </div>

    <div class="modal-content">
        <div class="wrap">
            <i class="close-btn">×</i>
            <p class="modal-title">기업 계약 내용</p>
            <ul class="modal-information">
                <li>
                    <p class="sub-title">프로모션 기간</p>
                    <p class="data-contents" id="modalPromoTerm"></p>
                </li>
                <li>
                    <p class="sub-title">계약명</p>
                    <p class="data-contents" id="modalContractTitle"></p>
                </li>
                <li>
                    <p class="sub-title">계약금액</p>
                    <p class="data-contents" id="modalContractAmount"></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-layout"></div>

</section>
<script src="/assets/js/plugins/tablesort.min.js"></script>
<script src="/assets/js/plugins/tablesort.number.min.js"></script>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/dataTables.select.min.js"></script>
<script defer src="/assets/js/ucd/ucd-sales-list.js?version=<?php echo $this->config->item('version');?>"></script>