<link rel="stylesheet" href="/assets/css/create-common.css?version=<?php echo $this->config->item('version');?>">
<link rel="stylesheet" href="/assets/css/ucd-use-create.css?version=<?php echo $this->config->item('version');?>">
<section class="ucd-give-ded-page">
    <div class="inner">
        <h2 class="main-title">회원 UCD 충전</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">충전 대상(*)</p>
                        </div>
                        <div class="col-2">
                            <button id="btnModalOpen" class="add-btn" type="button" style="width: 180px;">
                                <i class="fas fa-plus"></i>
                                <span>추가하기</span>
                            </button>
                            <div class="result_box" style="margin-top: 10px;">
                                <div class="btn-open-result">
                                    <p class="user-select-title">충전 대상 <em id="selectedUserCount">0</em>명</p>
                                    <i class="fas fa-chevron-down"></i>
                                </div>

                                <div class="table-wrap">
                                    <table>
                                        <colgroup>
                                            <col style="width:30%;">
                                            <col style="width:65%;">
                                            <col style="width:5%;">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>닉네임</th>
                                            <th>보유UCD</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="selectedUserTableBody">
                                        <!--<tr>
                                            <td>베리모카모카베리</td>
                                            <td>
                                                <div class="user-ucd">
                                                    <strong>30,000UCD</strong>
                                                    (ⓒ1000 / ⓟ20,000)
                                                </div>
                                            </td>
                                            <td><i style="color: #ec5c5c;" class="far fa-times-circle"></i></td>
                                        </tr>
                                        <tr>
                                            <td>베리모카</td>
                                            <td>
                                                <div class="user-ucd">
                                                    <strong>30,000UCD</strong>
                                                    (ⓒ1000 / ⓟ20,000)
                                                </div>
                                            </td>
                                            <td><i style="color: #ec5c5c;" class="far fa-times-circle"></i></td>
                                        </tr>
                                        <tr>
                                            <td>베리모카</td>
                                            <td>
                                                <div class="user-ucd">
                                                    <strong>30,000UCD</strong>
                                                    (ⓒ1000 / ⓟ20,000)
                                                </div>
                                            </td>
                                            <td><i style="color: #ec5c5c;" class="far fa-times-circle"></i></td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">
                                충전 UCD(point) (*)
                                <i class="question-mark far fa-question-circle">
                                    <span class="hover-text">최대 일백만UCD(1,000,000UCD)까지 가능합니다.</span>
                                </i>
                            </p>
                        </div>
                        <div class="col-2">
                            <input id="amount" type="text" class="only-num" maxlength="7">
                            <span class="input-num-title">UCD</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">내용(*)</p>
                        </div>
                        <div class="col-2 clearfix">
                            <textarea id="content" placeholder="내용을 입력해주세요." class="length-input" name="text" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
                </li>
            </ul>
        </div>

        <!--닉네임 검색 모달-->
        <div class="modal-content nickname-modal">
            <div class="wrap">
                <i class="close-btn fas fa-times-circle"></i>
                <p class="modal-title">UCD 충전 대상 등록</p>

                <ul class="modal-information user-search-wrap">
                    <li>
                        <div class="search-wrap">
                            <div class="search-box">
                                <input id="modalNickname" type="search" placeholder="닉네임을 입력해주세요.">
                                <i class="search-btn fas fa-search search"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="table-wrap">
                            <table id="dataTable">
                                <!--<colgroup>
                                    <col style="width:5%;">
                                    <col style="width:15%;">
                                    <col style="width:30%;">
                                    <col style="width:50%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>
                                        <div class="checkbox-wrap">
                                            <input type="checkbox" id="c5" name="cc" />
                                            <label for="c5"><span></span></label>
                                        </div>
                                    </th>
                                    <th>회원유형</th>
                                    <th>닉네임</th>
                                    <th>보유UCD</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox-wrap">
                                            <input type="checkbox" id="c6" name="cc" />
                                            <label for="c6"><span></span></label>
                                        </div>
                                    </td>
                                    <td>일반</td>
                                    <td>베리모카</td>
                                    <td>
                                        <div class="user-ucd">
                                            <strong>30,000UCD</strong>
                                            (ⓒ1000 / ⓟ20,000)
                                        </div>
                                    </td>
                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
                <button id="btnMoveRight" type="button" class="btn-go-wrap"><i class="fas fa-chevron-right"></i></button>
                <ul class="modal-information user-select-wrap">
                    <li>
                        <div class="table-wrap">
                            <table>
                                <colgroup>
                                    <col style="width:35%;">
                                    <col style="width:60%;">
                                    <col style="width:5%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>닉네임</th>
                                    <th>보유UCD</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="movedUserTableBody">
                                <!--<tr>
                                    <td>베리모카모카베리</td>
                                    <td>
                                        <div class="user-ucd">
                                            <strong>30,000UCD</strong>
                                            (ⓒ1000 / ⓟ20,000)
                                        </div>
                                    </td>
                                    <td><i class="far fa-times-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>베리모카</td>
                                    <td>
                                        <div class="user-ucd">
                                            <strong>30,000UCD</strong>
                                            (ⓒ1000 / ⓟ20,000)
                                        </div>
                                    </td>
                                    <td><i class="far fa-times-circle"></i></td>
                                </tr>
                                <tr>
                                    <td>베리모카</td>
                                    <td>
                                        <div class="user-ucd">
                                            <strong>30,000UCD</strong>
                                            (ⓒ1000 / ⓟ20,000)
                                        </div>
                                    </td>
                                    <td><i class="far fa-times-circle"></i></td>
                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>

                <button id="btnAddUser" class="completion-btn" type="submit">완료</button>
            </div>
        </div>
        <div class="modal-layout"></div>
    </div>
</section>
<script src="/assets/js/ucd/ucd-create-user.js?version=<?php echo $this->config->item('version');?>"></script>