<section>
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">사용자 지갑</h2>
        </div>

        <div class="search-wrap row">
            <div class="col-12">
                <ul class="card">
                    <li>
                        <p class="search-title">날짜</p>
                        <div class="form-box">
                            <div class="date-wrap">
                                <input type="text" class="datepicker date-from" readonly>
                                <span class="date-text"> ~ </span>
                                <input type="text" class="datepicker date-to" readonly>
                            </div>
                            <div class="date-btn">
                                <button type="button" class="btn today">오늘</button>
                                <button type="button" class="btn week">1주일</button>
                                <button type="button" class="btn month">1개월</button>
                                <button type="button" class="btn months">3개월</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="search-title">검색어</p>
                        <div class="form-box clearfix">
                            <select id="selSearchType" class="select-box">
                                <option value="nickname">닉네임</option>
                                <option value="profile_uuid">PID</option>
                            </select>
                            <div class="search-txt-wrap">
                                <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="search-btn row">
            <button id="btnSearch" type="submit" class="btn btn-primary">검색</button>
            <button id="btnReset" type="reset" class="btn btn-outline-primary">초기화</button>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num"></strong></p>
                        <select id="selPageLength" class="select-box">
                        </select>
                    </div>
                </div>
            </div>
            <table id="dataTable">
                <!--<thead>
                <colgroup>
                    <col style="width: 15%;">
                    <col style="width: 5%;">
                    <col style="width: 25%;">
                    <col style="width: 25%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 5%;">
                </colgroup>
                <thead>
                <tr>
                    <th>닉네임</th>
                    <th>구분</th>
                    <th>제목</th>
                    <th>상세내용</th>
                    <th>UCD</th>
                    <th>일시</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>강남대로무법자</td>
                    <td>적립</td>
                    <td>친구초대</td>
                    <td>유효기간 초과 UCD 소멸</td>
                    <td>1,000</td>
                    <td>2020-02-02 00:00:00</td>
                    <td>대기</td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>
</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/ucd/member-wallet.js?version=<?php echo $this->config->item('version');?>"></script>