<section>
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">두잇 지갑</h2>
            <a href="/v2/ucd/create/doit"><i class="fas fa-plus"></i> UCD 충전</a>
        </div>

        <div class="search-wrap row">
            <div class="col-12">
                <ul class="card">
                    <li>
                        <p class="search-title">날짜</p>
                        <div class="form-box">
                            <select id="selDateType" class="select-box">
                                <option value="created">지급일</option>
                            </select>
                            <div class="date-wrap">
                                <input type="text" class="datepicker date-from" readonly>
                                <span class="date-text"> ~ </span>
                                <input type="text" class="datepicker date-to" readonly>
                            </div>
                            <div class="date-btn">
                                <button type="button" class="btn today">오늘</button>
                                <button type="button" class="btn week">1주일</button>
                                <button type="button" class="btn month">1개월</button>
                                <button type="button" class="btn months">3개월</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="search-title">검색어</p>
                        <div class="form-box clearfix">
                            <select id="selSearchType" class="select-box">
                                <option value="nickname">From/To/실행자</option>
                            </select>
                            <div class="search-txt-wrap">
                                <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="search-wrap row">
            <div class="col-3">
                <div class="card clearfix">
                    <p class="search-title">구분</p>
                    <div class="radio-wrap">
                        <input id="r0" type="radio" name="radio-type" value="">
                        <label for="r0"><span></span>전체</label>

                        <input id="r1" type="radio" name="radio-type" value="reward">
                        <label for="r1"><span></span>멤버 보상</label>

                        <input id="r2" type="radio" name="radio-type" value="charge">
                        <label for="r2"><span></span>UCD 적립</label>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card clearfix">
                    <p class="search-title">UCD</p>
                    <div class="radio-wrap" style="padding: 1px">
                        <input id="r3" type="radio" name="radio-status" value="all">
                        <label for="r3"><span></span>전체</label>

                        <input id="r4" type="radio" name="radio-status" value="">
                        <label for="r4">
                            <span></span>
                            <input type="text" value="5,000"> UCD 이상
                        </label>

                    </div>
                </div>
            </div>
        </div>

        <div class="search-btn row">
            <button id="btnSearch" type="submit" class="btn btn-primary">검색</button>
            <button id="btnReset" type="reset" class="btn btn-outline-primary">초기화</button>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num"></strong></p>
                        <select id="selPageLength" class="select-box">
                        </select>
                    </div>
                </div>
            </div>
            <table id="dataTable">
                <!--<thead>
                <colgroup>
                    <col style="width: 15%;">
                    <col style="width: 20%;">
                    <col style="width: 15%;">
                    <col style="width: 20%;">
                    <col style="width: 5%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead>
                <tr>
                    <th>두잇명</th>
                    <th>상세 내용</th>
                    <th>실행자</th>
                    <th>수령자</th>
                    <th>구분</th>
                    <th>UCD</th>
                    <th>지급 일시</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>두잇며어어어어어어어엉</td>
                    <td>사아아아아아앙세에에에에에내에에에요오오옹</td>
                    <td>강남대로무법자</td>
                    <td>[두잇] 홈트의 왕</td>
                    <td>적립</td>
                    <td>1,000</td>
                    <td>2020-02-02 00:00:00</td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>
</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/bundles/ucd-doit-wallet.bundle.js?version=<?php echo $this->config->item('version');?>"></script>