<section>
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">적립 대기 지갑</h2>
        </div>

        <div class="search-wrap row">
            <div class="col-12">
                <ul class="card">
                    <li>
                        <p class="search-title">날짜</p>
                        <div class="form-box">
                            <div class="date-wrap">
                                <input type="text" class="datepicker date-from" readonly>
                                <span class="date-text"> ~ </span>
                                <input type="text" class="datepicker date-to" readonly>
                            </div>
                            <div class="date-btn">
                                <button type="button" class="btn today">오늘</button>
                                <button type="button" class="btn week">1주일</button>
                                <button type="button" class="btn month">1개월</button>
                                <button type="button" class="btn months">3개월</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="search-title">검색어</p>
                        <div class="form-box clearfix">
                            <select id="selSearchType" class="select-box">
                                <option value="nickname">From/To</option>
                            </select>
                            <div class="search-txt-wrap">
                                <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="search-wrap row">
            <div class="col-3">
                <div class="card clearfix">
                    <p class="search-title">상태</p>
                    <div class="radio-wrap">
                        <input id="r4" type="radio" name="radio-status" value="all">
                        <label for="r4"><span></span>전체</label>

                        <input id="r5" type="radio" name="radio-status" value="pending">
                        <label for="r5"><span></span>대기</label>

                        <input id="r6" type="radio" name="radio-status" value="complete">
                        <label for="r6"><span></span>적립</label>

                        <input id="r7" type="radio" name="radio-status" value="expired">
                        <label for="r7"><span></span>소멸</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-btn row">
            <button id="btnSearch" type="submit" class="btn btn-primary">검색</button>
            <button id="btnReset" type="reset" class="btn btn-outline-primary">초기화</button>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num"></strong></p>
                        <select id="selPageLength" class="select-box">
                        </select>
                    </div>
                </div>
            </div>
            <table id="dataTable">
                <!--<thead>
                <colgroup>
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 20%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 5%;">
                </colgroup>
                <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>제목</th>
                    <th>상세내용</th>
                    <th>UCD</th>
                    <th>수신일</th>
                    <th>만료일</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>[두잇] 계단 오르기</td>
                    <td>맥</td>
                    <td>두잇 보상</td>
                    <td>상세내요오오오오오오오오옹</td>
                    <td>1,000</td>
                    <td>2021-01-21</td>
                    <td>2021-02-20</td>
                    <td>소멸</td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>
</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/bundles/ucd-pending-wallet.bundle.js?version=<?php echo $this->config->item('version');?>"></script>