@charset "UTF-8";

/* 운영자 관리 */
.datalist input {
    width: 260px;
}

/* 권한관리 */
.auth-create .auth-list {
    position: fixed;
    width: 330px;
}
.auth-create .auth-detail {
    float: right;
}
.auth-create .checkbox-wrap {
    margin-bottom: 10px;
}
.auth-create .checkbox-wrap:last-child {
    margin-bottom: 0;
}
