@charset "UTF-8";

/* loading */
.loading-wrap {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	z-index: 10000000000000;
}
.loading-container {
	margin: 300px auto;
}
.loading-container,
.loading {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.loading {
	border: 5px solid transparent;
	border-color: transparent #fff transparent #FFF;
	-moz-animation: rotate-loading 1.5s linear 0s infinite normal;
	-moz-transform-origin: 50% 50%;
	-o-animation: rotate-loading 1.5s linear 0s infinite normal;
	-o-transform-origin: 50% 50%;
	-webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
	-webkit-transform-origin: 50% 50%;
	animation: rotate-loading 1.5s linear 0s infinite normal;
	transform-origin: 50% 50%;
}
.loading-text {
	position: absolute;
	top: 0;
	width: 200px;
	margin-top: 95px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	-moz-animation: loading-text-opacity 2s linear 0s infinite normal;
	-o-animation: loading-text-opacity 2s linear 0s infinite normal;
	-webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
	animation: loading-text-opacity 2s linear 0s infinite normal;
}
@keyframes rotate-loading {
	0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
	100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
@keyframes loading-text-opacity {
	0%  {opacity: 0}
	20% {opacity: 0}
	50% {opacity: 1}
	100%{opacity: 0}
}

/* gride */
.row {
	margin: 10px -5px;
}
.row:after {
	display: block;
	clear: both;
	content: '';
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,
.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 5px;
	padding-left: 5px;
}
.col-1 {width: 8.333%;}
.col-2 {width: 16.666%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333%;}
.col-5 {width: 41.665%;}
.col-6 {width: 50%;}
.col-7 {width: calc(100% - 41.665%);}
.col-8 {width: calc(100% - 33.333%);}
.col-9 {width: calc(100% - 25%);}
.col-10 {width: calc(100% - 16.666%);}
.col-11 {width: calc(100% - 8.333%);}
.col-12 {width: 100%;}

/* style common */
.card {
	padding: 15px;
	background-color: #fff;
	box-shadow: 4px 5px 6px 0 rgb(0 0 0 / 5%);
	border-radius: 5px;
}
.desc {
	color: #888;
	font-size: 15px;
	font-weight: 500;
}
.desc-sub {
	padding: 5px 0;
	color: #999;
	font-size: 13px;
}
.title {
	font-size: 16px;
	font-weight: 600;
}
.small-txt {
	padding: 3px 0 0 0;
	color: #999;
	font-size: 12px;
}
.num {
	display: block;
	padding: 10px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}
.link {
	font-weight: 600;
	text-decoration: underline;
}
.link:hover {
	color: #00327e;
}

/* form style */
.select-box {
	float: left;
	position: relative;
	width: 150px;
	height: 35px;
	margin-right: 10px;
	padding: 0 10px;
	font-size: 14px;
	background-image: url(/assets/v2/img/icon-down.svg);
	background-position: 95% 50%;
	background-size: 10px;
	background-repeat: no-repeat;
	border: 1px solid #c5ccd6;
	border-radius: 3px;
}
.select-box:last-child {
	margin-right: 0;
}
input[type="text"],
input[type="time"],
input[type="search"],
input[type="password"] {
	width: 150px;
	height: 35px;
	padding: 0 10px;
	border: 1px solid #c5ccd6;
	border-radius: 3px;
}
input[type="search"] {
	width: 500px;
}

/* checkbox + radio common */
input[type="checkbox"],
input[type="radio"] {
	display: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label{
	font-size: 15px;
	margin-right: 10px;
}
input[type="checkbox"] + label span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: -2px 10px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #aaa;
	background-color: #fff;
}
input[type="checkbox"]:checked + label span {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("/assets/v2/img/check-on.png");
	border: 1px solid #007aff;
}
input[type="radio"] + label span {
	display:inline-block;
	width:18px;
	height:18px;
	border-radius: 50%;
	margin:-2px 10px 0 0;
	vertical-align:middle;
	cursor:pointer;
	border: 1px solid #aaa;
	background-color: #fff;
}
input[type="radio"]:checked + label span {
	background-size: 13px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("/assets/v2/img/radio-on.png");
	border: 1px solid #007aff;
}
input[type="checkbox"]:disabled + label span,
input[type="radio"]:disabled + label span {
	background-color: #ddd;
}
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #c5ccd6;
	border-radius: 3px;
}

/* 글자수 체크 */
.input-wrap {
	display: inline-block;
	position: relative;
}
.input-wrap input[type="text"] {
	padding: 0 40px 0 10px;
}
.length-count-wrap {
	color: #aaa;
	font-size: 12px;
}
.input-wrap .length-count-wrap {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}
.textarea-wrap {
	width: 100%;
}
.textarea-wrap:after {
	display: block;
	clear: both;
	content: '';
}
.textarea-wrap .length-count-wrap {
	float: right;
	margin-top: 10px;
}

/* 인풋 복사 */
input.input-copy {
	overflow: hidden;
	height: 20px;
	padding: 0;
	color: #505050;
	border: none;
	background: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 태그 */
.tag-wrap input[type="text"] {
	width: 280px !important;
}
.tag-wrap .input-wrap {
	margin-bottom: 5px;
}
.tag-list li {
	float: left;
	margin-right: 5px;
	padding: 4px 5px;
	background-color: #ccdffc;
}
.tag-list li span {
	font-size: 14px;
	font-weight: 600;
	color: #00327e;
}
.tag-list li button {
	color: #e81500;
}

/* 파일 업로드 */
.file-wrap {
	margin-bottom: 5px;
}
.file-wrap input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}
.file-wrap label {
	display: inline-block;
	padding: 10px 10px 11px;
	color: #777;
	font-size: 14px;
	background-color: #eff3f9;
	cursor: pointer;
	border-radius: 5px;
}
.file-wrap label:hover {
	color: #00327e;
	background-color: #ccdffc;
}
.file-wrap .upload-name {
	display: inline-block;
	width: 180px;
	height: 35px;
	padding: 0 10px;
	color: #7d7d7d;
	line-height: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #c5ccd6;
	border-bottom-color: #e2e2e2;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.file-wrap .upload-display {
	margin-bottom: 5px;
}
.file-wrap .upload-display {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 0;
}
.file-wrap .upload-thumb-wrap {
	display: inline-block;
	width: 54px;
	padding: 2px;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
}
.file-wrap .upload-display img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

/* 엑셀 업로드 */
.excel-import {
	display: inline-flex;
}
.excel-import label {
	color: #fff;
	background-color: #00ac69;
	border-color: #00ac69;
}
.excel-import label:hover {
	color: #fff;
	background-color: #00ac69;
	border-color: #00ac69;
}

/* button */
button {
	display: inline-flex;
	color: #777;
	font-weight: 400;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	background-color: #eff3f9;
	border: 1px solid transparent;
	border-radius: 5px;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button:hover {
	color: #00327e;
	background-color: #ccdffc;
}
button i {
	margin: 0 3px;
}
.btn {
	margin-right: 5px;
	padding: 13px 25px;
	font-size: 14px;
}
.btn-sm {
	margin-right: 5px;
	padding: 10px;
	font-size: 14px;
}
.btn-xs {
	margin-right: 3px;
	padding: 5px;
	font-size: 14px;
}
.btn-i {
	padding: 0 0;
	background: none;
}

.btn-move {
	display: block;
	width:60px;
	height: 350px;
	margin: 0 auto;
	text-align: center;
	line-height: 300px;
	background-color: #fff;
	border-radius: 50px;
	box-shadow: 4px 5px 6px 0 rgb(0 0 0 / 5%);;
}
.btn-move:hover{
	box-shadow:none;
}

.btn-primary {
	color: #fff;
	background-color: #0061f2;
	border-color: #0061f2;
}
.btn-primary:hover {
	color: #fff;
	background-color: #0052cc;
	border-color: #004dbf;
}
.btn-danger {
	color: #fff;
	background-color: #e81500;
	border-color: #e81500;
}
.btn-danger:hover {
	color: #fff;
	background-color: #e81500;
	border-color: #e81500;
}
.btn-warning {
	color: #fff;
	background-color: #f4a100;
}
.btn-warning:hover {
	color: #fff;
	background-color: #f4a100;
}
.btn-orange {
	color: #fff;
	background-color: #f76400;
}
.btn-orange:hover {
	color: #fff;
	background-color: #f76400;
}
.btn-success {
	color: #fff;
	background-color: #00ac69;
	border-color: #00ac69;
}
.btn-success:hover {
	color: #fff;
	background-color: #00ac69;
	border-color: #00ac69;
}
.btn-outline-primary {
	color: #0061f2;
	border-color: #0061f2;
	background-color: #fff;
}
.btn-outline-danger {
	color: #e81500;
	background-color: #fff;
	border-color: #e81500;
}
.btn-outline-danger:hover {
	color: #fff;
	background-color: #e81500;
}
.btn-outline-warning {
	color: #f4a100;
	background-color: #fff;
	border-color: #f4a100;
}
.btn-outline-warning:hover {
	color: #fff;
	background-color: #f4a100;
}
.btn-outline-orange {
	color: #f76400;
	background-color: #fff;
	border-color: #f76400;
}
.btn-outline-orange:hover {
	color: #fff;
	background-color: #f76400;
}
.btn-outline-success {
	color: #00ac69;
	background-color: #fff;
	border-color: #00ac69;
}
.btn-outline-success:hover {
	color: #fff;
	background-color: #00ac69;
	border-color: #00ac69;
}
.btn-teal {
	color: #fff;
	background-color: #00c0ef;
	border-color: #00acd6;
}
.btn-teal:hover {
	color: #fff;
	background-color: #00acd6;
	border-color: #00acd6;
}
.btn-text-red {
	color: #e81500;
}
.btn-text-red:hover {
	color: #fff;
	background-color: #e81500;
}
.btn-text-teal {
	color: #00c0ef;
}
.btn-add {
	color: #ffffff;
	border-radius: 30px;
	background-color: #0061f2;
	background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
}
.btn-add:hover {
	color: #fff;
	background-image: linear-gradient(135deg, rgba(105, 0, 199, 0.8) 0%, #0061f2 100%);
}

/*badge*/
.badge {
	display: inline-block;
	margin-right: 5px;
	padding: .25em .4em;
	font-size: 12px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	text-align: center;
	border-radius: .35rem;
}
.badge-info {
	color: #fff;
	background-color: #00cfd5;
}
.badge-success {
	color: #fff;
	background-color: #00ac69;
}
.badge-warning {
	color: #fff;
	background-color: #f4a100;
}

/* tool tip */
.tooltip-mark {
	position: relative;
	color: #777;
	font-size: 17px;
	z-index: 100;
}
.tooltip-txt {
	display: none;
	position: absolute;
	top: -5px;
	min-width: 280px;
	width: auto;
	padding: 5px 10px;
	color: #005937;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.2em;
	background-color: #cceee1;
	border: 1px solid #b8e8d5;
	border-radius: 5px;
}
.tooltip-txt.right {
	left: 130%;
}
.tooltip-txt.left {
	right: 130%;
}

.tooltip-mark:hover .tooltip-txt {
	display: block;
}

.toast-wrap {
	position: relative;
}
.toast-box {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	max-width: 900px;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
	border-radius: 5px;
}
.toast-header {
	display: flex;
	padding: 5px 10px;
	border-bottom: 1px solid #f3f3f3;
}
.toast-box .close {
	margin-left: auto;
	font-size: 15px;
	font-weight: 800;
	color: #888;
	text-shadow: 0 1px 0 #fff;
}
.toast-body {
	padding: 10px;
}

/* page common */
section {
	width: 100%;
	min-height: 100vh;
	padding-top: 35px;
	padding-left: 250px;
	background-color: #f2f6fc;
	transition: all .5s;
}
section.wide-content {
	padding-left: 0;
}
.inner {
	padding: 50px 3rem;
}
.main-top {
	margin-bottom: 30px;
}
h2.main-title {
	float: left;
	color: #444;
	font-size: 28px;
	font-weight: 600;
}
.main-top a {
	float: right;
	text-align: center;
	line-height: 40px;
	display: block;
	width: 160px;
	height: 40px;
	color: #ffffff;
	border-radius: 30px;
	background-color: #0061f2;
	background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
	transition: all .3s;
}
.main-top a i {
	padding-right: 5px;
}

/* main search */
.search-wrap ul li {
	padding: 15px 0;
	border-bottom: 1px solid #f1f1f1;
}
.search-wrap ul li:first-child {
	padding-top: 0;
}
.search-wrap ul li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
.search-wrap .checkbox-wrap,
.search-wrap .radio-wrap {
	padding: 9px 0;
}
.search-title {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
}
.search-txt-wrap {
	position: relative;
	float: left;
}
.search-txt-wrap input[type="search"] {
	padding-left: 35px;
}
.search-txt-wrap i {
	position: absolute;
	left: 10px;
	top: 10px;
	opacity: .3;
}
.date-wrap {
	float: left;
	margin-right: 10px;
}
.date-btn .btn {
	height: 35px;
	padding: 0 10px;
	color: #777;
	background-color: #eff3f9;
}
.date-btn .btn:hover,
.date-btn .btn.active {
	color: #00327e;
	background-color: #ccdffc;
}
.search-btn {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

/* main table */
table {
	width: 100%;
	color: #404040;
	background-color: #fff;
	box-shadow: 4px 5px 6px 0 rgb(0 0 0 / 5%);
	border-radius: 5px;
}
.table-wrap {
	margin-top: 10px;
}
.table-wrap .top {
	margin-bottom: 10px;
}
.table-wrap .top .left-wrap {
	float: left;
}
.table-wrap .top .left-wrap p {
	float: left;
	padding: 10px;
	color: #404040;
	font-size: 13px;
}
.table-wrap .top .left-wrap p strong {
	font-weight: 600;
}
.table-wrap .top .btn-wrap {
	float: right;
}
.table-wrap .top .btn-wrap i {
	margin-right: 5px;
}
.table-wrap table thead tr {
	border-bottom: 1px solid #ddd;
}
.table-wrap table tbody tr {
	border-bottom: 1px solid #f1f1f1;
}
.table-wrap table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}
.table-wrap table tbody tr.tr-waiting,
.table-wrap table tbody ttr:nth-child(even).tr-waiting,
.table-wrap table tbody tr.selected,
.table-wrap table tbody ttr:nth-child(even).selected {
	background-color: #e1ccf4;
}
.table-wrap table tbody tr:hover,
.table-wrap table tbody tr:nth-child(even):hover {
	background-color: #ccdffc;
}
.table-wrap table th,
.table-wrap table td {
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
}
table th {
	padding: 13px 10px;
	font-weight: 600;
}
table td {
	padding: 10px 10px;
	font-weight: 400;
}
.table-wrap table td a {
	text-decoration: underline;
}
.table-wrap table td a:hover {
	font-weight: 600;
	color: #00327e;
}
.table-wrap .list-img-wrap {
	overflow: hidden;
	width: 40px;
	height: auto;
	margin: 0px auto;
	border: 1px solid #f1f1f1;
}
.txt-left {
	text-align: left !important;
}

/*순서변경 테이블*/
.order-table tbody tr  {
	cursor: n-resize;
}

/* 데이터 테이블 */
.dataTables_scrollHeadInner{
	width: 100% !important;
}
.dataTables_scrollHeadInner table{
	width: 100% !important;
}
.dataTables_paginate {
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 20px 0;
}
/* paginate */
.dataTables_paginate {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.dataTables_paginate .paginate_button {
	font-size: 15px;
	padding: 7px;
	border-radius: 2px;
}
.dataTables_paginate .paginate_button.current {
	color: #ffffff;
	background-color: #0061f2;
}
.paginate_button.previous.disabled,
.paginate_button.next.disabled {
	opacity: 0.3;
	cursor: default;
}
.paginate_button.previous.disabled i,
.paginate_button.next.disabled i {
	cursor: default;
}

/* modal */
.modal-bg {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.4);
	z-index: 1003;
}
.modal-content {
	display: none;
	position: fixed;
	top:50%;
	left: 50%;
	width: 700px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 5px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	z-index: 1004;
}
.modal-header {
	padding: 10px;
	border-bottom: 1px solid #e0e5ec;
}
.modal-header h5 {
	float: left;
	color: #363d47;
	font-size: 17px;
	font-weight: 600;
}
.modal-header .modal-close {
	float: right;
	font-size: 20px;
	font-weight: 800;
	color: #888;
	text-shadow: 0 1px 0 #fff;
}
.modal-header .modal-close:hover {
	color: #555;
}
.modal-body {
	padding: 15px 10px;
	background-color: #f2f6fc;
}
.modal-body .select-box {
	width: 100%;
}
.modal-footer {
	padding: 10px 0;
	text-align: right;
	border-top: 1px solid #e0e5ec;
}

.modal-content .search-txt-wrap {
	width: 100%;
}
.modal-content input[type="search"] {
	width: 100%;
}

/* tab */
.tab {
	width: 100%;
	margin-bottom: 1px;
}
.tab li {
	float: left;
	height: 45px;
	color: #aaa;
	font-weight: 600;
	line-height: 45px;
	text-align: center;
	background-color: #eee;
	border-bottom: 2px solid #eee;
	cursor: pointer;
	transition: all .3s;
}
.tab li:hover,
.tab li.active {
	color: #0061f2;
	background-color: #fff;
	border-bottom: 2px solid #0061f2;
}
/* detail */
.detail-page input[type="text"],
input[type="password"]{
	width: 450px;
}
.detail-page .ucd-input-wrap input[type="text"] {
	width: 300px;
}
.detail-page .ucd-input-wrap span {
	font-size: 14px;
	font-weight: 600;
}

/* detail-table */
.right-wrap {
	float: right;
	margin-left: auto;
	text-align: right;
}
.detail-page .date-wrap input[type="text"] {
	width: 150px;
}

.detail-table {
	width: 100%;
}
.detail-table tr {
	border-bottom: 1px solid #f1f1f1;
}
.detail-table th,
.detail-table td {
	padding: 15px 10px;
	text-align: left;
	vertical-align: top;
}
.detail-table td {
	color: #303030;
}
.detail-img-wrap {
	overflow: hidden;
	width: 100px;
	/*height: 100px;*/
	border: 1px solid #f3f3f3;
}
.detail-img-wrap img {
	width: 100%;
	height: 100%;
}
.detail-image-wrap {
	width: 420px;
}
.detail-tit-warp {
	display: flex;
	align-content: center;
	margin-bottom: 10px;
}
.detail-tit-warp .title {
	margin-right: auto;
}
.detail-tit-warp button,
.btn-right-wrap {
	margin-left: auto;
}
.detail-tit-warp .btn-add i {
	margin-right: 5px;
}
.detail-data {
	line-height: 1.2em;
}
.group {
	margin-bottom: 50px;
}
.group:last-child {
	margin-bottom: 0;
}
.detail-group div {
	margin-bottom: 5px;
}
.detail-group:last-child div {
	margin-bottom: 0;
}

.result-box {
	margin-top: 10px;
	padding: 10px 15px 20px;
	background-color: #f2f6fc;
}
.footer-btn-wrap {
	margin-top: 30px;
	text-align: right;
}

/*스윗 알럿*/
.swal2-content {
	font-size: 0.9em;
}

/* 텍스트 말줄임 */
.line-clamp {
	overflow: hidden;
	display: inline-block;
	max-width: 211px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom: 1px solid #505050;
	cursor: pointer;
}
.line-clamp-2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-decoration: underline;
	cursor: pointer;
}

.date-time-wrap .datepicker {
	float: left;
	margin-right: 10px;
}
.date-time-wrap .select-box {
	width: 100px;
}
