@charset "UTF-8";

/* 두잇 상세 */

.promotion-info li {
	float: left;
	padding: 0 10px;
	border-right: 1px solid #aaa;
}
.promotion-info li:last-child {
	border-right: none;
}
.promotion-name {
	font-weight: 600;
}
.promotion-date {
	color: #666;
}
.promotion-modal table tr {
	cursor: pointer;
}
.doit-detail-teb li {
	width: calc(100%/7);
}
.modal-content.talk-file-modal .image-wrap {
	overflow-y: scroll;
	max-height: 700px;
}
.doit.detail-page .ucd-input-wrap input {
	width: 150px;
}

.file-value {
	margin-bottom: 10px;
}
.date-cb {
	margin-left: 10px;
}
/* UCD 탭 */
.doit-ucd .result-wrap {
	margin-top: 10px;
}
.doit-ucd input[type="text"].action-num {
	width: 150px;
}
.doit-ucd select.mission {
	width: 350px;
}
.doit-ucd .top input[type="search"] {
	width: 300px;
}

/* 참여자관리 탭 */
.member-top {
	margin-bottom: 30px;
}
.member-top a {
	float: right;
	color: #888;
	font-size: 14px;
}
.doit-member .line-clamp-2 {
	width: 900px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-decoration: underline;
	cursor: pointer;
}
.doit-member select.mission {
	width: 450px;
}
.doit-member select.filter {
	width: 200px;
}
input.action-num {
	width: 100px !important;
}
.modal-content.member-add-ucd {
	width: 1000px;
}
.modal-content.member-add-ucd .add-ucd-select {
	width: 300px;
}
.nickname_search {
	width: 300px !important;
}
a.btn-save-ucd {
	color: #fff;
	border-radius: 5px;
}

/* 멤버 랭킹 */
.btn-sort {
	padding: 10px;
}
.btn-sort li {
	float: left;
	padding: 0 10px;
	color: #999;
	font-size: 14px;
	border-right: 1px solid #ccc;
	cursor: pointer;
}
.btn-sort li:last-child {
	border-right:none;
}
.btn-sort li.active, .btn-sort li:hover {
	color: #505050;
	font-weight: 600;
}
.doit-member-ranking .title i {
	transition: all .3s;
}
.doit-member-ranking .title i:hover {
	color: #0061f2;
}


/* 두잇 수정 */
.detail-update .detail-tit-warp button {
	margin-left: 0;
	margin-right: 10px;
}
.doit-tit-warp {
	display: flex;
	margin-bottom: 10px;
	align-content: center;
}
.doit-tit-warp .btn-back {
	display: inline-block;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 25px;
	background-color: #eee;
	border-radius: 50%;
}
.doit-tit-warp .title {
	padding: 0 10px;
	line-height: 35px;
}

/* 소개 이미지 */
.doit-info-img {
	width: 320px;
}
.doit-info-img img {
	width: 100%;
	height: 100%;
}

/* 유캔두 픽 두잇 */
.pic-doit .tag-list {
	margin: 10px 0;
}
.pic-doit .detail-tit-warp {
	margin-top: 10px;
}
.pic-doit .move-left {
	margin-top: 200px;
	color: #ddd;
	font-size: 20px;
	text-align: center;
}
.pic-doit .doit-img-wrap {
	width: 100px;
}

/* 카테고리 */
.category-detail .modal-content.category-doit-img {
	width: 1012px;
}
.category-detail .modal-content.category-doit-img-1 {
	width: 1342px;
}
.category-detail .update-btn-wrap span {
	display: inline-block;
	width: 455px;
}

/* 유캔두 픽 랭킹관리 */
.rank .lank-num {
	width: 25px;
	height: 20px;
	padding: 0 3px;
	color: #fff;
	font-weight: 600;
	line-height: 18px;
	text-align: center;
	background-color: #999;
}
.rank .lank-num.lank-top {
	background-color: #1da1f5;
}
.scroll-wrap {
	overflow-y: scroll;
	max-height: 500px;
}

