@charset "UTF-8";

/* 푸시 등록 */
.push-create .result-wrap {
	margin-top: 10px;
}
.top input[type="search"] {
	width: 300px;
}

/* ucd 충전 모달 */
.push-create .modal-content.nickname-search {
	width: 1100px;
}

/* 팝업등록 */
.app-ver-wrap input[type="text"] {
	width: 100px;
}