@charset "UTF-8";

/* 푸시 등록 */
.push-create .result-wrap {
	margin-top: 10px;
}
.top input[type="search"] {
	width: 300px;
}

/* ucd 충전 모달 */
.push-create .modal-content.nickname-search {
	width: 1100px;
}

/* 팝업등록 */
.app-ver-wrap input[type="text"] {
	width: 100px;
}

/* 배너관리 */
.table-wrap .banner-img-wrap {
	overflow: hidden;
	width: 80px;
	height: auto;
	cursor: pointer;
}
.table-wrap .banner-img-wrap img {
	transition: all .3s;
}
.table-wrap .banner-img-wrap:hover img {
	transform: scale(1.3);
}
.old-banner-list {
	margin-top: 50px;
}
.old-banner-list .banner-img-wrap {
	width: 50px;
}