@charset "UTF-8";

/* 인증리스트 */
.doit-auth .select-box.mission {
	width: 440px;
}
.auth-item .card {
	position: relative;
	padding-bottom: 30px;
}
.auth-item .red-card {
	position: absolute;
	right: 10px;
	bottom: 5px;
	width: 30px;
	height: 42px;
}
.auth-item .top .checkbox-wrap {
	float: left;
}
.auth-item .top .right-wrap {
	color: #999;
	font-size: 13px;
}
.auth-item .top .right-wrap span {
	display: inline-block;
	padding: 0 2px;
}
.auth-item .top .right-wrap span a {
	color: #444;
}
.auth-item .img-wrap {
	overflow: hidden;
	position: relative;
	margin: 5px 0;
	cursor: pointer;
}
.auth-item .img-wrap:after {
	display: block;
	content: '';
	padding-bottom: 100%;
}
.auth-item .img-wrap img {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all .5s;
}
.auth-item .img-wrap:hover img {
	transform: scale(1.2);
}
.auth-item .title {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	height: 35px;
	line-height: 1.2em;
}
.auth-item .nick-name {
	margin: 10px 0;
	color: #666;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-decoration: underline;
	cursor: pointer;
}
.auth-item .date {
	color: #aaa;
}

/* 인증, 톡 상세 */
.talk-file-img {
	overflow: hidden;
	width: 200px;
	cursor: pointer;
}
.talk-file-img img {
	transition: all .3s;
}
.talk-file-img:hover img {
	transform: scale(1.3);
}
.comment-wrap {
	margin-top: 30px;
}
.comment-list .card {
	margin-bottom: 20px;
}
.comment-wrap .title {
	float: left;
}
.comment-wrap .desc-sub {
	color: #999;
	font-weight: 500;
}
.comment-wrap .detail-data {
	padding: 10px 0;
}
.comment-wrap .img-wrap {
	overflow: hidden;
	width: 100px;
	cursor: pointer;
}
.comment-wrap .img-wrap img {
	transition: all .3s;
}
.comment-wrap .img-wrap:hover img {
	transform: scale(1.3);
}
.comment-wrap audio {
	margin: 5px 0;
	border:1px solid #fff;
	border-radius: 30px;
}

.comment-wrap .bottom {
	position: relative;
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px solid #f3f3f3;
}
.comment-wrap .bottom span {
	margin-right: 10px;
}
.card.blind {
	background: repeating-linear-gradient(-45deg, #f5f5f5, #f5f5f5 2px, #fff 0, #fff 6px);
}
/* 우측 댓글 달기 창 */
.comment-creat .detail-table {
	margin-top: 10px;
}
/* 답글 */
.comments-wrap {
	margin-top: 15px;
	background-color: #f3f3f3;
	border-radius: 3px;
}
.comments-wrap li.blind {
	background: repeating-linear-gradient(-45deg, #f9f9f9, #f9f9f9 2px, #f3f3f3 0, #f3f3f3 6px);
}
.comments-wrap ul li {
	padding: 10px 10px;
	border-bottom: 1px solid #fff;
}
.comments-wrap .bottom {
	position: relative;
}
.comments-wrap .btn-more {
	border-radius: 0;
	background-color: rgba(255,255,255,.4);
}
.comments-wrap .btn-more:hover {
	background-color: rgba(255,255,255,.6);
}

.comments-wrap .add-comments {
	position: relative;
}
.comments-wrap .add-comments .link {
	font-size: 14px;
}
.comments-wrap .add-comments .modal-content.comments-creat {
	top: 22px

}

/* 답글 달기 창 */
.modal-content.comments-creat {
	position: absolute;
	top: 35px;
	left: 0;
	transform: none;
	box-shadow: 4px 5px 6px 0 rgb(0 0 0 / 5%);
}


/* 신고관리 - 인증 상세 모달 */
.modal-content.auth-detail {
	width: 1300px;
}
.modal-content.auth-detail .card {
	position: relative;
}
.btn-download {
	position: absolute;
	top:18px;
	right: 15px;
	z-index: 100;
}
/* 인증 */
.auth-detail .auth-data-wrap {
	width: 604px;
	height: 604px;
}
.auth-detail .auth-data-wrap .img-wrap {
	height: 100%;
	overflow-y: scroll;
}
.auth-detail .video-wrap {
	background-color: #000;
}
.auth-detail .txt-left .video-wrap {
	width: 500px;
}
.video-wrap video {
	width: 100%;
	height: 604px;
}
.audio-wrap {
	position: relative;
}
.audio-wrap audio {
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: calc(100% - 30px);
	transform: translate(-50%);
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
}
/* 인증예시 비디오 */
.auth-ex-wrap .video-wrap video {
	height: 518px;
}

/* 회원관리 - 인증 */
.member-detail .auth-item .title {
	font-size: 14px;
}
.member-detail .auth-item .nick-name {
	font-size: 13px;
}

.talk-detail-page table video,
.talk-detail-page table .detail-img-wrap {
	width: 400px;
}