/* CSS reset */
@charset "UTF-8";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, select {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%;
	border: 0;
	font-family: 'Noto Sans KR', sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
*::-webkit-scrollbar-track , .modal_container::-webkit-scrollbar-track {background-color: rgba(0,0,0,.1); border-radius:10px; margin-top:5px; margin-bottom:0px; }
*::-webkit-scrollbar , .modal_container::-webkit-scrollbar { width: 5px;  background-color: #fff;margin-top:20px; margin-bottom:20px;}
*::-webkit-scrollbar-thumb , .modal_container::-webkit-scrollbar-thumb { background-color: #717171; border-radius:10px; margin-top:20px; margin-bottom:20px;}
*:focus { outline:none; }
body {
	height: 100%;
	min-height: 100vh;
	line-height: 1;
	font-size: 15px !important;
	color: #212832;
	min-width: 1280px;
	background-color: #f2f6fc;
}
img {
	width: 100%;
	vertical-align: top;
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	margin: 16px 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
}
button {
	outline: none;
	cursor: pointer;
}
i {
	cursor: pointer;
}
.swiper-button-prev, .swiper-button-next {
	-webkit-tap-highlight-color: transparent !important;
}
/* input style */
input::-ms-clear,
input::-ms-reveal {display: none; width : 0; height: 0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{ display: none; }
input, select,textarea {
	vertical-align: middle;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
textarea, input {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}
select {
	cursor: pointer;
}
select:focus {
  outline: none;
}
.datalist input::-webkit-calendar-picker-indicator {
	opacity: 0;
}
input:focus {
  outline: none;
}
a {
	text-decoration:none;	
	color: inherit;
	cursor: pointer;
}
* {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;	
	-moz-box-sizing: border-box;
}
/* clarfix */
.clearfix {
	*zoom:1;
}
.clearfix:after {
	display: block;
	clear: both;
	content: '';
}
/* hiding */
.readable-hidden, .a11y, legend {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}
/* Change the color to your own background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-transition: background-color 9999s ease-out;
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
	-webkit-text-fill-color: #545454 !important;
}
