@charset "UTF-8";

/* ucd 충전 모달 */
.ucd-create .modal-content {
    width: 950px;
}
.top input[type="search"] {
    width: 300px;
}

.modal-content.add-ucd {
    width: 475px;
}
.modal-content.add-ucd .file-name {
    width: 300px;
    margin-right: 5px;
}
.modal-content.add-ucd .desc strong {
    color: #333;
    font-weight: 600;
}
