<link rel="stylesheet" href="/assets/css/admin-list.css">
<section class="admin-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">관리자 목록</h2>
            <a href="/admin/create"><i class="fas fa-plus"></i>관리자 등록</a>
        </div>

        <div class="list-common">
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="search_type">아이디</label>
                    <select id="search_type">
                        <option value="userid">아이디</option>
                        <option value="email">이메일</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="doit-list-option">
            <ul class="clearfix">
                <li>
                    <p class="list-common-title">권한</p>
                    <div class="select-box list-select-box">
                        <label id="authCodeLabel" for="auth_code"></label>
                        <select id="auth_code">
                            <!--<option value="">전체</option>
                            <option value="">스페셜</option>
                            <option value="">슈퍼</option>
                            <option value="">운영자</option>
                            <option value="">CS</option>
                            <option value="">마케팅</option>
                            <option value="">정산</option>
                            <option value="">모니터링</option>-->
                        </select>
                    </div>
                </li>
                <!--<li>
                    <p class="list-common-title">사용 여부</p>
                    <div class="radio-wrap">
                        <input type="radio" id="r2" name="rr" />
                        <label for="r2"><span></span>전체</label>

                        <input type="radio" id="r3" name="rr" />
                        <label for="r3"><span></span>Y</label>

                        <input type="radio" id="r4" name="rr" />
                        <label for="r4"><span></span>N</label>
                    </div>
                </li>-->
            </ul>
        </div>

        <div class="list-common-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="reset">초기화</button>
                <button class="search">검색</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="select-box">
                        <label for="selPageLength">10개씩 보기</label>
                        <select id="selPageLength">
                            <option value="10">10개씩 보기</option>
                            <option value="20">20개씩 보기</option>
                            <option value="30">30개씩 보기</option>
                        </select>
                    </div>
                    <p>Total <strong class="data-num"></strong></p>
                </div>
                <div class="btn-wrap">
                    <button id="btnDelete" class="delete-btn" type="button"><i class="fas fa-minus-circle"></i>관리자 삭제</button>
                </div>
            </div>

            <table id="dataTable">
<!--                <colgroup>-->
<!--                    <col style="width:5%;">-->
<!--                    <col style="width:10%;">-->
<!--                    <col style="width:15%;">-->
<!--                    <col style="width:15%;">-->
<!--                    <col style="width:30%;">-->
<!--                    <col style="width:15%;">-->
<!--                    <col style="width:15%;">-->
<!--                    <col style="width:10%;">-->
<!--                </colgroup>-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>-->
<!--                        <div class="checkbox-wrap">-->
<!--                            <input type="checkbox" id="c5" name="cc" />-->
<!--                            <label for="c5"><span></span></label>-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <th>권한</th>-->
<!--                    <th>아이디</th>-->
<!--                    <th>이름</th>-->
<!--                    <th>이메일</th>-->
<!--                    <th>최근 접속일</th>-->
<!--                   <th>최근 접속 IP</th>-->
<!--                    <th>사용여부</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <div class="checkbox-wrap">-->
<!--                            <input type="checkbox" id="c6" name="cc" />-->
<!--                            <label for="c6"><span></span></label>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                    <td>모니터링</td>-->
<!--                    <td><a href="/admin/detail">admin12</a></td>-->
<!--                    <td>김관리</td>-->
<!--                    <td>ldh53511@gmail.com</td>-->
<!--                    <td>2019/11/07</td>-->
<!--                    <td>123.11.11.11</td>-->
<!--                    <td>-->
<!--                        <div class="toggle-btn-wrap">-->
<!--                            <div class="toggle-btn on">-->
<!--                                <input type="checkbox" class="checkbox">-->
<!--                                <div class="knobs"></div>-->
<!--                                <div class="layer"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <div class="checkbox-wrap">-->
<!--                            <input type="checkbox" id="c7" name="cc" />-->
<!--                            <label for="c7"><span></span></label>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                    <td>모니터링</td>-->
<!--                    <td><a href="/admin/detail">admin12</a></td>-->
<!--                    <td>김관리</td>-->
<!--                    <td>ldh53511@gmail.com</td>-->
<!--                    <td>2019/11/07</td>-->
<!--                    <td>123.11.11.11</td>-->
<!--                    <td>-->
<!--                        <div class="toggle-btn-wrap">-->
<!--                            <div class="toggle-btn on">-->
<!--                                <input type="checkbox" class="checkbox">-->
<!--                                <div class="knobs"></div>-->
<!--                                <div class="layer"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
            </table>
            <!--<ul class="table-pagination clearfix">
                <li><i class="fas fa-angle-double-left"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fas fa-angle-double-right"></i></li>
            </ul>-->
        </div>
    </div>
</section>
<script src="/assets/js/admin/admin-list.js"></script>
