<section class="admin-detail-page">
    <div class="inner">
        <h2 class="main-title">관리자 상세</h2>
        <div class="wrap">
                <ul class="enrollment clearfix">
                    <li>
                        <p class="sub-title important">권한 (*)</p>
                        <p class="detail-data">슈퍼</p>
                    </li>
                    <li>
                        <p class="sub-title important">아이디 (*)</p>
                        <p class="detail-data">super_admin_01</p>
                    </li>
                    <li>
                        <p class="sub-title important">이름 (*)</p>
                        <p class="detail-data">김땡땡</p>
                    </li>
                    <li>
                        <p class="sub-title important">이메일(*)</p>
                        <p class="detail-data">ddang@yanadoo.co.kr</p>
                    </li>
                    <li class="doit-open">
                        <p class="sub-title important">사용 여부</p>
                        <p class="detail-data">Y</p>
                    </li>
                </ul>
            </div>
        <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
            <div class="btn-wrap">
                <a class="list-btn" href="/admin/lists">목록</a>
                <a class="update-btn" href="/admin/update">수정</a>
            </div>
        </div>
    </div>
</section>