<link rel="stylesheet" href="/assets/css/admin-create.css">
<section class="admin-create-page">
    <div class="inner">
        <h2 class="main-title">관리자 신규 등록</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">권한(*)</p>
                        </div>
                        <div class="col-2">
                            <div class="select-box">
                                <label id="authCodeLabel" for="auth_code"></label>
                                <select id="auth_code">
                                    <!--<option value="admin">운영자</option>
                                    <option value="cs">CS</option>
                                    <option value="master">마케팅</option>
                                    <option value="admin">정산</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">아이디(*)</p>
                        </div>
                        <div class="col-2">
                            <input id="userid" type="text" placeholder="아이디를 입력해주세요.">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">이름(*)</p>
                        </div>
                        <div class="col-2">
                            <input id="name" type="text" placeholder="이름을 입력해주세요.">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">이메일(*)</p>
                        </div>
                        <div class="col-2">
                            <input id="email" type="email" placeholder="이메일을 입력해주세요.">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">사용여부 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c1" name="radio-exposure" value="Y"/>
                                <label for="c1">Y<span></span></label>

                                <input type="radio" id="c2" name="radio-exposure" value="N"/>
                                <label for="c2">N<span></span></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
                </li>
            </ul>
        </div>
    </div>
</section>
<script src="/assets/js/admin/admin-create.js"></script>