<section class="admin-mypage-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">업무처리 관리</h2>
        </div>

        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">날짜</p>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="searchType">아이디</label>
                    <select id="searchType">
                        <option value="userid">아이디</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-common-btn-wrap list-search-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="search">검색</button>
                <button class="reset" type="reset">초기화</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="right-wrap clearfix">
                    <p>Total <strong class="data-num"></strong></p>
                    <div class="select-box">
                        <label for="selPageLength"></label>
                        <select id="selPageLength">
                        </select>
                    </div>
                </div>
                <div class="btn-wrap">
                    <!--<button class="excel-btn" type="button"><i class="fas fa-table"></i>엑셀 다운받기</button>-->
                </div>
            </div>
            <table id="dataTable">
                <!--<colgroup>
                    <col style="width:5%;">
                    <col style="width:41.6%;">
                    <col style="width:31.6%;">
                    <col style="width:21.6%;">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c5" name="cc" />
                            <label for="c5"><span></span></label>
                        </div>
                    </th>
                    <th>경로</th>
                    <th>최근 접속일</th>
                    <th>활동</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c6" name="cc" />
                            <label for="c6"><span></span></label>
                        </div>
                    </td>
                    <td><a href="#">두잇 관리 > 두잇 목록 > 신규등록</a></td>
                    <td>2019/11/07</td>
                    <td>수정</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c7" name="cc" />
                            <label for="c7"><span></span></label>
                        </div>
                    </td>
                    <td><a href="#">두잇 관리 > 두잇 목록 > 신규등록</a></td>
                    <td>2019/11/07</td>
                    <td>신규등록</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c8" name="cc" />
                            <label for="c8"><span></span></label>
                        </div>
                    </td>
                    <td><a href="#">두잇 관리 > 두잇 목록 > 신규등록</a></td>
                    <td>2019/11/07</td>
                    <td>모니터링</td>
                </tr>
                </tbody>-->
            </table>
            <!--<ul class="table-pagination clearfix">
                <li><i class="fas fa-angle-double-left"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fas fa-angle-double-right"></i></li>
            </ul>-->
        </div>
    </div>
</section>
<script src="/assets/js/plugins/tablesort.min.js"></script>
<script src="/assets/js/plugins/tablesort.number.min.js"></script>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/dataTables.select.min.js"></script>
<script src="/assets/js/admin/admin-log.js?version=<?php echo $this->config->item('version');?>"></script>
