<link rel="stylesheet" href="/assets/css/create-common.css">
<link rel="stylesheet" href="/assets/css/admin-create.css">
<section class="admin-auth-create-page">
    <div class="inner">
        <h2 class="main-title">관리자 권한 수정</h2>
        <div class="wrap clearfix">
            <ul class="enrollment auth-list-enrollment">
                <li class="sub-title">
                    <p class="sub-title important">권한</p>
                    <button class="add-btn more-infor-btn" type="button" data-rel="modal-01">
                        <i class="fas fa-plus"></i>
                        <span>ADD</span>
                    </button>
                </li>
                <li class="on"><button class="auth-list-btn" type="button">스페셜</button></li>
                <li><button class="auth-list-btn" type="button">슈퍼</button></li>
                <li><button class="auth-list-btn" type="button">운영자</button></li>
                <li><button class="auth-list-btn" type="button">CS</button></li>
                <li><button class="auth-list-btn" type="button">마케팅</button></li>
                <li><button class="auth-list-btn" type="button">정산</button></li>
                <li><button class="auth-list-btn" type="button">모니터링</button></li>
            </ul>
            <ul class="enrollment auth-set-enrollment">
                <li class="clearfix">
                    <p class="sub-title important">권한 설정 - <span class="auth-title">스페셜</span></p>
                    <button class="del-btn" type="button">
                        <i class="fas fa-minus"></i>
                        <span>권한삭제</span>
                    </button>
                </li>

                <li>
                    <ol class="auth-nav">
                        <li class="clearfix">
                            <div class="main-menu">
                                <div class="checkbox-wrap">
                                    <input type="checkbox" id="c1" name="cc" />
                                    <label for="c1"><span></span>비즈</label>
                                </div>
                            </div>
                            <ul class="sub-menu">
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c2" name="cc" />
                                        <label for="c2"><span></span>신규등록</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c3" name="cc" />
                                        <label for="c3"><span></span>비즈관리</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>

                <li>
                    <ol class="auth-nav">
                        <li class="clearfix">
                            <div class="main-menu">
                                <div class="checkbox-wrap">
                                    <input type="checkbox" id="c5" name="cc" />
                                    <label for="c5"><span></span>회원</label>
                                </div>
                            </div>
                            <ul class="sub-menu">
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c6" name="cc" />
                                        <label for="c6"><span></span>회원관리</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>

                <li>
                    <ol class="auth-nav">
                        <li class="clearfix">
                            <div class="main-menu">
                                <div class="checkbox-wrap">
                                    <input type="checkbox" id="c7" name="cc" />
                                    <label for="c7"><span></span>프로모션</label>
                                </div>
                            </div>
                            <ul class="sub-menu">
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c8" name="cc" />
                                        <label for="c8"><span></span>신규등록</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c9" name="cc" />
                                        <label for="c9"><span></span>프로모션 관리</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>

                <li>
                    <ol class="auth-nav">
                        <li class="clearfix">
                            <div class="main-menu">
                                <div class="checkbox-wrap">
                                    <input type="checkbox" id="c11" name="cc" />
                                    <label for="c11"><span></span>두잇</label>
                                </div>
                            </div>
                            <ul class="sub-menu">
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c12" name="cc" />
                                        <label for="c12"><span></span>신규등록</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c13" name="cc" />
                                        <label for="c13"><span></span>두잇 관리</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c14" name="cc" />
                                        <label for="c14"><span></span>카테고리 관리</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>

                <li>
                    <ol class="auth-nav">
                        <li class="clearfix">
                            <div class="main-menu">
                                <div class="checkbox-wrap">
                                    <input type="checkbox" id="c18" name="cc" />
                                    <label for="c18"><span></span>인증</label>
                                </div>
                            </div>
                            <ul class="sub-menu">
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c19" name="cc" />
                                        <label for="c19"><span></span>인증 관리</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>

                <li>
                    <ol class="auth-nav">
                        <li class="clearfix">
                            <div class="main-menu">
                                <div class="checkbox-wrap">
                                    <input type="checkbox" id="c20" name="cc" />
                                    <label for="c20"><span></span>리뷰</label>
                                </div>
                            </div>
                            <ul class="sub-menu">
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c21" name="cc" />
                                        <label for="c21"><span></span>리뷰 관리</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>

                <li>
                    <ol class="auth-nav">
                        <li class="clearfix">
                            <div class="main-menu">
                                <div class="checkbox-wrap">
                                    <input type="checkbox" id="c22" name="cc" />
                                    <label for="c22"><span></span>UCD</label>
                                </div>
                            </div>
                            <ul class="sub-menu">
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c23" name="cc" />
                                        <label for="c23"><span></span>UCD(c) 충전 내역</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c24" name="cc" />
                                        <label for="c24"><span></span>UCD(c/p) 이용 내역</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c25" name="cc" />
                                        <label for="c25"><span></span>출금 요청 내역</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c27" name="cc" />
                                        <label for="c27"><span></span>매출관리</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>

                <li>
                    <ol class="auth-nav">
                        <li class="clearfix">
                            <div class="main-menu">
                                <div class="checkbox-wrap">
                                    <input type="checkbox" id="c28" name="cc" />
                                    <label for="c28"><span></span>서비스</label>
                                </div>
                            </div>
                            <ul class="sub-menu">
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c29" name="cc" />
                                        <label for="c29"><span></span>공지사항 관리</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c30" name="cc" />
                                        <label for="c30"><span></span>이벤트 관리</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c31" name="cc" />
                                        <label for="c31"><span></span>FAQ 관리</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c31" name="cc" />
                                        <label for="c31"><span></span>1:1 문의 관리</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c31" name="cc" />
                                        <label for="c31"><span></span> 금칙어 관리</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>

                <li>
                    <ol class="auth-nav">
                        <li class="clearfix">
                            <div class="main-menu">
                                <div class="checkbox-wrap">
                                    <input type="checkbox" id="c46" name="cc" />
                                    <label for="c46"><span></span>푸쉬</label>
                                </div>
                            </div>
                            <ul class="sub-menu">
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c47" name="cc" />
                                        <label for="c47"><span></span>푸쉬 관리</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>

                <li>
                    <ol class="auth-nav">
                        <li class="clearfix">
                            <div class="main-menu">
                                <div class="checkbox-wrap">
                                    <input type="checkbox" id="c50" name="cc" />
                                    <label for="c50"><span></span>관리자</label>
                                </div>
                            </div>
                            <ul class="sub-menu">
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c52" name="cc" />
                                        <label for="c52"><span></span>관리자 관리</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c53" name="cc" />
                                        <label for="c53"><span></span>권한 관리</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>

                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">수정 완료</button>
                </li>

            </ul>
        </div>
    </div>
    <div class="modal-wrap">
        <!-- 관리자 권한 추가-->
        <div class="modal-content modal-01">
            <div class="wrap">
                <i class="close-btn fas fa-times-circle"></i>
                <p class="modal-title">관리자 권한 추가</p>
                <ul class="modal-information">
                    <li>
                        <p class="sub-title">권한코드 (*)</p>
                        <input type="text" placeholder="권한코드을 입력해주세요.">
                    </li>
                    <li>
                        <p class="sub-title">권한명 (*)</p>
                        <input type="text" placeholder="권한명을 입력해주세요.">
                    </li>
                </ul>
                <button class="completion-btn" type="submit">완료</button>
            </div>
        </div>
        <div class="modal-layout"></div>
    </div>
</section>
<script src="/assets/js/admin/admin-create.js"></script>
<script>

    // modal event
    $('.more-infor-btn').click(function () {
        var openModal = $(this).attr('data-rel');
        $('.' + openModal).fadeIn();
        $('.modal-layout').fadeIn();
    });
    $('.close-btn').click(function () {
        $('.modal-layout').fadeOut();
        $('.modal-content').fadeOut();
    });
    $('.modal-layout').click(function () {
        $('.modal-layout').fadeOut();
        $('.modal-content').fadeOut();
    });

    $('.auth-list-btn').on('mouseenter', function(){

    });


</script>