<link rel="stylesheet" href="/assets/css/create-common.css?version=<?php echo $this->config->item('version');?>">
<link rel="stylesheet" href="/assets/css/admin-create.css?version=<?php echo $this->config->item('version');?>">
<section class="admin-auth-create-page">
    <div class="inner">
        <h2 class="main-title">권한 설정</h2>
        <div class="wrap clearfix">
            <ul class="enrollment auth-list-enrollment">
                <li class="sub-title">
                    <p class="sub-title important">권한</p>
                    <button class="add-btn more-info-btn auth-modal-open" type="button" data-rel="modal-01">
                        <i class="fas fa-plus"></i>
                        <span>ADD</span>
                    </button>
                </li>
                <ol id="authList">
                </ol>
            </ul>
            <div class="enrollment auth-set-enrollment">
                <div class="clearfix">
                    <p class="sub-title important">권한 설정</p>
                </div>
                <ul id="authMenuArea" class="auth-set-wrap">
                </ul>
                <ul>
                    <li>
                        <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="modalAddAuth" class="modal-wrap">
        <!-- 관리자 권한 추가-->
        <div class="modal-content modal-01">
            <div class="wrap">
                <i class="close-btn">×</i>
                <p class="modal-title">관리자 권한 추가</p>
                <ul class="modal-information">
                    <li>
                        <p class="sub-title">권한코드 (*)</p>
                        <input id="authCode" type="text" placeholder="권한코드를 입력해주세요.">
                    </li>
                    <li>
                        <p class="sub-title">권한명 (*)</p>
                        <input id="authName" type="text" placeholder="권한명을 입력해주세요.">
                    </li>
                </ul>
                <button id="btnSubmitAuth" class="completion-btn" type="submit">완료</button>
            </div>
        </div>
        <div class="modal-layout"></div>
    </div>
</section>
<script defer src="/assets/js/admin/auth-create.js?version=<?php echo $this->config->item('version');?>"></script>