<link rel="stylesheet" href="/assets/css/create-common.css">
<section class="deploy-page">
    <div class="inner">
        <h2 class="main-title">배포 관리</h2>
        <div id="deployWrapper" class="wrap">

            <p class="enrollment-title" style="margin-top: 0;">API</p>
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">push</p>
                        </div>
                        <div class="col-2">
                            <div class="btn-wrap">
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> production</button>
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> staging</button>
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> development</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">pull</p>
                        </div>
                        <div class="col-2">
                            <div class="btn-wrap">
                                <button class="btn-pull"><i class="fas fa-arrow-circle-down"></i> pull_dev1</button>
                                <button class="btn-pull"><i class="fas fa-arrow-circle-down"></i> pull_dev2</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <p class="enrollment-title">통합</p>
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">push</p>
                        </div>
                        <div class="col-2">
                            <div class="btn-wrap">
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> production</button>
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> staging</button>
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> development</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important" >pull</p>
                        </div>
                        <div class="col-2">
                            <div class="btn-wrap">
                                <button class="btn-pull"><i class="fas fa-arrow-circle-down"></i> pull_dev</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <p class="enrollment-title">Admin</p>
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">push</p>
                        </div>
                        <div class="col-2">
                            <div class="btn-wrap">
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> production</button>
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> staging</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="enrollment clearfix" style="margin-top: 20px">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">push</p>
                        </div>
                        <div class="col-2">
                            <div class="btn-wrap">
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> push_진석</button>
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> push_주영</button>
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> push_세린</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">pull</p>
                        </div>
                        <div class="col-2">
                            <div class="btn-wrap">
                                <button class="btn-pull"><i class="fas fa-arrow-circle-down"></i> pull_진석</button>
                                <button class="btn-pull"><i class="fas fa-arrow-circle-down"></i> pull_주영</button>
                                <button class="btn-pull"><i class="fas fa-arrow-circle-down"></i> pull_세린</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <p class="enrollment-title">홈페이지</p>
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">push</p>
                        </div>
                        <div class="col-2">
                            <div class="btn-wrap">
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> production</button>
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> staging</button>
                                <button class="btn-push"><i class="fas fa-arrow-circle-up"></i> development</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">pull</p>
                        </div>
                        <div class="col-2">
                            <div class="btn-wrap">
                                <button class="btn-pull"><i class="fas fa-arrow-circle-down"></i> pull_dev1</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<script src="/assets/js/dev.js"></script>