<link rel="stylesheet" href="/assets/v2/css/service.css?version=<?php echo $this->config->item('version');?>">
<section class="detail-page inquiry-detail">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">1:1 문의 답변 등록</h2>
            <div class="right-wrap">
                <button id="btnDelete" type="button" class="btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i> 1:1문의 삭제</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>닉네임</th>
                        <td>
                            <p class="detail-data" id="userNickname">
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>기기정보</th>
                        <td>
                            <p class="detail-data" id="deviceInfo">
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td>
                            <p class="detail-data" id="inquiryTitle">
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <p class="detail-data" id="content">
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>첨부파일</th>
                        <td class="clearfix" id="attachmentWrap">
                            <!--<div class="img-wrap">
                                <img src="/assets/v2/img/auth-1.jpg" alt="">
                            </div>
                            <div class="img-wrap">
                                <img src="/assets/v2/img/auth-1.jpg" alt="">
                            </div>
                            <div class="img-wrap">
                                <img src="/assets/v2/img/auth-1.jpg" alt="">
                            </div>-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row answer-wrap">
            <div class="col-12">
                <div class="card detail-tit-warp">
                    <p class="title">A. 답변</p>
                </div>
                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>답변 내용 *</th>
                        <td>
                            <textarea id="answerEl" rows="15" placeholder="답변을 입력해주세요."></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>메모</th>
                        <td>
                            <textarea id="memoEl" rows="3" placeholder="내용을 입력해주세요."></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>VOC 분류</th>
                        <td>
                            <select id="selVocType" class="select-box">
                                <option value="" disabled selected>문의유형</option>
                                <option value="개선 요청">개선 요청</option>
                                <option value="이용 문의">이용 문의</option>
                                <option value="기타">기타</option>
                            </select>
                            <select id="selVocTypeDetail" class="select-box">
                                <option value="" disabled selected>상세유형</option>
                                <!--<option value="현 기능">현 기능</option>
                                <option value="신규 기능">신규 기능</option>
                                <option value="디자인">디자인</option>
                                <option value="운영 정책">운영 정책</option>-->
                            </select>
                            <select id="selRiskGrade" class="select-box">
                                <option value="" disabled selected>리스크 등급</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">등록완료</button>
        </div>
    </div>

    <div class="modal-wrap">
        <!-- 첨부파일 상세 -->
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h5>첨부파일</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
               <div class="card">
                   <div class="image-wrap">
                        <img id="thumbnail" src="" alt="">
                   </div>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
            </div>
        </div>

        <div class="modal-bg"></div>
    </div>
</section>
<script type="module" src="/assets/v2/js/bundles/inquiry-update.bundle.js?version=<?php echo $this->config->item('version');?>"></script>