<link rel="stylesheet" href="/assets/v2/css/service.css?version=<?php echo $this->config->item('version');?>">
<section class="inquiry-list">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">1:1 문의</h2>
        </div>

        <div class="search-wrap row">
            <div class="col-12">
                <ul class="card">
                    <li>
                        <p class="search-title">날짜</p>
                        <div class="form-box">
                            <div class="date-wrap">
                                <input type="text" class="datepicker date-from" readonly>
                                <span class="date-text"> ~ </span>
                                <input type="text" class="datepicker date-to" readonly>
                            </div>
                            <div class="date-btn">
                                <button type="button" class="btn today">오늘</button>
                                <button type="button" class="btn week">1주일</button>
                                <button type="button" class="btn month">1개월</button>
                                <button type="button" class="btn months">3개월</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="search-title">검색어</p>
                        <div class="form-box clearfix">
                            <select id="selSearchType" class="select-box">
                                <option value="title_contents">제목/내용</option>
                                <option value="nickname">작성자</option>
                            </select>
                            <div class="search-txt-wrap">
                                <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="search-wrap row">
            <div class="col-3">
                <div class="card clearfix">
                    <p class="search-title">문의 구분</p>
                    <select id="selInquiryType" class="select-box">
                        <option value="all">전체</option>
                        <option value="회원정보">회원정보</option>
                        <option value="이용안내">이용안내</option>
                        <option value="두잇 참여/개설">두잇 참여/개설</option>
                        <option value="UCD">UCD</option>
                        <option value="오류/불편">오류/불편</option>
                        <option value="이벤트">이벤트</option>
                        <option value="제휴">제휴</option>
                        <option value="기타">기타</option>

                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="card clearfix">
                    <p class="search-title">답변 상태</p>
                    <div class="radio-wrap" style="padding: 6px 0;">
                        <input id="r1" type="radio" name="radio-status" value="all">
                        <label for="r1"><span></span>전체</label>

                        <input id="r2" type="radio" name="radio-status" value="답변완료">
                        <label for="r2"><span></span>답변완료</label>

                        <input id="r3" type="radio" name="radio-status" value="대기">
                        <label for="r3"><span></span>대기</label>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card clearfix">
                    <p class="search-title">VOC 분류</p>
                    <select id="" class="select-box">
                        <option value="all">전체</option>
                        <option value="개선 요청">개선 요청</option>
                        <option value="이용 문의">이용 문의</option>
                        <option value="기타">기타</option>
                    </select>
                    <select id="" class="select-box">
                        <option value="all">전체</option>
                        <option value="현 기능">현 기능</option>
                        <option value="신규 기능">신규 기능</option>
                        <option value="디자인">디자인</option>
                        <option value="운영 정책">운영 정책</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="card clearfix">
                    <p class="search-title">리스크 등급</p>
                    <select id="" class="select-box">
                        <option value="all">전체</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="search-btn row">
            <button id="btnSearch" type="submit" class="btn btn-primary">검색</button>
            <button id="btnReset" type="reset" class="btn btn-outline-primary">초기화</button>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num"></strong></p>
                        <select id="selPageLength" class="select-box">
                        </select>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button id="btnXlsxExport" type="button" class="btn-sm btn-success"><i class="fas fa-file-excel"></i> 엑셀 다운로드</button>
                </div>
            </div>
            <table id="dataTable">
                <!--<thead>
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 5%;">
                    <col style="width: 20%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 10%;">
                    <col style="width: 5%;">
                    <col style="width: 5%;">
                </colgroup>
                <thead>
                <tr>
                    <th>구분</th>
                    <th>제목</th>
                    <th>회원구분</th>
                    <th>닉네임</th>
                    <th>등록일시</th>
                    <th>담당자</th>
                    <th>처리일시</th>
                    <th>답변상태</th>
                    <th>메모</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>오류/불편사항</td>
                    <td>
                        <a href="inquiry/detail" class="line-clamp-1" style="max-width: 200px;">두잇 인증이 앙대여두잇 인증이 앙대여두잇 인증이 앙대여</a>
                    </td>
                    <td>비회원</td>
                    <td>열심히사는강아지열심히사는강아지</td>
                    <td>2021-03-03 00:00:00</td>
                    <td>열심히사는물고기열심히사는물고기</td>
                    <td>2021-03-03 00:00:00</td>
                    <td>완료</td>
                    <td>
                        <i class="tooltip-mark fas fa-sticky-note">
                            <span class="tooltip-txt left">승인 완료와 함께<br>참여자의 답변이 게시글이 자동 등록되요!</span>
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>오류/불편사항</td>
                    <td>
                        <a href="inquiry/update" class="line-clamp-1" style="max-width: 200px;">두잇 인증이 앙대여두잇 인증이 앙대여두잇 인증이 앙대여</a>
                    </td>
                    <td>비회원</td>
                    <td>열심히사는강아지열심히사는강아지</td>
                    <td>2021-03-03 00:00:00</td>
                    <td>열심히사는물고기열심히사는물고기</td>
                    <td>2021-03-03 00:00:00</td>
                    <td>대기</td>
                    <td>
                        <i class="tooltip-mark fas fa-sticky-note">
                            <span class="tooltip-txt left">승인 완료와 함께<br>참여자의 답변이 게시글이 자동 등록되요!</span>
                        </i>
                    </td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/v2/js/plugins/xlsx.full.min.js"></script>
<script type="module" src="/assets/v2/js/bundles/inquiry-list.bundle.js?version=<?php echo $this->config->item('version');?>"></script>