<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">공지사항 상세</h2>
            <div class="right-wrap">
                <button type="button" class="btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i> 공지사항 삭제</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>제목</th>
                        <td>
                            <p class="detail-data">
                                새로워진 유캔두 둘러보기!
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <p class="detail-data">
                                새로워진 유캔두 둘러보기!새로워진 유캔두 둘러보기!새로워진 유캔두 둘러보기!
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>본문 이미지</th>
                        <td>
                            <div class="detail-image-wrap">
                                <img src="/assets/v2/img/auth-1.jpg" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>예약일</th>
                        <td>
                            <p class="detail-data">
                                2020-04-01
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>상단 공지 여부</th>
                        <td>
                            <p class="detail-data">
                                N
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>노출 여부</th>
                        <td>
                            <p class="detail-data">
                                Y
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="footer-btn-wrap">
            <button id="btnBack" type="button" class="btn btn-outline-primary">이전</button>
            <button id="btnList" type="button" class="btn btn-primary">목록</button>
            <button id="btnUpdate" type="button" class="btn btn-teal">수정</button>
        </div>
    </div>
</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>