<section>
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">금칙어 목록</h2>
            <a id="btnCreate"><i class="fas fa-plus"></i>금칙어 등록</a>
        </div>

        <div class="search-wrap row">
            <div class="col-12">
                <ul class="card">
                    <li>
                        <p class="search-title">검색어</p>
                        <div class="form-box clearfix">
                            <div class="search-txt-wrap">
                                <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="search-btn row">
            <button id="btnSearch" type="submit" class="btn btn-primary">검색</button>
            <button id="btnReset" type="reset" class="btn btn-outline-primary">초기화</button>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num"></strong></p>
                        <select id="selPageLength" class="select-box">
                        </select>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button id="btnDelete" type="button" class="btn-sm btn-danger"><i class="fas fa-trash-alt"></i> 금칙어 삭제</button>
                </div>
            </div>
            <table id="dataTable">
                <thead>
                <colgroup>
                    <col style="width: 75%;">
                    <col style="width: 20%;">
                    <col style="width: 5%;">
                </colgroup>
                <thead>
                <tr>
                    <th>금칙어</th>
                    <th>등록일</th>
                    <th>
                        <div class="checkbox-wrap">
                            <input id="c1" type="checkbox">
                            <label for="c1"><span></span></label>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>히히</td>
                    <td>2020-02-02</td>
                    <td>
                        <div class="checkbox-wrap">
                            <input id="c2" type="checkbox">
                            <label for="c2"><span></span></label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-wrap">
        <!-- 금칙어 등록 -->
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h5>금칙어 등록</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <div class="card">
                    <p class="desc">
                        * 다수의 금칙어 입력시, 공백없이 ,(콤마)로 구분하여 입력해주세요.
                    </p>
                </div>
                <div class="table-wrap">
                    <table class="detail-table">
                        <colgroup>
                            <col style="width: 25%;">
                            <col style="width: 75%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <textarea id="banWords" rows="10" placeholder="금칙어를 입력해주세요."></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
                <button id="btnSubmit" type="button" class="btn btn-primary">등록완료</button>
            </div>
        </div>

        <div class="modal-bg"></div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/v2/js/plugins/dataTables.select.min.js"></script>
<script type="module" src="/assets/v2/js/prohibition/prohibition-list.js?version=<?php echo $this->config->item('version');?>"></script>