<link rel="stylesheet" href="/assets/css/create-common.css?version=<?php echo $this->config->item('version');?>">
<link rel="stylesheet" href="/assets/css/push-create.css?version=<?php echo $this->config->item('version');?>">
<section class="push-create-page">
    <div class="inner">
        <h2 class="main-title">푸시 발송</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li class="push-send-date create-radio-wrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">발송 일자(*)</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c6" name="radio-when" class="type-btn" value="immediately"/>
                                <label for="c6" ><span></span>즉시</label>

                                <input type="radio" id="c7" name="radio-when" class="type-btn" value="reserve"/>
                                <label for="c7"><span></span>예약</label>
                            </div>
                            <div class="text-wrap" style="margin-top: 15px; display: none">
                                <input id="sendDate" type="text" class="datepicker">
                                <input id="sendTime" type="time" style="width: 180px;">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="push-type create-radio-wrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">발송 대상(*)</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c1" name="radio-target-user" class="type-btn" value="all"/>
                                <label for="c1" ><span></span>전체</label>

                                <input type="radio" id="c2" name="radio-target-user" class="type-btn" value="individual"/>
                                <label for="c2"><span></span>개인</label>
                            </div>
                            <div class="text-wrap" style="margin-top: 15px; display: none">
                                <button id="btnModalUserOpen" class="add-btn" type="button" style="width: 180px;">
                                    <i class="fas fa-plus"></i>
                                    <span>추가하기</span>
                                </button>
                                <div class="result_box" style="margin-top: 10px;">
                                    <div class="btn-open-result">
                                        <p class="user-select-title">발송 대상 <em id="selectedUserCount">0</em>명</p>
                                        <i class="fas fa-chevron-down"></i>
                                    </div>

                                    <div class="table-wrap">
                                        <table>
                                            <colgroup>
                                                <col style="width:40%;">
                                                <col style="width:15%;">
                                                <col style="width:15%;">
                                                <col style="width:15%;">
                                                <col style="width:5%;">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th>닉네임</th>
                                                <th>두잇알림</th>
                                                <th>공지알림</th>
                                                <th>마케팅알림</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody id="selectedUserTableBody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--<input id="nickname" class="more-info" type="text" placeholder="클릭 후 닉네임을 선택해주세요." readonly="">-->
                            </div>
                        </div>
                    </div>
                </li>
                <li class="push-type create-radio-wrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">발송 구분(*)</p>
                        </div>
                        <div class="col-2" id="targetPageWrap">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c8" name="radio-target-page" class="type-btn" value="normal"/>
                                <label for="c8"><span></span>일반</label>

                                <input type="radio" id="c9" name="radio-target-page" class="type-btn" value="notice"/>
                                <label for="c9"><span></span>공지사항</label>

                                <input type="radio" id="c10" name="radio-target-page" class="type-btn" value="event"/>
                                <label for="c10"><span></span>이벤트</label>

                                <input type="radio" id="c11" name="radio-target-page" class="type-btn" value="promotion"/>
                                <label for="c11"><span></span>프로모션</label>
                            </div>
                            <div class="text-wrap" style="margin-top: 15px; display: none">
                                <input id="targetPage" class="more-info" type="text" placeholder="클릭 후 도착 페이지를 선택해주세요." readonly="">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="push-type create-radio-wrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">기기 구분 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c3" name="radio-store" class="type-btn" value="all"/>
                                <label for="c3" ><span></span>전체</label>

                                <input type="radio" id="c4" name="radio-store" class="type-btn" value="apple"/>
                                <label for="c4"><span></span>애플</label>

                                <input type="radio" id="c5" name="radio-store" class="type-btn" value="google"/>
                                <label for="c5"><span></span>구글</label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">푸시 본문(*)</p>
                        </div>
                        <div class="col-2 clearfix">
                            <textarea id="content" placeholder="내용을 입력해주세요." class="length-input" name="text" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </li>
                <li id="contentImageWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">이미지</p>
                        </div>
                        <div class="col-2">
                            <div class="filebox preview-image" style="margin-top: 0;">
<!--                                <p class="cap">이미지 (* 이미지 가로 사이즈: 750 이상)</p>-->
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="contentImage">업로드</label>
                                <input type="file" id="contentImage" class="upload-hidden">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">발송</button>
                </li>
            </ul>
        </div>
    </div>

    <div id="modalTargetPage" class="modal-content">
        <div class="wrap">
            <i class="close-btn fas fa-times-circle"></i>
            <p class="modal-title">도착 페이지 검색</p>
            <ul class="modal-information" style="height:400px">
                <li>
                    <div class="search-wrap">
                        <div class="search-box">
                            <input id="modalPage" type="search" placeholder="도착 페이지를 입력해주세요.">
                            <i class="search-btn fas fa-search"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="table-wrap">
                        <table id="targetPageTable">
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <!--닉네임 검색 모달-->
    <div id="modalTargetUser" class="modal-content nickname-modal">
        <div class="wrap">
            <i class="close-btn fas fa-times-circle"></i>
            <p class="modal-title">발송 대상 등록</p>

            <ul class="modal-information user-search-wrap">
                <li>
                    <div class="search-wrap">
                        <div class="search-box">
                            <input id="modalNickname" type="search" placeholder="닉네임을 입력해주세요.">
                            <i class="search-btn fas fa-search search"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="table-wrap">
                        <table id="targetUserTable">
                            <!--<colgroup>
                                <col style="width:5%;">
                                <col style="width:15%;">
                                <col style="width:30%;">
                                <col style="width:50%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c5" name="cc" />
                                        <label for="c5"><span></span></label>
                                    </div>
                                </th>
                                <th>회원유형</th>
                                <th>닉네임</th>
                                <th>보유UCD</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="c6" name="cc" />
                                        <label for="c6"><span></span></label>
                                    </div>
                                </td>
                                <td>일반</td>
                                <td>베리모카</td>
                                <td>
                                    <div class="user-ucd">
                                        <strong>30,000UCD</strong>
                                        (ⓒ1000 / ⓟ20,000)
                                    </div>
                                </td>
                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
            <button id="btnMoveRight" type="button" class="btn-go-wrap"><i class="fas fa-chevron-right"></i></button>
            <ul class="modal-information user-select-wrap">
                <li>
                    <div class="table-wrap">
                        <table>
                            <colgroup>
                                <col style="width:40%;">
                                <col style="width:15%;">
                                <col style="width:15%;">
                                <col style="width:15%;">
                                <col style="width:5%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>닉네임</th>
                                <th>두잇알림</th>
                                <th>공지알림</th>
                                <th>마케팅알림</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="movedUserTableBody">
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>

            <button id="btnAddUser" class="completion-btn" type="submit">완료</button>
        </div>
    </div>
    <div class="modal-layout"></div>
    <input type="hidden" id="req_page" value="<?php if(null !== $req_page) echo $req_page?>"/>
    <input type="hidden" id="page_uuid" value="<?php if(null !== $page_uuid) echo $page_uuid?>"/>
    <input type="hidden" id="req_content" value="<?php if(null !== $req_content) echo $req_content?>"/>
</section>
<script src="/assets/js/push/push-create.js?version=<?php echo $this->config->item('version');?>"></script>