<link rel="stylesheet" href="/assets/css/create-common.css?version=<?php echo $this->config->item('version');?>">
<link rel="stylesheet" href="/assets/css/push-create.css?version=<?php echo $this->config->item('version');?>">
<section class="push-create-page">
    <div class="inner">
        <h2 class="main-title">푸시 발송</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li class="push-send-date">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">발송일자</p>
                        </div>
                        <div class="col-2">
                            <input id="sendDate" type="text" class="datepicker">
                            <input id="sendTime" type="time" style="width: 180px;">
                        </div>
                    </div>
                </li>
                <li class="push-type create-radio-wrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">발송 대상(*)</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c1" name="radio-target" class="type-btn" value="all"/>
                                <label for="c1" >전체<span></span></label>

                                <input type="radio" id="c2" name="radio-target" class="type-btn" value="individual"/>
                                <label for="c2">개인<span></span></label>
                            </div>
                            <div class="text-wrap" style="margin-top: 15px; display: none">
                                <input id="nickname" class="more-info" type="text" placeholder="클릭 후 닉네임을 선택해주세요." readonly="">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="push-type create-radio-wrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">기기 구분 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c3" name="radio-store" class="type-btn" value="all"/>
                                <label for="c3" >전체<span></span></label>

                                <input type="radio" id="c4" name="radio-store" class="type-btn" value="apple"/>
                                <label for="c4">애플<span></span></label>

                                <input type="radio" id="c5" name="radio-store" class="type-btn" value="google"/>
                                <label for="c5">구글<span></span></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">내용(*)</p>
                        </div>
                        <div class="col-2 clearfix">
                            <textarea id="content" placeholder="내용을 입력해주세요." class="length-input" name="text" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </li>



<!--                <li class="create-radio-wrap">-->
<!--                    <div class="col-wrap clearfix">-->
<!--                        <div class="col-1">-->
<!--                            <p class="sub-title important">발송대상(*)</p>-->
<!--                        </div>-->
<!--                        <div class="col-2">-->
<!--                            <div class="checkbox-wrap">-->
<!--                                <input type="radio" id="c3" name="rd" class="obj-btn" value="objAll" />-->
<!--                                <label for="c3">전체<span></span></label>-->

<!--                                <input type="radio" id="c4" name="rd" class="obj-btn" value="objPart"/>-->
<!--                                <label for="c4">부분<span></span></label>-->

<!--                                <input type="radio" id="c10" name="rd" class="obj-btn" value="objGroup"/>-->
<!--                                <label for="c10">그룹<span></span></label>-->
<!--                            </div>-->

<!--                            <div class="nickname-wrap">-->
<!--                                <input class="tag-input" type="text" placeholder="닉네임을 입력해주세요.">-->
<!--                                <button class="more-info-btn" type="button">-->
<!--                                    <span>찾기</span>-->
<!--                                    <i class="fas fa-chevron-right"></i>-->
<!--                                </button>-->
<!--                                <div class="modal-content">-->
<!--                                    <div class="wrap">-->
<!--                                        <i class="close-btn fas fa-times-circle"></i>-->
<!--                                        <p class="modal-title">닉네임 찾기</p>-->
<!--                                        <ul class="modal-information">-->
<!--                                            <li>-->
<!--                                                <div class="search-wrap">-->
<!--                                                    <div class="search-box">-->
<!--                                                        <input type="search" placeholder="닉네임을 입력해주세요.">-->
<!--                                                        <i class="search-btn fas fa-search"></i>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <div class="table-wrap">-->
<!--                                                    <table>-->
<!--                                                        <colgroup>-->
<!--                                                            <col style="width:5%;">-->
<!--                                                            <col style="width:95%;">-->
<!--                                                        </colgroup>-->
<!--                                                        <thead>-->
<!--                                                        <tr>-->
<!--                                                            <th>-->
<!--                                                                <div class="checkbox-wrap">-->
<!--                                                                    <input type="checkbox" id="c5" name="cc" />-->
<!--                                                                    <label for="c5"><span></span></label>-->
<!--                                                                </div>-->
<!--                                                            </th>-->
<!--                                                            <th>닉네임</th>-->
<!--                                                        </tr>-->
<!--                                                        </thead>-->
<!--                                                        <tbody>-->
<!--                                                        <tr>-->
<!--                                                            <th>-->
<!--                                                                <div class="checkbox-wrap">-->
<!--                                                                    <input type="checkbox" id="c6" name="cc" />-->
<!--                                                                    <label for="c6"><span></span></label>-->
<!--                                                                </div>-->
<!--                                                            </th>-->
<!--                                                            <td>베리모카</td>-->
<!--                                                        </tr>-->
<!--                                                        </tbody>-->
<!--                                                    </table>-->
<!--                                                    <ul class="table-pagination clearfix">-->
<!--                                                        <li><i class="fas fa-angle-double-left"></i></li>-->
<!--                                                        <li class="active">1</li>-->
<!--                                                        <li>2</li>-->
<!--                                                        <li>3</li>-->
<!--                                                        <li><i class="fas fa-angle-double-right"></i></li>-->
<!--                                                    </ul>-->
<!--                                                    <div class="result_box">-->
<!--                                                        <p>선택된 유저 <em>3</em>명</p>-->
<!--                                                        <div class="container">-->
<!--                                                            BERRY, 새콤달콤, 모카베리-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                        <button class="completion-btn" type="submit">등록 완료</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="modal-layout"></div>-->
<!--                                <div class="result_box">-->
<!--                                    <p>발송대상 <em>3</em>명</p>-->
<!--                                    <div class="container">-->
<!--                                        BERRY, 새콤달콤, 모카베리-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="group-wrap clearfix">-->
<!--                                <p class="cap">csv파일 업로드</p>-->
<!--                                <div class="filebox preview-image">-->
<!--                                    <input class="upload-name" value="파일선택" disabled="disabled" accept=".csv">-->
<!--                                    <label for="input-file3">업로드</label>-->
<!--                                    <input type="file" id="input-file5" class="upload-hidden" accept=".csv">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">발송</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal-content">
        <div class="wrap">
            <i class="close-btn fas fa-times-circle"></i>
            <p class="modal-title">닉네임 검색</p>
            <ul class="modal-information">
                <li>
                    <div class="search-wrap">
                        <div class="search-box">
                            <input id="modalNickname" type="search" placeholder="닉네임을 입력해주세요.">
                            <i class="search-btn fas fa-search"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="table-wrap">
                        <table id="dataTable">
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-layout"></div>

</section>
<script src="/assets/js/push/push-create.js?version=<?php echo $this->config->item('version');?>"></script>