<section class="push-detail-page">
    <div class="inner">
        <h2 class="main-title">푸시 발송 상세</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li class="push-type">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">발송일자 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data">2020-02-02 14:00:00</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">발송 대상 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data">베리베리</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">기기 구분 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data">애플</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">내용(*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data">일반공지입니다. 일반공지입니다. 일반공지입니다.</p>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" href="/marketing/push">목록</a>
                    <a class="update-btn" href="/push/update">수정</a>
                </div>
            </div>
        </div>
    </div>
</section>