<link rel="stylesheet" href="/assets/css/push-list.css?version=<?php echo $this->config->item('version');?>">
<section class="push-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">푸시 관리</h2>
            <a href="/marketing/push/create"><i class="fas fa-plus"></i>푸시 발송</a>
        </div>

        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">등록일</p>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="search_type">내용</label>
                    <select id="search_type">
                        <option value="">내용</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="doit-list-option">
            <ul class="clearfix">
                <li>
                    <p class="list-common-title">기기 구분</p>
                    <div class="radio-wrap">
                        <input type="radio" id="c0" name="chk-send-type" value="Immediately"/>
                        <label for="c0"><span></span>전체</label>

                        <input type="radio" id="c1" name="chk-send-type" value="Immediately"/>
                        <label for="c1"><span></span>애플</label>

                        <input type="radio" id="c2" name="chk-send-type" value="reserve"/>
                        <label for="c2"><span></span>구글</label>
                    </div>
                </li>
                <li>
                    <p class="list-common-title">발송대상</p>
                    <div class="checkbox-wrap">
                        <input type="checkbox" id="c3" name="cb" />
                        <label for="c3"><span></span>전체</label>

                        <input type="checkbox" id="c4" name="cb" />
                        <label for="c4"><span></span>부분</label>

                        <input type="checkbox" id="c5" name="cb" />
                        <label for="c5"><span></span>그룹</label>
                    </div>
                </li>
                <li>
                    <p class="list-common-title">구분</p>
                    <div class="checkbox-wrap">
                        <input type="checkbox" id="c6" name="cc" />
                        <label for="c6"><span></span>일반공지</label>

                        <input type="checkbox" id="c7" name="cc" />
                        <label for="c7"><span></span>긴급공지</label>

                        <input type="checkbox" id="c8" name="cc" />
                        <label for="c8"><span></span>이벤트공지</label>
                    </div>
                </li>
            </ul>
        </div>-->

        <div class="list-common-btn-wrap list-search-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="search">검색</button>
                <button class="reset" type="reset">초기화</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="right-wrap clearfix">
                    <p>Total <strong class="data-num"></strong></p>
                    <div class="select-box">
                        <label for="selPageLength"></label>
                        <select id="selPageLength">
                        </select>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button id="btnCancel" class="btn-danger" type="button"><i class="fas fa-times-circle"></i>발송취소</button>
                </div>
            </div>

            <table id="dataTable">
                <!--<colgroup>
                    <col style="width:5%;">
                    <col style="width:20%;">
                    <col style="width:20%;">
                    <col style="width:20%;">
                    <col style="width:20%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c9" name="cc" />
                                <label for="c9"><span></span></label>
                            </div>
                        </th>
                        <th>발송대상</th>
                        <th>기기 구분</th>
                        <th>발송일시</th>
                        <th>발송여부</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c11" name="cc" />
                                <label for="c11"><span></span></label>
                            </div>
                        </td>
                        <td>전체</td>
                        <td>애플</td>
                        <td>2020/02/02 10:30:30</td>
                        <td>완료</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="c12" name="cc" />
                                <label for="c12"><span></span></label>
                            </div>
                        </td>
                        <td>베리베리베리</td>
                        <td>구글</td>
                        <td>2020/02/02 10:30:30</td>
                        <td>취소</td>
                    </tr>
                </tbody>-->
            </table>
            <!--<ul class="table-pagination clearfix">
                <li><i class="fas fa-angle-double-left"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fas fa-angle-double-right"></i></li>
            </ul>-->
        </div>
    </div>

    <div class="modal-wrap">
        <!-- 내용 자세히 보기-->
        <div id="modalDetail" class="modal-content modal-01">
            <div class="wrap">
                <i class="close-btn">×</i>
                <p class="modal-title">푸시 내용</p>
                <ul class="modal-information">
                    <li>
                        <p class="data-contents" id="detail"></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-layout"></div>
    </div>

</section>
<script src="/assets/js/plugins/tablesort.min.js"></script>
<script src="/assets/js/plugins/tablesort.number.min.js"></script>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/dataTables.select.min.js"></script>
<script defer src="/assets/js/push/push-list.js?version=<?php echo $this->config->item('version');?>"></script>