<link rel="stylesheet" href="/assets/v2/css/doit.css?version=<?php echo $this->config->item('version');?>">
<section class="detail-page category-detail">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">카테고리 상세</h2>
        </div>

        <div class="row">
            <div class="col-6">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 30%;">
                        <col style="width: 70%;">
                    </colgroup>
                    <tr>
                        <th>카테고리명 *</th>
                        <td>
                            <p class="detail-data" id="categoryTitle"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>카테고리 아이콘 *</th>
                        <td>
                            <div class="detail-img-wrap">
                                <img src="" alt="" id="categoryIcon">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>노출 여부 *</th>
                        <td>
                            <p class="detail-data" id="isExposure"></p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-6">

                <div class="card detail-tit-warp clearfix">
                    <p class="title">세부 카테고리</p>
                    <button id="btnAdd" type="button" class="btn-sm btn-add modal-btn"><i class="fas fa-plus"></i> 세부 카테고리 등록</button>
                </div>
                <div class="table-wrap">
                    <table id="dataTable">
                        <!--<thead>
                        <colgroup>
                            <col style="width: 85%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>세부 카테고리명</th>
                            <th>두잇 이미지</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>라이프 스타일</td>
                            <td><i class="fas fa-images"></i></td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                            <td><i class="fas fa-images"></i></td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                            <td><i class="fas fa-images"></i></td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                            <td><i class="fas fa-images"></i></td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                            <td><i class="fas fa-images"></i></td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                            <td><i class="fas fa-images"></i></td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                            <td><i class="fas fa-images"></i></td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                            <td><i class="fas fa-images"></i></td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                            <td><i class="fas fa-images"></i></td>
                        </tr>
                        <tr>
                            <td>라이프 스타일</td>
                            <td><i class="fas fa-images"></i></td>
                        </tr>
                        </tbody>-->
                    </table>
                </div>

            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnBack" type="button" class="btn btn-outline-primary">이전</button>
            <button id="btnList" type="button" class="btn btn-primary">목록</button>
            <button id="btnUpdate" type="button" class="btn btn-teal">수정</button>
        </div>
    </div>

    <div class="modal-wrap">
        <!-- 세부 카테고리 등록 -->
        <div class="modal-content category-doit-img-1" id="modalSubcategory">
            <div class="modal-header clearfix">
                <h5>세부 카테고리 등록</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <table class="detail-table">
                    <colgroup>
                        <col style="width: 25%;">
                        <col style="width: 75%;">
                    </colgroup>
                    <tbody><tr>
                        <th>세부 카테고리명 *</th>
                        <td>
                            <div class="input-wrap">
                                <input id="subCategoryTitle" type="text" class="length-input" placeholder="세부 카테고리명을 입력해주세요." maxlength="15">
                                <p class="length-count-wrap"><span class="count-input">0</span>/15</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            두잇 기본 이미지
                            <p class="desc-sub">업로드 사이즈 : 500 * 378</p>
                        </th>
                        <td class="clearfix">
                            <div class="img-file-wrap">
                                <label for="input-file6" class="btn-input-file"></label>
                                <input type="file" id="input-file6" name="create-attachment" accept="image/png, image/jpeg" data-width="500" data-height="378" data-compare="같음">
                                <i class="fas fa-times-circle icon-delete-attach"></i>
                                <!--                                <div class="detail-img-wrap"><img src="/assets/v2/img/test.png" alt=""></div>-->
                            </div>
                            <div class="img-file-wrap">
                                <label for="input-file7" class="btn-input-file"></label>
                                <input type="file" id="input-file7" name="create-attachment" accept="image/png, image/jpeg" data-width="500" data-height="378" data-compare="같음">
                                <i class="fas fa-times-circle icon-delete-attach"></i>
                                <!--                                <div class="detail-img-wrap"><img src="/assets/v2/img/test.png" alt=""></div>-->
                            </div>
                            <div class="img-file-wrap">
                                <label for="input-file8" class="btn-input-file"></label>
                                <input type="file" id="input-file8" name="create-attachment" accept="image/png, image/jpeg" data-width="500" data-height="378" data-compare="같음">
                                <i class="fas fa-times-circle icon-delete-attach"></i>
                                <!--                                <div class="detail-img-wrap"><img src="/assets/v2/img/test.png" alt=""></div>-->
                            </div>
                            <div class="img-file-wrap">
                                <label for="input-file9" class="btn-input-file"></label>
                                <input type="file" id="input-file9" name="create-attachment" accept="image/png, image/jpeg" data-width="500" data-height="378" data-compare="같음">
                                <i class="fas fa-times-circle icon-delete-attach"></i>
                            </div>
                            <div class="img-file-wrap">
                                <label for="input-file10" class="btn-input-file"></label>
                                <input type="file" id="input-file10" name="create-attachment" accept="image/png, image/jpeg" data-width="500" data-height="378" data-compare="같음">
                                <i class="fas fa-times-circle icon-delete-attach"></i>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
                <button id="btnSubmit" type="button" class="btn btn-primary">등록완료</button>
            </div>
        </div>

        <!-- 두잇 기본 이미지 -->
        <div class="modal-content category-doit-img" id="modalDoitImage">
            <div class="modal-header clearfix">
                <h5 id="modalDoitImageTitle">두잇 기본 이미지 설정</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <div class="card detail-tit-warp clearfix">
                    <p class="desc">
                        업로드 사이즈 : 500 * 378
                    </p>
                </div>
                <table class="detail-table">
                    <colgroup>
                        <col style="width: 100%;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="clearfix">
                            <div class="img-file-wrap">
                                <label for="input-file1" class="btn-input-file"></label>
                                <input type="file" id="input-file1" name="attachment" accept="image/png, image/jpeg" data-width="500" data-height="378" data-compare="같음">
                                <i class="fas fa-times-circle icon-delete-attach update-attachment"></i>
<!--                                <div class="detail-img-wrap"><img src="/assets/v2/img/test.png" alt=""></div>-->
                            </div>
                            <div class="img-file-wrap">
                                <label for="input-file2" class="btn-input-file"></label>
                                <input type="file" id="input-file2" name="attachment" accept="image/png, image/jpeg" data-width="500" data-height="378" data-compare="같음">
                                <i class="fas fa-times-circle icon-delete-attach update-attachment"></i>
<!--                                <div class="detail-img-wrap"><img src="/assets/v2/img/test.png" alt=""></div>-->
                            </div>
                            <div class="img-file-wrap">
                                <label for="input-file3" class="btn-input-file"></label>
                                <input type="file" id="input-file3" name="attachment" accept="image/png, image/jpeg" data-width="500" data-height="378" data-compare="같음">
                                <i class="fas fa-times-circle icon-delete-attach update-attachment"></i>
<!--                                <div class="detail-img-wrap"><img src="/assets/v2/img/test.png" alt=""></div>-->
                            </div>
                            <div class="img-file-wrap">
                                <label for="input-file4" class="btn-input-file"></label>
                                <input type="file" id="input-file4" name="attachment" accept="image/png, image/jpeg" data-width="500" data-height="378" data-compare="같음">
                                <i class="fas fa-times-circle icon-delete-attach update-attachment"></i>
                            </div>
                            <div class="img-file-wrap">
                                <label for="input-file5" class="btn-input-file"></label>
                                <input type="file" id="input-file5" name="attachment" accept="image/png, image/jpeg" data-width="500" data-height="378" data-compare="같음">
                                <i class="fas fa-times-circle icon-delete-attach update-attachment"></i>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
                <button id="btnSubmitImage" type="button" class="btn btn-primary">등록완료</button>
            </div>
        </div>

        <div class="modal-bg"></div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script defer type="module" src="/assets/v2/js/bundles/category-detail.bundle.js?version=<?php echo $this->config->item('version');?>"></script>
