<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">카테고리 등록</h2>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>카테고리명 *</th>
                        <td>
                            <div class="input-wrap">
                                <input id="categoryTitle" type="text" class="length-input" placeholder="카테고리명을 입력해주세요." maxlength="7">
                                <p class="length-count-wrap"><span class="count-input">0</span>/7</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>카테고리 아이콘 *</th>
                        <td>
                            <p class="desc-sub">( 이미지 크기 : 210 x 270 )</p>
                            <div class="file-wrap preview-image">
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="categoryIcon">업로드</label>
                                <input type="file" id="categoryIcon" class="upload-hidden" data-width="210" data-height="270" data-oper="eq">
                            </div>
                            <!--<div class="detail-img-wrap">
                                <img src="" alt="">
                            </div>-->
                        </td>
                    </tr>
                    <tr>
                        <th>개설 가능 여부 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r1" type="radio" name="radio-establish" value="Y" checked>
                                <label for="r1"><span></span>Y</label>

                                <input  id="r2" type="radio" name="radio-establish" value="N">
                                <label for="r2"><span></span>N</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>노출 여부 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r3" type="radio" name="radio-exposure" value="Y" checked>
                                <label for="r3"><span></span>Y</label>

                                <input  id="r4" type="radio" name="radio-exposure" value="N">
                                <label for="r4"><span></span>N</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">등록 완료</button>
        </div>
    </div>
</section>
<script defer type="module" src="/assets/v2/js/category/category-create.js?version=<?php echo $this->config->item('version');?>"></script>

