<section class="list-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">카테고리 관리</h2>
            <a href="/v2/doit/category/create"><i class="fas fa-plus"></i>카테고리 등록</a>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num"></strong></p>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button type="button" class="btn-sm btn-teal modal-btn"><i class="fas fa-cog"></i> 카테고리 수정</button>
                </div>
            </div>
            <table id="dataTable">
                <!--<thead>
                <colgroup>
                    <col style="width: 15%;">
                    <col style="width: 40%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead>
                <tr>
                    <th>아이콘</th>
                    <th>카테고리명</th>
                    <th>개설가능여부</th>
                    <th>노출여부</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="list-img-wrap">
                            <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                        </div>
                    </td>
                    <td><a href="/v2/category/detail">라이프 스타일</a></td>
                    <td>Y</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>
                        <div class="list-img-wrap">
                            <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                        </div>
                    </td>
                    <td><a href="/v2/category/detail">라이프 스타일</a></td>
                    <td>Y</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>
                        <div class="list-img-wrap">
                            <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                        </div>
                    </td>
                    <td><a href="/v2/category/detail">라이프 스타일</a></td>
                    <td>Y</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>
                        <div class="list-img-wrap">
                            <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                        </div>
                    </td>
                    <td><a href="/v2/category/detail">라이프 스타일</a></td>
                    <td>Y</td>
                    <td>N</td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>

    <div class="modal-wrap">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h5>카테고리 수정</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <div class="card">
                    <p class="desc">
                        * 드래그 & 드랍으로 노출 순서를 변경할 수 있으며, 수정완료 클릭 시 적용됩니다.
                    </p>
                </div>
                <div class="table-wrap">
                    <table class="order-table" id="updateTable">
                        <!--<thead>
                        <colgroup>
                            <col style="width: 20%;">
                            <col style="width: 60%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>아이콘</th>
                            <th>카테고리명</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="list-img-wrap">
                                    <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                                </div>
                            </td>
                            <td>라이프 스타일</td>
                            <td>
                                <button type="button" class="btn-xs btn-text-red">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="list-img-wrap">
                                    <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                                </div>
                            </td>
                            <td>라이프 스타일</td>
                            <td>
                                <button type="button" class="btn-xs btn-text-red">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="list-img-wrap">
                                    <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                                </div>
                            </td>
                            <td>라이프 스타일</td>
                            <td>
                                <button type="button" class="btn-xs btn-text-red">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="list-img-wrap">
                                    <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                                </div>
                            </td>
                            <td>라이프 스타일</td>
                            <td>
                                <button type="button" class="btn-xs btn-text-red">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>-->
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
                <button id="btnUpdate" type="button" class="btn btn-primary">수정완료</button>
            </div>
        </div>

        <div class="modal-bg"></div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/category/category-list.js?version=<?php echo $this->config->item('version');?>"></script>

