<link rel="stylesheet" href="/assets/v2/css/doit.css?version=<?php echo $this->config->item('version');?>">
<section class="detail-page category-detail">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">카테고리 수정</h2>
        </div>

        <div class="row">
            <div class="col-6">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 30%;">
                        <col style="width: 70%;">
                    </colgroup>
                    <tr>
                        <th>카테고리명 *</th>
                        <td>
                            <div class="input-wrap">
                                <input id="categoryTitle" type="text" class="length-input" placeholder="카테고리명을 입력해주세요." maxlength="7">
                                <p class="length-count-wrap"><span class="count-input">0</span>/7</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>카테고리 아이콘 *</th>
                        <td>
                            <p class="desc-sub">( 이미지 크기 : 280 x 360 )</p>
                            <div class="file-wrap preview-image">
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="categoryIcon">업로드</label>
                                <input type="file" id="categoryIcon" class="upload-hidden" accept="image/png, image/jpg, image/jpeg">
     <!--                           <input type="file" id="categoryIcon" class="upload-hidden" accept="image/png, image/jpg, image/jpeg" data-width="280" data-height="360" data-compare="같음">-->
                            </div>
                            <div class="detail-img-wrap">
                                <img id="thumbnail" src="" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>노출 여부 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r3" type="radio" name="radio-exposure" value="Y">
                                <label for="r3"><span></span>Y</label>

                                <input  id="r4" type="radio" name="radio-exposure" value="N">
                                <label for="r4"><span></span>N</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-6">

                <div class="card detail-tit-warp clearfix">
                    <p class="title">세부 카테고리 │ <span class="desc"> 드래그 & 드랍으로 노출 순서를 변경할 수 있습니다.</span></p>
                </div>
                <div class="table-wrap">
                    <table class="order-table" id="dataTable">
                        <thead>
                        <colgroup>
                            <col style="width: 80%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <!--<thead>
                        <tr>
                            <th>세부 카테고리명</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="input-wrap">
                                    <input id="subCategoryTitle" type="text" class="length-input" value="라이프 스타일" maxlength="15">
                                    <p class="length-count-wrap"><span class="count-input">0</span>/15</p>
                                </div>
                                <button type="button" class="btn-xs btn-teal">완료</button>
                            </td>
                            <td>
                                <button type="button" class="btn-xs btn-text-red">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="update-btn-wrap">
                                    <span>필라테스</span>
                                    <button type="button" class="btn-xs">수정</button>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn-xs btn-text-red">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="update-btn-wrap">
                                    <span>꾸준히 자전거 타기</span>
                                    <button type="button" class="btn-xs">수정</button>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn-xs btn-text-red">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>-->
                    </table>
                </div>

            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">수정 완료</button>
        </div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/category/category-update.js?version=<?php echo $this->config->item('version');?>"></script>
