<link rel="stylesheet" href="/assets/v2/css/doit.css?version=<?php echo $this->config->item('version');?>">
<section class="detail-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title">홈트의 왕</h2>
            <div class="right-wrap">
                <button type="button" class="btn-sm btn-outline-warning">두잇오픈</button>
                <button type="button" class="btn-sm btn-outline-danger">두잇 삭제</button>
                <button type="button" class="btn-sm btn-outline-orange">운영정지</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul class="tab doit-detail-teb clearfix">
                    <li>두잇정보</li>
                    <li class="active">미션</li>
                    <li>참여자</li>
                    <li>리뷰</li>
                    <li>UCD</li>
                    <li>인증</li>
                    <li>톡</li>
                </ul>

                <!-- s: 두잇정보 -->
                <div class="doit-info" style="display: none;">
                    <div class="detail-list">
                        <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>스폰서 명</th>
                        <td>
                            <p class="detail-data">나이키 코리아</p>
                        </td>
                    </tr>
                    <tr>
                        <th>카테고리</th>
                        <td>
                            <p class="detail-data">운동 - <span>필라테스</span></p>
                        </td>
                    </tr>
                    <tr>
                        <th>두잇 소개 및 목표</th>
                        <td>
                            <p class="detail-data">코로나로 야외활동이 어려운 요즘!<br>나이키와 함께 홈트 고고</p>
                        </td>
                    </tr>
                    <tr>
                        <th>검색 키워드 (태그)</th>
                        <td>
                            <ul class="tag-list clearfix">
                                <li>
                                    #
                                    <span>자전거</span>
                                </li>
                                <li>
                                    #
                                    <span>필라테스</span>
                                </li>
                                <li>
                                    #
                                    <span>요가</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>공개 여부</th>
                        <td>
                            <p class="detail-data">멤버에게만 게시글 공개</p>
                        </td>
                    </tr>
                    <tr>
                        <th>가입 신청</th>
                        <td>
                            <p class="detail-data">
                                Y
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;ㄴ 질문</th>
                        <td>
                            <p class="detail-data">
                                새로운 참여자에게 물어볼 질문이 노출됩니다.<br>
                                새로운 참여자에게 물어볼 질문이 노출됩니다.
                                새로운 참여자에게 물어볼 질문이 노출됩니다.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;ㄴ 답변 공개</th>
                        <td>
                            <p class="detail-data">
                                N
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>두잇 소개 이미지</th>
                        <td>
                            <div class="detail-img-wrap doit-info-img">
                                <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                            </div>
                        </td>
                    </tr>
                        <tr>
                            <td colspan="2">
                                <div class="right-wrap">
                                    <button type="button" class="btn btn-teal">수정</button>
                                </div>
                            </td>
                        </tr>
                </table>
                    </div>
                    <!-- s: 두잇수정 -->
                    <div class="detail-update" style="display: none;">
                        <table class="detail-table">
                        <colgroup>
                            <col style="width: 20%;">
                            <col style="width: 80%;">
                        </colgroup>
                        <tr>
                            <th>스폰서 명 *</th>
                            <td>
                                <p class="detail-data">
                                    나이키 코리아
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>카테고리 *</th>
                            <td>
                                <select class="select-box">
                                    <option>카테고리</option>
                                </select>
                                <select class="select-box">
                                    <option>서브카테고리</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>두잇명 *</th>
                            <td>
                                <div class="input-wrap">
                                    <input id="categoryName" type="text" class="length-input" maxlength="30" placeholder="두잇명을 입력해주세요.">
                                    <p class="length-count-wrap"><span class="count-input">0</span>/30</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>두잇 소개 및 목표 *</th>
                            <td>
                                <div class="textarea-wrap">
                                    <textarea id="exampleDesc" class="length-input" maxlength="100" rows="4"></textarea>
                                    <p class="length-count-wrap"><span class="count-input">0</span>/100</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>검색 키워드 (태그) *</th>
                            <td>
                                <div class="tag-wrap">
                                    <div class="input-wrap">
                                        <input id="categoryName" type="text" class="length-input" maxlength="7">
                                        <p class="length-count-wrap"><span class="count-input">0</span>/7</p>
                                    </div>
                                    <button type="button" class="btn-sm">추가</button>
                                </div>
                                <ul class="tag-list clearfix">
                                    <li>
                                        #
                                        <span>자전거</span>
                                        <button class="btn-i"><i class="fas fa-times-circle"></i></button>
                                    </li>
                                    <li>
                                        #
                                        <span>필라테스</span>
                                        <button class="btn-i"><i class="fas fa-times-circle"></i></button>
                                    </li>
                                    <li>
                                        #
                                        <span>요가</span>
                                        <button class="btn-i"><i class="fas fa-times-circle"></i></button>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>공개 여부 *</th>
                            <td>
                                <div class="radio-wrap">
                                    <input id="r1" type="radio" name="radio">
                                    <label for="r1"><span></span>전체공개</label>

                                    <input  id="r2" type="radio" name="radio">
                                    <label for="r2"><span></span>멤버에게만 게시글 공개</label>

                                    <input  id="r3" type="radio" name="radio">
                                    <label for="r3"><span></span>비공개</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>가입 신청 및 질문 *</th>
                            <td>
                                <div class="detail-group">
                                    <div class="checkbox-wrap">
                                        <input id="c1" type="checkbox" name="cb">
                                        <label for="c1"><span></span>가입 신청 받기</label>
                                        <i class="tooltip-mark fas fa-question-circle">
                                            <span class="tooltip-txt">두잇 가입시 리더의 승인이 필요해요!</span>
                                        </i>
                                    </div>
                                </div>
                                <div class="detail-group">
                                    <div class="checkbox-wrap">
                                        <input id="c2" type="checkbox" name="cb" disabled>
                                        <label for="c2"><span></span>질문 사용</label>
                                        <i class="tooltip-mark fas fa-question-circle">
                                            <span class="tooltip-txt">새로운 참여자가 가입 신청시,<br>질문 할래요!</span>
                                        </i>
                                    </div>
                                    <div class="textarea-wrap">
                                        <textarea id="" class="length-input" maxlength="100" rows="4" placeholder="새로운 참여자에게 물어볼 질문을 입력해주세요."></textarea>
                                        <p class="length-count-wrap"><span class="count-input">0</span>/100</p>
                                    </div>
                                </div>
                                <div class="detail-group">
                                    <div class="checkbox-wrap">
                                        <input id="c3" type="checkbox" name="cb" disabled>
                                        <label for="c3"><span></span>답변 공개</label>
                                        <i class="tooltip-mark fas fa-question-circle">
                                            <span class="tooltip-txt">승인 완료와 함께<br>참여자의 답변이 게시글이 자동 등록되요!</span>
                                        </i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>두잇 소개 이미지 *</th>
                            <td>
                                <p class="desc-sub">( 이미지 크기 : 650 x 650 )</p>
                                <div class="file-wrap preview-image">
                                    <input class="upload-name" value="파일선택" disabled="disabled">
                                    <label for="categoryImage">업로드</label>
                                    <input type="file" id="categoryImage" class="upload-hidden" data-width="650" data-height="650" data-oper="eq">
                                </div>
                                <div class="detail-img-wrap">
                                    <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                                </div>
                            </td>
                        </tr>
                        <tr>
                           <td colspan="2">
                               <div class="right-wrap">
                                   <button type="button" class="btn-sm btn-primary">수정완료</button>
                               </div>
                           </td>
                        </tr>
                    </table>
                    </div>

                </div>

                <!-- s: 미션 -->
                <div class="doit-mission" style="display: none;">
                    <!-- s: 미션목록 -->
                    <div class="detail-list" style="display: none;">
                        <div class="card detail-tit-warp">
                            <button type="button" class="btn-sm btn-add modal-btn"><i class="fas fa-plus"></i> 미션 등록</button>
                        </div>
                        <div class="table-wrap">
                            <table>
                                <thead>
                                <colgroup>
                                    <col style="width: 40%;">
                                    <col style="width: 20%;">
                                    <col style="width: 15%;">
                                    <col style="width: 15%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>미션명</th>
                                    <th>기간</th>
                                    <th>참여인원</th>
                                    <th>상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="/v2/doit/detail/mission">하루 한번 5분씩 영어공부</a></td>
                                    <td>2020-03-03 ~ 2020-04-04</td>
                                    <td>200</td>
                                    <td>진행중</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- s: 미션상세 -->
                    <div class="detail-detail" style="display: none;">
                        <div class="card detail-tit-warp clearfix">
                            <p class="title"><span class="badge badge-info">대기중</span><span class="badge badge-success">진행중</span><span class="badge badge-warning">종료</span>하루 한번 5분씩 영어공부</p>
                        </div>
                        <table class="detail-table">
                            <colgroup>
                                <col style="width: 30%;">
                                <col style="width: 70%;">
                            </colgroup>
                            <tr>
                                <th>기간</th>
                                <td>
                                    <p class="detail-data">2020-03-01 ~ 2020-04-01</p>
                                </td>
                            </tr>
                            <tr>
                                <th>인증 시간</th>
                                <td>
                                    <p class="detail-data">00:00:00 ~ 00:00:00</p>
                                </td>
                            </tr>
                            <tr>
                                <th>인증 방법</th>
                                <td>
                                    <p class="detail-data">사진 (갤러리 허용)</p>
                                </td>
                            </tr>
                            <tr>
                                <th>인증 예시</th>
                                <td>
                                    <div class="detail-img-wrap doit-info-img">
                                        <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>인증 예시 설명</th>
                                <td>
                                    <p class="detail-data">
                                        야나두 영어를 시청하신 뒤 화면 스크린 샷을 올려주세요!<br>
                                        다른 회사 영어는 금지
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th>공약</th>
                                <td>
                                    <p class="detail-data">
                                        야나두 1년 수강권 증정!
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="right-wrap">
                                        <button type="button" class="btn-sm btn-outline-primary">미션 목록</button>
                                        <button type="button" class="btn-sm btn-teal">수정</button>
                                        <button type="button" class="btn-sm btn-danger">삭제</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- s: 미션등록 -->
                    <div class="detail-create">
                        <table class="detail-table">
                            <colgroup>
                                <col style="width: 30%;">
                                <col style="width: 70%;">
                            </colgroup>
                            <tr>
                                <th>미션명 *</th>
                                <td>
                                    <div class="input-wrap">
                                        <input id="" type="text" class="length-input" maxlength="30" placeholder="미션명을 입력해주세요.">
                                        <p class="length-count-wrap"><span class="count-input">0</span>/30</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>기간 *</th>
                                <td>
                                    <div class="date-wrap">
                                        <input type="text" class="datepicker">
                                        <span class="date-text"> ~ </span>
                                        <input type="text" class="datepicker">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>인증 시간</th>
                                <td>
                                    <div class="date-wrap">
                                        <input type="time" value="00:00" readonly="">
                                        <span class="date-text"> ~ </span>
                                        <input type="time" value="23:59" readonly="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>인증방법 *</th>
                                <td>
                                    <div class="radio-wrap">
                                        <input id="r8" type="radio" name="ra">
                                        <label for="r8"><span></span>사진</label>

                                        <input  id="r9" type="radio" name="ra">
                                        <label for="r9"><span></span>영상</label>

                                        <input  id="r10" type="radio" name="ra">
                                        <label for="r10"><span></span>음성</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>인증예시 *</th>
                                <td>
                                    <p class="desc-sub">( 이미지 크기 : 650 x 650 )</p>
                                    <div class="file-wrap preview-image">
                                        <input class="upload-name" value="파일선택" disabled="disabled">
                                        <label for="">업로드</label>
                                        <input type="file" id="" class="upload-hidden" data-width="650" data-height="650" data-oper="eq">
                                    </div>
                                    <div class="detail-img-wrap">
                                        <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>인증 예시 설명 *</th>
                                <td>
                                    <div class="textarea-wrap">
                                        <textarea id="" class="length-input" maxlength="100" rows="4" placeholder="인증예시 설명을 입력해주세요."></textarea>
                                        <p class="length-count-wrap"><span class="count-input">0</span>/100</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>공약</th>
                                <td>
                                    <div class="input-wrap">
                                        <input id="" type="text" class="length-input" maxlength="30" placeholder="공약을 입력해주세요.">
                                        <p class="length-count-wrap"><span class="count-input">0</span>/30</p>
                                    </div>
                                    <p class="desc-sub">( 이미지 크기 : 650 x 650 )</p>
                                    <div class="file-wrap preview-image">
                                        <input class="upload-name" value="파일선택" disabled="disabled">
                                        <label for="">업로드</label>
                                        <input type="file" id="" class="upload-hidden" data-width="650" data-height="650" data-oper="eq">
                                    </div>
                                    <div class="detail-img-wrap">
                                        <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="right-wrap">
                                        <button type="button" class="btn-sm btn-primary">등록완료</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- s: 미션수정 -->
                    <div class="detail-update" style="display:none;">
                        <div class="card detail-tit-warp clearfix">
                            <p class="title"><span class="badge badge-info">대기중</span><span class="badge badge-success">진행중</span><span class="badge badge-warning">종료</span>하루 한번 5분씩 영어공부</p>
                        </div>
                        <table class="detail-table">
                            <colgroup>
                                <col style="width: 30%;">
                                <col style="width: 70%;">
                            </colgroup>
                            <tr>
                                <th>기간 *</th>
                                <td>
                                    <div class="date-wrap">
                                        <input type="text" class="datepicker">
                                        <span class="date-text"> ~ </span>
                                        <input type="text" class="datepicker">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>인증 시간</th>
                                <td>
                                    <div class="date-wrap">
                                        <input type="time" value="00:00" readonly="">
                                        <span class="date-text"> ~ </span>
                                        <input type="time" value="23:59" readonly="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>인증방법 *</th>
                                <td>
                                    <div class="radio-wrap">
                                        <input id="r5" type="radio" name="ra">
                                        <label for="r5"><span></span>사진</label>

                                        <input  id="r6" type="radio" name="ra">
                                        <label for="r6"><span></span>영상</label>

                                        <input  id="r7" type="radio" name="ra">
                                        <label for="r7"><span></span>음성</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>인증예시 *</th>
                                <td>
                                    <p class="desc-sub">( 이미지 크기 : 650 x 650 )</p>
                                    <div class="file-wrap preview-image">
                                        <input class="upload-name" value="파일선택" disabled="disabled">
                                        <label for="">업로드</label>
                                        <input type="file" id="" class="upload-hidden" data-width="650" data-height="650" data-oper="eq">
                                    </div>
                                    <div class="detail-img-wrap">
                                        <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>인증 예시 설명 *</th>
                                <td>
                                    <div class="textarea-wrap">
                                        <textarea id="" class="length-input" maxlength="100" rows="4" placeholder="인증예시 설명을 입력해주세요."></textarea>
                                        <p class="length-count-wrap"><span class="count-input">0</span>/100</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>공약</th>
                                <td>
                                    <div class="input-wrap">
                                        <input id="" type="text" class="length-input" maxlength="30" placeholder="공약을 입력해주세요.">
                                        <p class="length-count-wrap"><span class="count-input">0</span>/30</p>
                                    </div>
                                    <p class="desc-sub">( 이미지 크기 : 650 x 650 )</p>
                                    <div class="file-wrap preview-image">
                                        <input class="upload-name" value="파일선택" disabled="disabled">
                                        <label for="">업로드</label>
                                        <input type="file" id="" class="upload-hidden" data-width="650" data-height="650" data-oper="eq">
                                    </div>
                                    <div class="detail-img-wrap">
                                        <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="right-wrap">
                                        <button type="button" class="btn-sm btn-primary">수정완료</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- s: 참여자 -->
                <div class="doit-member">

                    <!-- s: 참여자 목록-->
                    <div class="detail-list" style="display: none;">
                        <div class="row member-top">
                            <div class="col-3">
                                <div class="card">
                                    <p class="desc">총 가입자 수</p>
                                    <strong class="num">501</strong>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="card">
                                    <p class="desc clearfix">가입 대기자 수 <a href="#" class="link"><i class="fas fa-cog"></i> 대기자 관리</a></p>
                                    <strong class="num">13</strong>
                                </div>
                            </div>
                        </div>
                        <div class="table-wrap">
                            <div class="top clearfix">
                                <div class="left-wrap clearfix">
                                    <div class="form-box">
                                        <p>Total <strong class="data-num">238</strong></p>
                                        <select class="select-box">
                                            <option>10개씩 보기</option>
                                            <option>30개씩 보기</option>
                                            <option>50개씩 보기</option>
                                            <option>100개씩 보기</option>
                                            <option>500개씩 보기</option>
                                            <option>1000개씩 보기</option>
                                        </select>
                                        <select class="select-box">
                                            <option>닉네임 순</option>
                                            <option>누적 인증 수 순</option>
                                            <option>최대 연속 수 순</option>
                                            <option>현재 연속 수 순</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <table>
                                <thead>
                                <colgroup>
                                    <col style="width: 10%;">
                                    <col style="width: 30%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>닉네임</th>
                                    <th>프로필 ID</th>
                                    <th>등급</th>
                                    <th>누적 인증 수</th>
                                    <th>최대 연속 인증 수</th>
                                    <th>현재 연속 인증 수</th>
                                    <th>가입일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="#">베리네모카</a></td>
                                    <td>PID-485CAEDB-9DD0-861D-CB67-216AAD7B7929</td>
                                    <td>부리더</td>
                                    <td>50</td>
                                    <td>50</td>
                                    <td>50</td>
                                    <td>2020-02-02</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- s: 참여 대기자 목록-->
                    <div class="detail-detail">
                        <div class="card detail-tit-warp member-top">
                            <p class="title">가입 승인 대기자 목록</p>
                        </div>
                        <div class="row member-top">
                            <div class="col-3">
                                <div class="card">
                                    <p class="desc">가입 승인 대기자 수</p>
                                    <strong class="num">501</strong>
                                </div>
                            </div>
                        </div>
                        <div class="table-wrap">
                            <div class="top clearfix">
                                <div class="btn-wrap">
                                    <button type="button" class="btn-sm btn-teal modal-btn"><i class="fas fa-cog"></i> 가입 승인</button>
                                    <button type="button" class="btn-sm btn-teal btn-danger"><i class="fas fa-cog"></i> 가입 거절</button>
                                </div>
                            </div>
                            <table>
                                <thead>
                                <colgroup>
                                    <col style="width: 10%;">
                                    <col style="width: 30%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                    <col style="width: 10%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>닉네임</th>
                                    <th>프로필 ID</th>
                                    <th>등급</th>
                                    <th>누적 인증 수</th>
                                    <th>최대 연속 인증 수</th>
                                    <th>현재 연속 인증 수</th>
                                    <th>가입일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="#">베리네모카</a></td>
                                    <td>PID-485CAEDB-9DD0-861D-CB67-216AAD7B7929</td>
                                    <td>부리더</td>
                                    <td>50</td>
                                    <td>50</td>
                                    <td>50</td>
                                    <td>2020-02-02</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>

            </div>
        </div>
        <div class="footer-btn-wrap">
            <button type="button" class="btn btn-outline-primary">이전</button>
            <button type="button" class="btn btn-primary">목록</button>
        </div>
    </div>


    <div class="modal-wrap">
        <!-- 참여자 탭 - 닉네임 클릭 시 오픈 -->
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h5>참여자 관리</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <table class="detail-table">
                    <colgroup>
                        <col style="width: 25%;">
                        <col style="width: 75%;">
                    </colgroup>
                    <tr>
                        <th>닉네임</th>
                        <td>
                            <p class="detail-data">베리네모카</p>
                        </td>
                    </tr>
                    <tr>
                        <th>가입일</th>
                        <td>
                            <p class="detail-data">2020-02-02</p>
                        </td>
                    </tr>
                    <tr>
                        <th>가입 질문</th>
                        <td>
                            <p class="detail-data">웰컴</p>
                        </td>
                    </tr>
                    <tr>
                        <th>ㄴ 답변</th>
                        <td>
                            <p class="detail-data">하이하이</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
                <button id="btnReorder" type="button" class="btn btn-danger">강퇴</button>
            </div>
        </div>
        <div class="modal-bg"></div>
    </div>


</section>

