<section>
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">두잇 목록</h2>
            <a href="/v2/doit/create"><i class="fas fa-plus"></i>스폰서두잇 등록</a>
        </div>

        <div class="search-wrap row">
            <div class="col-12">
                <ul class="card">
                    <li>
                        <p class="search-title">날짜</p>
                        <div class="form-box">
                            <select class="select-box">
                                <option>생성일</option>
                                <option>오픈일</option>
                            </select>
                            <div class="date-wrap">
                                <input type="text" class="datepicker" readonly="">
                                <span class="date-text"> ~ </span>
                                <input type="text" class="datepicker" readonly="">
                            </div>
                            <div class="date-btn">
                                <button type="button" class="btn">오늘</button>
                                <button type="button" class="btn">1주일</button>
                                <button type="button" class="btn">1개월</button>
                                <button type="button" class="btn">3개월</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="search-title">검색어</p>
                        <div class="form-box clearfix">
                            <select class="select-box">
                                <option>두잇명</option>
                                <option>개설자</option>
                            </select>
                            <div class="search-txt-wrap">
                                <input type="search" placeholder="검색어를 입력해주세요.">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="search-wrap row">
            <div class="col-3">
                <div class="card clearfix">
                    <p class="search-title">두잇 상태</p>
                    <div class="checkbox-wrap">
                        <input id="c1" type="checkbox" name="cb">
                        <label for="c1"><span></span>생성</label>

                        <input id="c2" type="checkbox" name="cb">
                        <label for="c2"><span></span>진행중</label>

                        <input id="c3" type="checkbox" name="cb">
                        <label for="c3"><span></span>운영정지</label>

                        <input id="c4" type="checkbox" name="cb">
                        <label for="c4"><span></span>삭제</label>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card clearfix">
                    <p class="search-title">카테고리</p>
                    <select class="select-box">
                        <option>전체</option>
                        <option>카테고리1</option>
                        <option>카테고리2</option>
                        <option>카테고리3</option>
                        <option>카테고리4</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="search-btn row">
            <button type="submit" class="btn btn-primary">검색</button>
            <button type="reset" class="btn btn-outline-primary">초기화</button>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num">238</strong></p>
                        <select class="select-box">
                            <option>10개씩 보기</option>
                            <option>30개씩 보기</option>
                            <option>50개씩 보기</option>
                            <option>100개씩 보기</option>
                            <option>500개씩 보기</option>
                            <option>1000개씩 보기</option>
                        </select>
                        <select class="select-box">
                            <option>생성일 최신 순</option>
                            <option>오픈일 최신 순</option>
                        </select>
                    </div>
                </div>
            </div>
            <table>
                <thead>
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 30%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                </colgroup>
                <thead>
                <tr>
                    <th>카테고리</th>
                    <th>세부 카테고리</th>
                    <th>두잇명</th>
                    <th>개설자</th>
                    <th>생성일</th>
                    <th>오픈일</th>
                    <th>참여인원</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>학습</td>
                    <td>영어</td>
                    <td><a href="/v2/doit/detail">야!나두 했어! 너도 할 수 있엉!</a></td>
                    <td>깐깐찡어</td>
                    <td>2020-02-02</td>
                    <td>2020-02-02</td>
                    <td>305</td>
                    <td>진행중</td>
                </tr>
                <tr>
                    <td>운동</td>
                    <td>필라테스</td>
                    <td><a href="/v2/doit/detail">홈트의 신</a></td>
                    <td>베리네모카</td>
                    <td>2020-02-02</td>
                    <td>2020-02-02</td>
                    <td>50</td>
                    <td>생성</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

