<link rel="stylesheet" href="/assets/v2/css/doit.css">
<section class="detail-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title">홈트의 왕</h2>
            <div class="right-wrap">
                <button type="button" class="btn-sm btn-outline-warning">두잇오픈</button>
                <button type="button" class="btn-sm btn-outline-danger">삭제</button>
                <button type="button" class="btn-sm btn-outline-orange">운영정지</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <ul class="tab doit-detail-teb clearfix">
                    <li class="active">두잇정보</li>
                    <li>미션</li>
                    <li>참여자</li>
                    <li>리뷰</li>
                    <li>UCD</li>
                    <li>인증</li>
                    <li>톡</li>
                </ul>

                <!-- s: 두잇정보 -->
                <div class="doit-info" style="display: none;">
                    <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>스폰서 명</th>
                        <td>
                            <p class="detail-data">나이키 코리아</p>
                        </td>
                    </tr>
                    <tr>
                        <th>카테고리</th>
                        <td>
                            <p class="detail-data">운동 - <span>필라테스</span></p>
                        </td>
                    </tr>
                    <tr>
                        <th>두잇 소개 및 목표</th>
                        <td>
                            <p class="detail-data">코로나로 야외활동이 어려운 요즘!<br>나이키와 함께 홈트 고고</p>
                        </td>
                    </tr>
                    <tr>
                        <th>검색 키워드 (태그)</th>
                        <td>
                            <ul class="tag-list clearfix">
                                <li>
                                    #
                                    <span>자전거</span>
                                </li>
                                <li>
                                    #
                                    <span>필라테스</span>
                                </li>
                                <li>
                                    #
                                    <span>요가</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>공개 여부</th>
                        <td>
                            <p class="detail-data">멤버에게만 게시글 공개</p>
                        </td>
                    </tr>
                    <tr>
                        <th>가입 신청</th>
                        <td>
                            <p class="detail-data">
                                Y
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;ㄴ 질문</th>
                        <td>
                            <p class="detail-data">
                                새로운 참여자에게 물어볼 질문이 노출됩니다.<br>
                                새로운 참여자에게 물어볼 질문이 노출됩니다.
                                새로운 참여자에게 물어볼 질문이 노출됩니다.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;ㄴ 답변 공개</th>
                        <td>
                            <p class="detail-data">
                                N
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>두잇 소개 이미지</th>
                        <td>
                            <div class="detail-img-wrap doit-info-img">
                                <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                            </div>
                        </td>
                    </tr>
                        <tr>
                            <td colspan="2">
                                <div class="right-wrap">
                                    <button type="button" class="btn btn-teal">수정</button>
                                </div>
                            </td>
                        </tr>
                </table>
                </div>
                <div class="doit-mission">
                    <div class="card detail-tit-warp clearfix">
                        <button type="button" class="btn-sm btn-add modal-btn"><i class="fas fa-plus"></i> 미션 등록</button>
                    </div>
                    <div class="table-wrap row">
                        <table>
                            <thead>
                            <colgroup>
                                <col style="width: 40%;">
                                <col style="width: 20%;">
                                <col style="width: 15%;">
                                <col style="width: 15%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>미션명</th>
                                <th>기간</th>
                                <th>참여인원</th>
                                <th>상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href="/v2/doit/detail">하루 한번 5분씩 영어공부</a></td>
                                <td>2020-03-03 ~ 2020-04-04</td>
                                <td>200</td>
                                <td>진행중</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-btn-wrap">
            <button type="button" class="btn btn-outline-primary">이전</button>
            <button type="button" class="btn btn-primary">목록</button>
        </div>
    </div>


</section>

