<section class="list-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">추천 검색어</h2>
            <a id="btnCreate"><i class="fas fa-plus"></i>추천검색어 등록</a>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="btn-wrap">
                    <button id="btnUpdate" type="button" class="btn-sm btn-teal modal-btn"><i class="fas fa-cog"></i> 추천 검색어 수정</button>
                </div>
            </div>
            <table id="dataTable">
                <!--<thead>
                <colgroup>
                    <col style="width: 15%;">
                </colgroup>
                <thead>
                <tr>
                    <th>추천 검색어</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>등산</td>
                </tr>
                <tr>
                    <td>수영</td>
                </tr>
                <tr>
                    <td>원데이클래스</td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>

    <div class="modal-wrap">

        <!-- 등록 -->
        <div class="modal-content" id="modalCreate">
            <div class="modal-header clearfix">
                <h5>추천 검색어 등록</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <table class="detail-table">
                    <colgroup>
                        <col style="width: 25%;">
                        <col style="width: 75%;">
                    </colgroup>
                    <tbody><tr>
                        <th>추천 검색어 *</th>
                        <td>
                            <div class="input-wrap">
                                <input id="keyword" type="text" class="length-input" placeholder="추천 검색어를 입력해주세요." maxlength="15">
                                <p class="length-count-wrap"><span class="count-input">0</span>/15</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
                <button id="btnSubmit" type="button" class="btn btn-primary">등록완료</button>
            </div>
        </div>

        <!-- 수정 -->
        <div class="modal-content" id="modalUpdate">
            <div class="modal-header clearfix">
                <h5>추천 검색어 수정</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <div class="card">
                    <p class="desc">
                        * 드래그 & 드랍으로 노출 순서를 변경할 수 있으며, 수정완료 클릭 시 적용됩니다.
                    </p>
                </div>
                <div class="table-wrap">
                    <table class="order-table" id="updateTable">
                        <!--<thead>
                        <colgroup>
                            <col style="width: 80%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>추천 검색어</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>라이프 스타일</td>
                            <td>
                                <button type="button" class="btn-xs btn-text-red">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>-->
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
                <button id="btnSubmitUpdate" type="button" class="btn btn-primary">수정완료</button>
            </div>
        </div>

        <div class="modal-bg"></div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/bundles/keyword-list.bundle.js?version=<?php echo $this->config->item('version');?>"></script>