<link rel="stylesheet" href="/assets/v2/css/doit.css?version=<?php echo $this->config->item('version');?>">
<section class="detail-page pic-doit">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title">큐레이션 등록</h2>
        </div>

        <div class="row">
            <div class="col-6">
                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>큐레이션 명 *</th>
                        <td>
                            <div class="input-wrap">
                                <input id="curationTitle" type="text" class="length-input" placeholder="큐레이션명을 입력해주세요." maxlength="23">
                                <p class="length-count-wrap"><span class="count-input">0</span>/23</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>노출 여부 *</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r3" type="radio" name="radio-exposure" value="Y" checked>
                                <label for="r3"><span></span>Y</label>

                                <input  id="r4" type="radio" name="radio-exposure" value="N">
                                <label for="r4"><span></span>N</label>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="card detail-tit-warp">
                    <p class="desc">
                        * 드래그 & 드랍으로 노출 순서를 변경할 수 있습니다.
                    </p>
                </div>
                <div class="table-wrap">
                    <table class="order-table" id="updateTable">
                        <colgroup>
                            <col style="width: 20%;">
                            <col style="width: 75%;">
                            <col style="width: 5%;">
                        </colgroup>
                        <tbody>
                            <!--<tr>
                                <td>
                                    <div class="list-img-wrap doit-img-wrap">
                                        <img src="/assets/v2/img/profile-1.png" alt="">
                                    </div>
                                </td>
                                <td class="txt-left">
                                    <p class="title">두잇 제에모모모모목두잇 제에모모모모목두잇 제에모모모모목</p>
                                    <ul class="tag-list clearfix">
                                        <li># <span>필라테스가젤조아</span></li>
                                    </ul>
                                    <p class="desc-sub"><i class="fas fa-user"></i> 열심히사는강아지 / 1110 참여 / <span class="badge badge-success">진행중</span></p>
                                </td>
                                <td>
                                    <button type="button" class="btn-xs btn-text-red">
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="list-img-wrap doit-img-wrap">
                                        <img src="/assets/v2/img/profile-1.png" alt="">
                                    </div>
                                </td>
                                <td class="txt-left">
                                    <p class="title">두잇 제에모모모모목두잇 제에모모모모목두잇 제에모모모모목</p>
                                    <ul class="tag-list clearfix">
                                        <li># <span>필라테스가젤조아</span></li>
                                    </ul>
                                    <p class="desc-sub"><i class="fas fa-user"></i> 열심히사는강아지 / 1110 참여 / <span class="badge badge-info">대기중</span></p>
                                </td>
                                <td>
                                    <button type="button" class="btn-xs btn-text-red">
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="list-img-wrap doit-img-wrap">
                                        <img src="/assets/v2/img/profile-1.png" alt="">
                                    </div>
                                </td>
                                <td class="txt-left">
                                    <p class="title">두잇 제에모모모모목두잇 제에모모모모목두잇 제에모모모모목</p>
                                    <ul class="tag-list clearfix">
                                        <li># <span>필라테스가젤조아</span></li>
                                    </ul>
                                    <p class="desc-sub"><i class="fas fa-user"></i> 열심히사는강아지 / 1110 참여 / <span class="badge badge-warning">종료</span></p>
                                </td>
                                <td>
                                    <button type="button" class="btn-xs btn-text-red">
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-1 move-left">
                <i class="fas fa-angle-double-left"></i>
            </div>
            <div class="col-5">
                <div class="card detail-tit-warp clearfix">
                    <p class="title">두잇검색 <span class="desc-sub">두잇을 선택하면, 큐레이션 영역에 추가됩니다.</span></p>
                </div>
                <div class="card clearfix">
                    <div class="search-txt-wrap">
                        <input id="keyword" type="search" placeholder="두잇명을 입력해주세요.">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="table-wrap">
                    <table id="dataTable">
                        <!--<colgroup>
                            <col style="width: 5%;">
                            <col style="width: 20%;">
                            <col style="width: 75%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>
                                <div class="checkbox-wrap">
                                    <input id="c1" type="checkbox">
                                    <label for="c1"><span></span></label>
                                </div>
                            </td>
                            <td>
                                <div class="list-img-wrap doit-img-wrap">
                                    <img src="/assets/v2/img/profile-1.png" alt="">
                                </div>
                            </td>
                            <td class="txt-left">
                                <p class="title">두잇 제에모모모모목두잇 제에모모모모목두잇 제에모모모모목</p>
                                <ul class="tag-list clearfix">
                                    <li># <span>필라테스가젤조아</span></li>
                                </ul>
                                <p class="desc-sub"><i class="fas fa-user"></i> 열심히사는강아지 / 1110 참여 / <span class="badge badge-info">대기중</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox-wrap">
                                    <input id="c12" type="checkbox">
                                    <label for="c12"><span></span></label>
                                </div>
                            </td>
                            <td>
                                <div class="list-img-wrap doit-img-wrap">
                                    <img src="/assets/v2/img/profile-1.png" alt="">
                                </div>
                            </td>
                            <td class="txt-left">
                                <p class="title">두잇 제에모모모모목두잇 제에모모모모목두잇 제에모모모모목</p>
                                <ul class="tag-list clearfix">
                                    <li># <span>필라테스가젤조아</span></li>
                                </ul>
                                <p class="desc-sub"><i class="fas fa-user"></i> 열심히사는강아지 / 1110 참여 / <span class="badge badge-info">대기중</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox-wrap">
                                    <input id="c11" type="checkbox">
                                    <label for="c11"><span></span></label>
                                </div>
                            </td>
                            <td>
                                <div class="list-img-wrap doit-img-wrap">
                                    <img src="/assets/v2/img/profile-1.png" alt="">
                                </div>
                            </td>
                            <td class="txt-left">
                                <p class="title">두잇 제에모모모모목두잇 제에모모모모목두잇 제에모모모모목</p>
                                <ul class="tag-list clearfix">
                                    <li># <span>필라테스가젤조아</span></li>
                                </ul>
                                <p class="desc-sub"><i class="fas fa-user"></i> 열심히사는강아지 / 1110 참여 / <span class="badge badge-info">대기중</span></p>
                            </td>
                        </tr>
                        </tbody>-->
                    </table>
                </div>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">등록 완료</button>
        </div>
    </div>
</section>
<script src="/assets/v2/js/plugins/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/v2/js/plugins/dataTables.select.min.js"></script>
<script defer type="module" src="/assets/v2/js/pick/pick-create.js?version=<?php echo $this->config->item('version');?>"></script>

