<link rel="stylesheet" href="/assets/v2/css/doit.css?version=<?php echo $this->config->item('version');?>">
<section class="list-page pic-doit">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title">유캔두 픽 두잇 관리</h2>
            <a href="/v2/doit/pick/create"><i class="fas fa-plus"></i>두잇 큐레이션 등록</a>
        </div>

        <div class="row">
            <!--s: 미리보기 -->
            <div class="col-5">
                <div class="card detail-tit-warp">
                    <p class="title" id="previewTitle">추가혜택이 있는 두잇</p>
                </div>
                <div class="table-wrap">
                    <table>
                        <colgroup>
                            <col style="width: 20%;">
                            <col style="width: 80%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>
                                <div class="list-img-wrap banner-img-wrap">
                                    <img src="/assets/v2/img/profile-1.png" alt="">
                                </div>
                            </td>
                            <td class="txt-left">
                                <p class="title">두잇 제에모모모모목두잇 제에모모모모목두잇 제에모모모모목</p>
                                <ul class="tag-list clearfix">
                                    <li># <span>필라테스가젤조아</span></li>
                                </ul>
                                <p class="desc-sub"><i class="fas fa-user"></i> 열심히사는강아지 / 1110 참여 / <span class="badge badge-success">진행중</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="list-img-wrap banner-img-wrap">
                                    <img src="/assets/v2/img/profile-1.png" alt="">
                                </div>
                            </td>
                            <td class="txt-left">
                                <p class="title">두잇 제에모모모모목두잇 제에모모모모목두잇 제에모모모모목</p>
                                <ul class="tag-list clearfix">
                                    <li># <span>필라테스가젤조아</span></li>
                                </ul>
                                <p class="desc-sub"><i class="fas fa-user"></i> 열심히사는강아지 / 1110 참여 / <span class="badge badge-info">대기중</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="list-img-wrap banner-img-wrap">
                                    <img src="/assets/v2/img/profile-1.png" alt="">
                                </div>
                            </td>
                            <td class="txt-left">
                                <p class="title">두잇 제에모모모모목두잇 제에모모모모목두잇 제에모모모모목</p>
                                <ul class="tag-list clearfix">
                                    <li># <span>필라테스가젤조아</span></li>
                                </ul>
                                <p class="desc-sub"><i class="fas fa-user"></i> 열심히사는강아지 / 1110 참여 / <span class="badge badge-warning">종료</span></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--s: 큐레이션 목록 -->
            <div class="col-7">
                <div class="table-wrap">
                    <div class="top clearfix">
                        <div class="left-wrap clearfix">
                            <div class="form-box">
                                <p>Total <strong class="data-num"></strong></p>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <button type="button" class="btn-sm btn-teal modal-btn"><i class="fas fa-cog"></i> 큐레이션 관리</button>
                        </div>
                    </div>
                    <table id="dataTable">
                        <colgroup>
                            <col style="width: 70%;">
                            <col style="width: 20%;">
                            <col style="width: 10%;">
                        </colgroup>
                        <thead>
                        <th>큐레이션명</th>
                        <th>노출여부</th>
                        <th>수정</th>
                        </thead>
                        <tbody>
                        <tr>
                        <td><a href="#">추가혜택이 있는 두잇</a></td>
                        <td>Y</td>
                        <td><button type="button" class="btn-xs btn-teal">수정</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-wrap">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h5>큐레이션 관리</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <div class="card">
                    <p class="desc">
                        * 드래그 & 드랍으로 노출 순서를 변경할 수 있으며, 수정완료 클릭 시 적용됩니다.
                    </p>
                </div>
                <div class="table-wrap">
                    <table class="order-table" id="updateTable">
                        <thead>
                        <colgroup>
                            <col style="width: 90%;">
                            <col style="width: 10%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>큐레이션명</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                추가 혜택이 있는 두잇
                            </td>
                            <td>
                                <button type="button" class="btn-xs btn-text-red">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                추가 혜택이 있는 두잇
                            </td>
                            <td>
                                <button type="button" class="btn-xs btn-text-red">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
                <button id="btnUpdate" type="button" class="btn btn-primary">수정완료</button>
            </div>
        </div>

        <div class="modal-bg"></div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/pick/pick-list.js?version=<?php echo $this->config->item('version');?>"></script>
