/*action-list-page css*/
.confirm-list-page .modal-content .select-box {
    width: 200px;
    display: none;
}
.confirm-list-page .modal-content .select-box.active {
    display: block;
}
.confirm-list-page .modal-content {
    height: 433px;
}
.modal-content.modal-01 {
    height: auto;
}
.modal-content.modal-01 .modal-information {
    max-height: inherit;
}