/*action-list-page css*/
.confirm-list-page .modal-content .select-box {
    width: 200px;
    display: none;
}
.confirm-list-page .modal-content .select-box.active {
    display: block;
}
.confirm-list-page .modal-content {
    height: auto;
}
.confirm-list-page .modal-content .select-box {
    width: 100%;
}
.confirm-list-page .sub-title {
    font-weight: 600;
    color: #007aff;
}
.confirm-list-page .modal-content .sub-title label {
    font-weight: 600;
    color: #007aff;
}
.table-wrap .btn-wrap button.yellow-btn {
    background-color: #FFA83B;
}
.hover-text {
    width: 280px;
    background-color: #fff;
}
