/*action-list-page css*/
.confirm-list-page .modal-content .select-box {
    width: 200px;
    display: none;
}
.confirm-list-page .modal-content .select-box.active {
    display: block;
}
.confirm-list-page .modal-content {
    height: auto;
}
.confirm-list-page .modal-content .select-box {
    width: 100%;
}
.table-wrap .btn-wrap button.yellow-btn {
    background-color: #FFA83B;
}