.admin-mypage-page .list-common-btn-wrap .update-btn {
	float: right;
	text-align: center;
	line-height: 40px;
	display: block;
	width: 150px;
	height: 40px;
	color: #ffffff;
	border-radius: 30px;
	background-color: #19579a;
}
.admin-mypage-page .update-list {
	display: none;
}
.admin-mypage-page .update-list.active {
	display: block;
	margin-bottom: 30px;
}
.admin-mypage-page .update-list .top i,
.admin-mypage-page .update-list .top p {
	float: left;
}
.admin-mypage-page .update-list .top i {
	font-size: 18px;
	color: #c90614;
	margin-left: 9px;
	margin-right: 5px;
}
.admin-mypage-page .update-list .top span {
	font-size: 14px;
	color: #c90614;
	vertical-align: middle;
	font-weight: 500;
}