.row {
    width: 100%;
    *zoom:1;
}
.row:after {
    display: block;
    clear: both;
    content: '';
}
.row .col {
    float: left;
}
.row .col-1 {
    width: 85%;
}
.row .col-2 {
    width: 15%;
}

.box {
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}
.box-title {
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
    background-color: #007aff;
}

.box:last-child {
    margin-bottom: 0;
}
.title, .date-margin-text {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #5a5a5a;
}

.ucd-text {
    display: flex;
    align-content: center;
}
.ucd-text img {
    width: 23px;
    height: 23px;
}
.ucd-text span {
    display: block;
    color: #006AFD;
    font-size: 19px;
    font-weight: 600;
}
.ucd-accumulate {
    color: #666;
    font-size: 13px;
}

.tab li {
    float: left;
    width: 16%;
    margin-right: 0.8%;
    padding: 10px 10px 15px 10px;
    background-color: #fff;
    background-color: #f0f6ff;
    border-right: 1px solid #fff;
    cursor: pointer;
    transition: all .3s;
}
.tab li:last-child {
    margin-right: 0px;
    border-right: none;
}
.tab li:hover,
.tab li.on {
    background-color: #fff;
    /*border-left: 3px solid #007aff;*/
}

.content {
    padding: 15px;
}

.top {
    display: flex;
    align-content: center;
    margin-bottom: 15px;
    padding: 10px 0 5px;
    border-bottom: 1px solid #f3f3f3 ;
}
.top > .title {
    margin-right: auto;
    margin-bottom: 0;
}
.top > .right-wrap {
    margin-left: auto;
}
.top .select-box {
    width: 104px;
    height: 34px;
    font-size: 13px;
    border-radius: 30px;
    margin-right: 5px;
}
.top .select-box label {
    padding: 0.7em 0.7em;
}

.month-data {
    padding: 30px 20px;
}
.month-data dl {
    margin-bottom: 15px;
}
.month-data .title {
    font-size: 13px;
}
.month-data .ucd-text img {
    width: 20px;
    height: 20px;
}
.month-data .ucd-text span {
    font-size: 16px;
    font-weight: 500;
}
input.datepicker {
    width: 100px;
}
button.search {
    display: inline-block;
    width: 70px;
    height: 35px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #007aff;
    transition: all .3s;
}
button.search:hover {
    background-color: #006AFD;
}

.table-wrap {
    margin-top: 0;
    padding: 0 15px;
}
.table-wrap table {
    box-shadow:none;
}
