/* chart common */
.chart-pg {
    color: #4c4c4c;
}
.chart-pg .col-wrap {
    display: grid;
    grid-gap: 5px;
}
.chart-pg .col-wrap .col {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}
.col-wrap .row-wrap1 {
    padding-bottom: 6px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
}
.col-wrap .row-wrap1 p {
    display: inline-block;
    float: left;
}
.col-wrap .row-wrap1 i {
    float: right;
    color: #c5c5c5;
}
.col-wrap .col .title {
    font-weight: 500;
    font-size: 13px;
    color: #5a5a5a;
}
.chart-pg .select-box {
    float: right;
    width: 104px;
    height: 34px;
    font-size: 13px;
    border-radius: 30px;
}
.chart-pg .select-box label {
    padding: 0.7em 0.7em;
}
.today-date {
    float: right;
    line-height: 52px;
    font-weight: 500;
}
/* col-wrap-1 그리드 배치 */
.chart-pg .col-wrap-1  {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* col-wrap-2 그리드 배치 */
.chart-pg .col-wrap-2  {
    margin-top: 5px;
    grid-template-columns: 3fr 1fr;
}
/* col-wrap-3 그리드 배치 */
.chart-pg .col-wrap-3  {
    margin-top: 5px;
    grid-template-columns: 1fr 1fr 2fr;
}
.col-wrap-1 .col .row-1,
.col-wrap-3 .col-1 .row-wrap2 .row-1 {
    float: left;
    width: 60%;
}
.col-wrap-1 .col .row-2,
.col-wrap-3 .col-1 .row-wrap2 .row-2 {
    width: 40%;
    float: right;
    text-align: right;
    margin-top: 40px;
}
.col-wrap-1 .col .row-2 li,
.col-wrap-3 .col-1 .row-wrap2 .row-2 li {
    font-size: 15px;
    font-weight: 400;
}
.col-wrap-1 .col .row-2 li:nth-child(2),
.col-wrap-3 .col-1 .row-wrap2 .row-2 li:nth-child(2) {
    margin-bottom: 10px;
}
.col-wrap-1 .col .row-2 .fixed,
.col-wrap-3 .col-1 .row-wrap2 .row-2 .fixed {
    font-size: 12px;
    margin-bottom: 33px;
}
.col-wrap-1 .col .row-2 .fixed:last-child,
.col-wrap-3 .col-1 .row-wrap2 .row-2 .fixed:last-child {
    margin-bottom: 0;
}
.col-wrap .col span.total {
    margin-bottom: 33px;
    font-size: 25px;
    font-weight: 800;
    color: #007aff;
}
.chart-pg .col-wrap .col .count {
    font-size: 18px;
    font-weight: 600;
}
.col-wrap .subscriber-status li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #f1f1f1;
}
.col-wrap .subscriber-status li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.col-wrap .subscriber-status li .fixed-wrap {
    float: left;
}
.col-wrap .subscriber-status li .data-wrap {
    float: right;
}
.col-wrap .subscriber-status li i {
    display: inline-block;
    cursor: auto;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
    color: #c9c9c9;
    background-color: #fff;
    box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
}
.col-wrap .subscriber-status li:last-child i {
    color: #fff;
    background-color: #007aff;
}
.col-wrap-2 .subscriber-status li:last-child .pluses {
    font-size: 25px;
    font-weight: 800;
    color: #007aff;
}
.col-wrap .subscriber-status .data-wrap {
    text-align: right;
}
.col-wrap .subscriber-status .count {
    margin-left: 5px;
    color: #0c0f6a;
    font-weight: 700;
}
.col-wrap .subscriber-status .pluses {
    margin-bottom: 10px;
    color: #0c0f6a;
    font-weight: 700;
    font-size: 18px;
}
.col-wrap .subscriber-status .fixed:first-child {
    margin-bottom: 10px;
}
.col-wrap .subscriber-status .acc {
    color: #7d7d7d;
    font-size: 15px;
}
.col-wrap-3 .subscriber-status li {
    padding: 10px 0;
}
.col-wrap-3  .subscriber-status .pluses {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
}
.col-wrap-3 .subscriber-status .count {
    margin-left: 0;
    margin-right: 5px;
}
.col-wrap-3 .col-3 .row-wrap2 p {
    float: right;
}
.col-wrap-3 .col-3 .row-wrap2 .fixed {
    font-size: 12px;
}
.col-wrap-3 .col-3 .row-wrap2 span {
    margin-left: 10px;
}