@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;900&display=swap');
/* loding css */
.loading-back {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999999;
	background-color: rgba(33, 33, 33, 0.86);
}
.loading-back .loading-wrap {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.loading-back .loading-wrap span {
	font-weight: 700;
	color: #fff;
	font-size: 30px;
	letter-spacing: 5px;
}
.loading-back .loading-wrap .main_loader{
	height: 100px;
	animation: rotate 3s linear infinite;
	transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
	-moz-transform-origin: bottom center;
	-o-transform-origin: bottom center;
}
.loading-back .loading-wrap .circle {
	animation: grow 1.5s linear infinite;
	background-color: #5433FF;
	border-radius: 50%;
	display: inline-block;
	margin: -10px;
	height: 40px;
	width: 40px;
	transform: scale(0);
}
.loading-back .loading-wrap .circle:nth-child(2){
	animation-delay: .75s;
	background-color: #6FB1FC;
}
@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}
@keyframes grow {
	50%{
		transform: scale(1);
	}
}
/* top 공통 영역 */
h2.main-title {
	font-weight: 700;
	font-size: 30px;
	color: #5a5a5a;
	padding-bottom: 30px;
}
h2.list-main-title {
	float: left;
	display: inline-block;
}
.main-top a,
.main-top button {
	float: right;
	text-align: center;
	line-height: 40px;
	display: block;
	width: 150px;
	height: 40px;
	color: #ffffff;
	border-radius: 30px;
	background-color: #0061f2;
	background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%);
	transition: all .3s;
}
.main-top a:hover,
.main-top button:hover {
	box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.35);
}
.main-top a i {
	margin-right: 5px;
}
/* CSS common */
* body {
	font-family: 'Noto Sans KR', 'sans-serifs' !important;
}
section {
	width: 100%;
	padding-top: 50px;
	padding-left: 250px;
	position: relative;
	overflow: hidden;
}
.inner {
	width: 90%;
	min-width: 1024px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
section .inner {
	padding: 50px 0;
}
textarea {
	resize: none;
}
h2.main-title {
	font-weight: 700;
	font-size: 30px;
	color: #5a5a5a;
	padding-bottom: 30px;
}
.top-title {
	margin-bottom: 30px;
}
.top-title h2.main-title{
	padding-bottom: 15px;
}
.top-title .main-sub-tit {
	font-size: 20px;
	font-weight: 600;
	color: #787878;
}
/* btn common */
.completion-btn {
	float: right;
	display: block;
	width: 150px;
	height: 50px;
	color: #ffffff;
	border-radius: 5px;
	background-color: #0061f2;
	transition: all 0.9s;
	-webkit-transition: all 0.9s;
	-ms-transition: all 0.9s;
	-moz-transition: all 0.9s;
	-o-transition: all 0.9s;
}
.completion-btn:hover {
	box-shadow: 0 50px 0 0 rgba(0,0,0,0.25) inset, 0 -50px 0 0 rgba(0,0,0,0.25) inset;
}
.add-btn {
	width: 65px;
	height: 35px;
	color: #1da1f5;
	border-radius: 5px;
	border: 1px solid #1da1f5;
	background-color: #fff;
}
.add-btn:hover {
	color: #ffffff;
	background-color: #1da1f5;
}
.table-wrap .btn-wrap button.delete-btn {
	background-color: #c90614;
}
/* ë“±ë¡ ê³µí†µ ë ˆì´ì•„ì›ƒ */
.enrollment {
	padding: 15px;
	box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
}
.enrollment>li {
	padding: 10px 0;
	border-bottom: 1px solid #f1f1f1;
}
.enrollment>li:last-child {
	border-bottom: 0;
}
.enrollment>li:first-child {
	padding-top: 0;
}
.text-input::placeholder {
	color: #7d7d7d;
}
.enrollment>li .hash-tag-list li {
	position: relative;
	margin-bottom: 0;
	padding:8px 20px 8px 10px;
}
p.sub-title {
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 10px;
	color: #222;
}
p.sub-title.important {
	color: #222;
}
p.cap {
	font-size: 13px;
	font-weight: 400;
	color: #666;
	margin-bottom: 10px;
}
.cap.important {
	display: inline-block;
	padding-bottom: 5px;
	color: #12ac70;
	font-size: 13px;
	font-weight: 500;
	border-bottom: 1px solid #12ac70;
}
.cap.important span {
	font-weight: 600;
}
.point-cap {
	display: inline-block;
	margin-bottom: 10px;
	padding: 5px 8px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	background-color: #0061f2;
}
span.input-num-title {
	margin-right: 5px;
	color: #484848;
	font-size: 14px;
	font-weight: 500;
}
i.question-mark {
	font-size: 18px;
	color: #999;
	vertical-align: middle;
	position: relative;
}
i.question-mark:hover {
	color: #007aff;
}
i.question-mark:hover .hover-text {
	display: block;
	box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
}
.hover-text {
	display: none;
	position: absolute;
	z-index: 30;
	top: -18px;
	left: 35px;
	width: 402px;
	line-height: 1.2;
	padding: 10px;
	font-size: 14px;
	font-weight: 600;
	color: #5a5a5a;
	background-color: #f8f8f8;
}
.hover-text:after, .hover-text:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.hover-text:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #f8f8f8;
	border-width: 5px;
	margin-top: -5px;
}
.hover-text:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #f8f8f8;
	border-width: 10px;
	margin-top: -10px;
}
.date-margin-text {
	margin: 0 5px;
}
.more-info-btn {
	width: 180px;
	height: 40px;
	color: #007aff;
	border-radius: 5px;
	border: 1px solid #007aff;
	background-color: #fff;
}
.more-info-btn:hover {
	color: #ffffff;
	background-color: #007aff;
}
.modal-layout {
	display: none;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 998;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.47);
}
.modal-content {
	display: none;
	width: 600px;
	padding: 15px;
	border-radius: 5px;
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	background-color: #ffffff;
}
.modal-content .completion-btn {
	width: 100%;
	margin-top: 20px;
	font-size: 18px;
}
.modal-content .wrap .close-btn {
	position: absolute;
	top: 7px;
	right: 6px;
	color: #484848;
	font-size: 36px;
}
.modal-content .wrap .close-btn:hover {
	color: #007aff;
}
.modal-content .modal-title {
	font-size: 20px;
	color: #333;
	font-weight: 500;
	margin-bottom: 10px;
}
.modal-content .modal-information {
	padding: 10px;
	height: auto;
	max-height: 400px;
	overflow-y: auto;
}
.modal-content .modal-information > li {
	padding: 15px 0;
	border-bottom: 1px solid #f1f1f1;
}
.modal-content .modal-information .data-contents {
	overflow-wrap: break-word;
	font-size: 14px;
	color: #484848;
	line-height: 1.4;
}
.modal-content .modal-information .use {
	display: block;
	font-weight: 500;
}
.modal-content .modal-information .reward-data {
	margin-top: 10px;
	display: block;
	font-weight: 500;
	color: #ff4c4c;
}


/* input common */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="search"],
input[type="password"],
input[type="email"]{
	width: 450px;
	height: 35px;
	color: #333;
	border-radius: 3px;
	border: 1px solid #d2d6de;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 500;
	background-color: #fff;
}
input[type="search"] {
	padding: 0 30px;
}
input[type="number"] {
	width: 150px;
}
input[type="date"] {
	width: 200px;
}
input[type="time"] {
	width: 150px;
}
input::placeholder {
	color: #666;
}
input.datepicker {
	width: 200px;
}
input.only-num,
input.only-num-with-zero
{
	width: 220px;
}
/*input[type="text"]:focus,*/
/*textarea:focus {border:2px solid #007aff; }*/

/* file common */
/*.filebox {*/
/*	float: left;*/
/*	margin-right: 40px;*/
/*}*/
.filebox {
	margin-bottom: 10px;
}
.filebox:last-child {
	margin-bottom: 0;
}
.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}
.filebox label {
	display: inline-block;
	padding: 5px 10px;
	color: #1da1f5;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid #1da1f5;
	border-radius: .25em;
}
.filebox label:hover {
	color: #fff;
	background-color: #1da1f5;
}
.filebox .upload-name {
	display: inline-block;
	width: 180px;
	height: 35px;
	padding: 0 10px;
	color: #7d7d7d;
	font-size: 14px;
	line-height: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.filebox .upload-display {
	margin-bottom: 5px;
}
.filebox .upload-display {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 0;
}
.filebox .upload-thumb-wrap {
	display: inline-block;
	width: 54px;
	padding: 2px;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
}
.filebox .upload-display img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}
/* í•´ì‰¬íƒœê·¸ ê´€ë ¨ ê³µí†µì˜ì—­ */
input.tag-input {
	width: 260px;
}
.hash-tag-list > li {
	float: left;
	font-size: 12px;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 20px;
	padding: 5px 8px;
	border-radius: 10px;
	color: #007aff;
	background-color: #b4dbed;
}
.hash-tag-list > li span,
.hash-tag-list > li i {
	font-size: 13px;
	font-weight: 600;
}
.hash-tag-list > li:last-child {
	margin-right: 0;
}
.hash-tag-list > li .delete-btn {
	position: absolute;
	color: #ec5c5c;
	top: 30%;
	right: 3px;
}
/* select common */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
select::-ms-expand {
	display: none;
}
.select-box {
	float: left;
	margin-right: 10px;
	position: relative;
	width: 150px;
	height: 35px;
	font-size: 14px;
	font-weight: 400;
	color: #cccccc;
	border: 1px solid #d2d6de;
	border-radius: 3px;
	background-color: #fff;
	z-index: 1;
}
.select-box-none {
	float: none;
}
.select-box:last-child {
	margin-right: 0;
}
.select-box:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	width: 0;
	height: 0;
	margin-top: -1px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #7d7d7d;
}
.select-box label {
	position: absolute;
	top: 0;
	left: 5px;
	padding: .8em .5em;
	color: #333;
	z-index: -1;
}
.select-box select {
	width: 100%;
	height: auto;
	line-height: normal;
	font-family: inherit;
	padding: .5em .5em;
	border: 0;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/* checkbox + radio common */
input[type="checkbox"],
input[type="radio"] {
	display: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label{
	color: #333;
}
input[type="checkbox"] + label span {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin: -2px 10px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #aaa;
	background-color: #fff;
}
input[type="checkbox"]:checked + label span {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../images/check-on.png");
	border: 1px solid #007aff;
}
input[type="radio"] + label span {
	display:inline-block;
	width:17px;
	height:17px;
	border-radius: 50%;
	margin:-2px 10px 0 0;
	vertical-align:middle;
	cursor:pointer;
	border: 1px solid #aaa;
	background-color: #fff;
}
input[type="radio"]:checked + label span {
	background-size: 13px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("../images/radio-on.png");
	border: 1px solid #007aff;
}

textarea {
	width: 100%;
	height: 130px;
	border: 0;
	font-size: 14px;
	padding: 15px 10px;
	color: #333;
	border-radius: 5px;
	border: 1px solid #d2d6de;
	background-color: #fff;
}
textarea::placeholder {
	color: #999;
}

/* list-common start */
.list-search-btn-wrap {
	display: flex;
	justify-content: center;
	padding: 10px;
}
.list-common-btn-wrap .btn-wrap {
	float: right;
}
.list-common-btn-wrap a {
	float: left;
	text-align: center;
	line-height: 40px;
	display: block;
	width: 150px;
	height: 40px;
	color: #ffffff;
	border-radius: 30px;
	background-color: #19579a;
}
.list-common-btn-wrap.right-btn a {
	float: right;
}
.list-common-btn-wrap a i {
	margin-right: 5px;
}
.list-common-btn-wrap button,
.list-common-btn-wrap a.list-btn,
.list-common-btn-wrap a.update-btn,
.warning-btn {
	display: inline-block;
	width: 100px;
	height: 40px;
	color: #ffffff;
	border-radius: 5px;
	margin-top: 13px;
	background-color: #0061f2;
}
.list-common-btn-wrap .reset,
.list-common-btn-wrap a.list-btn {
	color: #0061f2;
	border: 1px solid #0061f2;
	background-color: #fff;
}
.list-common-btn-wrap a.list-btn {
	margin-right: 10px;
}
.warning-btn {
	background-color: #e03030;
}
.list-common {
	border-radius: 5px;
	padding: 15px;
	box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
}
.list-common-title {
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 10px;
	color: #222;
}
.list-common .list-wrap:first-child {
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.list-common .list-wrap:first-child.only-search {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.list-common .list-wrap .day-btn,
.list-common .list-wrap .select-box,
.list-common .list-wrap .date-wrap {
	float: left;
}
.list-common .list-wrap .date-wrap {
	margin-right: 20px;
}
.list-common .list-wrap .day-btn li {
	float: left;
	cursor: pointer;
	width: 50px;
	height: 35px;
	margin-right: 5px;
	color: #777;
	font-size: 14px;
	text-align: center;
	line-height: 35px;
	border-radius: 5px;
	background-color: #eff3f9;
	transition: all .3s;
}
.list-common .list-wrap .day-btn li:hover,
.list-common .list-wrap .day-btn li.active {
	color: #ffffff;
	background-color: #1da1f5;
}
.list-common .list-wrap .day-btn li:last-child {
	margin-right: 0;
}
.list-common .search-wrap .search-box {
	position: relative;
	width: 450px;
}
.list-common .search-wrap .search-box .search-btn {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	color: #afafaf;
	font-size: 14px;
	cursor: none;
}
.list-common .search-wrap .select-box,
.list-common .search-wrap .search-wrap {
	float: left;
}
input[type="checkbox"] + label,
input[type="radio"] + label{
	margin-right: 10px;
	font-size: 14px;
}
input[type="checkbox"]:disabled + label span{
	background-color: #EEE;
	border: none;
	cursor: default;
}
.doit-list-option ul li {
	width: 25%;
	float: left;
	margin:5px 5px 0 0;
	border-radius: 5px;
	padding: 15px;
	box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
}
.doit-list-option ul li .radio-wrap,
.doit-list-option ul li .checkbox-wrap {
	padding: 9px 0;
}
/*.doit-list-option ul li:nth-child(even) {*/
/*	margin-bottom: 20px;*/
/*}*/
.doit-list-option ul li:last-child {
	margin-right: 0;
}
.doit-list-option ul li > .list-common-title{
	margin-bottom: 10px;
}
/* table common */
.table-wrap {
	margin-top: 30px;
}
.table-wrap .top .right-wrap {
	float: right;
}
.table-wrap .top .right-wrap p {
	float: left;
	display: inline-block;
	margin-right: 15px;
	line-height: 40px;
	font-weight: 500;
	font-size: 14px;
	color: #484848;
}
.table-wrap .top .right-wrap p .data-num {
	font-weight: 600;
	font-size: 14px;
}
.table-wrap .top .right-wrap .select-box {
	float: left;
	background-color: #ffffff;
}
.table-wrap .btn-wrap {
	float: left;
}
.table-wrap .btn-wrap button {

	padding: 10px;
	color: #ffffff;
	font-size: 14px;
	border-radius: 5px;
	transition: all .3s;
}
.table-wrap table button {
	padding: 3px 5px;
	color: #ffffff;
	font-size: 13px;
	border-radius: 2px;
}
.table-wrap table button:disabled {
	background-color: #ddd;
	cursor: inherit;
}

/* 버튼 컬러 */
.btn-warning {
	background-color: #f39c12;
	border-color: #e08e0b;
}
.btn-warning:hover {
	background-color: #e08e0b;
	border-color: #e08e0b;
}
.btn-danger {
	background-color: #dd4b39;
	border-color: #d73925;
}
.btn-danger:hover {
	color: #fff;
	background-color: #d73925;
	border-color: #d73925;
}
.btn-info {
	background-color: #00c0ef;
	border: 1px solid #00acd6;
}
.btn-info:hover {
	background-color: #00acd6;
	border: 1px solid #00acd6;
}


.table-wrap .btn-wrap button i {
	margin-right: 10px;
}
.table-wrap table {
	width: 100%;
	color: #505050;
	word-break: break-all;
	text-align: center;
	table-layout: fixed;
	margin-top: 15px;
	background-color: #ffffff;
	box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
}
.table-wrap table th {
	padding: 13px 5px;
	color: #222;
	font-weight: 600;
	font-size: 14px;
}
.table-wrap table tbody tr:hover {
	cursor: pointer;
	/*box-shadow: -3px 1px 8px 4px rgba(0, 0, 0, .5);*/
	background-color: #d9e7f9;
}
.table-wrap table tbody tr:nth-child(even):hover {
	background-color: #d9e7f9;
}
.table-wrap table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}
.table-wrap table th,
.table-wrap table td {
	border-bottom: 1px solid #f1f1f1;
}
.table-wrap table td {
	padding: 10px 5px;
	line-height: 1.4;
	font-size: 14px;
}
.table-wrap table tfoot {
	border-top: 2px solid #ddd;
}
.table-wrap table tfoot th,
.table-wrap table tfoot td {
	color: #333;
	font-weight: 600;
}
.table-wrap .checkbox-wrap {
	margin-top: 0;
}

.table-wrap table tbody a {
	border-bottom: 1px solid #505050;
	transition: all .2s;
}
.table-wrap table tbody a:hover {
	color: #4876EA;
	border-bottom: 1px solid #4876EA;
}
.table-wrap .minus-pay td button,
.table-wrap .minus-pay td a {
	color: #e83d2c;
	border-bottom: 1px solid #e83d2c;
}
.dataTables_empty {
	text-align: center;
}
.table--pagination {
	font-size: 0;
	text-align: center;
	margin-top: 20px;
}
.table-pagination li {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	padding: 7px;
	border-radius: 2px;
}
.table-pagination li.active {
	color: #ffffff;
	background-color: #007aff;
}
.table-btn-wrap {
	width: 100%;
}
.table-btn-wrap li {
	float: left;
	cursor: pointer;
	width: 33.3%;
	height: 45px;
	border-right: 1px solid #f1f1f1;
	line-height: 45px;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	background-color: #ffffff;
	box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
	transition: all .3s;
}
.table-btn-wrap li.active,
.table-btn-wrap li:hover {
	font-weight: 600;
	color: #ffffff;
	background-color: #007aff;
}
.table-btn-wrap li:last-child {
	border-right: 0;
}
/* datail commmon */
.detail-data {
	overflow-wrap: break-word;
	color: #404040;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5em;
}
.detail-data a {
	display: inline;
	color: #00acd6;
	border-bottom: 1px solid #00acd6;
}
.detail-data-img a {
	border-bottom: 1px solid #505050;
	transition: all .2s;
}
.detail-data-img a:hover {
	color: #4876EA;
	border-bottom: 1px solid #4876EA;
}
.detail-img {
	display: block;
	width: 375px;
	height: auto;
}
.main-banner {
	width: 328px;
	height: 210px;
}

/* cert-contents common */
.table-wrap .btn-wrap button.yellow-btn {
	background-color: #FFA83B;
}
.cert-contents li {
	float: left;
	position: relative;
	margin-right: 0.8%;
	width: 16%;
	padding: 20px 15px;
	margin-top: 20px;
	background-color: #ffffff;
	box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
}
.cert-contents li:last-child {
	margin-right: 0;
}
.cert-contents li .detail-img {
	margin: 0 auto;
}
.cert-contents li .title {
	overflow: hidden;
	max-width: 210px;
	margin: 10px 0;
	padding-bottom: 5px;
	font-weight: 600;
	text-overflow: ellipsis;

}
.doit-detail-page .cert-contents li .text-wrap span {
	display: block;
	margin-top: 5px;
}
.cert-contents li .text-wrap {
	width: 100%;
	margin-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.cert-contents li a {
	color: #505050;
	border-bottom: 1px solid #505050;
}
.cert-contents li p {
	font-size: 16px;
	font-weight: 400;
}
.cert-contents li p.date {
	margin-top: 25px;
	font-size: 14px;
	color: #7d7d7d;
}
.cert-contents li .top {
	margin-bottom: 13px;
}
.cert-contents .checkbox-wrap {
	display: inline-block;
	float: left;
}
.cert-contents .warning-icon {
	float: right;
	cursor: auto;
	color: #e03030;
}
.cert-contents li .top > span {
	font-weight: 600;
	color: #007aff;
}
.cert-contents li .top .failure-text {
	color: #e03030;
}

.cert-contents li .text-wrap i {
	position: absolute;
	right: 10px;
	bottom: 0px;
	width: 30px;
	margin: 0 auto 5px;
	cursor: inherit;
}
.card-wrap {
	display: flex;
	align-items: center;
}
.card-wrap:last-child {
	margin-top: 15px;
}
.card-wrap img {
	width:20px;
}
.card-wrap span {
	margin-left: 5px;
}
.card-btn {
	margin-left: auto;
	padding: 8px 5px;
	color: #fff;
	font-size: 14px;
	border-radius: 4px;
	transition: all .3s;
}
.clear-yellow-btn {
	background-color: #ffa800;
}
.clear-red-btn {
	background-color: #e03030;
}
.clear-yellow-btn:hover {
	background-color: #ff8a00;
}
.clear-red-btn:hover {
	background-color: #d00001;
}

.cert-contents input[type="checkbox"]:disabled + label span  {
	width: 0;
	margin: 0;
	background-color: #fff;
	border: none;
}
.cert-contents .thumbnail-wrap {
	overflow: hidden;
	cursor: pointer;
}
.cert-contents .thumbnail-wrap img {
	transition: all .5s;
}
.cert-contents .thumbnail-wrap:hover img{
	transform: scale(1.08);
}
.modal-content.confirm-modal-detail {
	width: 1130px;
	height: 800px;
}
.modal-content.confirm-modal-detail .modal-information {
	float: left;
	max-height: 700px;
}
.modal-content.confirm-modal-detail .audio-contents {
	position: relative;
}
.modal-content.confirm-modal-detail audio {
	position: absolute;
	left: 50%;
	bottom: 40px;
	width: 90%;
	margin-left: -45%;
}
.modal-content.confirm-modal-detail video {
	width: 100%;
	height: 350px;
	background-color: #000;
}
.modal-content.confirm-modal-detail ul li:first-child video {
	height: 650px;
}

.modal-content.confirm-modal-detail .img-contents img {
	width: 100%;
}
.modal-content.confirm-modal-detail .modal-information {
	overflow-y: hidden;
}
.modal-content.confirm-modal-detail .modal-information li:last-child {
	border-bottom: none;
}
.doit-detail-page .modal-content .select-box {
	width: 100%;
}
/* paginate */
.dataTables_paginate {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.dataTables_paginate .paginate_button {
	font-size: 16px;
	padding: 7px;
	border-radius: 2px;
}
.dataTables_paginate .paginate_button.current {
	color: #ffffff;
	background-color: #0061f2;
}
.paginate_button.previous.disabled,
.paginate_button.next.disabled {
	opacity: 0.3;
	cursor: default;
}
.paginate_button.previous.disabled i,
.paginate_button.next.disabled i {
	cursor: default;
}
/* reward-list */
.reward-list li {
	cursor: pointer;
}

/* 레이아웃 재배치 */
.enrollment li .col-wrap .col-1,
.enrollment li .col-wrap .col-2 {
	float: left;
}
.enrollment li .col-wrap .col-1 {
	width: 20%;
}
.enrollment li .col-wrap .col-2 {
	width: 80%;
}

.empty-message {
	width: 100%;
	padding: 35px 0;
	font-size: 15px;
	text-align: center;
	background-color: #fff;
	box-shadow: 4px 5px 6px 0 rgba(0,0,0,0.05);
}
.result-message {
	width: 100%;
	padding: 10px 0;
	font-size: 15px;
	text-align: center;
}
.cursor-default {
	cursor: default;
}
/* 리뷰목록 */
.review-list td button {
	background: none;
	border-bottom: 1px solid #505050;
}
.review-list .more-info-btn {
	width: inherit;
	height: inherit;
	color: inherit;
	border: none;
	border-bottom: 1px solid #333;
	border-radius: inherit;
}
.review-list .more-info-btn:hover {
	background: none;
}
.review-list .modal-content label {
	margin-right: 10px;
}
.review-list .modal-content .table-wrap {
	border-top: 3px solid #f1f1f1;
}
.table-wrap .btn-wrap button.eye-slash-btn {
	background-color: #f46600;
}
.table-wrap .btn-wrap button.eye-btn {
	background-color: #FFA83B;
}
.full-left, .full-right {
	float: left;
	width: 50%;
}
.review-list .modal-02 .table-wrap,
.review-list .modal-02 .table-wrap table {
	margin-top: 0;
}
.review-list .modal-02 li {
	border-bottom: none;
}
/*말줄임 */
.line-clamp {
	overflow: hidden;
	display: inline-block;
	max-width: 211px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* 리뷰 평점(별) */
.star-wrap {
	float: left;
}
.star-wrap li {
	display: inline-block;
	color: #f3f3f3;
	font-size: 13px;
}
.star-wrap li.on {
	color: #FFA83B;
}
.score {
	float: left;
	margin-left: 10px;

}
/* 글자수 체크 */
.length-count-wrap {
	color: #aaa;
	font-size: 12px;
}
.input-wrap .length-count-wrap {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}
.textarea-wrap .length-count-wrap {
	float: right;
	margin-top: 10px;
}
/* minus pay */
.table-wrap .minus-pay td {
	color: #e83d2c;
}
.table-wrap .th-row th {
	vertical-align: middle;
}

/* 토글버튼 */
.toggle-btn-wrap input[type="checkbox"],
.toggle-btn-wrap input[type="radio"] {
	display: block;
}
.toggle-btn-wrap {
	width: 50px;
}
.table-wrap .toggle-btn-wrap {
	margin: 0 auto;
}
.toggle-btn
{
	position: relative;
	top: 50%;
	width: 50px;
	height: 24px;
	overflow: hidden;
}
.toggle-btn.on, .toggle-btn.on .layer
{
	border-radius: 100px;
}
.toggle-btn.b2
{
	border-radius: 2px;
}
.knobs, .layer
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.checkbox
{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 10;
}
.knobs
{
	z-index: 2;
}
.layer
{
	width: 100%;
	background-color: #f8f8f8;
	transition: 0.3s ease all;
	border: 1px solid #ebebeb;
	z-index: 1;
}
.toggle-btn .knobs:before
{
	content: 'N';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 15px;
	height: 10px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 4px 2px;
	background-color: #F44336;
	border-radius: 50%;
}
.toggle-btn .checkbox.checked + .knobs:before {
	content: 'Y';
	left: 28px;
	background-color: #03A9F4;
}
.toggle-btn .checkbox.checked ~ .layer {
	background-color: #c9eeff;
}

.detail-data-wrap p {
	float: left;
}
.detail-data-wrap .sub-tit {
	width: 160px;
	padding: 5px 0;
	color: #666;
	font-size: 14px;
	font-weight: 600;
}
.detail-data-wrap .detail-data {
	color: #333;
	font-size: 14px;
}
.main-title-date {
	color: #888;
	font-size: 20px;
	font-weight: 600;
}

table th, table td {
	vertical-align: middle;
}

/* 프로모션 배너관리 */
.pro-banner-page .pro-banner {
	width: 200px;
}
.pro-banner-page .fa-times-circle {
	color: #ec5c5c;
	font-size: 19px;
}
.pro-banner-page .left-wrap {
	color: #666;
	line-height: 1.4em;
}
.pro-banner-page .left-wrap .fa-question-circle,
.doit-list-page .left-wrap .fa-question-circle {
	float: left;
	color: #007aff;
}
.pro-banner-page .left-wrap span,
.doit-list-page .left-wrap span{
	float: left;
	margin-left: 5px;
	color: #666;
	font-size: 15px;
}
.doit-list-page .modal-content .table-wrap table {
	border-top: 2px solid #f3f3f3;
}
.pro-banner-page .table-wrap table tbody tr:hover {
	cursor: n-resize;
}

.banner-modal {
	width: 850px;
	height: 700px;
}
.banner-modal .modal-information  li:first-child {
	border-bottom: none;
}
.banner-modal .modal-information  li table {
	border-top: 1px solid #f1f1f1;
}
.banner-modal .pro-banner {
	width: 150px;
}
.banner-modal .modal-information {
	overflow-y: hidden;
	min-height: 550px;
}
.banner-modal .search-box {
	float: left;
	width: 450px;
	position: relative;
}
.banner-modal .search-box i {
	position: absolute;
	top: 12px;
	right: 15px;
}
.banner-modal input[type="search"] {
	width: 450px;
	padding: 15px;
}
.banner-modal .table-wrap table tbody tr:hover {
	cursor: inherit;
}
.btn-wrap button.disabled {
	background-color: #ddd;
	cursor: inherit;
}
.pro-banner-page .table-wrap table tbody tr td {
	background-color: #fff;
}

.fas.fa-check-circle,
.fas.fa-eye-slash,
.fas.fa-eye
{
	cursor: inherit;
}
table .fa-eye {
	color: #007aff;
}
table .fa-eye-slash {
	color: #aaa;
}

.swal2-popup .modal-information li {
	padding-bottom: 10px;
}
.swal2-popup .modal-information li:after {
	display: block;
	clear: both;
	content: '';
}
.swal2-popup .modal-information .sub-title {
	float: left;
	width: 30%;
	text-align: left;
}
.swal2-popup .modal-information .scroll-wrap,
.swal2-popup .modal-information .data-contents {
	float: left;
	width: 70%;
	text-align: left;
	font-size: 16px;

}
.swal2-popup .modal-information .scroll-wrap {
	overflow-y: scroll;
	max-height: 100px;
	padding: 10px;
	border: 1px solid #eee;
}
.swal2-popup .confirm-message {
	padding: 20px 0 5px;
	font-size: 16px;
	border-top: 1px solid #f3f3f3;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	/*border-width: 0 4px 4px;*/
	border-width: 4px 4px 0;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	/*border-bottom: none;*/
	/*border-width: 4px 4px 0;*/
	border-width: 0 4px 4px;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

/*유저 아이디*/
.p-info {
	text-align: left;
}
.p-id {
	display: block;
	color: #888;
	font-size: 10px;
	text-align: left;
}

/* 메모툴팁 */
.tooltip {
	position: relative;
}
.tooltip-mark {
	color: #aaa;
}
.tooltip-mark.on {
	color: #007aff;
}
.tooltip-hover-text {
	position: absolute;
	top: 0;
	right: 40px;
	width: 300px;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
	z-index: 100;
	border-left: 3px solid #007aff;
}
.tooltip-hover-text strong {
	display: block;
	width: 100%;
	color: #007aff;
	padding: 5px;
	font-weight: 500;
	background-color: #d9e7f5;
}
.tooltip-hover-text p {
	padding: 8px;
	font-size: 13px;
	background-color: #d9e7f5;
}

.inflow-page .question-tool {
	position: relative;
}
.inflow-page .question-tool .hover-text {
	position: absolute;
	top: 13px;
	left: -300px;
	width: 410px;
	font-size: 12px !important;
	text-align: left;
}
.inflow-page .question-tool .hover-text:before,
.inflow-page .question-tool .hover-text:after{
	display: none;
}
.inflow-page .question-tool .hover-text b {
	color: #428bca;
}
.inflow-page .question-tool:hover .hover-text{
	display: block;
}
.inflow-page .date-wrap .today {
	color: #555;
	font-size: 14px;
	font-weight: 600;
}


.swal2-content { white-space: pre-line; font-size: 15px; }
.swal2-styled.swal2-confirm {
	font-size: 15px;
	background-color: #0061f2;
}
.swal2-styled.swal2-cancel {
	font-size: 15px;
}
