/* 두잇 신규 등록 */
.tag-list p.sub-title {
    display: inline-block;
    margin-right: 10px;
}
.tag-list i.question-mark {
    vertical-align: initial;
}
/*.reward-li #ucd-area {*/
/*    display: none;*/
/*    margin-top: 20px;*/
/*}*/

.reward-li .input-wrap {
    display: none;
    margin-top: 20px;
}

.reward-typ-li input[type="number"] {
    width: 80px;
}
.reward-typ-li .margin-text {
    margin: 0 10px;
}
.time-li .margin-left-text {
    margin-left: 30px;
}
.time-li input[type="number"] {
    width: 80px;
}
.doit-option-li .code-wrap {
    display: none;
    margin-top: 20px;
}
.doit-option-li input[type="checkbox"] + label span,
.doit-option-li input[type="radio"] + label span,
.method-li input[type="radio"] + label span,
.method-li input[type="checkbox"] + label span,
.doit-open input[type="radio"] + label span,
.doit-open input[type="checkbox"] + label span,
.create-radio-wrap input[type="radio"] + label span {
    margin-left: 10px;
}
.method-li .radio-wrap {
    margin-bottom: 5px;
}
.method-li .radio-wrap:last-child {
    margin-bottom: 0;
}
.doit-option-li .doit-option-contents {
    margin-top: 20px;
    display: none;
}
/* active 영역 */

/*.reward-li #ucd-area.active {*/
/*    display: block;*/
/*}*/
.reward-li .input-wrap.active {
    display: inline-block;
}
.doit-option-li .code-wrap.active {
    display: block;
}
.doit-option-li .doit-option-contents.active {
    display: block;
}
.doit-create-page .img-wrap .wrap,
.doit-detail-page .img-wrap .wrap{
    float: left;
}
/*.doit-create-page .img-wrap .wrap:last-child,*/
/*.doit-detail-page .img-wrap .wrap:last-child {*/
/*    margin-top: 50px;*/
/*}*/

.doit-detail-page .img-wrap .wrap .file {
    margin-top: 30px;
}
.doit-detail-page .img-wrap .wrap .file:first-child {
    margin-top: 0;
}
.doit-detail-page .main-banner,
.doit-update-page .main-banner
{
    width: 375px;
    height: 375px;
}
.file {
    width: 375px;
}
.doit-detail-page video {
    width: 375px;
}
.doit-detail-page audio {
    width: 375px;
}

.table-btn-wrap.doit-detail-tab li {
    width: calc(100%/6);
}
.thumb-list p.sub-title {
    display: inline-block;
    margin-right: 10px;
}

/* 두잇톡 */
.doitTalk .time-line,
info-fix {
    position: relative;
    margin-top: 20px;
}
.doitTalk .top-fix {
    padding: 15px;
    background-color: #fff;
    box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
    /*border: 2px solid #0061f2;*/
}
.doitTalk .top-fix .top .title {
    float: left;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background-color: #0061f2;
    /*border: 2px solid #0061f2;*/
    border-radius: 30px;
}

.doitTalk .time-line:after {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 5px;
    background: #d9e7f5;
    left: 11.9%;
}
.time-line-info {
    position: relative;
    float: left;
    width: 15%;
}
.time-line-info .date {
    color: #0061f2;
    font-size: 18px;
    font-weight: 600;
}
.time-line-info .icon {
    position: absolute;
    top: 0;
    right: 15%;
    z-index: 100;
}
.time-line-info .icon span {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 5px solid #007aff;
    border-radius: 50%;

}
.time-line-body {
    position: relative;
    float: right;
    width: 85%;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
}
.time-line-body.delete-box {
    padding: 30px 15px;
    color: #fff;
    text-align: center;
    background-color: #aaa;
}
.time-line-body.blind,
.doitTalk .top-fix.blind
{
    background: repeating-linear-gradient(-45deg, #f5f5f5, #f5f5f5 3px, #f9f9f9 0, #f9f9f9 6px);
}
.doitTalk .top {

    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
}
.doitTalk .top .nickname {
    float: left;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
}
.doitTalk .top .nickname strong {
    color: orangered;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}
.doitTalk .top .btn-wrap {
    float: right;
}
.doitTalk .top .btn-wrap button {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    background: none;
    transition: all .3s;
}
.doitTalk .top .btn-wrap button.eye-slash-btn {
    color: #f46600;
    border-bottom: 1px solid #f46600;
}
.doitTalk .top .btn-wrap button.eye-btn {
    color: #f39c12;
    border-bottom: 1px solid #f39c12;
}
.doitTalk .contants-wrap {
    padding: 15px 0;
    color: #333;
    font-size: 14px;
    line-height: 1.4em;
}
.doitTalk .contants-wrap .talk-text {
    float: left;
    width: 85%;
    white-space:pre;
}
.doitTalk .contants-wrap .talk-img {
    overflow: hidden;
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 20px;
}
.doitTalk .bottom {
    padding-top: 10px;
    border-top: 1px solid #f1f1f1;
}
.doitTalk .bottom .time {
    float: right;
    color: #999;
    font-size: 14px;
}
.doitTalk .bottom ol {
    float: left;
}
.doitTalk .bottom ol li {
    float: left;
    margin-right: 15px;
    font-size: 14px;
}
.doitTalk .bottom ol li strong {
    font-weight: 600;
}


/* 글자수 체크 */
.input-wrap {
    display: inline-flex;
    display: -webkit-inline-flex;
    position: relative;
    align-items: center;
}
.input-wrap input[type="text"],
.input-wrap input[type="number"],
.input-wrap input[type="password"] {
    padding: 0 55px 0 10px;
}

/*푸쉬, UCD -검색 결과 */
.result_box {
    display: none;
    width: 70%;
    font-size: 15px;
    padding-top: 20px;
    color: #545454;
}
.result_box .table-wrap {
    margin-top: 0;
}
.result_box table {
    border: 1px solid #ededed;
}
.result_box table td {
    padding: 10px 10px;
}
.empty-message {
    width: 100%;
    padding: 80px 0;
    font-size: 15px;
    text-align: center;
}


.deploy-page ul {
    padding: 0 15px;
}
.deploy-page ul li:first-child {
    padding-top: 15px;
}
.deploy-page .btn-wrap button {
    text-align: center;
    line-height: 40px;
    display: inline-block;
    width: 150px;
    height: 40px;
    color: #ffffff;
    border-radius: 30px;
    background-color: #3366ff;
}
.deploy-page .btn-wrap button.btn-pull {
    background-color: #9966ff;
}
.enrollment-title {
    margin: 50px 0 15px;
    color: #484848;
    font-size: 23px;
    font-weight: 600;
}