/* 두잇 신규 등록 */
.tag-list p.sub-title {
    display: inline-block;
    margin-right: 10px;
}
.tag-list i.question-mark {
    vertical-align: initial;
}
/*.reward-li #ucd-area {*/
/*    display: none;*/
/*    margin-top: 20px;*/
/*}*/

.reward-li .input-wrap {
    display: none;
    margin-top: 20px;
}

.reward-typ-li input[type="number"] {
    width: 80px;
}
.reward-typ-li .margin-text {
    margin: 0 10px;
}
.time-li .margin-left-text {
    margin-left: 30px;
}
.time-li input[type="number"] {
    width: 80px;
}
.doit-option-li .code-wrap {
    display: none;
    margin-top: 20px;
}
.doit-option-li input[type="checkbox"] + label span,
.doit-option-li input[type="radio"] + label span,
.method-li input[type="radio"] + label span,
.method-li input[type="checkbox"] + label span,
.doit-open input[type="radio"] + label span,
.doit-open input[type="checkbox"] + label span,
.create-radio-wrap input[type="radio"] + label span {
    margin-left: 10px;
}
.method-li .radio-wrap {
    margin-bottom: 5px;
}
.method-li .radio-wrap:last-child {
    margin-bottom: 0;
}
.doit-option-li .doit-option-contents {
    margin-top: 20px;
    display: none;
}
/* active 영역 */

/*.reward-li #ucd-area.active {*/
/*    display: block;*/
/*}*/
.reward-li .input-wrap.active {
    display: inline-block;
}
.doit-option-li .code-wrap.active {
    display: block;
}
.doit-option-li .doit-option-contents.active {
    display: block;
}
.doit-create-page .img-wrap .wrap,
.doit-detail-page .img-wrap .wrap{
    float: left;
}
/*.doit-create-page .img-wrap .wrap:last-child,*/
/*.doit-detail-page .img-wrap .wrap:last-child {*/
/*    margin-top: 50px;*/
/*}*/

.doit-detail-page .img-wrap .wrap .file {
    margin-top: 30px;
}
.doit-detail-page .img-wrap .wrap .file:first-child {
    margin-top: 0;
}
.doit-detail-page .main-banner,
.doit-update-page .main-banner
{
    width: 375px;
    height: 375px;
}
.file {
    width: 375px;
}
.doit-detail-page video {
    width: 375px;
}
.doit-detail-page audio {
    width: 375px;
}

.table-btn-wrap.doit-detail-tab li {
    width: calc(100%/5);
}
.thumb-list p.sub-title {
    display: inline-block;
    margin-right: 10px;
}

/* 글자수 체크 */
.input-wrap {
    display: inline-flex;
    display: -webkit-inline-flex;
    position: relative;
    align-items: center;
}
.input-wrap input[type="text"],
.input-wrap input[type="number"],
.input-wrap input[type="password"] {
    padding: 0 55px 0 10px;
}

/*푸쉬, UCD -검색 결과 */
.result_box {
    width: 70%;
    font-size: 15px;
    padding-top: 20px;
    color: #545454;
}
.result_box .table-wrap {
    margin-top: 0;
}
.result_box table {
    border: 1px solid #ededed;
}
.result_box table td {
    padding: 10px 0;
}
.empty-message {
    width: 100%;
    padding: 80px 0;
    font-size: 15px;
    text-align: center;
}