.doit-talk-detail-page .enrollment {
    padding: 0;

}
.doit-talk-detail-page .enrollment table {
    width: 100%;
}
.doit-talk-detail-page .enrollment table th,
.doit-talk-detail-page .enrollment table td {
    padding: 15px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
}
.doit-talk-detail-page .enrollment table th {
    width: 5%;
    font-weight: 600;
}
.doit-talk-detail-page .enrollment table a {
    display: inline;
    color: #00acd6;
    border-bottom: 1px solid #00acd6;
}


.enrollment-title {
    display: inline-block;
    float: left;
    color: #333;
    font-size: 18px;
    font-weight: 600;
}
.card p {
    color: #404040;
    font-size: 14px;
    line-height: 1.5em;
}
.comment-1 {
    /*max-width: 900px;*/
}
.left-wrap {
    width: 1150px;
}
.left-wrap .nickname {
    min-width: 300px;
}
.date {
    color: #aaa;
}
.nickname {
    font-size: 14px;
    font-weight: 600;
}

.doit-talk-detail-page .card-warp .card-body .right-wrap {
    width: 330px;
}
.doit-talk-detail-page .card-warp .card-body.blind {
    background: repeating-linear-gradient(-45deg, #f5f5f5, #f5f5f5 3px, #f9f9f9 0, #f9f9f9 6px);
}
.btn-comment {
    margin-right: 15px;
}


.open-box .container {
    padding: 10px;
    font-size: 14px;
    background-color: #eee;
}
.comment-wrap {
    padding-left: 100px;
}
.comment-wrap li {
    display: flex;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.comment-wrap li.blind {
    background: repeating-linear-gradient(-45deg, #f5f5f5, #f5f5f5 3px, #f9f9f9 0, #f9f9f9 6px);
}
.comment-wrap li .nickname {
    margin: 0 15px;
}
.comment-wrap li .right-wrap {
    position: absolute;
    right: 0;
}
.comment-wrap li .right-wrap button {
    margin: 0 20px;
}
.comment-wrap li .right-wrap .date {
    padding: 0 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.comment-wrap li  .left-wrap {
    display: flex;
    width: 1000px;
}
.comment-wrap li .left-wrap .nickname {
    max-width: 200px;
    min-width: inherit;
    color: #444;
}
.comment-wrap li .left-wrap .comment-2 {
    color: #666;
}
.btn-blind {
    color: coral;
    font-size: 14px;
    font-weight: 600;
    background: none;
    border-bottom: 1px solid coral;
}
.btn-blind i {
    color: #f46600 !important;
}
.btn-blind.blind {
    color: #f39c12;
    font-size: 14px;
    font-weight: 600;
    background: none;
    border-bottom: 1px solid #f39c12;
}
.btn-blind.blind i {
    color: #f39c12 !important;
}
.btn-comment {
    margin-left: 15px;
    margin-bottom: 10px;
    background: none;
}
.btn-comment span {
    color: #666;
    border-bottom: 1px solid #666;
    font-weight: 600;
}
.btn-comment:disabled,
.btn-comment:disabled i,
.btn-comment:disabled span {
    cursor: initial;
}
.btn-comment:disabled span {
    border-bottom: none;
    color: #999;
    font-weight: 400;
}
