.inquiry-create-page ul.enrollment:first-child,
.inquiry-detail-page ul.enrollment:first-child {
    margin-bottom: 30px;
    border-radius: 10px;
}
.text-box {
    color: #545454;
    font-size: 15px;
    line-height: 1.5em;
}
.enrollment-title {
    margin: 30px 0 15px;
    color: #5a5a5a;
    font-size: 23px;
    font-weight: 600;
}
.enrollment-title:first-child {
    margin-top: 0;
}
.img-wrap {
    overflow: hidden;
    float: left;
    width: 150px;
    margin-left: 10px;
    cursor: pointer;
}
.img-wrap img {
    transition: all .3s;
}
.img-wrap:hover img {
    transform: scale(1.3);
}
.inquiry-create-page .modal-content {
    width: 1000px;
}
.inquiry-create-page .modal-content .modal-information {
    overflow-y: initial;
    max-height: initial;
}
