/*login page start*/
@keyframes fly {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}

	80% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	80.01% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
section.login-pg {
	padding-left: 0;
}
.login-pg .login-inner {
	height: 100vh;
}
.login-pg .login-inner .top {
	width: 100%;
	height: 40vh;
	border-radius: 0 0 30px 30px;
	position: relative;
	text-align: center;
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	background-color: #007aff;
}
.login-pg .login-inner .top .top-title {
	width: 258px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.fly-wrap {
	overflow: hidden;
}
.fly-wrap span {
	float:left;
	letter-spacing: 8px;
}
.fly-wrap span:nth-of-type(1){
	animation: fly 2s cubic-bezier(.77,0,.175,1);
}
.fly-wrap span:nth-of-type(2){
	animation: fly 2s cubic-bezier(.77,0,.175,1) 40ms;
}
.fly-wrap span:nth-of-type(3){
	animation: fly 2s cubic-bezier(.77,0,.175,1) 80ms;
}
.fly-wrap span:nth-of-type(4){
	animation: fly 2s cubic-bezier(.77,0,.175,1) 120ms;
}
.fly-wrap span:nth-of-type(5){
	animation: fly 2s cubic-bezier(.77,0,.175,1) 160ms;
}
.fly-wrap span:nth-of-type(6){
	animation: fly 2s cubic-bezier(.77,0,.175,1) 200ms;
}
.fly-wrap span:nth-of-type(7){
	animation: fly 2s cubic-bezier(.77,0,.175,1) 240ms;
}
.fly-wrap span:nth-of-type(8){
	animation: fly 2s cubic-bezier(.77,0,.175,1) 280ms;
}
.login-pg .login-inner .wrap {
	width: 400px;
	padding: 2%;
	border-radius: 5px;
	position: absolute;
	z-index: 999;
	top: 31%;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	color: #007aff;
	background-color: #ffffff;
	box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
}
.login-pg .login-inner .wrap .login-text {
	margin-top: 30px;
	margin-bottom: 70px;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 5px;
}
.login-pg .login-inner .wrap .user-name-wrap {
	margin-bottom: 60px;
}
.login-pg .login-inner .wrap .col p {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 14px;
}
.login-pg .login-inner .wrap .password-wrap {
	margin-bottom: 70px;
}
.login-pg .login-inner .wrap .col .input-wrap {
	width: 100%;
	height: 40px;
	position: relative;
	border-bottom: 2px solid #abd6f1;
}
.login-pg .login-inner .wrap .col .input-wrap i {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 0;
	color: #7d7d7d;
	transform: translateY(-50%);
}
.login-pg .login-inner .wrap .col input {
	padding: 0 24px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16px;
	border: 0;
}
.login-pg .login-inner .wrap .col input::before {}
input::placeholder {
	color: #7d7d7d;
	opacity: 1;
}
.login-pg .login-inner .wrap #login-btn {
	width: 157px;
	height: 50px;
	margin: 0 auto;
	display: block;
	color: #ffffff;
	font-weight: 400;
	border-radius: 80px;
	background-color: #007aff;
	background: rgb(0,122,255); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(0,122,255,1) 1%, rgba(137,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,122,255,1) 1%,rgba(137,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,122,255,1) 1%,rgba(137,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}