.notice-list-page .btn-wrap {
    position: relative;
}
.notice-list-page .table-wrap .btn-wrap button {
    position: absolute;
    right: 0;
    top: 0;
}
.notice-list-page .table-wrap .btn-wrap .delete-btn {
    background-color: #c90614;
}