/* pro-create-page */
.delete-btn {
    color: #ec5c5c;
}
.pro-reward-list .select-box {
    margin-bottom: 20px;
}
.pro-reward > li {
    padding: 20px 0;
    border-bottom: 1px solid #f1f1f1;
}
.pro-reward > li:last-child {
    border-bottom: 0;
}
.day-btn li {
    float: left;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: #007aff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid #007aff;
    background-color: #fff;
}
.day-btn li:last-child {
    margin-right: 0;
}
.day-btn li:hover {
    color: #ffffff;
    background-color: #007aff;
}
.day-btn li:last-child {
    margin-right: 0;
}
.day-btn li.active{
    color: #ffffff;
    background-color: #007aff;
}
.pro-reward-list .add-btn {
    width: 180px;
    display: block;
}
.pro-reward-list .sub-title {
    display: inline-block;
    margin-right: 10px;
}
.pro-reward-list .question-mark {
    vertical-align: baseline;
}
.doit-open input[type="radio"] + label span {
    margin-left: 10px;
}
.pro-reward-add-list .enrollment {
    width: 413px;
    float: left;
    position: relative;
    margin-right: 20px;
}
.pro-reward-add-list .enrollment:nth-child(4n+0) {
    margin-right: 0;
    margin-bottom: 20px;
}
.pro-reward-add-list .enrollment .delete-btn {
    position: absolute;
    top: 8px;
    right: 9px;
    z-index: 1;
    font-size: 30px;
    float: right;
}
.btn-wrap a {
    margin-right: 10px;
    float: left;
    text-align: center;
    line-height: 40px;
    display: block;
    width: 150px;
    height: 40px;
    color: #ffffff;
    border-radius: 30px;
    background-color: #19579a;
}
.btn-wrap a i {
    margin-right: 10px;
}
.img-list .wrap:last-child {
    margin-top: 15px;
}
.notice-input-list li {
    margin-bottom: 20px;
}
.notice-input-list li:last-child {
    margin-bottom: 0;
}
.reward-type .sub-title {
    margin-top: 40px;
}
.reward-type .sub-title:first-child {
    margin-top: 0;
}


/* 리워드 조건 지정 */

.pro-create-page .enrollment > li .hash-tag-list li {
    float: inherit;
    color: #aaa;
    width: 170px;
    margin-bottom: 5px;
    background-color: #f3f3f3;
    border: none;
    cursor: pointer;
    transition: all .3s;
}
.pro-create-page .enrollment > li .hash-tag-list li.on,
.pro-create-page .enrollment > li .hash-tag-list li:hover{
    color: #007aff;
    background-color: #d9e7f5;
}
.pro-create-page .hash-tag-list > li .delete-btn {
    padding-left: 5px;
}
.reward-tab li {
    position: relative;
    height: 25px;
    line-height: 25px;
}
.reward-tab li span {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    padding: 0 10px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;

}
.reward-tab li i {
    position: absolute;
    top: 20%;
    right: 10px;
}
.pro-reward-wrap {
    display: none;
    padding: 20px 30px;
    background-color: #fff;
    border: 2px solid #d9e7f5;
}
.pro-reward-wrap:first-child {
    display: block;
}
.enrollment li .pro-reward-wrap .col-wrap .col-1 {
    width: 220px;
}
.enrollment li .pro-reward-wrap .col-wrap .col-2 {
    width: 640px;
}
.pro-reward-wrap input[type="text"].input-num-box {
    width: 30px;
    height: 15px;
    padding: 0;
    font-weigth: 800;
    background-color: #fff;
    border: none;
}
.pro-reward-wrap .irs--round {
    width: 250px;
    margin-bottom: 10px;
}
.pro-reward-wrap table {
    width: 640px;
}
.pro-reward-wrap table th {
    font-weight: 500;
    text-align: center;
    background-color: #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
}
.pro-reward-wrap table th,
.pro-reward-wrap table td {
    padding: 10px 20px;
    color: #484848;
    font-size: 15px;
    border: 1px solid #f3f3f3;
}
.pro-reward-wrap table tbody tr:first-child td i {
    display: none;
}
.pro-reward-wrap .only-num {
    width: 90px;
    text-align: right;
}
.reward-add-btn {
    display: block;
    width: 170px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 0.5rem;
    border: 1px solid #007aff;
    border-radius: 30px;
    color: #007aff;
    background-color: #ffffff;
    transition: all .5s;
}
.reward-add-btn:hover {
    color: #fff;
    background-color: #007aff;
    border: 1px solid #007aff;
}
.reward-user {
    display: none;
}
.text-right {
    display: block;
    text-align: right;
}
.frequency-ul.disabled > li,
.frequency-ul.disabled > li:hover {
    color: #ddd;
    border-color: #ddd;
    background-color: #fff;
    cursor: inherit;
}
.pro-reward-wrap .add-btn-wrap {
    padding: 0;
}
.ucd-add-btn {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #007aff;
    text-align: center;
    background: none;
    transition: all .2s;
}
.ucd-add-btn:hover {
    color: #fff;
    background: #007aff;
}

.modal-content .search-box {
    position: relative;
}
.modal-content .modal-title {
    margin-bottom: 15px;
}
.modal-content .search-box input[type="search"] {
    width: 100%;
}
.modal-content .search-box .search-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #565656;
    font-size: 20px;
}
.modal-information li:first-child {
    border: none;
}
.modal-content .table-wrap {
    margin-top: 0;
}
.modal-content .table-wrap table {
    margin-top: 0;
    border-top: 1px solid #eee;
}
.modal-information .table-wrap .table-pagination li {
    border-bottom: none;
}




