.prohibited-list-page .more-info-btn {
    border: none;
}
.prohibited-list-page .more-info-btn i {
    margin-right: 5px;
}
.prohibited-list-page .more-info-btn:hover {
    background-color: #19579a;
}
.prohibited-list-page .modal-information .sub-title {
    display: inline-block;
    margin-right: 10px;
}
