
.review-list-page .table-wrap td button {
    background: none;
    border-bottom: 1px solid #505050;
}

.review-list-page .more-infor-btn {
    width: inherit;
    height: inherit;
    color: inherit;
    border: inherit;
    border-radius: inherit;
}

.review-list-page .line-clamp {
    overflow: hidden;
    width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.review-list-page .modal-content label {
    margin-right: 10px;
}
.review-list-page .modal-content .table-wrap {
    border-top: 3px solid #f1f1f1;
}
.full-left, .full-right {
    float: left;
    width: 50%;
}
.review-list-page .modal-02 .table-wrap,
.review-list-page .modal-02 .table-wrap table {
    margin-top: 0;
}
.review-list-page .modal-02 li {
    border-bottom: none;
}