.ucd-use-list-page .doit-list-option ul li:first-child {
    width: 40%;
}
.ucd-use-list-page .table-wrap .minus-pay td {
    color: #c90614;
}
.ucd-use-list-page .table-wrap .minus-pay td a {
    border-bottom: 1px solid #c90614;
}