
.ucd-payment-list-page .table-wrap .btn-wrap .delete-btn {
    background-color: #c90614;
}
.ucd-payment-list-page .table-wrap .btn-wrap .complete-btn {
    background-color: #19579a;
}
.ucd-payment-list-page .table-wrap td button {
    background: none;
    border-bottom: 1px solid #505050;
}
.ucd-payment-list-page .table-wrap .minus-pay td, .ucd-payment-list-page .table-wrap .minus-pay td button {
    color: #c90614;
}
.ucd-payment-list-page .table-wrap .minus-pay td button {
    border-bottom: 1px solid #c90614;
}

.ucd-payment-list-page .modal-content .modal-information {
    overflow-scroll-y: hidden;
    height: inherit;
}
.ucd-payment-list-page .modal-content .select-box {
    float: inherit;
    width: 100%;
}
.ucd-payment-list-page .modal-content .img-contents {
    width: 400px;
}
.ucd-payment-list-page .modal-content .img-contents img {
    width: 100%;
    height: auto;
}
.ucd-payment-list-page .more-infor-btn {
    width: inherit;
    height: inherit;
    color: inherit;
    border: inherit;
    border-radius: inherit;
}
