
.move-tab {
    position: fixed;
    top:180px;
    right: 50%;
    width: 150px;
    margin-right: -930px;
    border-radius: 10px;
    transition: all .5s;
}
.modal-content .wrap {
    width: auto;
}
.move-tab li {
    cursor: pointer;
    text-align: right;
}
.move-tab li:hover {
    font-weight: 800;
}
.move-section-wrap {
    width: 1280px;
}

.enrollment-col {
    float: left;
    width: 50%;
}
.enrollment-col > li:first-child {
    padding-top: 0;
}
.enrollment-col > li {
    padding: 15px 0;
    border-bottom: 1px solid #f1f1f1;
}
.enrollment-col > li:last-child {
    border-bottom: none;
}




.enrollment-title {
    margin:50px 0 15px;
    color: #484848;
    font-size: 23px;
    font-weight: 600;
}
.enrollment li .col-wrap .col-2 {
    width: 80%;
}
.star-wrap {
    margin: 0 auto;
}
button.btn-open-modal {
    background: none;
    border-bottom: 1px solid #333;
}


.ucd-data {
    overflow-wrap: break-word;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
}
.ucd-data span {
    margin-right: 5px;
}

.user-doit-tab li {
    width: 50%;
}
.data-contents li {
    margin-bottom: 20px;
}
.table-wrap .minus-pay td,
.table-wrap .minus-pay td button {
    color: #c90614;
}
ol.detail-data {
    width: 1500px;
}
ol.detail-data li {
    float: left;
    width: 200px;
    margin-left: 5px;
}
.os-token {
    overflow: hidden;
    display: block;
    max-width: 490px;
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}



