<link rel="stylesheet" href="/assets/css/confirm-list.css">
<section class="confirm-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">인증 목록</h2>
        </div>

        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">날짜</p>
                <div class="select-box">
                    <label for="dateType">등록일</label>
                    <select id="dateType">
                        <option value="create">등록일</option>
                    </select>
                </div>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="search_type">두잇명</label>
                    <select id="search_type">
                        <option value="doit">두잇명</option>
                        <option value="nickname">닉네임</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="doit-list-option">
            <ul class="clearfix">
                <li style="width: 33%;">
                    <p class="list-common-title">인증 상태</p>
                    <div class="checkbox-wrap">
                        <input type="checkbox" id="c1" name="chk-status" value="success"/>
                        <label for="c1"><span></span>성공</label>

                        <input type="checkbox" id="c2" name="chk-status" value="yellow"/>
                        <label for="c2"><span></span>옐로카드</label>

                        <input type="checkbox" id="c3" name="chk-status" value="red"/>
                        <label for="c3"><span></span>레드카드</label>

                        <input type="checkbox" id="c4" name="chk-status" value="report"/>
                        <label for="c4"><span></span>사용자신고</label>
                    </div>
                </li>
                <li>
                    <p class="list-common-title">진행상태</p>
                    <div class="radio-wrap">
                        <input type="radio" id="r2" name="radio-progress" value=""/>
                        <label for="r2"><span></span>전체</label>

                        <input type="radio" id="r3" name="radio-progress" value="intime"/>
                        <label for="r3"><span></span>진행중</label>

                        <input type="radio" id="r4" name="radio-progress" value="done"/>
                        <label for="r4"><span></span>종료</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="list-common-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="reset" type="reset">초기화</button>
                <button class="search" type="button">검색</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="select-box">
                        <label for="selPageLength">10개씩 보기</label>
                        <select id="selPageLength">
                            <option value="10">10개씩 보기</option>
                            <option value="20">20개씩 보기</option>
                            <option value="30">30개씩 보기</option>
                        </select>
                    </div>
                    <p>Total <strong class="data-num">16</strong></p>
                </div>
                <div class="btn-wrap">
                    <button class="warning-btn" type="button"><i class="fas fa-exclamation-triangle"></i>경고장 일괄발송</button>
                </div>
            </div>

            <ul class="cert-contents clearfix">
                <li>
                    <div class="top clearfix">
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c5" name="cc" />
                            <label for="c5"><span></span></label>
                        </div>
                        <span class="success-text">성공</span>
                        <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                    </div>
                    <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                    <div class="text-wrap">
                        <p class="title">매일 반려견 산책하기</p>
                        <a href="#">aaaaaaa</a>
                        <p class="date">2019.07.17 10:30:24</p>
                    </div>
                    <button class="warning-btn" type="button">경고장</button>
                </li>
                <li>
                    <div class="error">
                        <p class="error-text"><i class="fas fa-exclamation-circle"></i>인증 조건 부적합</p>
                    </div>
                    <div class="top clearfix">
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c6" name="cc" />
                            <label for="c6"><span></span></label>
                        </div>
                        <span class="failure-text">실패</span>
                        <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                    </div>
                    <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                    <div class="text-wrap">
                        <p class="title">매일 반려견 산책하기</p>
                        <a href="#">aaaaaaa</a>
                        <p class="date">2019.07.17 10:30:24</p>
                    </div>
                    <button class="warning-btn yellow-card-btn" type="button">옐로카드 취소</button>
                </li>
                <li>
                    <div class="top clearfix">
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c7" name="cc" />
                            <label for="c7"><span></span></label>
                        </div>
                        <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                    </div>
                    <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                    <div class="text-wrap">
                        <p class="title">매일 반려견 산책하기</p>
                        <a href="#">aaaaaaa</a>
                        <p class="date">2019.07.17 10:30:24</p>
                    </div>
                    <button class="warning-btn red-card-btn" type="button">레드카드 취소</button>
                </li>
                <li>
                    <div class="top clearfix">
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c8" name="cc" />
                            <label for="c8"><span></span></label>
                        </div>
                        <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                    </div>
                    <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                    <div class="text-wrap">

                        <p class="title">매일 반려견 산책하기</p>
                        <a href="#">aaaaaaa</a>
                        <p class="date">2019.07.17 10:30:24</p>
                    </div>
                    <button class="warning-btn" type="button">경고장</button>
                </li>
                <li>
                    <div class="top clearfix">
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c9" name="cc" />
                            <label for="c9"><span></span></label>
                        </div>
                        <i class="warning-icon fas fa-exclamation-triangle"> <span>신고 : <span class="cert-data-num">100</span></span></i>
                    </div>
                    <img class="detail-img" src="/assets/images/test.png" alt="프로필 이미지입니다.">
                    <div class="text-wrap">
                        <p class="title">매일 반려견 산책하기</p>
                        <a href="#">aaaaaaa</a>
                        <p class="date">2019.07.17 10:30:24</p>
                    </div>
                    <button class="warning-btn" type="button">경고장</button>
                </li>
            </ul>

            <ul class="table-pagination clearfix">
                <li><i class="fas fa-angle-double-left"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fas fa-angle-double-right"></i></li>
            </ul>

            <div class="modal-content">
                <div class="wrap">
                    <i class="close-btn fas fa-times-circle"></i>
                    <p class="modal-title">경고장 발송</p>
                    <ul class="modal-information">
                        <li>
                            <p class="sub-title">경고장(*)</p>
                            <div class="radio-wrap">
                                <input type="radio" id="r1" name="rr" />
                                <label for="r1"><span></span>옐로카드</label>

                                <input type="radio" id="r8" name="rr" />
                                <label for="r8"><span></span>레드카드</label>
                            </div>
                        </li>
<!--        발송사유 경고장 라디오 선택시 셀렉박스 구분해서 나오는 스크립트 필요                -->
                        <li class="clearfix">
                            <p class="sub-title">발송사유(*)</p>
                            <div class="select-box active">
                                <label for="ex_select9">인증 조건/규칙 부적합</label>
                                <select id="ex_select9">
                                    <option selected>인증 조건/규칙 부적합</option>
                                    <option>광고성 게시글</option>
                                </select>
                            </div>
                            <div class="select-box">
                                <label for="ex_select10">음란/욕설/종교/정치성</label>
                                <select id="ex_select10">
                                    <option selected>음란/욕설/종교/정치성</option>
                                </select>
                            </div>
                        </li>
                        <li class="clearfix">
                            <button class="completion-btn" type="submit">발송</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-layout"></div>

        </div>
    </div>
</section>
<script src="/assets/js/confirm/confirm-list.js"></script>