<link rel="stylesheet" href="/assets/v2/css/biz.css?version=<?php echo $this->config->item('version');?>">
<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">비즈 상세</h2>
            <div class="right-wrap">
                <button id="btnSupportDoit" type="button" class="btn-sm btn-outline-warning"><i class="fas fa-hand-holding-usd"></i> 두잇 후원</button>
                <button id="btnSupportLeader" type="button" class="btn-sm btn-outline-orange"><i class="fas fa-hand-holding-usd"></i> 리더 후원</button>
                <button id="btnSaveUcd" type="button" class="btn-sm btn-outline-success modal-btn"><i class="fas fa-coins"></i> 기업 UCD 충전</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 15%;">
                        <col style="width: 15%;">
                        <col style="width: 70%;">
                    </colgroup>
                    <tr>
                        <th rowspan="5">
                            <div class="biz-img-wrap">
                                <img src="" alt="" id="contentImage">
                            </div>
                        </th>
                        <th>기업명</th>
                        <td>
                            <p class="detail-data" id="title"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>사업자 번호</th>
                        <td>
                            <p class="detail-data" id="bizNo"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>홈페이지</th>
                        <td>
                            <p class="detail-data" id="bizWeb"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>기업 소개</th>
                        <td>
                            <p class="detail-data" id="content"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>보유 UCD</th>
                        <td>
                            <p class="detail-data"><span id="balance">0</span> UCD</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="right-wrap">
                                <button id="btnUpdate" type="button" class="btn-sm btn-teal">수정</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <ul class="tab biz-detail-teb clearfix" id="tabUl">
            <li class="active" data-target="#tabDoitInfo">두잇 정보</li>
            <li data-target="#tabUcdInfo">UCD 정보</li>
        </ul>

        <!-- 두잇정보 -->
        <div class="biz-doit-info table-wrap tab-contents" id="tabDoitInfo">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num">0</strong></p>
                        <select id="selPageLengthDoit" class="select-box">
                        </select>
                    </div>
                </div>
            </div>
            <table id="doitTable">
                <!--<colgroup>
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                    <col style="width: 40%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                </colgroup>
                <thead>
                <tr>
                    <th>카테고리</th>
                    <th>세부 카테고리</th>
                    <th>두잇명</th>
                    <th>개설일</th>
                    <th>참여인원</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>운동</td>
                    <td>필라테스</td>
                    <td><a href="v2/doit/detail">두잇며어어어어엉</a></td>
                    <td>2020-04-01</td>
                    <td>1000</td>
                    <td>진행중</td>
                </tr>
                </tbody>-->
            </table>
        </div>

        <!-- ucd정보 -->
        <div class="biz-ucd-info table-wrap tab-contents" style="display: none;" id="tabUcdInfo">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num"></strong></p>
                        <select id="selPageLengthUcd" class="select-box">
                        </select>
                    </div>
                </div>
            </div>
            <table id="ucdInfoTable">
                <!--<colgroup>
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 15%;">
                    <col style="width: 40%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead>
                <tr>
                    <th>유형</th>
                    <th>구분</th>
                    <th>금액</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>일시</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>유형</td>
                    <td>구분</td>
                    <td>10,000</td>
                    <td>제목제목제목제목</td>
                    <td>내용내용내용내용내용내용</td>
                    <td>2020-04-01 00:00:00</td>
                </tr>
                </tbody>-->
            </table>
        </div>


        <div class="footer-btn-wrap">
            <button id="btnBack" type="button" class="btn btn-outline-primary">이전</button>
            <button id="btnList" type="button" class="btn btn-primary">목록</button>
        </div>
    </div>

    <div class="modal-wrap">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h5>기업 UCD 충전</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <table class="detail-table">
                    <colgroup>
                        <col style="width: 25%;">
                        <col style="width: 75%;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>UCD *</th>
                        <td>
                            <div class="ucd-input-wrap">
                                <input id="amount" type="text" class="only-num" maxlength="9">
                                <span>UCD</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>내용 *</th>
                        <td>
                            <div class="input-wrap">
                                <input id="description" type="text" class="length-input" maxlength="30">
                                <p class="length-count-wrap"><span class="count-input">0</span>/30</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
                <button id="btnSubmit" type="button" class="btn btn-primary">충전완료</button>
            </div>
        </div>

        <div class="modal-bg"></div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/bundles/biz-detail.bundle.js?version=<?php echo $this->config->item('version');?>"></script>