<link rel="stylesheet" href="/assets/v2/css/ucd.css?version=<?php echo $this->config->item('version');?>">
<link rel="stylesheet" href="/assets/v2/css/biz.css?version=<?php echo $this->config->item('version');?>">
<section class="detail-page ucd-create">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">두잇 후원</h2>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="detail-table support-table">
                    <colgroup>
                        <col style="width: 10%;">
                        <col style="width: 10%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th rowspan="2">
                            <div class="biz-img-wrap">
                                <img src="" alt="" id="contentImage">
                            </div>
                        </th>
                        <th>기업명</th>
                        <td>
                            <p class="detail-data" id="title"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>보유 UCD</th>
                        <td>
                            <p class="detail-data"><span id="balance"></span> UCD</p>
                        </td>
                    </tr>
                </table>

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>UCD *</th>
                        <td>
                            <div class="ucd-input-wrap">
                                <input id="amount" type="text" maxlength="7">
                                <span>UCD</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>내용 *</th>
                        <td>
                            <div class="input-wrap">
                                <input id="description" type="text" class="length-input" maxlength="30" placeholder="내용을 입력해주세요.">
                                <p class="length-count-wrap"><span class="count-input">0</span>/30</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>대상 두잇 *</th>
                        <td>
                            <div class="top">
                                <input id="nickname" type="search" placeholder="두잇명을 입력해주세요">
                                <button id="btnSearchNickname" type="button" class="btn-sm modal-btn">두잇 검색</button>
                                <div class="file-wrap excel-import">
                                    <label for="btnXlsxImport">
                                        <i class="fas fa-file-excel"></i>
                                        엑셀 불러오기
                                    </label>
                                    <input type="file" id="btnXlsxImport" class="upload-hidden" accept=".xlsx">
                                </div>
                                <button id="btnXlsxExport" type="button" class="btn-sm btn-outline-success"><i class="fas fa-file-excel"></i> 양식 다운로드</button>
                            </div>
                            <div class="result-box">
                                <div class="table-wrap">
                                    <div class="top clearfix">
                                        <div class="left-wrap clearfix">
                                            <div class="form-box">
                                                <p>대상 두잇 <strong class="data-num" id="totalCount">0</strong> 개</p>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="updateTable">
                                        <!--<colgroup>
                                            <col style="width: 50%;">
                                            <col style="width: 20%;">
                                            <col style="width: 20%;">
                                            <col style="width: 10%;">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>두잇명</th>
                                            <th>리더 닉네임</th>
                                            <th>보유 UCD</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>사회에 긍정적인 영향을 주자!!!!</td>
                                            <td>깐깐찡어</td>
                                            <td>20,000,000</td>
                                            <td>
                                                <button type="button" class="btn-xs btn-text-red delete-btn"><i class="fas fa-minus-circle"></i></button>
                                            </td>
                                        </tr>
                                        </tbody>-->
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">후원 완료</button>
        </div>
    </div>

    <div class="modal-wrap">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h5>두잇 검색</h5>
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card clearfix">
                            <div class="search-txt-wrap">
                                <input id="keyword" type="search" placeholder="두잇명을 입력해주세요.">
                                <i class="fas fa-search"></i>
                                <button id="btnSearch" type="button" class="btn-sm btn-search">검색</button>
                            </div>
                        </div>
                        <div class="table-wrap">
                            <table id="dataTable">
                                <!--<colgroup>
                                    <col style="width: 45%;">
                                    <col style="width: 30%;">
                                    <col style="width: 20%;">
                                    <col style="width: 5%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>두잇명</th>
                                    <th>리더 닉네임</th>
                                    <th>보유 UCD</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>사회에 긍정적인 영향을 주자!!!!</td>
                                    <td>깐깐찡어</td>
                                    <td>20,000,000</td>
                                    <td>
                                        <div class="checkbox-wrap">
                                            <input id="c1" type="checkbox">
                                            <label for="c1"><span></span></label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>-->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
<!--                <button id="btnUpdate" type="button" class="btn btn-primary">선택완료</button>-->
            </div>
        </div>

        <div class="modal-bg"></div>
    </div>
    <input type="hidden" id="hiddenIdx" value="<?php if(null !== $idx) echo $idx?>"/>
</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/v2/js/plugins/dataTables.select.min.js"></script>
<script src="/assets/v2/js/plugins/xlsx.full.min.js"></script>
<script type="module" src="/assets/v2/js/biz/biz-support-doit.js?version=<?php echo $this->config->item('version');?>"></script>