<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">비즈 등록</h2>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>기업명 *</th>
                        <td>
                            <div class="input-wrap">
                                <input id="title" type="text" class="length-input" maxlength="14" placeholder="기업명을 입력해주세요.">
                                <p class="length-count-wrap"><span class="count-input">0</span>/14</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>사업자 번호 *</th>
                        <td>
                            <input id="bizNo" type="text" class="only-num" maxlength="10" placeholder="- 제외 숫자만 입력해주세요.">
                        </td>
                    </tr>
                    <tr>
                        <th>프로필 이미지 *</th>
                        <td>
                            <div class="file-wrap preview-image">
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="contentImage">업로드</label>
                                <input type="file" id="contentImage" class="upload-hidden" accept="image/png, image/jpg, image/jpeg">
                            </div>
<!--                            <div class="detail-img-wrap">-->
<!--                                <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">-->
<!--                            </div>-->
                        </td>
                    </tr>
                    <tr>
                        <th>홈페이지 *</th>
                        <td>
                            <input id="bizWeb" type="text" placeholder="https://를 포함하여 입력해주세요">
                        </td>
                    </tr>
                    <tr>
                        <th>기업 소개 *</th>
                        <td>
                            <div class="textarea-wrap">
                                <textarea id="content" class="length-input" maxlength="100" rows="4" placeholder="내용을 입력해주세요."></textarea>
                                <p class="length-count-wrap"><span class="count-input">0</span>/100</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">등록 완료</button>
        </div>
    </div>

</section>
<script type="module" src="/assets/v2/js/biz/biz-create.js?version=<?php echo $this->config->item('version');?>"></script>
