<!-- Common JS Load -->
<script src="/assets/js/plugins/jquery-ui.min.js"></script>
<script src="/assets/js/plugins/tablesort.min.js"></script>
<script src="/assets/js/plugins/tablesort.number.min.js"></script>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/dataTables.select.min.js"></script>
<script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
<script src="/assets/js/plugins/xlsx.full.min.js"></script>
<script src="/assets/js/plugins/sweetalert2.min.js"></script>
<script src="/assets/js/const.js?version=<?php echo $this->config->item('version');?>"></script>
<script src="/assets/js/utils.js?version=<?php echo $this->config->item('version');?>"></script>
<script src="/assets/js/request.js?version=<?php echo $this->config->item('version');?>"></script>
<script src="/assets/js/common.js?version=<?php echo $this->config->item('version');?>"></script>
<script src="/assets/js/export-excel.js?version=<?php echo $this->config->item('version');?>"></script>