<!-- Common JS Load -->
<script src="/assets/js/plugins/jquery-ui.min.js"></script>
<script src="/assets/js/plugins/jquery.dataTables.js"></script>
<script src="/assets/js/plugins/dataTables.select.min.js"></script>
<script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
<script src="/assets/js/plugins/xlsx.full.min.js"></script>
<script src="/assets/js/plugins/FileSaver.js"></script>
<script src="/assets/js/common.js"></script>
<script src="/assets/js/utils.js"></script>
<script src="/assets/js/const.js"></script>
<script src="/assets/js/export-excel.js"></script>