<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:type" content="YCD">
    <meta property="og:title" content="유캔두 관리자">
    <meta property="og:url" content="#">
    <meta property="og:description" content="유캔두 관리자 페이지">
    <meta property="og:image" content="/assets/images/thumbnail.png">
    <meta name="format-detection" content="telephone=no" />
    <title>유캔두 관리자</title>