    <!-- Common CSS Load -->
    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/css/reset.css?version=<?php echo $this->config->item('version');?>">
    <link rel="stylesheet" href="/assets/css/common.css?version=<?php echo $this->config->item('version');?>">
    <link rel="stylesheet" href="/assets/css/header.css?version=<?php echo $this->config->item('version');?>">
    <link rel="stylesheet" href="/assets/css/aside.css?version=<?php echo $this->config->item('version');?>">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <!-- Common JS Load -->
    <script src="/assets/js/plugins/jquery-3.3.1.min.js"></script>
</head>
<body>