<!-- Left Menu -->
<header class="w-admin-header">
    <div class="logo">
        YOUCANDO
    </div>
    <nav>
        <ul>
            <li class="menu-btn" data-target="biz-menu">
                <div class="btn-wrap clearfix">
                    <i class="far fa-building"></i>
                    <span>비즈</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list biz-menu">
                    <li><a href="/biz/create">신규 등록</a></li>
                    <li><a href="/biz/lists">비즈관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="member-menu">
                <div class="btn-wrap clearfix">
                    <i class="far fa-address-card"></i>
                    <span>회원</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list member-menu">
                    <li><a href="/user/lists">회원관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="promotion-menu">
                <div class="btn-wrap clearfix">
                    <i class="far fa-calendar-alt"></i>
                    <span>프로모션</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list promotion-menu">
                    <li><a href="/pro/create">신규 등록</a></li>
                    <li><a href="/pro/lists">프로모션 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="doit-menu">
                <div class="btn-wrap clearfix">
                    <i class="fas fa-tasks"></i>
                    <span>두잇</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list doit-menu">
                    <li><a href="/doit/create">신규 등록</a></li>
                    <li><a href="/doit/lists">두잇 관리</a></li>
                    <li><a href="/doit/categoryLists">카테고리 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="cite-menu">
                <div class="btn-wrap clearfix">
                    <i class="fas fa-hashtag"></i>
                    <span>인증</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list cite-menu">
                    <li><a href="/confirm/lists">인증 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="review-menu">
                <div class="btn-wrap clearfix">
                    <i class="far fa-comment"></i>
                    <span>리뷰</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list review-menu">
                    <li><a href="/review/lists">리뷰 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="ucd-menu">
                <div class="btn-wrap clearfix">
                    <i class="fas fa-coins"></i>
                    <span>UCD</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list ucd-menu">
                    <li><a href="/ucdcharge/lists/">UCD(C) 충전내역</a></li>
                    <li><a href="/ucduse/lists/">UCD(C/P) 이용내역</a></li>
                    <li><a href="/ucdpayment/lists/">출금 요청 내역</a></li>
                    <li><a href="#">매출 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="service-menu">
                <div class="btn-wrap clearfix">
                    <i class="far fa-clipboard"></i>
                    <span>서비스</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list service-menu">
                    <li><a href="/notice/lists">공지사항 관리</a></li>
                    <li><a href="/event/lists">이벤트 관리</a></li>
                    <li><a href="/faq/lists">FAQ 관리</a></li>
                    <li><a href="/inquiry/lists">1:1 문의 관리</a></li>
                    <li><a href="/prohibited/lists">금칙어 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="push-menu">
                <div class="btn-wrap clearfix">
                    <i class="far fa-bell"></i>
                    <span>푸쉬</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list push-menu">
                    <li><a href="/push/lists">푸쉬 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="manager-menu">
                <div class="btn-wrap clearfix">
                    <i class="fas fa-users-cog"></i>
                    <span>관리자</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list manager-menu">
                    <li><a href="/admin/lists">관리자 관리</a></li>
                    <li><a href="/admin/auth">권한 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
        </ul>
    </nav>
</header>

<!-- Top Menu -->
<aside class="side-menu">
    <div class="inner side-menu-wrap clearfix">
        <ul class="route clearfix">
            <li>두잇 관리</li>
            <li>두잇 목록</li>
            <li>신규등록</li>
        </ul>
        <div class="icon-wrap clearfix">
            <i id="notice" class="fas fa-bell">
                <div class="on-notice"></div>
                <ul class="notice-list">
                    <li><a href="#">dkdkdkdkdkd</a></li>
                    <li><a href="#">dkdkdkdkdkd</a></li>
                    <li><a href="#">dkdkdkdkdkd</a></li>
                </ul>
            </i>
            <i id="power-off" class="fas fa-power-off"></i>
        </div>
    </div>
</aside>