<!-- Left Menu -->
<header class="w-admin-header">
    <div class="logo">
        <a href="/">YOUCANDOO</a>
    </div>
    <nav>
        <ul id="sideMenu">
            <!--<li class="menu-btn" data-target="member-menu">
                <div class="btn-wrap clearfix">
                    <i class="far fa-address-card"></i>
                    <span>회원</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list member-menu">
                    <li><a href="/user/lists">회원관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="biz-menu">
                <div class="btn-wrap clearfix">
                    <i class="far fa-building"></i>
                    <span>비즈</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list biz-menu">
                    <li><a href="/biz/create">신규 등록</a></li>
                    <li><a href="/biz/lists">비즈관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="promotion-menu">
                <div class="btn-wrap clearfix">
                    <i class="far fa-calendar-alt"></i>
                    <span>프로모션</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list promotion-menu">
                    <li><a href="/pro/create">신규 등록</a></li>
                    <li><a href="/pro/lists">프로모션 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="doit-menu">
                <div class="btn-wrap clearfix">
                    <i class="fas fa-tasks"></i>
                    <span>두잇</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list doit-menu">
                    <li><a href="/doit/create">신규 등록</a></li>
                    <li><a href="/doit/lists">두잇 관리</a></li>
                    &lt;!&ndash;<li><a href="/doit/categoryLists">카테고리 관리</a></li>&ndash;&gt;
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="cite-menu">
                <div class="btn-wrap clearfix">
                    <i class="fas fa-hashtag"></i>
                    <span>인증</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list cite-menu">
                    <li><a href="/action/lists">인증 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="review-menu">
                <div class="btn-wrap clearfix">
                    <i class="far fa-comment"></i>
                    <span>리뷰</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list review-menu">
                    <li><a href="/review/lists">리뷰 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="ucd-menu">
                <div class="btn-wrap clearfix">
                    <i class="fas fa-coins"></i>
                    <span>UCD</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list ucd-menu">
                    <li><a href="/ucd/charge">UCD(C) 충전내역</a></li>
                    <li><a href="/ucd/uses/list">UCD(C/P) 이용내역</a></li>
                    <li><a href="/ucd/payments">출금 요청 내역</a></li>
                    <li><a href="#">매출 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="service-menu">
                <div class="btn-wrap clearfix">
                    <i class="far fa-clipboard"></i>
                    <span>서비스</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list service-menu">
                    <li><a href="/service/notice/list">공지사항 관리</a></li>
                    <li><a href="/service/event/list">이벤트 관리</a></li>
                    <li><a href="/service/faq/list">FAQ 관리</a></li>
&lt;!&ndash;                    <li><a href="/service/inquiry/list">1:1 문의 관리</a></li>&ndash;&gt;
                    <li><a href="/service/prohibition">금칙어 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="push-menu">
                <div class="btn-wrap clearfix">
                    <i class="far fa-bell"></i>
                    <span>푸쉬</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list push-menu">
                    <li><a href="/push/lists">푸쉬 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>
            <li class="menu-btn" data-target="manager-menu">
                <div class="btn-wrap clearfix">
                    <i class="fas fa-users-cog"></i>
                    <span>관리자</span>
                    <i class="fas fa-chevron-right arrow-i"></i>
                </div>
                <ul class="menu-btn-list manager-menu">
                    <li><a href="/admin/lists">관리자 관리</a></li>
                    <li><a href="/admin/auth">권한 관리</a></li>
                </ul>
                <div class="bar"></div>
            </li>-->
        </ul>
    </nav>
</header>

<!-- loading html -->
<div class="loading-back" id="viewLoading" style="display: none;">
    <div class="loading-wrap">
        <div class="main_loader">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <span>Loading</span>
    </div>
</div>
<!-- Top Menu -->
<aside class="side-menu">
    <div class="inner side-menu-wrap clearfix">
        <div class="icon-wrap clearfix">
            <div class="col-1 admin-user">
                <a href="/admin/mypage">
                    <i class="fas fa-user-circle"></i>
                    <span>안녕하세요!
                        <span class="user-name" style="font-weight:bold">
                        </span>님
                    </span>
                </a>
            </div>
            <div class="col-2">
<!--                <i id="notice" class="fas fa-bell">-->
<!--                    <div class="on-notice"></div>-->
<!--                    <ul class="notice-list">-->
<!--                        <li><a href="#">dkdkdkdkdkd</a></li>-->
<!--                        <li><a href="#">dkdkdkdkdkd</a></li>-->
<!--                        <li><a href="#">dkdkdkdkdkd</a></li>-->
<!--                    </ul>-->
<!--                </i>-->
                <i onclick="logout();" id="power-off" class="fas fa-power-off"></i>
            </div>
        </div>
    </div>
</aside>
<input type="hidden" id="session_userid" value="<?php echo ($this->session->userdata['user_data']->userid);?>"/>
<input type="hidden" id="session_usernm" value="<?php echo ($this->session->userdata['user_data']->name);?>"/>
<input type="hidden" id="session_authcode" value="<?php echo ($this->session->userdata['user_data']->auth_code);?>"/>
<script>
    function logout()
    {
        location.href = "/auth/logout";
    }

    $(".user-name").html($("#session_usernm").val());
</script>