    <script>
        const api_server_url = "<?php echo $this->config->item('api_server_url');?>";
        const session_userid = "<?php echo ($this->session->userdata['user_data']->userid);?>";
        const session_auth_code = "<?php echo ($this->session->userdata['user_data']->auth_code);?>";
    </script>
    <!-- Common CSS Load -->
    <link rel="stylesheet" href="/assets/v2/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/v2/css/plugins/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/v2/css/reset.css?version=<?php echo $this->config->item('version');?>">
    <link rel="stylesheet" href="/assets/v2/css/common.css?version=<?php echo $this->config->item('version');?>">
    <link rel="stylesheet" href="/assets/v2/css/header.css?version=<?php echo $this->config->item('version');?>">
    <link rel="shortcut icon" href="/assets/v2/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <!-- Common JS Load -->
    <script src="/assets/v2/js/plugins/jquery-3.3.1.min.js"></script>
</head>
<body>