    <header>
        <div class="side-toggle-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="utill-mnu">
            <li class="user-profile">
                <a href="#">
                    <span class="user-img"><img src="/assets/v2/img/profile-1.png" alt="프로필이미지"></span>
                    <span class="user-name"><strong><?php echo ($this->session->userdata['user_data']->name);?></strong>님</span>
                </a>
            </li>
            <li class="logout">
                <a href="/v2/auth/logout"><i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
    </header>

    <!-- left-menu -->
    <aside class="main-menu">
        <h1>
            <a href="/v2"><img src="/assets/v2/img/logo.png" alt="유캔두로고"></a>
            <span>YOUCANDOO 3.0 Admin</span>
        </h1>
        <nav>
            <ol class="side-nav">
                <li>
                    <div class="main-mnu">
                        <i class="far fa-building"></i>
                        <span>비즈관리</span>
                        <i class="fas fa-chevron-right arrow-i"></i>
                        <div class="bar"></div>
                    </div>
                    <ul class="sub-mnu">
                        <li><a href="/v2/biz">비즈계정 관리</a></li>
                    </ul>
                </li>
                <li>
                    <div class="main-mnu">
                        <i class="far fas fa-tasks"></i>
                        <span>두잇관리</span>
                        <i class="fas fa-chevron-right arrow-i"></i>
                        <div class="bar"></div>
                    </div>
                    <ul class="sub-mnu">
                        <li><a href="/v2/doit/create">신규 등록</a></li>
                        <li><a href="/v2/doit">두잇 목록</a></li>
                        <li><a href="/v2/pick">유캔두 픽 두잇관리</a></li>
                        <li><a href="/v2/category">카테고리 관리</a></li>
                    </ul>
                </li>
                <li>
                    <div class="main-mnu">
                        <i class="fas fa-hashtag"></i>
                        <span>마케팅</span>
                        <i class="fas fa-chevron-right arrow-i"></i>
                        <div class="bar"></div>
                    </div>
                    <ul class="sub-mnu">
                        <li><a href="/v2/banner">배너관리</a></li>
                    </ul>
                </li>
                <li>
                    <div class="main-mnu">
                        <i class="fas fa-exclamation-triangle"></i>
                        <span>신고 관리</span>
                        <i class="fas fa-chevron-right arrow-i"></i>
                        <div class="bar"></div>
                    </div>
                    <ul class="sub-mnu">
                        <li><a href="/v2/warning">인증 관리</a></li>
                        <li><a href="/v2/warning/talk">톡 관리</a></li>
                        <li><a href="#">리뷰 관리</a></li>
                    </ul>
                </li>
                <li>
                    <div class="main-mnu">
                        <i class="fas fa-coins"></i>
                        <span>UCD 관리</span>
                        <i class="fas fa-chevron-right arrow-i"></i>
                        <div class="bar"></div>
                    </div>
                    <ul class="sub-mnu">
                        <li><a href="/v2/ucd/charge">UCD 충전 내역</a></li>
                        <li><a href="/v2/ucd">시스템 지갑</a></li>
                        <li><a href="/v2/ucd/doit">두잇 지갑</a></li>
                        <li><a href="/v2/ucd/user">사용자 지갑</a></li>
                        <li><a href="/v2/ucd/waiting">적립 대기 지갑</a></li>
                    </ul>
                </li>
                <li>
                    <div class="main-mnu">
                        <i class="fas fa-clipboard"></i>
                        <span>고객센터</span>
                        <i class="fas fa-chevron-right arrow-i"></i>
                        <div class="bar"></div>
                    </div>
                    <ul class="sub-mnu">
                        <li><a href="/v2/service/notice">공지사항</a></li>
                        <li><a href="/v2/service/faq">FAQ</a></li>
                        <li><a href="/v2/service/inquiry">1:1 문의</a></li>
                        <li><a href="/v2/service/prohibition">금칙어 관리</a></li>
                    </ul>
                </li>
            </ol>
        </nav>
    </aside>

    <!-- move top -->
    <aside id="btnScrollTop" class="move-top"><i class="fas fa-sort-up"></i></aside>

    <!-- loading -->
    <div class="loading-wrap" id="loader">
        <div class="loading-container">
            <div class="loading"></div>
            <div class="loading-text">Loading</div>
        </div>
    </div>

    <input type="hidden" id="sessionUserid" value="<?php echo ($this->session->userdata['user_data']->userid);?>"/>
    <input type="hidden" id="sessionUsername" value="<?php echo ($this->session->userdata['user_data']->name);?>"/>
    <input type="hidden" id="sessionAuthCode" value="<?php echo ($this->session->userdata['user_data']->auth_code);?>"/>
    <input type="hidden" id="sessionUserIp" value="<?php echo ($this->session->userdata['user_data']->recent_ip);?>"/>
    <input type="hidden" id="sessionIsDept" value="<?php echo ($this->session->userdata['user_data']->is_dept);?>"/>
    <input type="hidden" id="sessionDeptName" value="<?php echo ($this->session->userdata['user_data']->dept_name);?>"/>
    <input type="hidden" id="env" value="<?php echo (ENVIRONMENT);?>"/>

    <script type="module" src="/assets/v2/js/menu.js?version=<?php echo $this->config->item('version');?>"></script>