    <header>
        <div class="side-toggle-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="utill-mnu">
            <li class="user-profile">
                <a href="#">
                    <span class="user-img"><img src="../assets/v2/img/profile-1.png" alt="프로필이미지"></span>
                    <span class="user-name"><strong>이주영</strong>님</span>
                </a>
            </li>
            <li class="logout">
                <a href="#"><i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
    </header>
    <aside>
        <h1>
            <a href="/v2"><img src="../assets/v2/img/logo.png" alt="유캔두로고"></a>
            <span>YOUCANDOO 3.0 Admin</span>
        </h1>
        <nav>
            <ol class="side-nav">
                <li>
                    <div class="main-mnu">
                        <i class="far fas fa-tasks"></i>
                        <span>두잇관리</span>
                        <i class="fas fa-chevron-right arrow-i"></i>
                        <div class="bar"></div>
                    </div>
                    <ul class="sub-mnu">
                        <li><a href="#">신규 등록</a></li>
                        <li><a href="/v2/category">카테고리 관리</a></li>
                    </ul>
                </li>
                <li>
                    <div class="main-mnu">
                        <i class="fas fa-coins"></i>
                        <span>UCD 관리</span>
                        <i class="fas fa-chevron-right arrow-i"></i>
                        <div class="bar"></div>
                    </div>
                    <ul class="sub-mnu">
                        <li><a href="#">신규 등록</a></li>
                        <li><a href="#">두잇 관리</a></li>
                    </ul>
                </li>
            </ol>
        </nav>
    </aside>