<link rel="stylesheet" href="/assets/css/plugins/chart.min.css">
<link rel="stylesheet" href="/assets/css/chart-ucd.css?version=<?php echo $this->config->item('version');?>">
<section class="dashboard-main chart-pg">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">Dash Board</h2>
            <div class="date-pic clearfix">
                <i class="fas fa-caret-left" id="datePrev"></i>
                <p class="date box"><span id="dateSelected"></span></p>
                <i class="fas fa-caret-right disabled" id="dateNext"></i>
            </div>
        </div>
        <div class="wrap">

            <div class="main-user-info row row-4">
                <div class="col box">
                    <div class="content-inner clearfix">
                        <i class="fas fa-user-plus user-icon"></i>
                        <dl class="user-data">
                            <dt class="data-title">신규회원 수</dt>
                            <dd class="data-num t-green" id="newUser"></dd>
                        </dl>
                    </div>
                </div>
                <div class="col box">
                    <div class="content-inner clearfix">
                        <i class="fas fa-user-minus user-icon"></i>
                        <dl class="user-data">
                            <dt class="data-title">탈퇴회원 수</dt>
                            <dd class="data-num t-red" id="leaveUser"></dd>
                        </dl>
                    </div>
                </div>
                <div class="col box">
                    <div class="content-inner clearfix">
                        <i class="fas fa-user-ninja user-icon"></i>
                        <dl class="user-data">
                            <dt class="data-title">불량회원 수</dt>
                            <dd class="data-num t-yellow" id="banUser"></dd>
                        </dl>
                    </div>
                </div>
                <div class="col box">
                    <div class="content-inner clearfix">
                        <i class="fas fa-users user-icon"></i>
                        <dl class="user-data">
                            <dt class="data-title">누적 가입회원 수</dt>
                            <dd class="data-num t-blue" id="totalUser"></dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="md-doit row row-4">
                <div class="col box">
                    <div class="content-inner">
                        <p class="data-title">두잇 개설 현황
<!--                            <i class="question-mark far fa-question-circle">-->
<!--                                <em class="tooltip tooltip-bottom" style="width: 250px;">-->
<!--                                    <b>기업 및 개인에게 발행된 UCD 총합</b><br>-->
<!--                                    - 개인 : 운영진이 별도로 발행한 UCD<br>-->
<!--                                    - 기업 : 프로모션 계약을 통해 발행된 UCD-->
<!--                                </em>-->
<!--                            </i>-->
                        </p>
                        <div>
                            <canvas id="doughnut1"></canvas>
                        </div>
                        <div class="data-wrap clearfix">
                            <dl>
                                <dt class="data-title">모집중</dt>
                                <dd class="data-num t-green" id="pendingDoit"></dd>
                            </dl>
                            <dl>
                                <dt class="data-title">진행중</dt>
                                <dd class="data-num t-blue" id="inProgressDoit"></dd>
                            </dl>
                            <dl>
                                <dt class="data-title">개설 취소</dt>
                                <dd class="data-num t-red" id="cancelOpenDoit"></dd>
                            </dl>
                            <dl>
                                <dt class="data-title">모집 실패</dt>
                                <dd class="data-num t-yellow" id="failOpenDoit"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col box">
                    <div class="content-inner">
                        <p class="data-title">두잇 참여 현황
<!--                            <i class="question-mark far fa-question-circle">-->
<!--                                <em class="tooltip tooltip-bottom" style="width: 250px;">-->
<!--                                    <b>기업 및 개인에게 발행된 UCD 총합</b><br>-->
<!--                                    - 개인 : 운영진이 별도로 발행한 UCD<br>-->
<!--                                    - 기업 : 프로모션 계약을 통해 발행된 UCD-->
<!--                                </em>-->
<!--                            </i>-->
                        </p>
                        <div>
                            <canvas id="doughnut2"></canvas>
                        </div>
                        <div class="data-wrap clearfix">
                            <dl>
                                <dt class="data-title">신청</dt>
                                <dd class="data-num t-green" id="applyDoit"></dd>
                            </dl>
                            <dl>
                                <dt class="data-title">참여취소</dt>
                                <dd class="data-num t-red" id="cancelAttend"></dd>
                            </dl>
                            <dl>
                                <dt class="data-title">인증건 수</dt>
                                <dd class="data-num t-blue" id="actionCount"></dd>
                            </dl>
                            <dl>
                                <dt class="data-title">평균 참여자</dt>
                                <dd class="data-num t-purple" id="avgAttend"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col box">
                    <div class="content-inner">
                        <p class="data-title">두잇 종료 현황
<!--                            <i class="question-mark far fa-question-circle">-->
<!--                                <em class="tooltip tooltip-bottom" style="width: 250px;">-->
<!--                                    <b>기업 및 개인에게 발행된 UCD 총합</b><br>-->
<!--                                    - 개인 : 운영진이 별도로 발행한 UCD<br>-->
<!--                                    - 기업 : 프로모션 계약을 통해 발행된 UCD-->
<!--                                </em>-->
<!--                            </i>-->
                        </p>
                        <div>
                            <canvas id="doughnut3"></canvas>
                        </div>
                        <div class="data-wrap clearfix">
                            <dl>
                                <dt class="data-title">성공</dt>
                                <dd class="data-num t-blue" id="successDoit"></dd>
                            </dl>
                            <dl>
                                <dt class="data-title">실패</dt>
                                <dd class="data-num t-red" id="failDoit"></dd>
                            </dl>
                            <dl>
                                <dt class="data-title">평균 달성률</dt>
                                <dd class="data-num t-purple" id="avgSuccess"></dd>
                            </dl>
                            <dl>
                                <dt class="data-title">리뷰 작성</dt>
                                <dd class="data-num t-yellow" id="reviewCount"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col box">
                    <div class="content-inner">
                        <p class="data-title">신고 현황
<!--                            <i class="question-mark far fa-question-circle">-->
<!--                                <em class="tooltip tooltip-bottom" style="width: 250px;">-->
<!--                                    <b>기업 및 개인에게 발행된 UCD 총합</b><br>-->
<!--                                    - 개인 : 운영진이 별도로 발행한 UCD<br>-->
<!--                                    - 기업 : 프로모션 계약을 통해 발행된 UCD-->
<!--                                </em>-->
<!--                            </i>-->
                        </p>
                        <div>
                            <canvas id="doughnut4"></canvas>
                        </div>
                        <div class="data-wrap clearfix">
                            <dl>
                                <dt class="data-title">옐로카드</dt>
                                <dd class="data-num t-yellow" id="yellowCount"></dd>
                            </dl>
                            <dl>
                                <dt class="data-title">레드카드</dt>
                                <dd class="data-num t-red" id="redCount"></dd>
                            </dl>
                            <dl>
                                <dt class="data-title">인증 신고</dt>
                                <dd class="data-num t-purple" id="reportCount"></dd>
                            </dl>
                            <dl>
                                <dt class="data-title">사용자 신고</dt>
                                <dd class="data-num t-blue" id="userReportCount">-</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row-custom">

                <div class="col col-3 box">
                    <div class="content-inner">

                        <div class="top clearfix">
                            <p class="data-title">인증 현황</p>
                            <div class="right-wrap clearfix">
                                <div class="select-box">
                                    <label for="selYear"></label>
                                    <select id="selYear" class="select-year">
                                    </select>
                                </div>
                                <div class="select-box">
                                    <label for="selMonth"></label>
                                    <select id="selMonth" class="select-month">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <canvas id="dailyActions" height="360"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col col-1 box">
                    <div class="content-inner">
                        <p class="data-title">인기 두잇 랭킹 <span class="sub-title">참여자 수 기준</span></p>
                        <ul class="best-doit" id="popularDoit">
                            <!--<li class="clearfix">
                                <i class="fas fa-crown rank-first"></i>
                                <strong class="rank"><em>1</em></strong>
                                <span class="rank-title">매일 하늘보고 힐링하면서 오늘하루 스트레스 날려버리기</span>
                                <p class="user-num"><i class="fas fa-user"></i>1000</p>
                            </li>
                            <li class="clearfix">
                                <strong class="rank"><em>2</em></strong>
                                <span class="rank-title">야나두 1일 1강!</span>
                                <p class="user-num"><i class="fas fa-user"></i>30</p>
                            </li>
                            <li class="clearfix">
                                <strong class="rank"><em>3</em></strong>
                                <span class="rank-title">개버릇 고치기</span>
                                <p class="user-num"><i class="fas fa-user"></i>356</p>
                            </li>
                            <li class="clearfix">
                                <strong class="rank"><em>4</em></strong>
                                <span class="rank-title">일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오</span>
                                <p class="user-num"><i class="fas fa-user"></i>30</p>
                            </li>
                            <li class="clearfix">
                                <strong class="rank"><em>5</em></strong>
                                <span class="rank-title">야나두 출근 자랑해? 안해?</span>
                                <p class="user-num"><i class="fas fa-user"></i>30</p>
                            </li>
                            <li class="clearfix">
                                <strong class="rank"><em>6</em></strong>
                                <span class="rank-title">야나두 출근 자랑해? 안해?</span>
                                <p class="user-num"><i class="fas fa-user"></i>30</p>
                            </li>
                            <li class="clearfix">
                                <strong class="rank"><em>7</em></strong>
                                <span class="rank-title">야나두 출근 자랑해? 안해?</span>
                                <p class="user-num"><i class="fas fa-user"></i>30</p>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row box">
                <div class="content-inner">
                    <div class="top clearfix">
                        <p class="data-title">차트 제목</p>
                        <div class="right-wrap clearfix">
                            <div class="select-box">
                                <label for="selYear2"></label>
                                <select id="selYear2" class="select-year">
                                </select>
                            </div>
                            <div class="select-box">
                                <label for="selMonth2"></label>
                                <select id="selMonth2" class="select-month">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div>
                        <canvas id="dailyTotalUser" height="500"></canvas>
                    </div>

                </div>
            </div>



        </div>
    </div>
</section>
<script src="/assets/js/plugins/chart.min.js"></script>
<script src="/assets/js/plugins/chartjs-plugin-labels.js"></script>
<script src="/assets/js/chart-config.js?version=<?php echo $this->config->item('version');?>"></script>
<script src="/assets/js/main-dashboardv2.js?version=<?php echo $this->config->item('version');?>"></script>
