<section class="faq-list">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">암/복호화 처리</h2>
        </div>

        <div class="row">
            <div class="textarea-wrap-1">
                <textarea cols="30" rows="10"></textarea>
                <textarea cols="30" rows="10"></textarea>
            </div>

            <div class="search-btn row">
                <button type="button" class="btn btn-primary">암호화</button>
                <button type="button" class="btn btn-outline-primary">복호화</button>
            </div>
        </div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/error-message/error-message-list.js?version=<?php echo $this->config->item('version');?>"></script>