<section class="encryption-list">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">암/복호화 처리</h2>
        </div>

        <div class="row">
            <div class="encryption-textarea-wrap row">
                <textarea id="inputString" class="col-6"></textarea>
                <div class="col-6">
                    <div class="card detail-data" id="resultString"></div>
                </div>
            </div>

            <div class="search-btn row">
                <button id="btnEncryption" type="button" class="btn btn-primary">암호화</button>
                <button id="btnDecryption" type="button" class="btn btn-outline-primary">복호화</button>
            </div>
        </div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/bundles/encryption.bundle.js?version=<?php echo $this->config->item('version');?>"></script>