<section>
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">로그 관리</h2>
        </div>

        <div class="search-wrap row">
            <div class="col-12">
                <ul class="card">
                    <li>
                        <p class="search-title">날짜</p>
                        <div class="form-box">
                            <div class="date-wrap">
                                <input type="text" class="datepicker date-from" readonly>
                                <input id="startTime" type="time" step="2" value="00:00:00">
                                <span class="date-text"> ~ </span>
                                <input type="text" class="datepicker date-to" readonly>
                                <input id="endTime" type="time" step="2" value="23:59:59" max="23:59:59">
                            </div>
                            <div class="date-btn">
                                <button type="button" class="btn today">오늘</button>
                                <button type="button" class="btn week">1주일</button>
                                <button type="button" class="btn month">1개월</button>
                                <button type="button" class="btn months">3개월</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="search-title">검색어</p>
                        <div class="form-box clearfix">
                            <select id="selSearchType" class="select-box">
                                <option value="all">전체</option>
                                <option value="apache_idx">apache_idx</option>
                                <option value="uniqueid">uniqueid</option>
                                <option value="apache_requset">apache_requset</option>
                                <option value="apache_status">apache_status</option>
                                <option value="php_idx">php_idx</option>
                                <option value="php_status">php_status</option>
                                <option value="account_token">account_token</option>
                            </select>
                            <div class="search-txt-wrap">
                                <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="date-btn">
                                <button id="btnAdd" type="button" class="btn">추가</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card">
            <ol class="tag-list clearfix" id="keywordWrap">
                <!--<li>
                    <strong>account_token</strong>
                    <span>asd0000009999999</span>
                    <button class="btn-i"><i class="fas fa-times-circle"></i></button>
                </li>
                <li>
                    <strong>php_status</strong>
                    <span>asd0000009999999</span>
                    <button class="btn-i"><i class="fas fa-times-circle"></i></button>
                </li>
                <li>
                    <strong>php_status</strong>
                    <span>asd0000009999999</span>
                    <button class="btn-i"><i class="fas fa-times-circle"></i></button>
                </li>
                <li>
                    <strong>php_status</strong>
                    <span>asd0000009999999</span>
                    <button class="btn-i"><i class="fas fa-times-circle"></i></button>
                </li>-->
            </ol>
        </div>

        <div class="search-btn row">
            <button id="btnSearch" type="submit" class="btn btn-primary">검색</button>
            <button id="btnReset" type="reset" class="btn btn-outline-primary">초기화</button>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num"></strong></p>
                        <select id="selPageLength" class="select-box">
                        </select>
                    </div>
                </div>
            </div>
            <table id="dataTable">
                <!--<colgroup>
                    <col style="width:20%;">
                    <col style="width:20%;">
                    <col style="width:20%;">
                    <col style="width:20%;">
                    <col style="width:20%;">
                </colgroup>
                <thead>
                <tr>
                    <th>uniqueid</th>
                    <th>닉네임</th>
                    <th>profileID</th>
                    <th>Token</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>000000000000</td>
                    <td><a href="#">베리베리</a></td>
                    <td>
                        <div>
                            <input type="text" class="input-copy" style="width: 100px" value="000000000000000000000" readonly="">
                            <i class="fas fa-copy" onclick="copyToClipboard(this);"></i>
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" class="input-copy" style="width: 100px" value="000000000000000000000" readonly="">
                            <i class="fas fa-copy" onclick="copyToClipboard(this);"></i>
                        </div>
                    </td>
                    <td>000000000000</td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>
</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/bundles/log-list.bundle.js?version=<?php echo $this->config->item('version');?>"></script>