<link rel="stylesheet" href="/assets/v2/css/plugins/chart.min.css">
<link rel="stylesheet" href="/assets/v2/css/dashboard.css?version=<?php echo $this->config->item('version');?>">
<section class="dashboard">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title">Dashboard</h2>
            <div class="search-box">
                <p class="search-title">기간 조회</p>
                <div class="date-wrap">
                    <input type="text" class="datepicker" id="dateFromSummary" readonly>
                    <span class="date-text"> ~ </span>
                    <input type="text" class="datepicker" id="dateToSummary" readonly>
                </div>
            </div>
        </div>

        <div class="row row1">
            <div class="col-2">
                <div class="card">
                    <p class="title">신규 가입</p>
                    <strong class="data-num t-green count" id="signupCount"></strong>
                    <i class="fas fa-user-plus bg-icon"></i>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <p class="title">Level 2 진입</p>
                    <strong class="data-num t-yellow" id="level2Count"></strong>
                    <i class="fas fa-star-half-alt bg-icon"></i>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <p class="title">두잇 인증</p>
                    <strong class="data-num t-purple" id="actionCount"></strong>
                    <i class="fas fa-camera-retro bg-icon"></i>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <p class="title">두잇 개설</p>
                    <strong class="data-num t-blue" id="openDoitCount"></strong>
                    <i class="fas fa-plus-circle bg-icon"></i>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <dl>
                        <dt class="title"><i class="fas fa-download"></i> 누적 다운로드</dt>
                        <dd class="data-num-m" id="downloadCount"></dd>
                    </dl>
                    <dl>
                        <dt class="title"><i class="fas fa-users"></i> 누적 회원 수</dt>
                        <dd class="data-num-m" id="memberCount"></dd>
                    </dl>
                    <dl>
                        <dt class="title"><i class="fas fa-coins"></i> 누적 발행 UCD</dt>
                        <dd class="data-num-m" id="issuedUcd"></dd>
                    </dl>
                </div>
                <p class="desc-sub">* 런칭일 ~ 기간조회 종료일 기준</p>
            </div>
        </div>

        <div class="row row2">
            <div class="col-3">
                <div class="card">
                    <div class="title-wrap">
                        <p class="title">미션 등록 비율</p>
                        <span class="desc-sub">당일 0시 기준</span>
                    </div>
                    <div class="chart-wrap">
                        <canvas id="missionChart"></canvas>
                    </div>
                    <ul class="chart-info" id="missionSummary">
                        <!--<li>
                            <div class="left-wrap">
                                <i class="color-box"></i>
                                <span>등록</span>
                            </div>
                            <div class="right-wrap">
                                <strong class="data-num-s"></strong>
                            </div>
                        </li>
                        <li>
                            <div class="left-wrap">
                                <i class="color-box"></i>
                                <span>미등록</span>
                            </div>
                            <div class="right-wrap">
                                <strong class="data-num-s"></strong>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="title-wrap">
                        <p class="title">카테고리 별 현황</p>
                        <span class="desc-sub">당일 0시 기준</span>
                    </div>
                    <div class="chart-wrap">
                        <canvas id="categoryChart" width="250" height="250"></canvas>
                    </div>
                    <ul class="chart-info" id="categorySummary">
                        <!--<li>
                            <div class="left-wrap">
                                <i class="color-box"></i>
                                <span>건강/다이어트</span>
                            </div>
                            <div class="right-wrap">
                                <strong class="data-num-s">20%</strong> (13,000,000)
                            </div>
                        </li>
                        <li>
                            <div class="left-wrap">
                                <i class="color-box"></i>
                                <span>영어/외국어</span>
                            </div>
                            <div class="right-wrap">
                                <strong class="data-num-s">15%</strong> (9,000,000)
                            </div>
                        </li>
                        <li>
                            <div class="left-wrap">
                                <i class="color-box"></i>
                                <span>자기계발</span>
                            </div>
                            <div class="right-wrap">
                                <strong class="data-num-s">20%</strong> (13,000,000)
                            </div>
                        </li>
                        <li>
                            <div class="left-wrap">
                                <i class="color-box"></i>
                                <span>생활습관</span>
                            </div>
                            <div class="right-wrap">
                                <strong class="data-num-s">20%</strong> (13,000,000)
                            </div>
                        </li>
                        <li>
                            <div class="left-wrap">
                                <i class="color-box"></i>
                                <span>합격</span>
                            </div>
                            <div class="right-wrap">
                                <strong class="data-num-s">20%</strong> (13,000,000)
                            </div>
                        </li>
                        <li>
                            <div class="left-wrap">
                                <i class="color-box"></i>
                                <span>운동/스포츠</span>
                            </div>
                            <div class="right-wrap">
                                <strong class="data-num-s">20%</strong> (13,000,000)
                            </div>
                        </li>
                        <li>
                            <div class="left-wrap">
                                <i class="color-box"></i>
                                <span>부자되기</span>
                            </div>
                            <div class="right-wrap">
                                <strong class="data-num-s">8%</strong> (600,000)
                            </div>
                        </li>
                        <li>
                            <div class="left-wrap">
                                <i class="color-box"></i>
                                <span>가족과 행복</span>
                            </div>
                            <div class="right-wrap">
                                <strong class="data-num-s">8%</strong> (600,000)
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="title-wrap">
                        <p class="title">리더 랭킹</p>
                        <span class="desc-sub">매주 월요일 0시 기준</span>
                    </div>
                    <ul class="rank" id="leaderRank">
                        <!--<li class="clearfix">
                            <i class="fas fa-crown rank-first"></i>
                            <div class="left-wrap">
                                <span><em class="rank-num">1</em></span>
                                <a href="#" class="rank-title link">리더닉네임몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">2</em></span>
                                <a href="#" class="rank-title link">리더닉네임노출클릭하면회원상세로이동</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">3</em></span>
                                <a href="#" class="rank-title link">리더닉네임</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">4</em></span>
                                <a href="#" class="rank-title link">리더닉네임</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">5</em></span>
                                <a href="#" class="rank-title link">리더닉네임몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">6</em></span>
                                <a href="#" class="rank-title link">리더닉네임</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">7</em></span>
                                <a href="#" class="rank-title link">리더닉네임몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">8</em></span>
                                <a href="#" class="rank-title link">리더닉네임</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">9</em></span>
                                <a href="#" class="rank-title link">리더닉네임몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">10</em></span>
                                <a href="#" class="rank-title link">리더닉네임</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>-->
                    </ul>
                </div>
                <a id="btnMoreLeader" class="rank-more card">리더 랭킹 더보기 <i class="fas fa-angle-right"></i></a>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="title-wrap">
                        <p class="title">두잇 랭킹</p>
                        <span class="desc-sub">매주 월요일 0시 기준</span>
                    </div>
                    <ul class="rank" id="doitRank">
                        <!--<li class="clearfix">
                            <i class="fas fa-crown rank-first"></i>
                            <div class="left-wrap">
                                <span><em class="rank-num">1</em></span>
                                <a href="#" class="rank-title link">두잇 명 몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">2</em></span>
                                <a href="#" class="rank-title link">두잇명노출 클릭하면 두잇상세로 이동</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">3</em></span>
                                <a href="#" class="rank-title link">두잇 명 몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">4</em></span>
                                <a href="#" class="rank-title link">두잇명또르르</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">5</em></span>
                                <a href="#" class="rank-title link">두잇 명 몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">6</em></span>
                                <a href="#" class="rank-title link">두잇명또르르</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">7</em></span>
                                <a href="#" class="rank-title link">두잇 명 몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">8</em></span>
                                <a href="#" class="rank-title link">두잇명또르르</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">9</em></span>
                                <a href="#" class="rank-title link">두잇 명 몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">10</em></span>
                                <a href="#" class="rank-title link">두잇명또르르</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>-->
                    </ul>
                </div>
                <a id="btnMoreDoit" class="rank-more card">두잇 랭킹 더보기 <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="table-wrap row" style="margin-top: 30px;">
            <div class="top card clearfix">
                <div class="left-wrap">
                    <p class="title" style="font-size: 15px;">기간 별 현황</p>
                </div>
                <div class="right-wrap clearfix">
                    <div class="search-box">
                        <p class="search-title">기간 조회</p>
                        <div class="date-wrap">
                            <input type="text" class="datepicker" id="dateFromSummaryList" readonly>
                            <span class="date-text"> ~ </span>
                            <input type="text" class="datepicker" id="dateToSummaryList" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <table id="summaryTable">
                <!--<colgroup>
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                </colgroup>
                <thead>
                <tr>
                    <th>일자</th>
                    <th>앱 설치</th>
                    <th>회원 가입</th>
                    <th>두잇 가입</th>
                    <th>인증</th>
                    <th>인증 댓글</th>
                    <th>커뮤니티</th>
                    <th>커뮤니티 댓글</th>
                    <th>두잇 개설</th>
                    <th>미션 등록</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2020-00-00</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                </tr>
                <tr>
                    <td>2020-00-00</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                </tr>
                <tr>
                    <td>2020-00-00</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                    <td>2,093</td>
                </tr>
                </tbody>-->
            </table>
        </div>

    </div>

    <div class="modal-wrap">

        <!--리더랭킹, 두잇랭킹 더보기-->
        <div class="modal-content">
            <div class="modal-header clearfix">
                <i class="modal-close">×</i>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="title-wrap">
                        <p class="title" id="modalTitle"></p>
                        <span class="desc-sub">매주 월요일 0시 기준</span>
                    </div>
                    <ul class="rank" id="modalRank" style="display:block;">
                        <!--<li class="clearfix">
                            <i class="fas fa-crown rank-first"></i>
                            <div class="left-wrap">
                                <span><em class="rank-num">1</em></span>
                                <a href="#" class="rank-title link">리더닉네임몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">2</em></span>
                                <a href="#" class="rank-title link">리더닉네임노출클릭하면회원상세로이동</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">3</em></span>
                                <a href="#" class="rank-title link">리더닉네임</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">4</em></span>
                                <a href="#" class="rank-title link">리더닉네임</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">5</em></span>
                                <a href="#" class="rank-title link">리더닉네임몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">6</em></span>
                                <a href="#" class="rank-title link">리더닉네임</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">7</em></span>
                                <a href="#" class="rank-title link">리더닉네임몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">8</em></span>
                                <a href="#" class="rank-title link">리더닉네임</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">9</em></span>
                                <a href="#" class="rank-title link">리더닉네임몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">10</em></span>
                                <a href="#" class="rank-title link">리더닉네임</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">11</em></span>
                                <a href="#" class="rank-title link">리더닉네임</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">12</em></span>
                                <a href="#" class="rank-title link">리더닉네임몇글자까지가능할까두줄도가능가능핵가능</a>
                            </div>
                            <div class="right-wrap rank-up"><i class="fas fa-caret-up"></i> 3</div>
                        </li>
                        <li class="clearfix">
                            <div class="left-wrap">
                                <span><em class="rank-num">13</em></span>
                                <a href="#" class="rank-title link">리더닉네임</a>
                            </div>
                            <div class="right-wrap rank-down"><i class="fas fa-caret-down"></i> 208</div>
                        </li>-->
                    </ul>
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-close">닫기</button>
            </div>
        </div>

        <div class="modal-bg"></div>
    </div>
</section>
<script src="/assets/v2/js/plugins/chart.min.js"></script>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<!--<script type="module" src="/assets/v2/js/bundles/main-dashboard.bundle.js?version=<?php echo $this->config->item('version');?>"></script>-->
<script type="module" src="/assets/v2/js/main-dashboard.js?version=<?php echo $this->config->item('version');?>"></script>
