<link rel="stylesheet" href="/assets/v1/css/create-common.css?version=<?php echo $this->config->item('version');?>">
<section class="event-create-page">
    <div class="inner">
        <h2 class="main-title">이벤트 신규 등록</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">구분 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="select-box">
                                <label for="selEventType"></label>
                                <select id="selEventType">
                                    <!--<option value="event">이벤트(기본)</option>
                                    <option value="event">이벤트(링크)</option>
                                    <option value="event">이벤트(웹페이지)</option>
                                    <option value="event">결과발표</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">제목 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="input-wrap">
                                <input id="title" class="length-input" type="text" placeholder="제목을 입력해주세요." maxlength="25">
                                <p class="length-count-wrap"><span class="count-input">0</span>/25</p>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- s: 링크 - 이벤트(링크) 경우에 노출 -->
                <li id="linkWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">링크 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="input-wrap">
                                <input id="eventLink" class="length-input" type="text" placeholder="https:// 포함해서 입력해주세요.">
                            </div>
                        </div>
                    </div>
                </li>
                <!-- e: 링크 - 이벤트(링크) 경우에 노출 -->

                <!-- s: 내용 - 이벤트(기본), 결과발표 경우에 노출 -->
                <li id="contentWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">내용 (*)</p>
                        </div>
                        <div class="col-2 clearfix">
                            <textarea placeholder="내용을 입력해주세요." id="content" class="length-input" name="text" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </li>
                <!-- e: 내용 - 이벤트(기본), 결과발표 경우에 노출 -->

                <!-- s: 유의사항 - 이벤트(기본), 결과발표 경우에 노출 -->
                <li id="noticeWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">유의사항 (*)</p>
                        </div>
                        <div class="col-2 clearfix">
                            <textarea placeholder="유의사항을 입력해주세요." id="notice" class="length-input" name="text" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </li>
                <!-- e: 유의사항 - 이벤트(기본), 결과발표 경우에 노출 -->

                <!-- s: 웹페이지, 웹페이지 경우에 노출 -->
                <!--<li id="webWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">html 파일 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="filebox preview-image">
                                <p class="cap">html 파일</p>
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="webFile">업로드</label>
                                <input type="file" id="webFile" class="upload-hidden">
                            </div>
                        </div>
                    </div>
                </li>-->
                <!-- e: 웹페이지, 웹페이지 경우에 노출 -->

                <!-- s: 본문이미지 - 이벤트(기본), 결과발표 경우에 노출 -->
                <li id="contentImageWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">본문이미지 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="filebox preview-image">
                                <p class="cap">본문 이미지 (* 이미지 가로 사이즈: 750 이상)</p>
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="contentImage">업로드</label>
                                <input type="file" id="contentImage" class="upload-hidden" data-width="750" data-height="0" data-oper="ge">
                            </div>
                        </div>
                    </div>
                </li>
                <!-- e: 본문이미지 - 이벤트(기본), 결과발표 경우에 노출 -->

                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">썸네일 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="filebox preview-image">
                                <p class="cap">썸네일 (* 이미지 사이즈: 656 x 248)</p>
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="thumbnail">업로드</label>
                                <input type="file" id="thumbnail" class="upload-hidden" data-width="656" data-height="248" data-oper="eq">
                            </div>
                        </div>
                    </div>
                </li>
                <li id="dateWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">기간 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="date-wrap">
                                <input id="eventFrom" type="text" class="datepicker">
                                <span class="date-margin-text"> ~ </span>
                                <input id="eventTo" type="text" class="datepicker">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="create-radio-wrap clearfix">
                    <div class="col-wrap">
                        <div class="col-1">
                            <p class="sub-title">노출 여부</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c1" name="radio-exposure" value="Y"/>
                                <label for="c1"><span></span>Y</label>

                                <input type="radio" id="c2" name="radio-exposure" value="N"/>
                                <label for="c2"><span></span>N</label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
                </li>
            </ul>
        </div>
    </div>
</section>
<script defer src="/assets/v1/js/event/event-create.js?version=<?php echo $this->config->item('version');?>"></script>