<link rel="stylesheet" href="/assets/v1/css/create-common.css?version=<?php echo $this->config->item('version');?>">
<section class="popup-create-page">
    <div class="inner">
        <h2 class="main-title">팝업 수정</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">

                <li class="create-radio-wrap clearfix">
                    <div class="col-wrap">
                        <div class="col-1">
                            <p class="sub-title">기기 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c3" name="radio-market" value="all"/>
                                <label for="c3"><span></span>전체</label>

                                <input type="radio" id="c4" name="radio-market" value="apple"/>
                                <label for="c4"><span></span>IOS</label>

                                <input type="radio" id="c5" name="radio-market" value="google"/>
                                <label for="c5"><span></span>AOS</label>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">제목 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="input-wrap">
                                <input id="title" class="length-input" type="text" placeholder="제목을 입력해주세요." maxlength="30">
                                <p class="length-count-wrap"><span class="count-input">0</span>/30</p>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">앱버전 (*)</p>
                        </div>
                        <div class="col-2">
                            <input id="digit" type="text" style="width: 50px;" maxlength="2">
                            <span class="input-num-title">.</span>
                            <input id="decimal" type="text" style="width: 50px;" maxlength="2">
                        </div>
                    </div>
                </li>

                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">링크 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="input-wrap">
                                <input id="popupLink" class="length-input" type="text" placeholder="https:// 포함해서 입력해주세요.">
                            </div>
                        </div>
                    </div>
                </li>

                <li class="create-radio-wrap clearfix">
                    <div class="col-wrap">
                        <div class="col-1">
                            <p class="sub-title">팝업 버튼 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c6" name="radio-close-option" value="always"/>
                                <label for="c6"><span></span>다시 보지 않기</label>

                                <input type="radio" id="c7" name="radio-close-option" value="oneday"/>
                                <label for="c7"><span></span>오늘 하루 보지  않기</label>

                            </div>
                        </div>
                    </div>
                </li>

                <li id="dateWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">노출 기간 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="date-wrap">
                                <input id="popupFrom" type="text" class="datepicker"> <input id="startTime" type="time" value="00:00">
                                <span class="date-margin-text"> ~ </span>
                                <input id="popupTo" type="text" class="datepicker"> <input id="endTime" type="time" value="23:59" max="23:59">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="create-radio-wrap clearfix">
                    <div class="col-wrap">
                        <div class="col-1">
                            <p class="sub-title">노출 여부</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c1" name="radio-exposure" value="Y"/>
                                <label for="c1"><span></span>Y</label>

                                <input type="radio" id="c2" name="radio-exposure" value="N"/>
                                <label for="c2"><span></span>N</label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">수정 완료</button>
                </li>
            </ul>
        </div>
    </div>
</section>
<script defer src="/assets/v1/js/popup/popup-update.js?version=<?php echo $this->config->item('version');?>"></script>
