/* list-common start */
.list-common {
    margin-bottom: 30px;
}
.list-common-btn-wrap {
    padding-bottom: 30px;
}
.list-common-btn-wrap .btn-wrap {
    float: right;
}
.list-common-btn-wrap .btn-wrap button:last-child {
    margin-left: 10px;
}
.list-common-btn-wrap a {
    float: left;
    text-align: center;
    line-height: 40px;
    display: block;
    width: 150px;
    height: 40px;
    color: #ffffff;
    border-radius: 30px;
    background-color: #19579a;
}
.list-common-btn-wrap a i {
    margin-right: 5px;
}
.list-common-btn-wrap button {
    width: 100px;
    height: 40px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #007aff;
}
.list-common-btn-wrap .reset {
    color: #007aff;
    border: 1px solid #007aff;
    background-color: #fff;
}
.list-common {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}
.list-common-title {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 19px;
    color: #007aff;
}
.list-common .list-wrap:first-child {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.list-common .list-wrap .day-btn,
.list-common .list-wrap .select-box,
.list-common .list-wrap .date-wrap {
    float: left;
}
.list-common .list-wrap .date-wrap {
    margin-right: 20px;
}
.list-common .list-wrap .day-btn li {
    float: left;
    cursor: pointer;
    width: 50px;
    height: 40px;
    margin-right: 10px;
    color: #007aff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid #007aff;
    background-color: #fff;
}
.list-common .list-wrap .day-btn li:hover {
    color: #ffffff;
    background-color: #007aff;
}
.list-common .list-wrap .day-btn li:last-child {
    margin-right: 0;
}
.list-common .search-wrap .search-box {
    position: relative;
    width: 450px;
}
.list-common .search-wrap .search-box .search-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #565656;
    font-size: 20px;
}
.list-common .search-wrap .select-box,
.list-common .search-wrap .search-wrap {
    float: left;
}
/* active */
.list-common .list-wrap .day-btn li.active {
    color: #ffffff;
    background-color: #007aff;
}
.doit-list-option {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}
.doit-list-option input[type="checkbox"] + label,
.doit-list-option input[type="radio"] + label{
    margin-right: 10px;
}
.doit-list-option ul li {
    width: 50%;
    float: left;
}
.doit-list-option ul li:nth-child(even) {
    margin-bottom: 20px;
}
table {
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: 4px 5px 6px 0 rgba(0, 0, 0, 0.05);
}
i.question-mark {
    color: #007aff;
}
.doit-list-page .modal-content .table-wrap table {
    border-top: 1px solid #f3f3f3;
}