/* 발송유형 */

/* 발송대상 */
.push-create-page .nickname-wrap {
    display: none;
}
.push-create-page .group-wrap {
    display: none;
    margin-top: 15px;
}
/* 발송대상 - 부분발송 */
.push-create-page .nickname-wrap {
    margin-top: 15px;
}
.push-create-page .more-info-btn {
    width: 80px;
}
/* modal */
.push-create-page .modal-content .search-box {
    position: relative;
}
.push-create-page .modal-content .search-box input[type="search"] {
    width: 100%;
}
.push-create-page .modal-content .search-box .search-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #565656;
    font-size: 20px;
}
.push-create-page .modal-content .modal-information li:first-child {
    border: none;
}
.push-create-page .modal-content .table-wrap {
    margin-top: 0;
}
.push-create-page .modal-content .table-wrap table {
    border-top: 1px solid #eee;
    margin-top: 0;
}
/*.modal-content {
    height: 480px;
}*/
.modal-content .modal-information {
    overflow: hidden;
}
.modal-content .modal-information > li{
    border-bottom: none;
}

.nickname-modal {
    width: 1330px;
}
.btn-go-wrap {
    float: left;
    width: 50px;
    height: 550px;
    margin: 0 15px;
    background: none;
    border: 1px solid #ddd;
    border-radius: 30px;
    transition: all .3s;
}
.btn-go-wrap:hover {
    border: 1px solid #007aff;
}
.btn-go-wrap i {
    color: #333;
    transition: all .3s;
}
.btn-go-wrap:hover i{
    color: #007aff;
    padding-left: 5px;
}
.nickname-modal .modal-information {
    float: left;
    max-height: inherit;
    height: 620px;
}
.nickname-modal .user-search-wrap {
    overflow: hidden;
    width: 600px;
}
.nickname-modal .user-select-wrap {
    width: 627px;
    border: 1px solid #ebebeb;
}
.user-select-wrap li:first-child {
    padding-top: 0;
}
.nickname-modal .table-wrap table td {
    padding: 8px 0;
}
.nickname-modal .table-wrap table {
    margin-top: 0;
}
.user-select-wrap ol li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.user-select-wrap table i {
    color: #ec5c5c;
}

.user-select-title {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    margin-right: 10px;
    color: #007aff;
    margin-bottom: 10px;
    font-weight: 600;
}
.btn-open-result {
    cursor: pointer;
}
.btn-open-result i {
    display: inline-block;
    color: #333;
    font-size: 13px;
    transform: rotate(180deg);
    transition: all .3s;
}
.btn-open-result.on i.fa-chevron-down {
    transform: rotate(0deg);
}

.user-select-title em {
    color: #333;
}

.user-ucd {
    color: #777;
}
.user-ucd strong {
    color: #333;
}

.add-btn {
    float: left;
}

label.excel-btn {
    margin-left: 10px;
    color: darkgreen;
    border: 1px solid darkgreen;
    transition: all .3s;
}
label.excel-btn:hover {
    color: #fff;
    background-color: darkgreen;
}
.excel-form-down {
    margin: 10px;
    color: #888;
    font-size: 13px;
    font-weight: 500;
    background: none;
    border-bottom: 1px solid;
    transition: all .2s;
}