<link rel="stylesheet" href="/assets/css/plugins/chart.min.css">
<link rel="stylesheet" href="/assets/css/chart-common-v2.css?version=<?php echo $this->config->item('version');?>">
<section class="dashboard-ucd chart-pg">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">상품현황</h2>
            <span class="today-date" id="today-date"></span>
        </div>

        <div class="list-common">
            <div class="list-wrap clearfix" style="padding-bottom: 0; border-bottom: none;">
                <p class="list-common-title">날짜</p>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
        </div>
        <div class="list-common-btn-wrap list-search-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="search">검색</button>
                <button class="reset" type="reset">초기화</button>
            </div>
        </div>

        <div class="wrap">
            <div class="row">
                <div class="box">
                    <div class="table-wrap">
                        <table id="dataTable">
                            <colgroup></colgroup>
                            <thead>
                            <tr>
                                <th>상품</th>
                                <th>발송건 수</th>
                                <th>금액</th>
                            </tr>
                            <tr style="background-color: #f3f3f3";>
                                <th>total</th>
                                <th>1000</th>
                                <th>1000</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2020-01-01</td>
                                <td>3,000,000</td>
                                <td>3,000,000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<!--<script defer src="/assets/js/gift/gift-dashboard.js?version=<?php echo $this->config->item('version');?>"></script>-->
