<link type="text/css" rel="stylesheet" href="/assets/css/plugins/swiper.min.css">
<link type="text/css" rel="stylesheet" href="/assets/css/gift.css">
<style>
    .swiper-container {
        position: relative;
        width: 100%;
        height: 300px;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        background: #fff;
    }

</style>
<section class="gift-send-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">상품 발송 내역</h2>
        </div>

        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">날짜</p>
                <div class="select-box">
                    <label for="date_type">발송일</label>
                    <select id="date_type">
                        <option value="app_datetime">발송일</option>
                        <option value="created_datetime">신청일</option>
                    </select>
                </div>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap only-search clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="search_type">닉네임</label>
                    <select id="search_type">
                        <option value="nickname">닉네임</option>
                        <option value="gift_name">상품명</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="doit-list-option">
            <ul class="clearfix">
                <li>
                    <p class="list-common-title">발송 상태</p>
                    <div class="checkbox-wrap">

                        <input type="checkbox" id="r3" name="approval-status" value="승인"/>
                        <label for="r3"><span></span>완료</label>

                        <input type="checkbox" id="r4" name="approval-status" value="취소"/>
                        <label for="r4"><span></span>취소</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="list-common-btn-wrap list-search-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="search">검색</button>
                <button class="reset" type="reset">초기화</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="right-wrap clearfix">
                    <p class="balance-num">비즈콘 잔액: <span>999,999,000</span>원</p>
                    <p>Total <strong class="data-num"></strong></p>
                    <div class="select-box">
                        <label for="selPageLength"></label>
                        <select id="selPageLength">
                        </select>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button id="btnReject" class="btn-danger" type="button"><i class="fas fa-ban"></i>발송 취소</button>
                    <button id="btnReject" class="btn-info" type="button"><i class="fas fa-reply-all"></i>재발송</button>
                </div>
            </div>

            <table id="dataTable" class="gift-approval">
                <colgroup>
                    <col style="width:5%;">
                    <col style="width:10%;">
                    <col style="width:15%;">
                    <col style="width:30%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:15%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th>발송 상태</th>
                    <th>신청자</th>
                    <th>상품명</th>
                    <th>신청 수량</th>
                    <th>금액(UCD)</th>
                    <th>발송일</th>
                    <th>상세내역</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c6" name="cc" />
                            <label for="c6"><span></span></label>
                        </div>
                    </td>
                    <td>완료</td>
                    <td><a href="#">깐깐찡어</a></td>
                    <td>스타벅스 아메리카노 Tall</td>
                    <td>2</td>
                    <td>5,300</td>
                    <td>2019-11-07 00:00:00</td>
                    <td><a onclick="modalOpen()">보기</a></td>
                </tr>
                <tr class="minus-pay">
                    <td>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c7" name="cc" />
                            <label for="c7"><span></span></label>
                        </div>
                    </td>
                    <td>취소</td>
                    <td><a href="#">깐깐찡어</a></td>
                    <td>스타벅스 아메리카노 Tall</td>
                    <td>2</td>
                    <td>5,300</td>
                    <td>2019-11-07 00:00:00</td>
                    <td><a onclick="modalOpen()">보기</a></td>
                </tr>
                </tbody>
            </table>
            <!--<ul class="table-pagination clearfix">
                <li><i class="fas fa-angle-double-left"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fas fa-angle-double-right"></i></li>
            </ul>-->
        </div>
    </div>

    <div class="modal-content">
        <div class="wrap">
            <i class="close-btn">×</i>
            <p class="modal-title">상세 내역</p>
            <ul class="modal-information">
                <li>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide gift-send-detail">
                                <ol>
                                    <li>
                                        <div class="col-wrap clearfix">
                                            <div class="col-1">
                                                <p class="sub-title">상품코드</p>
                                            </div>
                                            <div class="col-2">
                                                <p class="detail-data">0002224446</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-wrap clearfix">
                                            <div class="col-1">
                                                <p class="sub-title">상품명</p>
                                            </div>
                                            <div class="col-2">
                                                <p class="detail-data">스타벅스 아메리카노 Tall</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-wrap clearfix">
                                            <div class="col-1">
                                                <p class="sub-title">판매단가</p>
                                            </div>
                                            <div class="col-2">
                                                <p class="detail-data">4,900원</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-wrap clearfix">
                                            <div class="col-1">
                                                <p class="sub-title">수신자 번호</p>
                                            </div>
                                            <div class="col-2">
                                                <p class="detail-data">010-****-1160</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-wrap clearfix">
                                            <div class="col-1">
                                                <p class="sub-title">유효기간 만료일</p>
                                            </div>
                                            <div class="col-2">
                                                <p class="detail-data">2022-12-31</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>


                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-layout"></div>

</section>
<script src="/assets/js/plugins/tablesort.min.js"></script>
<script src="/assets/js/plugins/tablesort.number.min.js"></script>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/dataTables.select.min.js"></script>
<script src="/assets/js/plugins/swiper.min.js"></script>

<script>
    const modalCloseBtn = $(".close-btn");
    const modalLayout 	= $(".modal-layout");
    const modalContent 	= $(".modal-content");
    modalCloseBtn	.on('click', function () { modalFadeout(); });
    modalLayout		.on('click', function () { modalFadeout(); });
    function modalOpen()
    {
        modalFadein();
        initSwipe();
    }

    function initSwipe()
    {
        let swiper = new Swiper('.swiper-container', {

            spaceBetween: 10,

            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    }
</script>
<!--<script defer src="/assets/js/gift/gift-approval-list.js?version=<?php echo $this->config->item('version');?>"></script>-->
