<link rel="stylesheet" href="/assets/css/plugins/chart.min.css">
<link rel="stylesheet" href="/assets/css/chart-common-v2.css?version=<?php echo $this->config->item('version');?>">
<section class="dashboard-ucd chart-pg">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">상품현황</h2>
        </div>

        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">날짜</p>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>

            <div class="list-wrap search-wrap only-search clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="search_type">상품명</label>
                    <select id="search_type">
                        <option value="gift_name">상품명</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>

        </div>
        <div class="list-common-btn-wrap list-search-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="search">검색</button>
                <button class="reset" type="reset">초기화</button>
            </div>
        </div>

        <div class="wrap">
            <div class="row">
                <div class="top clearfix">
                    <p class="top-text">총 발송건 수: <strong>1,000</strong>건 / 총 금액 : <strong>3,003,422</strong> UCD</p>
                </div>

                <div class="box">
                    <div class="table-wrap">
                        <table style="margin-top: 0;">
                            <colgroup></colgroup>
                            <thead>
                            <tr>
                                <th>상품</th>
                                <th>발송건 수</th>
                                <th>금액(UCD)</th>
                            </tr>
                            </thead>
                            <tbody id="tableBody">
                            <!--<tr>
                                <td>2020-01-01</td>
                                <td>3,000,000</td>
                                <td>3,000,000</td>
                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script defer src="/assets/js/gift/gift-dashboard.js?version=<?php echo $this->config->item('version');?>"></script>
