<link rel="stylesheet" href="/assets/css/create-common.css?version=<?php echo $this->config->item('version');?>">
<section class="gift-create-page">
    <div class="inner">
        <h2 class="main-title">상품 상세</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">상품코드(*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data">a00001</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">상품명 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data">스타벅스 아메리카도 TAll</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">상품 UCD (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data">5,400 UCD</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">상품 이미지 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data-img" style="width: 240px;"><img id="thumbnail" src="https://youcandoo.yanadoocdn.com/doit/836a2aac7ec61f4db04549ee8b6c5df4/d6182cf595599d8579595711633a17d0.jpg" alt="썸네일 이미지"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">노출여부 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data">Y</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" onclick="historyBack();">이전</a>
                    <a class="list-btn" href="/gift">목록</a>
                    <a class="update-btn" id="goUpdate">수정</a>
                </div>
            </div>
        </div>
    </div>

</section>
