<section class="event-detail-page">
    <div class="inner">
        <h2 class="main-title">이벤트 상세</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">구분 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="type"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">제목 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="title"></p>
                        </div>
                    </div>
                </li>
                <li id="contentWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">내용 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="content"></p>
                        </div>
                    </div>
                </li>
                <li id="noticeWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">유의사항 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="notice">
                            </p>
                        </div>
                    </div>
                </li>
                <li id="contentImgWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">본문 이미지 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data-img"><img id="contentImg" src="" alt="본문 이미지"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">썸네일 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data-img" style="width: 328px;"><img id="thumbnail" src="" alt="썸네일 이미지"></p>
                        </div>
                    </div>
                </li>
                <li id="webWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">Web Url (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data-img" id="webUrl"></p>
                        </div>
                    </div>
                </li>
                <li id="linkWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">Link (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data-img" id="link"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">기간 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="period"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title">노출 여부</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="exposure"></p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" href="/service/event/list">목록</a>
                    <a class="update-btn" id="goUpdate">수정</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/event/event-detail.js"></script>