<link rel="stylesheet" href="/assets/css/create-common.css">
<link rel="stylesheet" href="/assets/css/summernote/summernote-lite.min.css">
<section class="event-create-page">
    <div class="inner">
        <h2 class="main-title">이벤트 수정</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <!--                <li>-->
                <!--                    <div class="col-wrap clearfix">-->
                <!--                        <div class="col-1">-->
                <!--                            <p class="sub-title important">구분 (*)</p>-->
                <!--                        </div>-->
                <!--                        <div class="col-2">-->
                <!--                            <div class="select-box">-->
                <!--                                <label for="selEventType">이벤트</label>-->
                <!--                                <select id="selEventType">-->
                <!--                                    <option value="event">이벤트</option>-->
                <!--                                    <option value="event">종료</option>-->
                <!--                                    <option value="event">결과발표</option>-->
                <!--                                </select>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </li>-->
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">제목 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="input-wrap">
                                <input id="title" class="length-input" type="text" placeholder="제목을 입력해주세요." maxlength="10">
                                <p class="length-count-wrap"><span class="count-input">0</span>/10</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">내용 (*)</p>
                        </div>
                        <div class="col-2 clearfix">
                            <div class="textarea-wrap">
                                <textarea id="summernote" placeholder="내용을 입력해주세요." name="text" cols="30" rows="10" style="float: left;"></textarea>
                                <p class="length-count-wrap"><span class="count">0</span>/1000 byte</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">썸네일 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="filebox preview-image">
                                <p class="cap">썸네일 (* 이미지 사이즈: 1200 x 346)</p>
                                <input class="upload-name" value="파일선택" disabled="disabled" >
                                <label for="input-file3">업로드</label>
                                <input type="file" id="input-file3" class="upload-hidden">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">기간 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="date-wrap">
                                <input id="eventFrom" type="text" class="datepicker">
                                <span class="date-margin-text"> ~ </span>
                                <input id="eventTo" type="text" class="datepicker">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="create-radio-wrap clearfix">
                    <div class="col-wrap">
                        <div class="col-1">
                            <p class="sub-title">노출 여부</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c1" name="radio-exposure" value="Y"/>
                                <label for="c1">Y<span></span></label>

                                <input type="radio" id="c2" name="radio-exposure" value="N"/>
                                <label for="c2">N<span></span></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">수정 완료</button>
                </li>
            </ul>
        </div>
    </div>
</section>
<script src="/assets/js/plugins/summernote-lite.min.js"></script>