<section class="faq-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">FAQ 목록</h2>
            <a href="/service/faq/create"><i class="fas fa-plus"></i>FAQ 등록</a>
        </div>

        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">날짜</p>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="search_type">제목/내용</label>
                    <select id="search_type">
                        <option value="title">제목/내용</option>
                        <option value="created_user">작성자</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="doit-list-option">
            <ul class="clearfix">
                <li>
                    <p class="list-common-title">노출여부</p>
                    <div class="radio-wrap">
                        <input type="radio" id="r2" name="radio-exposure" value=""/>
                        <label for="r2"><span></span>전체</label>

                        <input type="radio" id="r3" name="radio-exposure" value="Y"/>
                        <label for="r3"><span></span>노출</label>

                        <input type="radio" id="r4" name="radio-exposure" value="N"/>
                        <label for="r4"><span></span>비노출</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="list-common-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="reset">초기화</button>
                <button class="search">검색</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="select-box">
                        <label for="selPageLength">10개씩 보기</label>
                        <select id="selPageLength">
                            <option value="10">10개씩 보기</option>
                            <option value="20">20개씩 보기</option>
                            <option value="30">30개씩 보기</option>
                        </select>
                    </div>
                    <p>Total <strong class="data-num"></strong></p>
                </div>
                <div class="btn-wrap">
                    <button id="btnDelete" class="delete-btn" type="button"><i class="fas fa-minus-circle"></i>FAQ 삭제</button>
                </div>
            </div>
            <table id="dataTable">
<!--                <colgroup>-->
<!--                    <col style="width:5%;">-->
<!--                    <col style="width:10%;">-->
<!--                    <col style="width:10%;">-->
<!--                    <col style="width:35%;">-->
<!--                    <col style="width:10%;">-->
<!--                    <col style="width:15%;">-->
<!--                    <col style="width:15%;">-->
<!--                </colgroup>-->
<!--                <thead>-->
<!--                    <tr>-->
<!--                        <th>-->
<!--                            <div class="checkbox-wrap">-->
<!--                                <input type="checkbox" id="c5" name="cc" />-->
<!--                                <label for="c5"><span></span></label>-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>No</th>-->
<!--                        <th>구분</th>-->
<!--                        <th>제목</th>-->
<!--                        <th>노출여부</th>-->
<!--                        <th>작성일</th>-->
<!--                        <th>작성자</th>-->
<!--                    </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    <tr>-->
<!--                        <td>-->
<!--                            <div class="checkbox-wrap">-->
<!--                                <input type="checkbox" id="c6" name="cc" />-->
<!--                                <label for="c6"><span></span></label>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td>2</td>-->
<!--                        <td>일반문의</td>-->
<!--                        <td><a href="#">계좌이체 서비스 오픈!</a></td>-->
<!--                        <td>Y</td>-->
<!--                        <td>2019/11/07</td>-->
<!--                        <td>berry</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>-->
<!--                            <div class="checkbox-wrap">-->
<!--                                <input type="checkbox" id="c8" name="cc" />-->
<!--                                <label for="c8"><span></span></label>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td>1</td>-->
<!--                        <td>두잇인증</td>-->
<!--                        <td><a href="#">계좌이체 서비스 오픈!</a></td>-->
<!--                        <td>Y</td>-->
<!--                        <td>2019/11/07</td>-->
<!--                        <td>berry</td>-->
<!--                    </tr>-->
<!--                </tbody>-->
            </table>
            <!--<ul class="table-pagination clearfix">
                <li><i class="fas fa-angle-double-left"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fas fa-angle-double-right"></i></li>
            </ul>-->
        </div>
    </div>
</section>
<script src="/assets/js/faq/faq-list.js"></script>