<link type="text/css" rel="stylesheet" href="/assets/css/plugins/swiper.min.css">
<link rel="stylesheet" href="/assets/css/create-common.css">
<link rel="stylesheet" href="/assets/css/inquiry-create.css?version=<?php echo $this->config->item('version');?>">
<section class="inquiry-create-page">
    <div class="inner">
        <h2 class="main-title">1:1 문의 답변</h2>
        <div class="wrap">
            <p class="enrollment-title">Q. 문의</p>
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">작성자</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="nickname"></p>
                        </div>
                    </div>
                </li>
                <li class="device-info">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">기기정보</p>
                        </div>
                        <div class="col-2 clearfix">
                            <dl class="clearfix">
                                <dt>앱버전: </dt>
                                <dd>1.70</dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>os버전: </dt>
                                <dd>14.2</dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>기기: </dt>
                                <dd>iphone</dd>
                            </dl>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">제목</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="title"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">내용</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="content">
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">첨부파일</p>
                        </div>
                        <div class="col-2 clearfix" id="attachment">
                            <!--<p class="img-wrap">
                                <img src="https://youcandoo.yanadoocdn.com/doit/836a2aac7ec61f4db04549ee8b6c5df4/c3f6c02cd27d7f4c1f3c9a001b059c84.jpg" alt="">
                            </p>
                            <p class="img-wrap">
                                <img src="https://youcandoo.yanadoocdn.com/doit/836a2aac7ec61f4db04549ee8b6c5df4/c3f6c02cd27d7f4c1f3c9a001b059c84.jpg" alt="">
                            </p>
                            <p class="img-wrap">
                                <img src="https://youcandoo.yanadoocdn.com/doit/836a2aac7ec61f4db04549ee8b6c5df4/c3f6c02cd27d7f4c1f3c9a001b059c84.jpg" alt="">
                            </p>-->
                        </div>
                    </div>
                </li>
            </ul>

            <p class="enrollment-title">A. 답변</p>
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">답변 내용 (*)</p>
                        </div>
                        <div class="col-2 clearfix">
                            <textarea id="comment" placeholder="내용을 입력해주세요." name="text" cols="30" rows="10" style="float: left;"></textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title">메모</p>
                        </div>
                        <div class="col-2">
                            <textarea id="memo" placeholder="내용을 입력해주세요." name="text" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
                </li>
            </ul>
        </div>
    </div>

    <!--상세보기 모달-->
    <div class="modal-content">
        <div class="wrap">
            <i class="close-btn">×</i>
            <p class="modal-title">첨부파일</p>
            <ul class="modal-information">
                <li id="modalContentWrap">
                    <!--<
                        <img src="https://purplejam.kr/content/images/2020/03/-&#45;&#45;&#45;&#45;5.jpg" alt="">
                    -->
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-layout"></div>
</section>
<script src="/assets/js/plugins/swiper.min.js"></script>
<script src="/assets/js/inquiry/inquiry-update.js?version=<?php echo $this->config->item('version');?>"></script>
