<link rel="stylesheet" href="/assets/css/create-common.css">
<link rel="stylesheet" href="/assets/css/inquiry-create.css">
<link rel="stylesheet" href="/assets/css/summernote/summernote-lite.min.css">
<section class="inquiry-create-page">
    <div class="inner">
        <h2 class="main-title">1:1 문의 답변</h2>
        <div class="wrap">
            <p class="enrollment-title">Q. 문의</p>
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">작성자</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="nickname"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">등록일시</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="regDate"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">제목</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="title"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">내용</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="content">
                            </p>
                        </div>
                    </div>
                </li>
            </ul>

            <p class="enrollment-title">A. 답변</p>
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">답변 내용 (*)</p>
                        </div>
                        <div class="col-2 clearfix">
                            <textarea id="summernote" placeholder="내용을 입력해주세요." name="text" cols="30" rows="10" style="float: left;"></textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title">메모</p>
                        </div>
                        <div class="col-2">
                            <textarea id="memo" placeholder="내용을 입력해주세요." name="text" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
                </li>
            </ul>
        </div>
    </div>
</section>
<script src="/assets/js/plugins/summernote-lite.min.js"></script>
<script src="/assets/js/plugins/summernote-ko-KR.js"></script>
<script src="/assets/js/inquiry/inquiry-update.js"></script>
