<link rel="stylesheet" href="/assets/css/inquiry-create.css">
<link rel="stylesheet" href="/assets/css/summernote/summernote-lite.min.css">
<section class="inquiry-create-page">
    <div class="inner">
        <h2 class="main-title">1:1 문의 등록</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">작성자</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data">berry</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">작성일</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data"> 2020/02/02</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">제목</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data">두잇인증이 안되요</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">내용</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data">인증 버튼만 누르면 앱이 종료돼요<br>
                                왜이러는 걸까요…<br>
                                해당 증상 때문에 오늘 인증 실패하게 생겼어요……
                            </p>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">답변 내용 (*)</p>
                        </div>
                        <div class="col-2">
                            <textarea id="summernote" placeholder="내용을 입력해주세요." name="text" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title">메모</p>
                        </div>
                        <div class="col-2">
                            <textarea placeholder="내용을 입력해주세요." name="text" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <button class="completion-btn" type="submit">등록 완료</button>
                </li>
            </ul>
        </div>
    </div>
</section>
<script src="/assets/js/plugins/summernote-lite.min.js"></script>
<script>
    $('#summernote').summernote({
        placeholder: '내용을 입력해주세요.',
        tabsize: 2,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
