<section class="inquiry-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">1:1 문의 목록</h2>
        </div>

        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">등록날짜</p>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="search_type">제목/내용</label>
                    <select id="search_type">
                        <option value="contents">제목/내용</option>
                        <!--<option value="nickname">작성자</option>-->
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="doit-list-option">
            <ul class="clearfix">
                <li>
                    <p class="list-common-title">문의 구분</p>
                    <div class="select-box list-select-box">
                        <label for="selInquiryType"></label>
                        <select id="selInquiryType">
                            <!--<option value="">전체</option>
                            <option value="doit">두잇인증</option>
                            <option value="">채팅</option>
                            <option value="">캐시</option>
                            <option value="">일반</option>
                            <option value="">결제</option>
                            <option value="">회원정보</option>-->
                        </select>
                    </div>
                </li>
                <li>
                    <p class="list-common-title">답변 상태</p>
                    <div class="radio-wrap">
                        <input type="radio" id="r2" name="radio-status" value=""/>
                        <label for="r2"><span></span>전체</label>

                        <input type="radio" id="r3" name="radio-status" value="complete"/>
                        <label for="r3"><span></span>완료</label>

                        <input type="radio" id="r4" name="radio-status" value="pending"/>
                        <label for="r4"><span></span>대기</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="list-common-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="reset">초기화</button>
                <button class="search">검색</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="select-box">
                        <label for="selPageLength"></label>
                        <select id="selPageLength">
                            <!--<option value="10">10개씩 보기</option>
                            <option value="20">20개씩 보기</option>
                            <option value="30">30개씩 보기</option>-->
                        </select>
                    </div>
                    <p>Total <strong class="data-num"></strong></p>
                </div>
            </div>
            <table id="dataTable">
                <colgroup>
                    <col style="width:5%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:35%;">
                    <col style="width:15%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:5%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>작성자</th>
                        <th>문의구분</th>
                        <th>제목</th>
                        <th>등록날짜</th>
                        <th>답변상태</th>
                        <th>처리자</th>
                        <th>메모</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2</td>
                        <td>berry</td>
                        <td>두잇인증</td>
                        <td><a href="/service/inquiry/update">인증이 갑자기 안돼요</a></td>
                        <td>2019/11/07</td>
                        <td>대기</td>
                        <td>admin</td>
                        <!--
                        Dev:
                        상세페이지에 메모가 있을 경우에만 i태그 노출
                        -->
                        <td><i class="fas fa-thumbtack"></i></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>berry</td>
                        <td>두잇인증</td>
                        <td><a href="/service/inquiry/detail">인증이 갑자기 안돼요</a></td>
                        <td>2019/11/07</td>
                        <td>대기</td>
                        <td>admin</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <!--<ul class="table-pagination clearfix">
                <li><i class="fas fa-angle-double-left"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fas fa-angle-double-right"></i></li>
            </ul>-->
        </div>
    </div>
</section>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/dataTables.select.min.js"></script>
<script defer src="/assets/js/plugins/xlsx.full.min.js"></script>
<script defer src="/assets/js/export-excel.js"></script>
<script src="/assets/js/inquiry/inquiry-list.js?version=<?php echo $this->config->item('version');?>"></script>
