<link rel="stylesheet" href="/assets/css/inquiry-create.css">
<link rel="stylesheet" href="/assets/css/summernote/summernote-lite.min.css">
<section class="inquiry-detail-page">
    <div class="inner">
        <h2 class="main-title">1:1 문의 상세</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <p class="sub-title important">작성자</p>
                    <div class="text-box" id="nickname">
                    </div>
                </li>
                <li>
                    <p class="sub-title important">등록일시</p>
                    <div class="text-box" id="regDate">
                    </div>
                </li>
                <li>
                    <p class="sub-title important">제목</p>
                    <div class="text-box" id="title">
                    </div>
                </li>
                <li>
                    <p class="sub-title important">내용</p>
                    <div class="text-box" id="content">
                    </div>
                </li>
            </ul>

            <ul class="enrollment clearfix">
                <li>
                    <p class="sub-title important">답변 내용 (*)</p>
                    <p class="detail-data" id="comment">
                    </p>
                </li>
                <li>
                    <p class="sub-title important">처리자</p>
                    <p class="detail-data" id="admin">
                    </p>
                </li>
                <li>
                    <p class="sub-title important">처리일시</p>
                    <p class="detail-data" id="commentDate">
                    </p>
                </li>
                <li>
                    <p class="sub-title important">메모</p>
                    <p class="detail-data" id="memo">
                    </p>
                </li>
            </ul>

            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" href="/service/inquiry/list">목록</a>
                    <!--<a class="update-btn" id="goUpdate">수정</a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/plugins/summernote-lite.min.js"></script>
<script src="/assets/js/inquiry/inquiry-detail.js"></script>
