<link rel="stylesheet" href="/assets/css/inquiry-create.css">
<section class="inquiry-detail-page">
    <div class="inner">
        <h2 class="main-title">1:1 문의 상세</h2>
        <div class="wrap">
            <p class="enrollment-title">Q. 문의</p>
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">작성자</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="nickname"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">등록일시</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="regDate"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">제목</p>
                        </div>
                        <div class="col-2">
                            <p class="datail-data" id="title"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                        <p class="sub-title important">내용</p>
                        </div>
                        <div class="col-2">
                            <div class="text-box" id="content"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <p class="enrollment-title">A. 답변</p>
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">답변 내용 (*)</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data"  id="comment"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">메모</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="memo"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">처리자</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="admin"></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">처리일시</p>
                        </div>
                        <div class="col-2">
                            <p class="detail-data" id="commentDate"></p>
                        </div>
                    </div>

                </li>
            </ul>

            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" href="/service/inquiry">목록</a>
                    <!--<a class="update-btn" id="goUpdate">수정</a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/inquiry/inquiry-detail.js"></script>
