<link rel="stylesheet" href="/assets/css/create-common.css">
<section class="notice-create-page">
    <div class="inner">
        <h2 class="main-title">공지사항 신규 등록</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">제목 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="input-wrap">
                                <input id="title" class="length-input" type="text" placeholder="제목을 입력해주세요." maxlength="25">
                                <p class="length-count-wrap"><span class="count-input">0</span>/25</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="contentWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">내용 (*)</p>
                        </div>
                        <div class="col-2 clearfix">
                            <textarea placeholder="내용을 입력해주세요." id="content" class="length-input" name="text" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </li>
                <li id="contentImageWrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">본문이미지</p>
                        </div>
                        <div class="col-2">
                            <div class="filebox preview-image">
                                <p class="cap">본문 이미지 (* 이미지 가로 사이즈: 750 이상)</p>
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="contentImage">업로드</label>
                                <input type="file" id="contentImage" class="upload-hidden" data-width="750" data-height="0" data-oper="ge">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">예약일 (*)</p>
                        </div>
                        <div class="col-2">
                            <input id="reserveDate" type="text" class="datepicker">
                        </div>
                    </div>
                </li>
                <li class="create-radio-wrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title">노출 여부</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c1" name="radio-exposure" value="Y"/>
                                <label for="c1">Y<span></span></label>

                                <input type="radio" id="c2" name="radio-exposure" value="N"/>
                                <label for="c2">N<span></span></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
                </li>
            </ul>
        </div>
    </div>
</section>
<script src="/assets/js/notice/notice-create.js"></script>