<link rel="stylesheet" href="/assets/css/create-common.css">
<link rel="stylesheet" href="/assets/css/summernote/summernote-lite.min.css">
<section class="notice-create-page">
    <div class="inner">
        <h2 class="main-title">공지사항 수정</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">제목 (*)</p>
                        </div>
                        <div class="col-2">
                            <div class="input-wrap">
                                <input id="title" class="length-input" type="text" placeholder="제목을 입력해주세요." maxlength="10" oninput="maxLengthCheck(this)">
                                <p class="length-count-wrap"><span class="count-input">0</span>/10</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">내용 (*)</p>
                        </div>
                        <div class="col-2 clearfix">
                            <div class="textarea-wrap">
                                <textarea id="summernote" placeholder="내용을 입력해주세요." name="text" cols="30" rows="10" style="float: left;"></textarea>
                                <p class="length-count-wrap"><span class="count">0</span>/1000 byte</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title important">예약일 (*)</p>
                        </div>
                        <div class="col-2">
                            <input id="reserveDate" type="text" class="datepicker">
                        </div>
                    </div>
                </li>
                <li class="create-radio-wrap">
                    <div class="col-wrap clearfix">
                        <div class="col-1">
                            <p class="sub-title">노출 여부</p>
                        </div>
                        <div class="col-2">
                            <div class="checkbox-wrap">
                                <input type="radio" id="c1" name="radio-exposure" value="Y"/>
                                <label for="c1">Y<span></span></label>

                                <input type="radio" id="c2" name="radio-exposure" value="N"/>
                                <label for="c2">N<span></span></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button id="btnSubmit" class="completion-btn" type="submit">수정 완료</button>
                </li>
            </ul>
        </div>
    </div>
</section>
<script src="/assets/js/plugins/summernote-lite.min.js"></script>
<script src="/assets/js/notice/notice-create.js"></script>
<script>

    //글자수 체크
    function maxLengthCheck(object){
        if (object.value.length > object.maxLength){
            object.value = object.value.slice(0, object.maxLength);
        }
    }
    $(function() {
        $('.length-input').keyup(function (e){
            var contentInput = $(this).val();
            $('.count-input').html(contentInput.length);
        });
        $('.count-input').keyup();
    });


</script>