<section class="notice-detail-page">
    <div class="inner">
        <h2 class="main-title">공지사항 상세</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <p class="sub-title important">제목 (*)</p>
                    <p class="detail-data">공지사항 제목입니다.</p>
                </li>
                <li>
                    <p class="sub-title important">내용 (*)</p>
                    <p class="detail-data">
                        공지사항 내용입니다.<br>
                        공지사항 내용입니다.
                    </p>
                </li>
                <li>
                    <p class="sub-title important">예약일 (*)</p>
                    <p class="detail-data">2020/02/02</p>
                </li>
                <li>
                    <p class="sub-title important">노출 여부</p>
                    <p class="detail-data">Y</p>
                </li>
            </ul>

            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" href="/notice/lists">목록</a>
                    <a class="update-btn" href="/notice/update">수정</a>
                </div>
            </div>
        </div>
    </div>
</section>
