<section class="notice-detail-page">
    <div class="inner">
        <h2 class="main-title">공지사항 상세</h2>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li>
                    <p class="sub-title important">제목 (*)</p>
                    <p class="detail-data" id="title"></p>
                </li>
                <li>
                    <p class="sub-title important">내용 (*)</p>
                    <p class="detail-data" id="content">
                    </p>
                </li>
                <li>
                    <p class="sub-title important">예약일 (*)</p>
                    <p class="detail-data" id="reserveDate"></p>
                </li>
                <li>
                    <p class="sub-title important">노출 여부</p>
                    <p class="detail-data" id="exposure"></p>
                </li>
            </ul>

            <div class="list-common-btn-wrap clearfix" style="margin-top: 20px;">
                <div class="btn-wrap">
                    <a class="list-btn" href="/service/notice/lists">목록</a>
                    <a class="update-btn" href="/service/notice/update">수정</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/notice/notice-detail.js"></script>
