<link rel="stylesheet" href="/assets/css/prohibited-list.css?version=<?php echo $this->config->item('version');?>">
<section class="prohibited-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">금칙어 목록</h2>
            <button id="btnOpenModal" type="button" class="more-info-btn" style="float: right;"><i class="fas fa-plus"></i>금칙어 등록</button>
        </div>

        <div class="modal-content">
            <div class="wrap">
                <i class="close-btn fas fa-times-circle"></i>
                <p class="modal-title">금칙어 등록</p>
                <ul class="modal-information">
                    <li>
                        <p class="sub-title important">금칙어 입력</p>
                        <i class="question-mark far fa-question-circle">
                            <span class="hover-text">다수의 금칙어를 입력하시려면 공백없이 <br>,(콤마)로 붙여서 입력해주세요.</span>
                        </i>
                        <textarea id="prohibition" placeholder="금칙어를 입력해주세요." name="text" cols="30" rows="10"></textarea>
                    </li>
                </ul>
                <button id="btnSubmit" class="completion-btn" type="submit">등록 완료</button>
            </div>
        </div>
        <div class="modal-layout"></div>

        <div class="list-common">
            <div class="list-wrap only-search clearfix">
                <p class="list-common-title">검색어</p>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-common-btn-wrap list-search-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="search">검색</button>
                <button class="reset" type="reset">초기화</button>
            </div>
        </div>

        <div class="table-wrap">
            <div class="top clearfix">
                <div class="right-wrap clearfix">
                    <p>Total <strong class="data-num"></strong></p>
                    <div class="select-box">
                        <label for="selPageLength"></label>
                        <select id="selPageLength">
                        </select>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button id="btnDelete" class="btn-danger" type="button"><i class="fas fa-minus-circle"></i>금칙어 삭제</button>
                </div>
            </div>

            <table id="dataTable">
                <!--<colgroup>
                    <col style="width:5%;">
                    <col style="width:80%;">
                    <col style="width:15%;">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c5" name="cc" />
                            <label for="c5"><span></span></label>
                        </div>
                    </th>
                    <th>금칙어</th>
                    <th>등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c6" name="cc" />
                            <label for="c6"><span></span></label>
                        </div>
                    </td>
                    <td>대출</td>
                    <td>2019/11/07</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c7" name="cc" />
                            <label for="c7"><span></span></label>
                        </div>
                    </td>
                    <td>광고</td>
                    <td>2019/11/07</td>
                </tr>
                </tbody>-->
            </table>

                <!--<ul class="table-pagination clearfix">
                    <li><i class="fas fa-angle-double-left"></i></li>
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li><i class="fas fa-angle-double-right"></i></li>
                </ul>-->
        </div>
    </div>
</section>
<script src="/assets/js/prohibited/prohibited-list.js?version=<?php echo $this->config->item('version');?>"></script>