<section class="review-list-page">
    <div class="inner">
        <div class="main-top clearfix">
            <h2 class="main-title list-main-title">리뷰 관리</h2>
        </div>
        <div class="list-common">
            <div class="list-wrap clearfix">
                <p class="list-common-title">날짜</p>
                <div class="date-wrap">
                    <input type="text" class="datepicker date_from">
                    <span class="date-margin-text"> ~ </span>
                    <input type="text" class="datepicker date_to">
                </div>
                <ul class="day-btn clearfix">
                    <li class="btn_today">오늘</li>
                    <li class="btn_week">1주일</li>
                    <li class="btn_month">1개월</li>
                    <li class="btn_long">3개월</li>
                </ul>
            </div>
            <div class="list-wrap search-wrap clearfix">
                <p class="list-common-title">검색어</p>
                <div class="select-box">
                    <label for="search_type">두잇명</label>
                    <select id="search_type">
                        <option value="doit_title">두잇명</option>
                        <option value="nickname">작성자</option>
                        <option value="review_text">내용</option>
                    </select>
                </div>
                <div class="search-wrap">
                    <div class="search-box">
                        <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                        <i class="search-btn fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="doit-list-option">
            <ul class="clearfix">
                <li>
                    <p class="list-common-title">평점</p>
                    <div class="checkbox-wrap rating-list">
                        <input type="checkbox" id="c1" name="chk-grade" value="1"/>
                        <label for="c1"><span></span>1</label>

                        <input type="checkbox" id="c2" name="chk-grade" value="2"/>
                        <label for="c2"><span></span>2</label>

                        <input type="checkbox" id="c3" name="chk-grade" value="3"/>
                        <label for="c3"><span></span>3</label>

                        <input type="checkbox" id="c10" name="chk-grade" value="4"/>
                        <label for="c10"><span></span>4</label>

                        <input type="checkbox" id="c11" name="chk-grade" value="5"/>
                        <label for="c11"><span></span>5</label>
                    </div>
                </li>
                <li>
                    <p class="list-common-title">신고 여부</p>
                    <div class="radio-wrap report">
                        <input type="radio" id="r2" name="radio-report" value="ALL"/>
                        <label for="r2"><span></span>전체</label>

                        <input type="radio" id="r3" name="radio-report" value="Y"/>
                        <label for="r3"><span></span>Y</label>

                        <input type="radio" id="r4" name="radio-report" value="N"/>
                        <label for="r4"><span></span>N</label>
                    </div>
                </li>
                <li>
                    <p class="list-common-title">블라인드 여부</p>
                    <div class="radio-wrap blind">
                        <input type="radio" id="r5" name="radio-blind" value="ALL"/>
                        <label for="r5"><span></span>전체</label>

                        <input type="radio" id="r6" name="radio-blind" value="Y"/>
                        <label for="r6"><span></span>Y</label>

                        <input type="radio" id="r7" name="radio-blind" value="N"/>
                        <label for="r7"><span></span>N</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="list-common-btn-wrap list-search-btn-wrap clearfix">
            <div class="btn-wrap">
                <button class="search">검색</button>
                <button class="reset" type="reset">초기화</button>
            </div>
        </div>

        <div class="table-wrap review-list">
            <div class="top clearfix">
                <div class="right-wrap clearfix">
                    <p>Total <strong class="data-num"></strong></p>
                    <div class="select-box">
                        <label for="selPageLength"></label>
                        <select id="selPageLength">
                        </select>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button class="eye-slash-btn" type="button" id="btnBlind"><i class="fas fa-eye-slash"></i>블라인드 처리</button>
                    <button class="eye-btn" type="button" id="btnUnBlind"><i class="fas fa-eye"></i>블라인드 해제</button>
                </div>
            </div>
            <table id="review-table">
                <!--<colgroup>
                    <col style="width:5%;">
                    <col style="width:20%;">
                    <col style="width:5%;">
                    <col style="width:30%;">
                    <col style="width:5%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:15%;">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="c5" name="cc"/>
                            <label for="c5"><span></span></label>
                        </div>
                    </th>
                    <th>리뷰내용</th>
                    <th>평점</th>
                    <th>두잇명</th>
                    <th>신고</th>
                    <th>블라인드 여부</th>
                    <th>작성날짜</th>
                    <th>작성자</th>
                </tr>
                </thead>-->
            </table>
        </div>

        <div class="modal-wrap">
            <!-- 리뷰 내용 자세히 보기-->
            <div id="modalDetail" class="modal-content modal-01">
                <div class="wrap">
                    <i class="close-btn">×</i>
                    <p class="modal-title">리뷰 상세</p>
                    <ul class="modal-information">
                        <li>
                            <p class="sub-title">내용</p>
                            <p class="data-contents" id="review_text"></p>
                        </li>
                        <li>
                            <p class="sub-title">두잇명</p>
                            <p class="data-contents" id="doit_title"></p>
                        </li>
                        <li class="clearfix">
                            <div class="full-left">
                                <p class="sub-title">평점</p>
                                <p class="data-contents score-wrap">
                                <ol id="starWrap" class="star-wrap">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ol>
                                <span class="score" id="rating"></span>
                                </p>
                            </div>
                            <div class="full-right">
                                <p class="sub-title">신고</p>
                                <p class="data-contents" id="report_count"></p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="full-left">
                                <p class="sub-title">작성자</p>
                                <p class="data-contents" id="nickname"></p>
                            </div>
                            <div class="full-right">
                                <p class="sub-title">작성날짜</p>
                                <p class="data-contents" id="created"></p>
                            </div>
                        </li>
                        <li>
                            <p class="sub-title">블라인드 여부</p>
                            <p class="data-contents" id="is_blind"></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-layout"></div>
        </div>
    </div>
</section>
<script src="/assets/js/plugins/tablesort.min.js"></script>
<script src="/assets/js/plugins/tablesort.number.min.js"></script>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/dataTables.select.min.js"></script>
<script src="/assets/js/review/review-list.js?version=<?php echo $this->config->item('version');?>"></script>
