<section class="faq-detail-page">
    <div class="inner">
        <h2 class="main-title">FAQ 상세</h2>
        <div class="list-common-btn-wrap clearfix">
            <div class="btn-wrap">
                <a class="list-btn" href="/faq/lists">목록</a>
                <a class="update-btn" href="/faq/update">수정</a>
            </div>
        </div>
        <div class="wrap">
            <ul class="enrollment clearfix">
                <li class="clearfix">
                    <p class="sub-title important">구분 (*)</p>
                    <p class="detail-data">일반문의</p>
                </li>
                <li>
                    <p class="sub-title important">제목 (*)</p>
                    <p class="detail-data">FAQ 제목입니다.</p>
                </li>
                <li>
                    <p class="sub-title important">내용 (*)</p>
                    <p class="detail-data">
                        FAQ 내용입니다.<br>
                        블라블라블라
                    </p>
                </li>
                <li>
                    <p class="sub-title important">노출 여부</p>
                    <p class="detail-data">Y</p>
                </li>
            </ul>
        </div>
    </div>
</section>