<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">상품 수정</h2>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>상품명 *</th>
                        <td>
                            <div class="input-wrap">
                                <input id="giftName" type="text" class="length-input" maxlength="25" placeholder="상품명을 입력해주세요.">
                                <p class="length-count-wrap"><span class="count-input">0</span>/25</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>상품 금액(UCD) *</th>
                        <td>
                            <div class="ucd-input-wrap">
                                <input id="price" type="text" maxlength="7">
                                <span>UCD</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>상품 이미지 *</th>
                        <td>
                            <div class="file-wrap preview-image">
                                <input class="upload-name" value="파일선택" disabled="disabled">
                                <label for="contentImage">업로드</label>
                                <input type="file" id="contentImage" class="upload-hidden" accept="image/png, image/jpg, image/jpeg">
                            </div>
                            <!--<div class="detail-img-wrap">
                                <img src="/assets/v2/img/profile-1.png" alt="프로필이미지">
                            </div>-->
                        </td>
                    </tr>
                    <tr>
                        <th>노출 여부</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r3" type="radio" name="radio-exposure" value="Y">
                                <label for="r3"><span></span>Y</label>

                                <input  id="r4" type="radio" name="radio-exposure" value="N">
                                <label for="r4"><span></span>N</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">수정 완료</button>
        </div>
    </div>

</section>
<script type="module" src="/assets/v2/js/gift/gift-update.js?version=<?php echo $this->config->item('version');?>"></script>