<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">상품 상세</h2>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>상품코드</th>
                        <td>
                            <p class="detail-data" id="giftUuid"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>상품명</th>
                        <td>
                            <p class="detail-data" id="giftName"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>상품 금액(UCD)</th>
                        <td>
                            <p class="detail-data" id="price"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>상품 이미지</th>
                        <td>
                            <div class="detail-image-wrap">
                                <img src="" alt="" id="contentImage">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>KT 판매 종료일</th>
                        <td>
                            <p class="detail-data" id="">-</p>
                        </td>
                    </tr>
                    <tr>
                        <th>노출 여부</th>
                        <td>
                            <p class="detail-data" id="isExposure"></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnBack" type="button" class="btn btn-outline-primary">이전</button>
            <button id="btnList" type="button" class="btn btn-primary">목록</button>
            <button id="btnUpdate" type="button" class="btn btn-teal">수정</button>
        </div>
    </div>

</section>
<script type="module" src="/assets/v2/js/gift/gift-detail.js?version=<?php echo $this->config->item('version');?>"></script>