<section class="list-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">운영자 관리</h2>
        </div>

        <div class="search-wrap row">
            <div class="col-12">
                <ul class="card">
                    <li>
                        <p class="search-title">검색어</p>
                        <div class="form-box clearfix">
                            <select id="selSearchType" class="select-box">
                                <option value="nickame">이메일</option>
                            </select>
                            <div class="search-txt-wrap">
                                <input id="keyword" type="search" placeholder="검색어를 입력해주세요.">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="search-wrap row">
            <div class="col-3">
                <div class="card clearfix">
                    <p class="search-title">권한</p>
                    <select id="selFaqType" class="select-box">
                        <option value="">개발팀</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="search-btn row">
            <button id="btnSearch" type="submit" class="btn btn-primary">검색</button>
            <button id="btnReset" type="reset" class="btn btn-outline-primary">초기화</button>
        </div>

        <div class="table-wrap row">
            <div class="top clearfix">
                <div class="left-wrap clearfix">
                    <div class="form-box">
                        <p>Total <strong class="data-num">0</strong></p>
                        <select id="selPageLength" class="select-box">
                        </select>
                    </div>
                </div>
            </div>
            <table id="dataTable">
                <thead>
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                </colgroup>
                <thead>
                <tr>
                    <th>권한</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>최근 접속일시</th>
                    <th>승인여부</th>
                    <th>사용여부</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>개발팀</td>
                    <td><a href="/v2/admin/detail">이주영</a></td>
                    <td>dddd@yanadoocorp.co.kr</td>
                    <td>2020-04-05 00:00:00</td>
                    <td>Y</td>
                    <td>Y</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
<script src="/assets/v2/js/plugins/jquery.dataTables.min.js"></script>
<script type="module" src="/assets/v2/js/biz/biz-list.js?version=<?php echo $this->config->item('version');?>"></script>