<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">운영자 상세</h2>
            <div class="right-wrap">
                <button id="btnDelete" type="button" class="btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i> 운영자 삭제</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>권한</th>
                        <td>
                            <p class="detail-data" id="auth">
                                개발팀
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td>
                            <p class="detail-data" id="name">
                                이주영
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td>
                            <p class="detail-data" id="nickname">
                                eeeeee@eeeeee.ee.ee
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>승인여부</th>
                        <td>
                            <p class="detail-data" id="isApproval">
                               Y
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>노출 여부</th>
                        <td>
                            <p class="detail-data" id="isExposure">
                                Y
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnBack" type="button" class="btn btn-outline-primary">이전</button>
            <button id="btnList" type="button" class="btn btn-primary">목록</button>
            <button id="btnUpdate" type="button" class="btn btn-teal">수정</button>
        </div>
    </div>

</section>
<script type="module" src="/assets/v2/js/admin/admin-detail.js?version=<?php echo $this->config->item('version');?>"></script>