<link rel="stylesheet" href="/assets/v2/css/admin.css?version=<?php echo $this->config->item('version');?>">
<section class="detail-page">
    <div class="inner">

        <div class="main-top clearfix">
            <h2 class="main-title">운영자 수정</h2>
        </div>

        <div class="row">
            <div class="col-12">

                <table class="detail-table">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 80%;">
                    </colgroup>
                    <tr>
                        <th>권한</th>
                        <td>
                            <select id="selAuthType" class="select-box">
<!--                                <option value="">개발팀</option>-->
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>기업명</th>
                        <td>
                            <select id="selBiz" class="select-box">
                                <option value="">선택</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td>
                            <p class="detail-data" id="username">
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td>
                            <p class="detail-data" id="useremail">
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>승인여부</th>
                        <td>
                            <p class="detail-data" id="isApproval">
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>사용 여부</th>
                        <td>
                            <div class="radio-wrap">
                                <input id="r3" type="radio" name="radio-status" value="Y">
                                <label for="r3"><span></span>Y</label>

                                <input  id="r4" type="radio" name="radio-status" value="N">
                                <label for="r4"><span></span>N</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer-btn-wrap">
            <button id="btnSubmit" type="button" class="btn btn-primary">수정 완료</button>
        </div>
    </div>

</section>
<script type="module" src="/assets/v2/js/admin/admin-update.js?version=<?php echo $this->config->item('version');?>"></script>